#buyPlan{
    margin-top: 81px;
}
#buy-pass{
    margin-top: 81px;
}
#buyPlan .container .div-left{
    margin-bottom: 80px;
}
#buy-pass .container .div-left{
    margin-bottom: 80px;
}
.el-step__head.is-process{
    color: #4f9eff !important;
    border-color: #4f9eff !important;
}
.el-step__title.is-success{
    color: #9a9fa6 !important;
    font-weight: 600;
}
.el-step__head.is-success{
    color: white !important;
    border-color: #4f9eff !important;
}
.el-step__head.is-success .el-step__icon-inner{
    font-weight: bold !important;
    font-size: 15px;
}
.el-step__head.is-success .el-step__line{
    background: #4f9eff;
}
.el-step__head.is-success .el-step__icon.is-text{
    background: #4f9eff;
}
.el-step__title.is-process{
    font-weight: 600 !important;
    color: #9a9fa6 !important;
}
.el-step__title.is-finish{
    color: #9a9fa6 !important;
    font-weight: 600 !important;
}
.el-step__title{
    font-size: 13px !important;
}
.button-retro{
    text-align: center;
    border-right: 2px solid #c3c2cc;
}
.button-retro .el-button--info {
    background-color: #313131 !important;
    border-color: #313131 !important;
    padding: 9px 16px !important;
}
.el-button--info i {
    font-size: 30px;
}
.icon-block{
    font-size: 33px;
    color: #4f9eff;
}
.block-payment{
    box-shadow: 4px 5px 28px 6px  rgb(209,209,209);
    background: white;
    border-radius:4px
}
.block-payment .items{
    padding: 30px 80px 30px 30px;
}

.block-result-payment{
    padding: 30px 30px 20px 30px;
    box-shadow: rgb(209, 209, 209) 2px 2px 9px 5px;
    background: white;
    border-radius:4px
}
.title-step{
    font-size: 14px;
    color: #c8cbce;
    font-weight: 500;
    margin-top: 6px;
}
.title-step-payment{
    font-size: 14px;
    color: #c8cbce;
    font-weight: 500;
    margin-top: 11px;
}
.selected-plan{
    margin-top: 13px;
    color: #6e6b6b;
    font-weight: 500;
    font-size: 18px;
}
.details-plan{
    list-style: inside;
    margin-left: 5px;
    color: #6e6b6b;
    font-weight: 300;
}
.details-plan li{
    margin-bottom: 5px;
}
.price-plan{
    font-size:30px;
    font-weight: 600 !important;
}
.membresia-info{
    margin-top: 10px;
    font-style: italic;
    color: #4cbaf4;
    font-weight: 300;
}
.membresia-info p{
    font-weight: 300;
    line-height: 19px;
}
#icon-number .el-step__icon-inner{
    font-weight: 500 !important;
    font-size: 20px;
}
#icon-number.el-step__icon{
    width: 33px;
    height: 33px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7a7d81 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    opacity: 1 !important; /* Firefox */
}
#cvv-card::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: lowercase !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7a7d81 !important;
}
#cvv-card:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: lowercase !important;
}
label{
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #5d5b5b !important;
}
input{
    border-radius: 5px !important;
}
.subtotal{
    color: #b0b4ba;
    font-size: 17px;
    font-weight: 500;
}
.discount{
    color: #b0b4ba;
    font-size: 16px;
    font-weight: 100;
}
.discount-invalid{
    color: red;
    font-size: 16px;
    font-weight: 300;
}
.discount-valid{
    color: #3ce0ba;
    font-size: 16px;
    font-weight: 400;
}
.discount-invalid span{
    color: red;
    font-size: 16px;
    font-weight: 500;
}
.total-payment{
    color: #787e88;
    font-size: 17px;
    font-weight: 500;
    margin-top:3px;
}
hr{
    margin-top:10px !important;
    margin-bottom:10px !important;
}
.confirm-button{
    width:100%;
    margin:20px 0px;
    padding: 10px 20px !important;
    font-weight: 500 !important;
    color: white !important;
    border-radius: 6px !important;
}
.security{
    display: flex;
    justify-content: center;
    color: #29b3fd;
}
.security div{
    margin-top:6px;
    font-weight: 600;
}
.security svg path{
    fill: #29b3fd;
}
.security svg{
    width: 23px;
    height: 23px;
}
.description-security{
    text-align: center;
    margin-top: 5px;
    color: #b2b3b4;
    opacity: 0.8;
}
.discount-link{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: 500;
    color: #828485;
}
.discount-link svg path{
    fill: #828485;
}
.discount-link svg{
    width: 20px;
    height: 20px;
}
.discount-link div{
    font-size: 14px;
    margin-top: 5px;
    text-decoration: underline;
}
.code-block{
    -webkit-box-shadow: 2px 3px 33px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 33px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 33px -6px rgba(0,0,0,0.75);
    margin-top:20px;
    border-radius: 5px;
}
.code-block.border-valid{
    border: 1px solid #3ce0ba;
}
.code-block.border-invalid{
    border: 1px solid red;
}
.code-block .el-col{
    border-radius: 5px;
}
.input-code input{
    margin: 0;
    text-transform: uppercase;
    border: none;
}
.input-code input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: lowercase !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.input-code input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: lowercase !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.input-code .el-input__inner{
    height: 45px !important;
    border-radius: 5px;
}
.validate-code,
.validate-code:focus{
    height: 45px;
    width: 100%;
    border: none;
    background: #606266;
    color: white;
    padding: 10px;
}
.validate-code:hover{
    background: #606266;
    color: white;
}
.validate-code:active{
    border: 2px solid #606266;
}
.noty_body{
    text-align: center;
}
.result-cupon{
    margin-top: 15px;
}
.result-cupon i{
    font-size: 20px;
}
.result-cupon img{
    width: 20px;
}
.result-cupon p{
    font-size: 13px;
    font-weight: 400;
}
.result-cupon a,
.result-cupon a:hover{
    color:#fa4a4a;
    text-decoration: underline;
}
.div-number-card{
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}
.div-number-card.error{
    border-color: red;
}
.label-error{
    color:red;
    font-size:12px;
    display:block;
}
.div-number-card+ .label-error{
    margin-top:10px;
    font-weight: 400;
}
.div-number-card input{
    margin: 0;
    border: none;
}
.div-number-card img{
    margin-top: 10px;
    /* font-size: 20px; */
    /* color: #787e88; */
}
.div-card{
    height:50px; 
    padding:10px 10px;
    color: #5d6065;
    font-weight: 400;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}
.div-card .div-digits{
    border-right: 1px solid #d2d2d2;
}
.div-digits .digits-hide{
    font-weight: 400;
    float:left;
    height:100%;
    padding-top: 10px;
}
.div-digits .last-digits{
    font-weight: 500;
    float:left;
    height:100%;
    padding-top: 7px;
}
.div-card .card-date{
    font-size: 17px;
    font-weight: 200;
}
.div-card img{
    width: 35px;
    margin-top: 1px;
}
.card-date span{
    font-weight: 500;
}
.button-card-new{
    padding: 8px 15px;
    font-size: 12px;
    border-color: #11abfd;
    color: white;
    background: #11abfd;
}
.button-card-new:hover,
.button-card-new:focus{
    border-color: #11abfd;
    color: white;
    background: #11abfd;
}
.button-card-new:active{
    border: 2px solid #11abfd;
    color: white;
}
.el-step__title {
    font-size: 12px !important;
    line-height: 16px;
    margin-top: 12px;
}