#plan{
    background: #ebebeb;

}
#plans{
    margin-top: 81px;
}

.plan-div{
    background: white;
    height:365px;
    border-radius: 5px;
    box-shadow: 1px 5px 8px 5px rgba(209,209,209,0.73);
    position: relative;
}
.related-plan-div{
    background: white;
    height:330px;
    border-radius: 5px;
    box-shadow: 1px 5px 8px 5px rgba(209,209,209,0.73);
    position: relative;
}
.el-step__head.is-process{
    color: #4f9eff !important;
    border-color: #4f9eff !important;
}
.el-step__title.is-success{
    color: #9a9fa6 !important;
    font-weight: 600;
}
.el-step__head.is-success{
    color: white !important;
    border-color: #4f9eff !important;
}
.el-step__head.is-success .el-step__icon-inner{
    font-weight: bold !important;
    font-size: 15px;
}
.el-step__head.is-success .el-step__line{
    background: #4f9eff;
}
.el-step__head.is-success .el-step__icon.is-text{
    background: #4f9eff;
}
.el-step__title.is-process{
    font-weight: 600 !important;
    color: #9a9fa6 !important;
}
.el-step__title.is-finish{
    color: #9a9fa6 !important;
    font-weight: 600 !important;
}
.el-step__title{
    font-size: 12px !important;
    line-height: 16px;
    margin-top: 12px;
}
.el-button--info{
    background-color: #313131 !important;
    border-color: #313131 !important;
    padding: 9px 16px !important;
    
}
.buy-button{
    font-weight: 400 !important;
    padding: 8px 9px !important;
    font-size: 11px !important;
    color: white !important;
    border-radius: 6px !important;
    margin-bottom: 2px !important;
    margin-top: 10px !important;
    width: 117px;
}
.promo-button{
    width: 117px;
    font-weight: 600 !important;
    padding: 8px 10px !important;
    font-size: 11px !important;
    border-radius: 6px !important;
    background: white; 
    font-weight: bold;
    margin-left: 0px !important;
    margin-bottom: 5px !important;
    height: 31px;
}
.promo-button svg{
    width: 12px;
    float: left;
}
.promo-button div{
    margin-top:2px;
}
.el-button--info i{
    font-size:30px;
}
.button-retro{
    text-align: center;
    border-right: 2px solid #c3c2cc;
}
.title-block-plan{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
}
.title-plan{
    padding: 7px;
    text-align:center;  
    color:white;
    border-radius: 5px 5px 0 0;
}
.title-related-plan{
    margin-top:10px;
    padding: 7px;
    text-align:center;  
    color:white;
    border-radius: 5px 5px 0 0;
}
.title-pase{
    padding: 7px;
    text-align:center; 
    background:#474646; 
    color:white;
    border-radius: 5px 5px 0 0;
}
.title-plan p,
.title-pase p{
    line-height: 121%;
}
.body-plan{
    padding: 17px;
    color: #8b9099;
}
.body-plan p{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
}
.body-plan i{
    margin-top: 4px;
    width: 13px;
}
.body-plan span{
    margin-left: 5px;
}
.body-pase{
    padding: 20px 20px 10px 20px;
    color: #8b9099;
}
.body-pase i{
    display: inline-block;
    width: 16px;
}
.body-plan button{
    text-align: center;
}
.not-apply{
    font-size: 11px;
    font-weight: 600;
    color: #c1c1c6;
}
.plan-div hr{
    margin: 0px;
}
.plan-div ul{
    margin-top:5px;
    list-style: disc;
    font-size: 9px;
    color: #d2d2d3;
    padding: 0 13px;
}
.plan-div ul li{
    margin-bottom: 3px;
}
.body-plan p,
.body-pase p{
    font-weight: 300 !important;
    font-size:13px;
}
.el-select .el-input__inner{
    border-radius: 10px;
}
/* .el-input__inner{
    height: 30px !important;
} */

.container-plans{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.container-plan{
    padding: 0 10px;
    border-radius: 5px;
    width:190px !important;
    height:390px;
    float:left
}
.promo-div{
    text-align:center;
    padding: 17px 17px 0 17px;
    color: #787e88;
    position: absolute !important;
    top: 200px;
    left: 4px;
    right: 4px;
}
.price-div{
    text-align:center;
    padding: 17px 17px 0 17px;
    color: #787e88;
    position: absolute !important;
    top: 222px;
    width: 100%;
}
.price-plan{
    color: #787e88;
    display: block;
    font-size:30px;
    font-weight: 600 !important;
}
.icon-related-plan{
    text-align:center; 
    font-size:25px;
    line-height: 24px !important;
    margin-top: 5px;
}
.icon-related-plan i{
    text-align:center; 
    font-size:25px;
}
.select-pase{
    padding: 0px 10px 15px 10px;
}
.select-center input{
    height: 25px !important;
    padding-left: 10px;
    padding-right: 25px !important;
    line-height: 25px !important;
    border-radius: 5px !important;
}
.select-center input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: lowercase !important;
    font-size: 11px !important;
    color: #474646 !important;
    font-weight: 400 !important;
}

.select-center input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: capitalize !important;
    font-size: 11px !important;
    color: #474646 !important;
    font-weight: 400 !important;
}
.select-center.el-select .el-input .el-select__caret{
    color: #474646 !important;
    font-weight: bold;
    font-size: 12px !important;
}
.select-center.el-select .el-input__inner:focus,
.select-center.el-select .el-input.is-focus .el-input__inner{
    border: 1px solid #474646 !important;
}
.label-pase{
    color: #787e88;
    font-weight: 400;    
    letter-spacing: -1px;
}
.not-allowed{
    pointer-events: none;
    cursor: not-allowed !important;
}
.select-pase .el-button:hover,
.select-pase .el-button,
.select-pase .el-button.is-disabled{
    border: 0px solid #474646 !important;
}
.select-pase .div-button-buy{
    position: absolute;
    top: 95px;
    left: 4px;
    right: 4px;
}
.not-apply-pase{
    color: #868b94;
    font-size: 9px;
    line-height: 12px;
    margin-top: 7px;
}

