{% load static %}
{% load sass_tags %}
<!-- /Plugins CSS Files -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.css' %}"/>
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'noty/lib/noty.css' %}">

<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css"> -->

<!-- /Icon Font -->
<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

<!--Include Google Fonts Montserrat-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">

<!-- Include the Swiper library -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" rel="stylesheet">


<!-- /Template CSS Files -->
<link rel="stylesheet" href="{% sass_src 'sass/style.scss' %}">

<!-- /JS -->
<script src="{% static 'js/vendor/modernizr-custom.js'%}"></script>
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<!-- <script src="https://unpkg.com/element-ui@2.4.6/lib/index.js"></script> -->

<!-- Include the Swiper library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
<!-- Swiper JS Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@3.1.2/dist/vue-awesome-swiper.js"></script>

<!-- /Add favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->