/* ======== Buttons styles ========== */

// Buttons
.button{
	box-sizing: border-box;
	position: relative;
	z-index: 10;
	transition: .2s;
	font-weight: 300 !important;
	&.button-border{
		background: transparent;
		line-height: 52px;
		border: 1px solid $buttonBorder;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 15px;
		display: inline-block;
		color: $buttonBorderTextColor;
		padding: 0 40px;
		border-radius: 50px;
		margin: 10px 0;

		&:hover{
			background: $buttonBorder;
			text-decoration: none;
			color: $white;
			&.button-decor-triangle{
				&:after{
					border-left-color: #fff;
				}
			}
		}
	}
	&.button-bg{
		background: $buttonBg;
		color: $buttonBgTextColor;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 15px;
		transition: .2s;
		line-height: 52px;
		border-radius: 50px;
		border: none;
		padding: 0 50px;
		&:hover{
			text-decoration: none;
			background: $buttonHover;
			color: $white;
			&.button-decor-triangle{
				&:after{
					border-left-color: #fff;
				}
			}
		}
		&.button-decor-triangle{
			&:after{
				border-left-color: #fff;
			}
		}
	}
	&.button-decor-triangle{
		padding-right: 70px;
		&:after{
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -5px;
			border-top: 4px solid transparent;
			border-left: 6px solid $mainTextColor;
			border-bottom: 4px solid transparent;
		}
	}
	&.clr-white{
		color: #ffffff;
		&.button-decor-triangle{
			&:after{
				border-left: 6px solid #fff;
			}
		}
	}
	&.clr-colorify{
		color: $clrLinks;
		&:hover{
			color: #fff;
		}
	}
	&.bg-white{
		background: #fff;
		color: $mainTextColor;
		&.button-decor-triangle{
			&:after{
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				right: 20px;
				top: 50%;
				margin-top: -5px;
				border-top: 4px solid transparent;
				border-left: 6px solid $mainTextColor;
				border-bottom: 4px solid transparent;
			}
		}
	}
	&.filter-apply{
		padding: 0 20px;
		line-height: 45px;
		margin-left: 10px;
		color: $clrLinks;
		&:hover{
			color: #ffffff;
		}
	}

}
.btn-link{
	line-height: 50px;
	color: $buttonBg;
	font-weight: 300;
	&:hover{
		color: $buttonBg;
		text-decoration: underline;
	}
}

/* --------------- Add to cart button ----------------- */
.add-cart{
	display: inline-block;
	background: $buttonBg;
	border: none;
	color: $buttonBgTextColor;
	border-radius: 50px;
	font-size: 15px;
	padding: 12px 30px 12px 50px;
	position: relative;
	text-transform: uppercase;
	transition: .2s;
	&:before{
		font-family: 'fontello';
		content: '\e807';
		position: absolute;
		left: 20px;
		font-size: 18px;
		margin-top: -2px;
	}
	&:hover{
		background: $buttonHover;
	}
}
.bg-white{
	background: #fff;
}
