/* ------------------------------------------------ */
/* ------------------- Footer styles--------------- */
/* ------------------------------------------------ */
.main-footer{
  background: $mainFooterBg;
  position: relative;
  overflow: hidden;
  p{
    font-size: 13px;
    font-weight: 300;
    color: $mainFooterColorP;
    line-height: 200%;
  }
  a{
    font-size: 13px;
    font-weight: 300;
    color: $mainFooterColorP;
  }
  h5{
    color: $mainFooterColorH3;
    padding-top: 40px;
    padding-bottom: 20px;
    line-height: 100%;
  }
  .container{
    >.row{
      >.col-md-4{
        border-left: 2px solid $mainFooterBorderBg;
        padding-left: 30px;
      }
    }
  }
  .footer-about{
    position: relative;
    z-index: 1;
  }
  .foot-about-bg{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 155%;
    height: 145%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/background-footer.png');
  }
}
.main-footer-top{
  border-bottom: 2px solid $mainFooterBorderBg;
  z-index:100;
  position: relative;
}
.main-footer-middle{
  >.container{
    >.row{
      >div{
        padding-bottom: 30px;
        a{
          text-decoration: underline;
        }
      }
    }
  }
}

/* --------------- Footer navigation ---------------- */
.footer-nav{
  width: 100%;
  padding: 35px 0;
  ul{
    li{
      display: inline-block;
      
      a{
        color: $clrWhiteLinks;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        padding-right: 20px;
        line-height: 27px;
        transition: .2s;
        // &:hover{
        //   color: $orange_1;
        //   text-decoration: none;
        // }
      }
    }
  }
}
.footer-logo{
  padding: 35px 0;
  position: relative;
  z-index: 1;
  a{
    font-size: 27px;
    font-weight: 900;
    color: $clrLinks;
    &:hover{
      text-decoration: none;
    }
    span{
      color: $clrWhiteLinks;
    }
  }
}
.main-footer-bottom{
  background: $mainFooterCopyrightsBg;
  a{
    color: white;
  }
}
.copyrights-box{
  background: $mainFooterCopyrightsBg;
  height: 55px;
  line-height: 55px;
  position: relative;
  p{
    display: inline-block;
  }
  a{
    display: inline-block;
    text-align: right;
  }

}
.arrow-top{
  transition: .2s;
  opacity: .5;
  i{
    font-size: 20px;
  }
  &:hover{
    opacity: 1;
  }
}

/* ------------- Social links ------------- */
.social-links-box{
  border-color: $mainFooterCopyrightsBg !important;
  height: 55px;
  line-height: 55px;
  //background: $mainFooterSocialBg;
  background: url('../img/footer-fb.png');
  position: relative;
  .social-links{
    ul{
      li{
        display: inline-block;
        vertical-align: middle;
        a{
          color: $clrWhiteLinks;
          font-size: 20px;
          padding-right: 30px;
          span{
            font-size: 14px;
          }
        }
        a:hover{
          text-decoration: none;
        }
      }
    }
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 200%;
    right: -200%;
    height: 100%;
    // background: #1199f8;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1199f8+0,04affd+19 */
background: #1199f8; /* Old browsers */
background: -moz-linear-gradient(left, #1199f8 0%, #04affd 19%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1199f8 0%,#04affd 19%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1199f8 0%,#04affd 19%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1199f8', endColorstr='#04affd',GradientType=1 ); /* IE6-9 */

    top: 0;
    z-index: 0;
  }
}