/* ---------------------------------------------------- */
/* ---------------- Form elements styles --------------- */
/* ---------------------------------------------------- */
label{
  font-size: 14px;
  font-weight: 200;
  color: $colorTextLighter;
  padding: 5px 0 5px 0;
  display: inline-block;
}
input{
  &::placeholder{
    text-transform: uppercase;
    opacity: .4;
  }
}
input[type="text"],
input[type="password"],
.input-text{
  margin: 10px 0;
  border-radius: 30px;
  border: 1px solid $inputBorder;
  outline: none;
  box-sizing: border-box;
  padding: 0 20px;
  transition: .2s;
  font: 300 14px/50px Montserrat, sans-serif;
  width: 100%;
  &:focus{
    border-color: $inputBorderFocused;
  }
  &.error{
    border-color: $inputBorderError;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea{
  resize:none;
  margin: 10px 0;
  border-radius: 20px;
  line-height: 52px;
  border: 1px solid $inputBorder;
  outline: none;
  box-sizing: border-box;
  padding: 20px;
  transition: .2s;
  min-height: 145px;
  width: 100%;
  font: 300 14px/140% Montserrat, sans-serif;
  overflow: hidden;
  &:focus{
    border-color: $inputBorderFocused;
  }
  &.error{
    border-color: $inputBorderFocused;
  }
}
input [type="submit"]{
  -webkit-appearance: none;
}

/* -------------- Custom styled inputs --------------- */
.input-styled{
  border-radius: 50px;
  border: 1px solid $inputBorder;
  line-height: 40px;
  input{
    border: none;
    font-size: 14px;
    outline: none;
  }
  &.jq-number{
    position: relative;
    background: #ffffff;
  }
  .jq-number.focused{

  }
  .jq-number.disabled{

  }
  .jq-number__field{

  }
  .jq-number__spin.minus{
    position: absolute;
    top: 60%;
    right: 14px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $mainTextColor;
    cursor: pointer;
    transition: .2s;
    &:hover{
      border-top: 5px solid $clrLinks;
    }
  }
  .jq-number__spin.plus{
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 14px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $mainTextColor;
    transition: .2s;
    &:hover{
      border-bottom: 5px solid $clrLinks;
    }
  }
}
.jq-checkbox {
  top: -1px;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background:         linear-gradient(#FFF, #E6E6E6);
  box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}
.jq-checkbox.checked .jq-checkbox__div {
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
  border-radius: 2px;
  background: $buttonBg;
}
.jq-checkbox.focused {
  border: 1px solid $buttonBg;
}
.jq-checkbox.disabled {
  opacity: .55;
}
.jq-radio {
  top: -1px;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background:         linear-gradient(#FFF, #E6E6E6);
  box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: $buttonBg;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.7);
}
.jq-radio.focused {
  border: 1px solid $buttonBg;
}
.jq-radio.disabled {
  opacity: .55;
}
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
}
.jq-selectbox__select {
  width: 100%;
  height: 45px;
  padding: 0 45px 0 20px;
  color: #474747;
  border: 1px solid $inputBorder;
  background: transparent;
  font: 300 14px/45px Montserrat, sans-serif;
  border-radius: 40px;
}
.jq-selectbox__select:hover {
  border-color: $clrSelectBorderHover;
}
.jq-selectbox__select:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}
.jq-selectbox.focused .jq-selectbox__select {
  border-color: $clrSelectBorderHover;
}
.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #474747;
}
.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-selectbox .placeholder {
  color: #888;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 20px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}
.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  font: 300 14px/18px Montserrat, sans-serif;
}
.jq-selectbox__search {
  margin: 5px;
}
.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}
.jq-selectbox ul {
  margin: 0;
  padding: 0;
}
.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #231F20;
}
.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}
.jq-selectbox li:hover {
  background-color: $buttonBg;
  color: #FFF;
}
.jq-selectbox li.disabled {
  color: #AAA;
}
.jq-selectbox li.disabled:hover {
  background: none;
}
.jq-selectbox li.optgroup {
  font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}
.jq-selectbox li.option {
  padding-left: 25px;
}
.jq-select-multiple {
  padding: 20px 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $inputBorder;
  border-radius: 20px;
  background: #FFF;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
  font: 300 14px/18px Montserrat, sans-serif;
  color: #333;
  cursor: default;
}
.jq-select-multiple.focused {
  border: 1px solid $buttonBg;
}
.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}
.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}
.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.jq-select-multiple li.selected {
  background: $buttonBg;
  border-radius: 2px;
  color: #FFF;
}
.jq-select-multiple li.disabled {
  color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}
.jq-select-multiple li.optgroup {
  font-weight: bold;
}
.jq-select-multiple li.option {
  padding-left: 25px;
}
input.border-white{
  background: transparent;
  border: 1px solid rgba(255,255,255,.7);
  color: #fff;
  &:focus{
    border: 1px solid #fff;
    color: #fff;
  }
  &::placeholder{
    color: #fff;
    opacity: .7;
  }
}
.form-group{
  margin: 10px 0 0px;
  .input-title{
    color: $mainTextColor;
    font-weight: 400;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 200%;
    margin-top: 5px;
    img{
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  label.input-title{
    padding: 0;
  }
  p{
    padding-left: 25px;
    color: $colorTextLighter;
    padding-top: 10px;
  }
  .form-group-label{
    label{
      font-size: 14px;
    }
  }
}
.form-buttons{
  padding: 10px 0;
}
.errorlist{
  margin: 10px 0;
  li{
    color: $inputBorderError;
  }
}