/* ---------------------------------------------- */
/* ---------------- Header styles --------------- */
/* ---------------------------------------------- */
.main-header{
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  .header-top-background{
    left: 0;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    background: black;
  }
}
.top-bar{
  // background: $topbarSmallBg;
  color: $topbarColor;
  padding-top: 14px;
  #header-container{
    height: 30px;
  }
  .phone-info{
    float: left;
    margin-left: 30px;
    padding-left: 40px;
    border-left: 1px solid $topbarColor;
    i{
      padding-right: 5px;
      font-size: 14px;
      color: $clrWhiteLinks;
    }
    a{
      color: $topbarColor;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .have-center{
    cursor: pointer;
    border: 1px solid white;
    color: white !important;
    padding: 5px 10px;
    font-weight:400 !important;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px !important;
    text-transform: none !important;
    &:hover{
      color: #4cc3f4 !important;
      border-color: #4cc3f4;
    }
  }

  .list-contact{
    float: left;
    
    a:not(.have-center){
      text-transform: none !important;
      color: gray !important;
      &:hover{
        span{
          color: #4cc3f4;
          cursor: pointer;
          user-select: none;  
        }
        
      }
      i{
        font-size: 15px;
      }
    }
    
    li:nth-child(2){
      border-left: 1px solid #707070;
      margin: 0 15px;
      padding-left: 15px;
    }
  }

  .list-register{
    float: right;
    a{
      color: #4cc3f4;
      padding-bottom: 1px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: black;
      &:hover{
        text-decoration: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #4cc3f4;
        // padding-bottom: 1px;
      }
      &.enter-btn{
        color: white !important;
      }
    }
  }

  .auth-links{
    
    ul{
      display: inline-block;
      li{
        display: inline-block;
        &.divider{
          margin: 0 10px;
        }
        a{
          color: $clrWhiteLinks;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 400;
          &:hover{
            text-decoration: none;
          }
          &.sign-up{
            // border-left: 1px solid $topbarColor;
            color: #4cc3f4;
            // padding-left: 15px;
            // margin-left: 10px;

          }
        }
      }
    }
  }
}

/* ---------------- Navigation ------------------- */
.nav-bar{
  //padding: 40px 0;
  height: 83px;
  .logo{
    padding: 30px 0;
    a{
      font-size: 23px;
      font-weight: 900;
      color: $clrLinks;
      cursor: pointer;

      &:hover{
        text-decoration: none;
      }
      span{
        color: $clrLogoDark;
      }
    }
  }
  .main-nav{
    width: 100%;
    hr{
      display: none;
      margin: 0px 0 20px 0;
    }
    .mobile-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      .have-center{
        text-decoration: none;
      }
      .list-contact-mobile{
        height: 60px;
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -o-flex;
        align-items: center;
        div{
          display: inline-block;
          cursor: potiner;
          a{
            margin: 5px;
            color: white !important;
            text-decoration: none;
            &:hover{
              span{
                color: #4cc3f4;
              }
            }
          }
        }
      }
      .list-register{
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -o-flex;
        height: 40px;
        align-items: center;
        margin-bottom: 15px;
        span{
          height: 20px;
          display: flex;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: -o-flex;
          align-items: center;
          margin: 0 10px;
          line-height: 15px;
        }
        li{
          width: auto;
          display: inline-block !important;
          height: 20px;
          margin-top: 10px !important;
          padding: 0 10px !important;
          &.divider{
            width: 10px;
            padding: 3px 0 !important;
          }
          a{
            padding: 0;
            width: 100% !important;
          }
          &:last-child{
            text-align: left;
          }
        }
      }
    }
    
    & > ul{
      width: 100%;
      li{
        display: inline-block;

        &:last-child{
          float: right;
          margin-top: 25px;
        }

        &.parent-nav{
          padding-right: 10px;
          position: relative;
          > a{

            &:after{
              font-family: 'FontAwesome';
              content: '\f107';
              display: inline-block;
              margin-left: 10px;
              width: 0;
              height: 0;
            }
          }
          @media only screen and (min-width : 993px){
            &:hover{
              > a{
                color: $orange_1;
                &:after{
                  color: $orange_1 !important;
                }
              }
              .submenu{
                opacity: 1;
                visibility: visible;
                top: 100%;
              }
            }
          }

          .submenu{
            border-top: 1px solid $orange_1;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            background: #fff;
            min-width: 210px;
            top: 120%;
            transition: .3s;
            li{
              width: 100%;
              display: block;
              a{
                padding: 10px;
              }
            }
          }
        }

        a{
          font-size: 14px;
          text-transform: uppercase;
          padding: 30px 20px 30px 0;
          line-height: 23px;
          color: $clrLogoDark;
          // transition: .2s;
          display: block;
          &:hover{
            color: $orange_1;
            text-decoration: none;
          }
        }
        &.active{
          > a{
            color: $clrLinks;
          }
        }
      }
    }
    display: inline-block;
  }
  .small-cart-link{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 20px;
    margin-top: -5px;

    i{
      font-size: 20px;
      color: $clrLogoDark;
    }
    .small-cart-counter{
      display: block;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 100%;
      z-index: 1;
      font-size: 11px;
      background: $smallCartCounterBg;
      color: $clrWhiteLinks;
    }
  }
  .small-search{
    text-align: right;
    display: inline-block;
    float: right;
    padding: 30px 0;
    a{
      font-size: 20px;
      line-height: 20px;
      margin-top: -2px;
      display: block;
      color: $clrLogoDark;
    }
  }

  /* ----------------- Colors for black-bg nav-bar (on home page) ----------------- */
  &.nav-bar-black{
    //background: $topbarBg;
    background: rgba(29, 29, 27, 0.8);
    .logo{
      a{
        color: $clrLinks;
        text-decoration: none;
        cursor: pointer;
        span{
          color: $clrWhiteLinks;
        }
        img{
          width:150px;
        }
      }
    }
    .main-nav{
      ul{
        li{
          a{
            color: white;
            &:hover{
              color: #4cc3f4;
              text-decoration: none;
              & > div{
                border: 1px solid #4cc3f4 !important;

              }
            }
            &.inscribete{
              padding:0;
              & > div{

                // transition: 1s;
                // transition-property: all;
                // transition-duration: 1s;
                // transition-timing-function: ease;
                // transition-delay: 0s;
                border: 1px solid white;
                padding: 3px 10px;
                border-radius: 5px;  
              }
              
            }
          }
          &.active{
            a{
              color: #4cc3f4;
            }
            
          }
          
          .submenu{
            background: transparentize($topbarBg,.43);

          }
        }
      }
    }
    .small-cart-link{
      i{
        color: $clrWhiteLinks;
      }
      .small-cart-counter{
        background: $smallCartCounterBg;
        color: $clrWhiteLinks;
      }
    }
    .small-search{
      a{
        color: $clrWhiteLinks;
        transition: .2s;
        &:hover{
          color: $orange_1;
        }
      }
    }
    .search-box{
      .search-inp{
        color: $white;
        &::placeholder{
          color: $white;
        }
      }
      a.search-close{
        color: #fff;
      }
    }
  }
}

/* -------------- Search ----------------- */
.search-box{
  display: none;
  //background: rgba(0, 0, 0, 0.57);
  //height: 103px;
  padding: 30px 0;
  .search-inp{
    background: transparent;
    border: none;
    display: inline-block;
    height: 22px;
    margin: 0;
    padding: 0;
    width: 90%;
    float: left;
    color: $mainTextColor;
    border-radius: 0;
    &::placeholder{
      opacity: 1;
      color: $mainTextColor;
      text-transform: none;
    }
  }
  a.search-close{
    display: inline-block;
    width: 8%;
    text-align: right;
    float: right;
    font-size: 22px;
    color: $mainTextColor;
    transition: .2s;
    &:hover{
      color: $buttonHover;
    }
  }
}


.welcome {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: white;
}
.logout {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: $clrLinks;
  &:hover{
    color: $clrLinks;
  }
}