/* ---------------------------------------------- */
/* ---------------- Hover styles --------------- */
/* ---------------------------------------------- */
.hover-zoomIn {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hover-zoomIn:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hover-zoomIn:hover, .hover-zoomIn:focus, .hover-zoomIn:active {
	color: white;
}
.hover-zoomIn:hover:before, .hover-zoomIn:focus:before, .hover-zoomIn:active:before {
	-webkit-transform: scale(2);
	transform: scale(2);
}