
/* --------------------------------------------------------------------------- */
/* ---------------- Styles for all common inner pages elements --------------- */
/* --------------------------------------------------------------------------- */
.s-pagetitle{
	position: relative;
	height: 250px;
	background-size: cover;
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #000;
		z-index: 0;

	}
	.s-pagetitle-img{
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .5;
	}
	.container{
		position: relative;
		z-index: 2;
		height: 100%;
		&.flexbox{
			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
		}
	}
	h1{
		position: relative;
		span{
			font-size: 30px;
			font-weight: 200;
		}
	}
	.title-decor{
		position: relative;
		display: inline-block;
		z-index: 2;
		&:after{
			content: '';
			background: $clrDecorLines;
			height: 4px;
			width: 260px;
			position: absolute;
			transform: rotate(-45deg);
			top: 50%;
			left: -75px;
			z-index: -1;
		}
		&:before{
			content: '';
			background: $clrDecorLines;
			height: 2px;
			width: 150px;
			position: absolute;
			transform: rotate(-45deg);
			top: 40%;
			left: -30px;
			z-index: -1;
		}
	}
}

/* ============== Breadcrumbs ================== */
.breadcrumbs{

	ul{
		border-bottom: 1px solid #ccc;
		margin-bottom: 30px;
		li{
			display: inline-block;
			text-transform: uppercase;
			padding: 20px 0;
			a{
				color: $mainTextColor;
				&:hover{
					text-decoration: underline;
				}
				&:after{
					content: '/';
					display: inline-block;
					padding: 0 0 0 15px;
					margin: 0 10px 0 0;
				}
			}
			span{
				color: $clrLinks;
			}
		}
	}
}

/* =============== Text block ==================== */

.text-block{
	margin-top: 50px;
	.clr-colorify{
		font-size: 130%;
	}
	p{
		padding: 20px 0 15px;
		color: $colorTextLighter;
		line-height: 200%;
	}
}


.parallax-img_about{
	position: relative;
	perspective: 1px;
	height: 660px;
	overflow-x: hidden;
	margin-top: -50px;
	.img_level-1{
		top: 0;
		left: -100px;
		z-index: 1;
		position: absolute;
		transform: translateZ(-2px) scale(3);
	}
	.img_level-2{
		top: 0;
		right: -200px;
		position: absolute;
		transform: translateZ(-1px) scale(2);
		z-index: 0;
	}
}


/* ================ Text section width background styles ================== */

.text-section-bg{
	background: $bgColorLevel3;
	color: #fff;
	padding: 30px 0 50px;
	margin-top: -10px;
	position: relative;
	.icon{
		font-size: 50px;
		line-height: 200%;
		margin: 20px 0;
	}
	p{
		margin-top: 30px;
	}
}

/* ================ UL styles ================== */

.ul-styled{
	margin: 20px 0 30px;

	li{
		width: 100%;
		display: inline-block;
		padding: 10px 20px 0 25px;
		box-sizing: border-box;
		font-weight: 400;
		font-size: 14px;
		vertical-align: top;
		position: relative;
		line-height: 140%;
		margin: 10px 0;
		&:before{
			font-family: 'fontello';
			display: inline-block;
			vertical-align: middle;
			content: '\e81a';
			font-size: 18px;
			color: $bgColorLevel3;
			padding: 0 5px 0 0;
			position: absolute;
			left: 0;
			margin-top: 1px;
		}
	}
}
.ul-4-col{
	li {
		width: 24.5%;
	}
}
.ul-3-col{
	li {
		width: 33%;
	}
}

/* ================= Pagination styles ==================== */
.pagination{
	width: 100%;
	margin: 50px 0;
	ul{
		width: 100%;
		text-align: center;
		display: block;
		li{
			display: inline-block;
			background: $bgGrayColor;
			text-align: center;
			border-radius: 100px;
			font-size: 13px;
			color: $colorTextLighter;
			width: 35px;
			height: 35px;
			line-height: 35px;
			margin-right: 5px;
			transition: .2s;
			a{
				color: $colorTextLighter;
				display: block;
				&:hover{
					text-decoration: none;
					color: $clrLinks;
				}
			}
			&.pagination-prev{
				width: auto;
				line-height: 35px;
				padding: 0 20px;
			}
			&.pagination-next{
				width: auto;
				padding: 0 20px;
				line-height: 35px;
			}
			&.current{
				background: $clrLinks;
				color: #fff;
			}
		}
	}
}

/* ================= Meta information on page ==================== */
.page-meta{
	text-align: right;
	border-bottom: 1px solid #cccccc;
	margin: 20px 0;
	padding: 10px 0;
	> div{
		display: inline-block;
		font-size: 13px;
		border-left: 1px solid #cccccc;
		padding: 0 15px;
		margin: 10px 0;
		text-align: right;
		color: $colorTextLighter;
		&:first-child{
			border: none;
		}
		&:last-child{
			padding-right: 0;
		}
	}
	i{
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
	}
}

/* ================= Comments ==================== */
.comment-item{
	border-bottom: 1px solid #cccccc;
	padding: 15px 0;
	margin: 15px 0;

	.img-circle{
		margin-top: 10px;
		border-radius: 100px;
		overflow: hidden;
		text-align: center;
		width: 85px;
		height: 85px;

		img{
			min-width: 100%;
			height: 100%;
		}
	}
}
.comment-title{
	margin-bottom: 10px;
	h6{
		display: inline-block;
		vertical-align: middle;
	}
	.comment-date{
		padding-left: 20px;
		font-size: 12px;
		font-weight: 200;
		color: $colorTextLighter;
		display: inline-block;
		vertical-align: middle;
		i{
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.comment-form{
	padding-top: 30px;
	padding-bottom: 50px;
	.va-bottom{
		margin-top: 2.85em;
	}
}