/* ------------------------------------------------ */
/* ------------------- Main styles --------------- */
/* ------------------------------------------------ */
//Make Sticky Footer
html{
  height: 100%;
}

body{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  flex-direction: column;
  height: 100%;
}
.home-fullwidth-container{
  margin-right: auto;
  margin-left: auto;
}
/* ------------------- Preloader --------------- */
.preloader{
  //display: none;
  height: 100vh;
  width: 100vw;
  background: #000000;
  z-index: 9999;
  position: fixed;
  text-align: center;
  .preloader-icon{
    background: url("../assets/preloader.svg") no-repeat;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    position: absolute;
    background-size: contain;
  }
}
.animated-on-scroll{
  opacity: 0;
}
.data-bg{
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.clear{
  &:before{
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
  &:after{
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}
.main-wrapper{
  flex: 1 0 auto;
}
.content-wrapper{
  margin-top: 45px;
  overflow-x: hidden;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.nopadding-right{
  padding-right: 0;
}
.nopadding-left{
  padding-left: 0;
}
.main-footer{
  flex: 0 0 auto;
}
/* ------------- Decor lines ---------------- */
.decor-corner-lines{
  position: absolute;
  top: 30px;
  left: -90px;
  z-index: -1;
  // &:after{
  //   content: '';
  //   background: $clrDecorLines;
  //   height: 5px;
  //   width: 250px;
  //   position: absolute;
  //   transform: rotate(-45deg);
  //   top: 0px;
  //   z-index: 0;
  // }
  // &:before{
  //   content: '';
  //   background: $clrDecorLines;
  //   height: 2px;
  //   width: 150px;
  //   position: absolute;
  //   transform: rotate(-45deg);
  //   top: 0px;
  //   left: 30px;
  //   z-index: 0;
  // }
}

/* -------------Width & positions-------------- */
.fullwidth{
  width: 100%;
}
.fullheight{
  height: 100vh;
}
.center{
  text-align: center;
}
.mtop-50{
  margin-top: 50px;
}
.mtop-20{
  margin-top: 20px;
}
.mbot-50{
  margin-bottom: 50px;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.hide-pseudo{
  &:before{
    display: none;
  }
  &:after{
    display: none;
  }
}
.flex-row{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  align-items:center;
  height: 100%;
}
.block-style-border{
  border: 1px solid $borderColor;
  padding: 40px;
  margin: 20px 0 50px;
  box-sizing: border-box;
}
.block-style-bg{
  background: #ebebeb;
  padding: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.order-form{
  margin:20px 0 50px;
}

/* ------------- Tables ------------------ */
table.table{
	margin: 10px 0;
	width: 100%;
	thead{
		tr{
          background: none !important;
          td{
            color: $mainTextColor;
            padding: 10px;
            font-weight: bold;
            font-size: 14px;
          }
		}
	}
	tr{
		&:nth-child(even){
          background: none;
		}
		&:nth-child(odd){
			background: #f3f3f3;
		}
		td{
			vertical-align: middle;
			color: $colorTextLighter;
			padding: 10px;
			font-weight: 300;
			font-size: 14px;
			border: none;
		}
	}
}

.link-img{
	overflow: hidden;
	position: relative;
	display: block;
	text-align: center;
	img{
		height: 100%;
		width: 100%;
	}
	&:hover{
		.link-img-hover{
			opacity: 1;
		}
	}
	.link-img-hover{
		position: absolute;
		z-index: 100;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		align-items: center;
		@include background-opacity($mainFooterSocialBg, 0.42);
		opacity: 0;
		transition: .3s;
		>div{
			&.fa{
				font-size: 50px;
				color: #ffffff;
			}
		}
	}
}
.lh-200{
  line-height: 200%;
}
.noty_progressbar{
  display: none !important;
}