/* ------------------------------------------------------------ */
/* ---------------- Styles for 1200px desktops  --------------- */
/* ------------------------------------------------------------ */
@media only screen and (max-width: 1300px) and (min-width: 1200px){
	#my-account-page {
		.header-row{
			.item-header{
				.icon-house{
					margin-left: 30px;
				}
			}
		}
	}
}
@media only screen and (max-width : 1200px){

	/* =========== Typography  =========== */
	#my-account-page {
		.container-menu-account{
			right: 44px;
		}
	}
	#my-account{
		.tab-content{
			.section-main,
			.section{
				&.center{
					height: 430px;
				}
				.title-plan{
					font-size: 21px;
				}
			}
		}
	}
	h3{
		font-size: 23px;
	}
	.home-complementa{
		.first-line{
			.description{
			}
			.div-title{
			}
			.div-body{
				text-align: center;
			}
		}
	}
	#buy-pass,
	#buyPlan{
		.container{
			.div-left{
				.block-payment{
					.items{
						#old-card{
							.div-card{
								.div-digits{
									width: 200px;
								}
								.details-card{
									width: calc(100% - 200px);
								}
							}
						}
					}
				}
			}
		}
	}
	.home-convince{
		.content{
			.container-item{
				margin: 0 30px;
			}
		}
	}
	.main-banner-1{
		.banner-title{
			p{
				font-size: 150px;
			}
		}
		.banner-1-img{
			left: 40%;
		}
		.banner-1-col-left{
			p{
				font-size: 40px;
			}
		}
		.banner-1-col-right{
			margin-top: 70px;
			p{
				font-size: 35px;
			}
		}
	}
	.negative-margin-top{
		margin-top: -100px;
	}
	.banner-trainer{
		height: auto;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 20px;
		.row{
			height: auto;
		}
		h3{
			margin-top: 0;
		}
		.main-banner-2-img{
			height: auto;

			img{
				margin: 0;
				width: 100%;
			}
		}
	}
	.our-team{
		height: 1100px;
	}
	.counters-line{
		margin-bottom: -40px;
	}
	.counter-item{
		.count{
			font-size: 40px;
		}
		.counter-title{
			font-size: 20px;
		}
	}
	.product-item{
		.product-item__img{
			img{
				width: 100%;
			}
		}
	}
	.section-products__bg{
		height: 521px;
	}
	.subscribe-section__bg{
		img{
			position: absolute;
			height: 100%;
			min-width: 100%;
		}
	}
	.footer-nav {
		ul{
			li{
				a{
					font-size: 13px;
				}
			}
		}
	}
	.nav-trigger{
		display: none;
		float: right;
	}
	// .discount-box{
	// 	padding: 0 50px;
	// 	margin-top: 100px;
	// }
	.prices-section{
		background-size: cover;
		background-position: center;
		.mobile-container-fluid{
			width: 100%;
			margin: 0;
			padding: 0;
		}
		.discount-box{
			width: 100%;
			padding: 0 50px;
			margin-top: 100px;
			.discount-img{
				right: -450px;
			}
		}
		.prices-block{
			width: 100%;
			.price-box{

			}
		}
	}
	/* =================== Cart ================== */
	.cart-controls{
		.button-clear{
			margin-right: 20px;
		}
	}
	.cart-totals_control{
		.cart-totals_update{
			width: 40%;
		}
		.cart-totals_order{
			width: 58%;
		}
	}

	/* =================== Classes ================== */
	#classes{
		#results-header{
			height: 60px;
		}
		// .availability-icon{
		// 	display:none;
		// }
	}
	#sport-center-detail{
		.class-row{
			.el-tooltip{
				// margin-right: 1px;
			}
		}
	}
	#classes{
		.class-row{
			button.cancel {
				margin-left: 6px;
			}
		}
	}
	#sport-center-detail{
		.class-row{
			button.cancel {
				margin-left: 1px;
			}
		}
	}
	.classes-item{
		.classes_footer{
			text-align: center;
		}
	}
	

	/* =================== Contacts ================== */
	.contacts-page-content{
		padding-left: 20px;
	}

	/* ====================== Sidebar ===================== */
	//	Price range slider
	#amount{
		display: block;
		width: 100%;
	}
	.button.filter-apply{
		display: block;
		text-align: center;
		width: 100%;
		margin-left: 0;
	}
	// #sport-center-detail{
	// 	.content-center-detail {
	// 		.div-left{
	// 			.div-available{
	// 				.div-plan{
	// 					padding: 20px 25px 5px 15px;
	// 				}
	// 				.div-pass{
	// 					padding: 10px 25px 20px 15px;
	// 					.buy-pass{
	// 						font-size: 15px;
	// 					}
	// 				}
	// 				.button-buy-plan,
	// 				.button-buy-pass{
	// 					padding: 9px 20px;
	// 				}
	// 			}
	// 		}
	// 	}  
	// }

}

@media (min-width: 1200px){
	.home-fullwidth-container{
		width: 1170px;
	}	
}