/* ---------------------------------------------------------------- */
/* ------------------ Styles for 480 mobile devices --------------- */
/* ---------------------------------------------------------------- */
@media only screen and (max-width : 480px){
	#my-account-page {
		.header-row{
			.item-header{
				.icon-house{
					margin-left: 0;
				}
				.username{
					font-size: 15px;
				}
			}
		}
		.tab-content{
			#my-plan{
				.section-main{
					// text-align: left;
					.title-plan{
						span.price{
							display: none;
						}
					}
				}
			}
		}
	}
	#my-account{
		.content{
			padding: 30px 0;
			.tab-content{
				.graphics{
					#container-sport-centers-mobile{
						display: block;
						margin-bottom: 10px;
					}
					#container-sport-centers{
						display: none;
					}
				}
				.section-main{
					.title-plan:not(.first){
						font-size: 14px;
						text-align: center;
					}
					.line{
						&.special{
							margin-left: 0;
						}
					}
					&.friendpass{
						.available-friendpass{
							padding: 20px 0;
						}
						.list{
							.title{
								font-size: 14px;
							}
							.item{
								padding: 20px 0;
								text-align: center;
								font-size: 13px;
							}
						}
					}
					&.repetitions{
						.list{
							.item{
								font-size: 12px;
								padding: 20px 0;
								text-align: center;
							}
						}
					}
					.card{
						.div-card{
							.div-digits{
								font-size: 12px;
							}
							.card-exp{
								.div-date{
									.card-date{
										font-size: 11px;
										padding-top: 0;
									}
								}
							}
							.cards-image{
								img{
									width: 18px;
									margin-top: 8px;
								}
							}
							
						}
					}
					.div-new-card{
						.div-number-card{
							.number{
								input{
									font-size: 11px;
								}
							}
							.three-cards{
								img{
									width: 70px;
									margin-top: 15px;
								}
							}
						}
						input{
							&::placeholder{
								font-size: 11px !important;
							}
							&:-ms-input-placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
								font-size: 11px !important;
							}
						}
						.card-details{
							display: block;
							.div-date{
								div{
									width: 165px;
								}
							}
							.div-cvv{
								margin-top: 15px;
								margin-left: 0;
								div{
									width: 130px;
								}
							}
						}
					}
					.row-buttons.right{
						text-align: center;
						.preview{
							width: 196px;
    						padding: 15px;
						}
					}
					.reservations,
					.visits{
						.item{
							font-size: 14px;
							p{
								font-size: 14px;
							}
						}
					}
				}
				.section{
					padding: 40px;
					text-align: center;
					.title-plan{
						font-size: 14px;
					}
					
				}
			}
		}
		.account_footer_image{
			padding: 0 30px;
		}
	}
	#plans{
		.block-radio .el-radio-button__inner{
			font-size: 10px;
		}
	}
	#buy-pass,
	#buyPlan{
		.container{
			.div-left{
				.block-payment{
					.items{
						#new-card{
							.div-number-card {
								.div-digits-new{
									width: calc(100% - 90px);
									input{
										font-size: 12px;
										&::placeholder{
											font-size: 12px !important;
										}
									}
								}
								.three-cards{
									width: 90px;
									img{
										width: 85px;
									}
								}
								
							}
							.expiration-date{
								input{
									font-size: 12px;
									&::placeholder{
										font-size: 12px !important;
									}
								}
							}
							.cvc{
								input{
									font-size: 12px;
									&::placeholder{
										font-size: 12px !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#buyPlanConfirmation{
		.container{
			.confirm-buy-label{
				font-size: 20px;
			}
			.message-confirmation{
				.mail-message{
					font-size: 15px;
				}
				.button-account{
					margin-bottom: 20px;
				}
				.button-clases{
					margin-left: 0;
				}
			}
		}
	}
	h3{
		font-size: 20px;
	}
	.container{
		width: inherit;
	}
	.home-convince{
		.home-blue-title{
			font-size: 20px;
		}
	}
	.home-sport-centers-section .sport-centers-filter .title{
		font-size: 20px;
		padding: 0 10px;
	}
	#sport-centers .map-section .home-map-sport-center .sport-center-info .speciality{
		line-height: 20px;
	}
	#sport-centers .map-section .home-map-sport-center .sport-center-info .buttons{
		position: initial;
		margin-top: 10px;
	}
	.home-blue-title{
		font-size: 20px;
		padding: 0 10px;
	}
	.home-enterprise-plans {
		.after-blue-line-1{
			font-size: 11px;
			padding: 0 40px;
			width: auto;
		}
		.after-blue-line-2{
			width: auto;
			font-size: 13px;
			padding: 0 10px;
		}
	}
	.prices-section{
		.discount-box{
			padding: 0 20px;
		}
	}
	.home-sport-center-join{
		.home-fullwidth-container{
			.reasons-responsive{
				.reason{
					width: 300px;
					.title{
						font-size: 14px;
						height: 25px;
					}
					.line{
						height: 5px;
					}
				}
				.reason:nth-child(3){
					.title{
						height: 40px;
					}
				}
			}
		}
	}
	.carousel-line{
		.carousel{
			width: 300px;
			left: 0px !important;
		}
	}
	.home-sport-centers-section{
		.sport-centers-filter{
			.div-district{
				.v-select.searchable .dropdown-menu{
					left: -70px;
				}
			}
			.div-classes{
				.v-select.searchable .dropdown-menu{
					left: -90px;
				}
			}
			.div-centers{
				.v-select.searchable .dropdown-menu{
					left: -30px;
				}
			}
			.v-select.searchable .dropdown-menu{
				width: 300px;
			}
		}
	}
	.el-dialog,
	.v--modal{
		width: 300px !important;
		margin-top: 30px;
	}    
	.dialog-enterprise-left,
	.dialog-center-left{
		height: 150px !important;
	}
	.dialog-enterprise-right,
	.dialog-center-right{
		padding: 50px 30px !important;
		.title{
			font-size: 17px;
		}
		.description{
			font-size: 11px;
			font-weight: 300;
		}
		.step{
			p{
				font-size: 14px;
			}
		}
		.facebook{
			font-size: 12px;
		}
		.button-enterprise{
			font-size: 12px;
		}
	}
	.modal-register{
		.dialog-center-right{
			.button-enterprise{
				font-size: 11px;
			}
		}
	}
	.subscribe-section{
		overflow: hidden;
		input{
			width: 100% !important;
			margin: 10px 0;
		}
		button{
			width: 70% !important;
			margin: 10px auto;
		}
	}
	.top-bar .auth-links{
		text-align: left;
	}
	.top-bar .phone-info{
		padding-left: 10px;
		margin-left: 0px;
		border: none;
		float: right;
	}
	.news-item{
		width: 100%;
		float: none;
	}
	.top-bar{
		// display: none;
	}
	.nav-bar{
		line-height: 35px;
	}
	.section-products{
		padding-top: 40px;
	}
	.products-list .col-xs-12{
		width: 100%;
	}

	.text-block{
		img{
			width: 100%;
		}
	}
	.cart-order{
		.button{
			width: 100%;
		}
		.col-md-6{
			margin: 50px 0;
		}
	}
	.cart-totals_control{
		margin: 20px 0 0 0;
		input.button{
			margin: 10px 0;
		}
		.cart-totals_update{
			display: block;
			width: 100%;
			float: none;
		}
		.cart-totals_order{
			display: block;
			width: 100%;
			float: none;
		}
	}
	.block-style-border{
		padding: 20px 10px;
	}
	.form-group{
		.form-group-label{
			padding-top: 10px;
			.jq-radio{
				width: 18px;
				float: left;
			}
			label{
				float: left;
				padding-top: 2px;
			}
			&:after{
				content: '';
				clear: both;
				display: block;
				width: 100%;
			}
		}
	}
	/* ============= Trainers banner ============= */
	.banner-trainer{
		h3{
			font-size: 40px;
		}
		.banner-2-cols{
			display: block;
		}
		.banner-2-col-1{
			width: 100%;
			float: none;
		}
		.banner-2-col-2{
			width: 100%;
			float: none;
		}
	}
	/* ============ Pagination ================ */
	.pagination{
		.pagination-prev{
			display: block;
			margin-bottom: 20px;
		}
		.pagination-next{
			display: block;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	/* ============= Classes ============== */
	.info-banner{
		.info-banner-desc{
			text-align: center;
		}
	}

	/* =============== News ================ */
	.news-list-footer {
		.link-readmore{
			float: none;
		}
		.page-meta{
			float: none;
			width: 100%;
		}
	}
	.page-meta{
		text-align: center;
		> div{
			border: none;
		}
	}
	.news-list-date{
		display: none;
	}

	.product-img-thumbs{
		display: none;
	}
	#sport-center-detail{
		.content-center-detail{
			.div-left{
				.el-carousel{
					.el-carousel__indicators{
						.el-carousel__indicator {
							padding: 5px 4px;
						}
					}
				}
				.frame-video{
					height: 200px !important;
				}
				.el-carousel__container{
					height: 200px;
				}
				.el-radio-group{
					.el-radio-button__inner{
						padding: 15px 20px;
					}
				}
				.div-available{
					
				}
			}
		}  
	}
}
@media only screen and (max-width : 418px){
	#buy-pass,
	#buyPlan{
		.container{
			.div-left{
				.block-payment{
					.items{
						padding: 20px;
						#old-card{
							.div-card{
								.div-digits{
									width: 125px;
									.digits-hide{
										font-size: 10px;
									}
									.last-digits{
										font-size: 10px;
									}
								}
								.details-card{
									width: calc(100% - 125px);
									.div-date{
										.card-date{
											font-size: 12px;
											line-height: 15px;
										}
									}
								}
							}
						}
						#new-card{
							.div-number-card {
								.div-digits-new{
									width: calc(100% - 90px);
									input{
										font-size: 10px;
										padding: 0 0 0 15px;
										&::placeholder{
											font-size: 10px !important;
										}
									}
								}
								.three-cards{
									width: 90px;
									img{
										width: 85px;
									}
								}
								
							}
							.expiration-date{
								input{
									font-size: 10px;
									&::placeholder{
										font-size: 10px !important;
									}
								}
							}
							.cvc{
								input{
									font-size: 10px;
									&::placeholder{
										font-size: 10px !important;
									}
								}
							}
						}
					}
				}
			}
			.div-right{
				.block-payment{
					.items{
						padding: 30px;
					}
				}
			}
		}
	}
	#buyPlanConfirmation{
		.container{
			.confirm-buy-label{
				font-size: 17px;
			}
			.message-confirmation{
				.mail-message{
					font-size: 13px;
				}
				.button-account{
					margin-bottom: 20px;
				}
				.button-clases{
					margin-left: 0;
				}
			}
		}
	}
}
@media only screen and (max-width : 385px){
#buy-pass,
	#buyPlan{
		.container{
			.div-left{
				.block-payment{
					.items{
						#old-card{
							.div-card{
								.details-card{
									.div-date{
										.card-date{
											margin-top: 0;
										}
									}
								}
							}
						}
					}
				}
			}
			.div-right{
				.block-payment{
					.items{
						padding: 30px;
					}
				}
			}
		}
	}
}