/* ---------------------------------------------------------- */
/* ---------------- Styles for 768px tablets  --------------- */
/* ---------------------------------------------------------- */
@media only screen and (max-width: 570px){
	#my-account{
		.content{
			.tab-content{
				.section-main{
					.row-buttons{
						.preview{
							margin-left: 0;
							margin-top: 15px;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width : 768px) {
	#my-account-page {
		.header-row{
			.item-header{
				.icon-house{
					margin-left: 0;
				}
				.username {
					font-size: 20px;
					line-height: 17px;
				}
			}
			.item-header:nth-child(3){
    			padding-right: 15px;
			}
			.item-header:nth-child(2){
    			padding: 0;
			}
		}
		.container-menu-account{
			right: 0;
		}
	}
	#my-account{
		.content{
			padding: 30px 0;
			.tab-content{
				.section-main{
					&.friendpass{
						.available-friendpass{
							display: block;
							.text{
								display: block;
								margin-bottom: 25px;
							}
						}
					}
					.form-user{
						.el-col{
							width: 300px;
						}
					}
					.row-buttons{
						.save{
							margin-bottom: 10px;
						}
					}
					.card{
						.div-card{
							.div-digits{
								font-size: 15px;
							}
							.card-exp{
								.div-date{
									.card-date{
										font-size: 14px;
										padding-top: 3px;
									}
								}
							}
							.cards-image{
								img{
									width: 25px;
									margin-top: 5px;
								}
							}
							
						}
					}
					.div-new-card{
						.card-details{
							display: block;
							margin-top:15px;
							.div-cvv{
								margin-left: 0;
								margin-top: 15px;
							}
						}
					}
				}
			}
		}
		.account_footer_image{
			padding: 0 100px;
		}
	}
	#buy-pass,
	#buyPlan{
		.container{
			.div-left{
				.block-payment{
					.items{
						#new-card{
							.expiration-date{
								width: 100%;
							}
							.cvc{
								width: 100%;
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
	.top-bar {
		.auth-links{
			text-align: right;
			margin-top: 0px;
		}
		.phone-info{
			margin-left: 0px;
			padding-left: 10px;
		}
	}
	.prices-box{
		height: auto !important;
		width: 100% !important;
		float: none;
		.button{
			padding: 15px 0 !important;
		}
		p{
			max-height: 100% !important;
			height: auto;
		}
		.link-readmore{
			position: relative;
			bottom: 0;
		}
		.offer{
			img{
				width: 100px;
			}
		}
	}
	.home-complementa-first-line{
		font-size: 14px;
	}
	.home-complementa{
		.first-line{
			.div-body{
				.el-col{
					width: 100%;
					text-align: center;
				}
			}
			.description{
				margin-left: calc(50% - 80px);
			}
		}
	}
	.home-sport-center-join{
		height: auto;
		.home-fullwidth-container{
			.after-reasons-line-1{
				font-size: 20px;
				padding: 0 20px;
			}
			.after-reasons-line-2{
				width: auto;
				padding: 0 20px;
			}
		}
	}
	.home-sport-centers-section{
		.sport-centers-filter{
			.div-district{
				.v-select.searchable .dropdown-menu{
					left: -160px;
				}
			}
			.div-classes{
				.v-select.searchable .dropdown-menu{
					left: -165px;
				}
			}
			.div-centers{
				.v-select.searchable .dropdown-menu{
					left: -110px;
				}
			}
			.v-select.searchable .dropdown-menu{
				width: 450px;
			}
		}
	}
	.el-dialog,
	.v--modal{
		width: 430px !important;
	}
	.dialog-enterprise-right,
	.dialog-center-right{
		padding: 50px 50px 50px 40px;
		.title{
			font-size: 24px;
		}
		.title-modal{
			font-size: 18px;
		}
	}
	.footer-nav{
		text-align: center;
	}
	.products-list{
		.col-xs-12{
			width: 50%;
		}
	}
	.our-team__content{
		.col-xs-12{
			width: 50%;
		}
	}
	.prices-box{
		.block-generated{
			display: block;
			height: 80px;
		}
	}
	.button{
		line-height: 120% !important;
		padding: 15px !important;
		&:after{
			display: none;
		}
	}


	/* ======================= About page ===================== */

	.banner_about{
		margin-bottom: 0;
		background-position: -900px center;
		.flex-row_container{
			padding-left: 0px;
			p{
				margin-left: 0;
			}
		}
	}
	.text-section-bg{
		text-align: center;
	}

	.ul-4-col, .ul-3-col{
		li{
			width: 100%;
		}
	}


	/* ============ Comments ============ */
	.page-meta{
		text-align: left;
	}
	.img-circle{
		margin: 0 auto;
	}
	.comment-title{
		text-align: center;
		margin-top: 20px;
		.comment-date{
			display: block;
			text-align: center;
			margin-top: 10px;
		}
	}

	/* =============== News ================ */
	.news-list-footer {
		.link-readmore{
			float: none;
		}
		.page-meta{
			float: none;
			width: 100%;
		}
	}

	#classes {
		.right-side{
			margin-left: 0px;
		}
		.table-classes{
			margin-left: 0px;	
		}
	}
	#sport-centers .map-section .home-map-sport-center{
		height: auto !important;
	}
	#sport-centers .map-section .sport-centers-list .left-side-container .filters .first-row{
		display: block;
		border-bottom: none;
		&> div{
			width: 100% !important;
			margin-bottom: 5px;
			&>button{
				width: 100% !important;
			}
		}
		.district-filter{
			.v-select.searchable .dropdown-menu{
				width: 100%;
			}
		}
		.category-filter{
			.v-select.searchable .dropdown-menu{
				width: 100%;
			}
		} 
		.v-select input[type=search]::placeholder {
	        text-align: center;
	        // line-height: 1.2857143;
	    }
	}

	#sport-centers .map-section .sport-centers-list .left-side-container .filters .second-row{
		display: block;
		padding: 0 10px;
		.sport-center-filter{
			width: 100%;
			.v-select.searchable .dropdown-menu{
				width: 100%;
			}
			.v-select input[type=search]::placeholder {
				text-align: center;
				// line-height: 1.2857143;
			}
		} 
	}
	#sport-centers .map-section .home-map-sport-center .sport-center-info .name-rate-row{
		display: block !important;
		margin-bottom: 5px;
	}

	#sport-centers .map-section .home-map-sport-center .sport-center-info .sport-center-rating{
		margin-bottom: 5px;	
	}
	#sport-centers .map-section .home-map-sport-center .buttons{
		position: initial;
		margin-top: 10px;
	}
	#sport-centers .map-section .home-map-sport-center .buttons .buy-plan{
		width: 145px;
		margin-bottom: 4px;
		text-align: center;
	}
	#sport-centers .map-section .home-map-sport-center  .buttons .buy-plan.plus{
		width: 160px;
		text-align: center;
	}
	#sport-centers .map-section .home-map-sport-center .buttons .buy-pass{
		width: 145px;
		text-align: center;
    	margin-bottom: 4px;
	}
	#sport-centers .map-section .home-map-sport-center .buttons &>div{
		padding: 8px 14px;
	}
	#sport-centers {
		.map-section{
			.home-map-sport-center{
				.buttons{
					.plus{
						padding: 8px 10px;
					}
				}
			}
		}
	}
	#sport-center-detail{
		.content-center-detail {
			.div-left{
				.div-available{
					.col-text-plan,
					.col-text-pass{
						width: 100%;
						img{
							height: 25px;
						}
					}
					.button-buy-plan,
					.button-buy-pass{
						float: none;
						margin-top: 10px;
					}
					img{
						height: 1px;
					}
				}
			}
		}  
	}

}

@media (min-width: 768px) and (max-width: 991px){
	.home-fullwidth-container{
		width: 750px;
	}	
}
@media only screen and (max-width: 600px){
	#buy-pass,
	#buyPlan{
		.container{
			.div-left{
				.block-payment{
					.items{
						padding: 30px;
						.details-plan{
							font-size: 13px;
    						line-height: 17px;
						}
						#old-card{
							.div-card{
								.div-digits{
									width: 160px;
									.digits-hide{
										font-size: 12px;
									}
								}
								.details-card{
									width: calc(100% - 160px);
									.div-date{
										.card-date{
											margin-top: 3px;
											font-size: 14px;
										}
									}
								}
							}
						}
						#new-card{
							.div-number-card {
								.div-digits-new{
									input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
										font-size: 14px !important;
									}
								}
								
							}
							.expiration-date{
								input{
									&::placeholder{
										font-size: 14px !important;
									}
								}
							}
							.cvc{
								input{
									&::placeholder{
										font-size: 14px !important;
									}
								}
							}
						}
					}
				}
			}
			.div-right{
				.block-payment{
					.items{
						padding: 30px;
					}
				}
			}
		}
	}
}