/* ---------------------------------------------------------- */
/* ---------------- Styles for 992px tablets  --------------- */
/* ---------------------------------------------------------- */
@media (min-width: 992px) and (max-width: 1199px){
	#sport-center-detail{
		.content-center-detail {
			.div-left{
				.div-available{
					.div-plan{
						padding: 20px 25px 5px 15px;
					}
					.div-pass{
						padding: 10px 25px 20px 15px;
						.buy-pass{
							font-size: 15px;
						}
					}
					.button-buy-plan,
					.button-buy-pass{
						padding: 9px 20px;
					}
				}
			}
		}  
	}
	.home-fullwidth-container{
		width: 970px;
	}	

	.home-complementa {
		.second-line {
			.how-works-container{
				margin-left: calc((100% - 970px) / 2);
			}
			.how-works{
				font-size: 20px;
			}
			.description{
				font-size: 14px;	
			}
			.div-steps {
				.steps {
					.name-step{
						font-size: 12px;
					}
				}
			}
		}
	}

	.nav-bar { 
		.main-nav {
			ul {
				li {
					a{
						font-size: 12px;
						padding: 30px 15px 30px 0;
					}
				}
			}
		}

	}
	// #buy-pass,
	// #buyPlan{
	// 	.container{
	// 		.div-left{
	// 			.block-payment{
	// 				.items{
	// 					#old-card{
	// 						.div-card{
	// 							.div-digits{
	// 								width: 200px;
	// 							}
	// 							.details-card{
	// 								width: calc(100% - 200px);
	// 							}
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }

}
@media only screen and (max-width : 992px) {
	#my-account-page {
		.content-wrapper{
			// margin-top: 0;
		}
		.menu-account ul{
			display: none;
		}
		.menu-account{
			border-bottom: none;
			height: 50px;
			.tabs-select{
				display: block;
			}
		}
		.header-row{
			.item-header{
				.logo{
					display: none;
				}
				// .code{
				// 	display: none !important;
				// }
				.icon-house{
					margin-left: 20px;
				}
			}
			.item-header:nth-child(3){
				width: auto;
			}
		}
	}
	#my-account{
		.tab-content{
			.section-main,
			.section{
				// text-align: left;
				&.center{
					height: auto;
				}
				&.plan{
					text-align: left;
				}
				.line{
					width: 253px;
					&.special{
						// margin-left: -35px;
					}
				}
			}
			.section-main{
				.form-user{
					text-align: center;
				}
				.reservations,
				.visits{
					text-align: left;
					.header{
						display: none;
					}
					.item{
						font-size: 17px;
						padding: 20px 0;
						.format-date{
							span{
								display: inline-block;
							}
						}
						.title-date{
							display: inline-block;
						}
						.plan-name-mobile{
							display: block;
						}
						.plan-name{
							display: none;
						}
						p{
							font-size: 17px;
						}
						div{
							width: 100%;
							margin-bottom: 20px;
						}
						.label-class{
							display: inline;
							font-weight: 600;
						}
						.show-class{
							display: initial;
							padding: 6px;
						}
						div:last-child{
							margin-bottom: 0;
						}
					}
					.empty-coming-activities{
						margin-top: 0;
					}
				}
			}
			.section{
				.description-class-used,
				.lost-class{
					// display: none;
				}
			}
			.graphics{
				.el-col:nth-child(1){
					margin-bottom: 10px;
				}
			}
			#my-plan{
				.section-main{
					.title-plan{
						.name{
							color: #51abfb;
						}
					}
					.line-image{
						display: none;
					}
					.line-large{
						display: none;
					}
					.div-details{
						display: none;
					}
					.label-period{
						display: none;
					}
					.div-gradient{
						display: none;
					}
					.div-details-mobile{
						display: block;
						p{
							color: white;
							margin: 20px 0;
						}
						.renew{
							color: #51abfb;
						}
						.period{
							color: #b5b5b5;
							font-size: 16px;
							margin-bottom: 0;
						}
						.cancel{
							color: #51abfb;
						}
						.description-mobile{
							font-size: 13px;
							margin-top: 30px;
							font-style: oblique;
							font-weight: 400;
							text-align: left;
							line-height: 19px;
							color: #8e8e8e;
							span,
							a,
							a:hover,
							a:active,
							a:focus{
								color: #51abfb;
								text-decoration: underline;
								cursor: pointer;
							}
						}
					}
					.description{
						display: none;
					}
				}
			}
		}
		.modal-change-password{
			.dialog-center-left{
				border-radius: 5px 5px 0 0;
			}
		}
	}
	// #plans{
	// 	margin-top: 0px !important;
	// }
	// #buyPlan{
	// 	margin-top: 0px !important;
	// }
	#buyPlanConfirmation{
		margin-top: 81px !important;
	}
	// #buy-pass{
	// 	margin-top: 0px !important;
	// }
	.top-bar{
		padding: 0px;
	}
	#buy-pass,
	#buyPlan{
		.container{
			.content-buy{
				display: block;
				.div-left{
					margin-bottom: 40px !important;
					.block-payment{
						.items{
							#old-card{
								.div-card{
									.details-card{
										.div-date{
											width: calc(100% - 30px);
										}
										.image-card{
											width: 30px;
										}
									}
								}
							}
						}
					}
				}
				.div-right{
					margin-bottom: 80px;
				}
			}
			
		}
	}
	.arrow-down-main, .arrow-down-main-shadow{
		width: 30px;
		left: 48%;
	}
	#header-container{
		display:none;
	}
	.home-complementa{
		.first-line{
			padding: 0 40px;
			.description{
				margin-left: 28px;
			}
			.div-title{
				width: 100%;
				text-align: center;
			}
			.div-body{
				width: 100%;
				text-align: center;
				.el-col{
					margin-top: 50px;
				}
			}
		}
		.second-line{
			display: none;
		}
		.how-works-carousel{
			display: block !important;
			p{
				font-weight: 800 !important;
				font-size: 25px;
				margin: 50px 0;
				text-align: center;
			}
		}
		.carousel-line{
			display: block !important;
			background: url('../img/how-work-image.jpg') no-repeat center center;
			background-size: cover;
			height: 250px;
			width: 100%;
			position: relative;
			color: white;
			.description-step{
				position: absolute;
				color: white;
				left: 70px;
				top: 50px;
				h5::after{
					content: '';
					display: block;
					width: 100px;
					height: 4px;
					background: #10abfb;
				}
				p{
					width: 200px;
					margin-top: 10px;
					line-height: 19px;
					font-weight: 400;
					// color: white;
					// text-align: center;
				}
			}
			.carousel{
				position: relative;
				top: 210px;
				width: 100%;
				
				.VueCarousel-wrapper, .VueCarousel-pagination{
					width: 450px;
					left: calc(50% - 233px);	
					position: relative;
				}
				.VueCarousel-navigation{
					display: block;
				    position: absolute;
				    top: -90px;
				    left: 0;
				    right: 0;
					& > button:first-child{
					    color: white;
					    font-size: 20px;
						left: 40px;
						background: none;
					}
					& > button:last-child{
					    color: white;
					    font-size: 20px;
						right: 40px;
						background: none;
					}

					& > button > i {
						font-size: 50px;
					}
				}
				// width: 200px;
				.step-carousel{
					font-size: 13px;
					padding: 20px;
					background: #10abfb;
					width: 150px;
					color: white;
					-webkit-box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.32);
					-moz-box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.32);
					box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.32);
					cursor: pointer;
					.name-step{
						display: flex;
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flexbox;
						display: -o-flex;
					}
				}
				.VueCarousel-dot--active{
					button{
						background: #10abfb !important;
					}
				}
				.VueCarousel-dot-button{
					background: rgba(0, 0, 0, 0.4) !important;
				}
				.VueCarousel-slide{
					justify-content: center;
					display: flex;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flexbox;
					display: -o-flex;
				}
				// .VueCarousel-navigation{
				// 	& > button:first-child{
				// 		margin-top: -140px;
				// 	    color: white;
				// 	    font-size: 20px;
				// 	    margin-left: -200px;
				// 	}
				// 	& > button:last-child{
				// 		margin-top: -140px;
				// 	    color: white;
				// 	    font-size: 20px;
				// 	    margin-right: -200px;
				// 	}
				// }
			}
		}
	}
	.v--modal-background-click{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		justify-content: center;
		min-height: auto !important;
	}
	.el-dialog,
	.v--modal{
		width: 630px !important;
		left: 0 !important;
	}
	.friendpass-modal,
	.close-sesion-modal{
        .v--modal{
            left: 0 !important;
		}
	}
	.dialog-enterprise-left,
	.dialog-center-left{
		width: 100%;
		height: 200px !important;
	}
	.dialog-center-left{
		padding-top: 0px;
		img, p{
			display: none;
		}
	}
	.dialog-enterprise-right,
	.dialog-center-right{
		width: 100%;
		height: auto !important;
		.title-modal{
			&.one-line{
				display: block;
			}
			&.big{
				display: none;
			}
		}
	}
	.home-blue-title{
		text-align: center;
	}
	.home-sport-centers-section{
		.sport-centers-filter{
			.title{
				margin-bottom: 20px;
			}
			.div-options{
				display: none;
			}
			.div-filters{
				display: flex !important;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: -o-flex;
				font-size: 15px;
				font-weight: 700;
				color: #aaaaa8;
				justify-content: center;
				margin-bottom: 15px;
				span{
					position: relative;
					margin-left: -10px;
					i{
						font-size: 20px;
						position: absolute;
						top: -7px;
						right: -20px;
					}
					i.fa-sort-up{
						top: 0px;
					}
				}
			}
			.options-responsive{
				display: flex;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: -o-flex;
				flex-direction: column;
				align-items: center;
				input::placeholder{
					text-align: right;
					padding-right: 20px;
				}
			}
			.div-district{
				width: 135px;
				.v-select.searchable .dropdown-menu{
					left: -255px;
				}
			}
			.div-classes{
				width: 105px;
				.v-select.searchable .dropdown-menu{
					left: -285px;
				}
			}
			.div-centers{
				width: 230px;
				.v-select.searchable .dropdown-menu{
					left: -235px;
				}
			}
			.div-premium{
				width: 265px;
			}
			.div-opened{
				width: 135px;
			}
			.v-select.searchable .dropdown-menu{
				width: 700px;
			}
		}
	}
	.home-section-black{
		.second-line{
			// display: none;
		}
	}
	.home-convince{
		.title{
			margin-bottom: 40px;
		}
		.content{
			display: block;
			.container-item{
				margin: 0 0;
				width: 100%;
				display: flex;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: -o-flex;
				justify-content: center;
			}
			.item{
				& > .title{
					font-size: 20px;
					height: 55px;
				}
			}
		}
	}
	.home-enterprise-plans{
		.subtitle{
			width: auto;
			padding: 0 40px;
			font-size: 15px;
		}
	}
	.home-faq{
		.content{
		 	.faq-list{
				justify-content: center;
			}
		}
	}			
	.home-sport-center-join{
		height: auto;
		.home-fullwidth-container{
			.reasons{
				display: none;
			}
			.reasons-responsive{
				display: block !important;
				margin-top: 40px;
				.reason{
					width: 400px;
					height: 200px;
					padding: 20px;
					display: flex;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flexbox;
					display: -o-flex;
					flex-direction: column;
					background: white;
					margin-bottom: 20px;
					.title{
						font-size: 20px;
						height: 34px;
						color: #6d6d6d;
						font-weight: 800;
					}
					.line{
						height: 10px;
						background: #10abfb;
						margin-bottom: 15px;
					}
					.text{
						font-size: 13px;
    					line-height: 25px;
					}
				}
				.reason:nth-child(3){
					.title{
						height: 50px;
					}
				}
			}
		}
	}
	//Typography
	h1{
		font-weight: 900;
		font-size: 45px;
		text-transform: uppercase;
		line-height: 110%;
	}
	h2{
		font-size: 35px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 150%;
		&.section-title{
			text-align: center;
			position: relative;
			padding: 10px 0;
		}
	}
	h3{
		font-size: 22px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 150%;
	}
	h4{
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 150%;
	}
	h5{
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 150%;
	}
	h6{
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 150%;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		font-size: 14px;
		line-height: 150%;
	}
	.main-header{
		// position: relative;
		z-index: 99;
	}
	.content-wrapper{
	  margin-top: 0;
	}
	.mobile-container-fluid{
		width: inherit;
	}

	.top-bar{
		.social-links{
			float: left;
			ul{
				li{
					a{
						span{
							display: none;
						}
					}
				}
			}
		}
		.phone-info{
			border: none;
		}
		.auth-links{
			text-align: right;
			padding-bottom: 10px;
		}
	}
	.nav-bar{
		padding: 10px 0;
		height: auto;
		&.nav-bar-black{
			background: #000;
		}
		.small-cart-link{
			display: none;
		}
		.small-search{
			display: none;
		}
	}
	.logo{
		line-height: 30px;
		padding: 0 !important;
	}
	.nav-bar-black{
		.nav-box{
			background: #000000;
		}
	}
	.nav-box{
		display: none;
		position: absolute;
		width: 100%;
		background: $orange_1;
		left: 0;
		right: 0;
		top: 30px;
		padding: 30px 0;
		box-sizing: border-box;
		z-index: 9999;
		text-align: center;
		.main-nav{
			hr{
				display: block;
			}
			.mobile-menu{
				  display: flex;
				  display: -webkit-flex;
				  display: -moz-flex;
				  display: -ms-flexbox;
				  display: -o-flex;
			}
			width: 100%;
			& > ul{
				li{
					&:last-child{
						display: flex;
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flexbox;
						display: -o-flex;
    					justify-content: center;
    					a{
    						width: 140px;
    					}
					}
					display: block;
					width: 100%;
					padding: 10px 0;
					&.parent-nav{
						padding-right: 0 !important;
						a{
							display: inline-block;
							position: relative;
							&:after{
								right: -15px;
								top: 40%;
							}
						}
					}
					a{
						color: #fff;
						padding: 0;
					}
					&.active{
						background: #10abfd;
						a{
							color: #fff !important;
						}
					}
				}
			}
		}

	}
	.submenu{
		position: relative !important;
		width: 100%;
		border: none !important;
		margin-bottom: 10px;
		opacity: 1 !important;
		visibility: visible !important;
		li{
			padding: 0 !important;
			margin: 0;
			text-transform: none ;
			a{
				padding: 0;
				text-transform: none !important;
			}
		}
	}
	.show-submenu{

	}
	.parent-nav{
		.submenu{
			display: none;
		}
	}

	.nav-trigger{
		display: inline-block;
		width: 40px;
		height: 30px;
		box-sizing: border-box;
	}
	.bars{
		width: 40px;
		height: 30px;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		> span{
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: #10abfd;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
			&:nth-child(1) {
				top: 0px;
			}
			&:nth-child(2){
				top: 12px;
			}
			&:nth-child(3){
				top: 12px;
			}
			&:nth-child(4){
				top: 24px;
			}
		}
		&.open{
			span{
				&:nth-child(1) {
					top: 18px;
					width: 0%;
					left: 50%;
				}
				&:nth-child(2) {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				&:nth-child(3) {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
				&:nth-child(4) {
					top: 18px;
					width: 0%;
					left: 50%;
				}
			}
		}
	}
	.main-wrapper .welcome-section{
		margin-top: 0;
		margin-bottom: 0;
		height: calc(100vh - 102px);
		width: 100%;
		background-position: center center;
		background-size: cover;
		text-align: center;
		top: 0;
		.welcome-slider-item{
			height: calc(100vh - 102px);
			padding-top: 0;
		}
	}
	.home-complementa-first-line{
		height: 102px;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		align-items: center;
	}
	.decor-corner-lines{
		display: none;
	}
	.discount-box{
		.discount-percent{
			z-index: 10;
			position: relative;
			font-size: 100px;
		}
		.discount-img{
			width: 100%;
			background-size: cover;
			right: 0;
			left: 0;
		}
	}
	.prices-section{
		.mobile-container-fluid{
			width: 100%;
			margin: 0;
			padding: 0;
		}
		.discount-box{
			width: 100%;
			float: none;
			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
			flex-direction: column;
			height: 400px;
			.discount-img{
				// right: -450px;
				width: auto;
			}
		}
		.prices-block{
			float: none;
			width: 100%;
			.price-box{

			}
		}
	}
	.section-more-questions {
		.el-row {
			.title-question{
				font-size: 12px;
			}
			.body-question{
				font-size: 14px;
				font-weight: 300;
			}
			hr{
				margin-top: 12px !important;
			}
		}
			
	}
	.home-plans{
		.left-side{
			width: 100%;
			padding: 0 100px;
			float: none;
		}
	}
	.text-section{
		margin: 40px 0;
		.link-readmore{
			margin-bottom: 20px;
		}
	}
	.our-team{
		height: auto;
		display: block;
		.our-team__content{
			margin-top: 10px;
		}
		.our-team-bg{
			&:after{
				display: none;
			}
			&:before{
				display: none;
			}
		}
		.our-team__item{
			margin: 20px 0;
			text-align: center;
		}
		.link-15{
			margin: 20px 0 20px;
		}
	}
	.banner-trainer.negative-margin-top{
		margin: 100px 0;
	}
	.main-banner-2{
		height: auto;
		margin-top: 20px;
		.row{
			height: auto;
			padding-bottom: 40px;
		}
		h3{
			margin-top: 30px;
			font-size: 25px;
			line-height: 120%;
			text-align: center;
		}
		.banner-2-cols{
			display: block;
			.banner-2-col-1{
				text-align: center;
			}
			.banner-2-col-2{
				text-align: center;
			}
		}
	}
	.video-box{
		padding: 30px 0;
		.video-box-container{
			h3{
				line-height: 140%;
				padding: 20px 0;
			}
		}
	}
	.fullheight{
		height: auto;
	}
	.news-item{
		//width: 100%;
		height: auto;
		margin-bottom: 20px !important;
		padding: 0 10px !important;
		.news-item__img{
			width: 100%;
			float: none;
			img{
				height: auto;
			}
		}
		.news-item__content{
			width: 100%;
			float: none;
			padding: 20px;
			height: auto;
			&:after{
				display: none;
			}
			&:before{
				display: none !important;
			}
		}
	}
	.counters-section{
		margin: 30px 0;
	}
	.product-item{
		.product-item__desc{
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.subscribe-section{
		overflow: hidden;
		input{
			width: 100%;
			margin: 10px 0;
		}
	}

	//Reviews slider
	.reviews-img__js{
		&:before{
			display: none;
		}
		&:after{
			display: none;
		}
		.slick-arrow{
			width: 30px;
			height: 30px;
			text-indent: -9999px;
			border: 1px solid $buttonBg;
			background: transparent;
			border-radius: 50%;
			outline: none;
			top: 45%;
			position: absolute;
			line-height: 28px;
			&:after{
				font-family: 'FontAwesome';
				color: $buttonBg;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				display: block;
				text-indent: 0;
				line-height: 28px;
				text-align: center;
			}
			&.slick-prev{
				left: 10px;
				&:after{
					content: "\f060";
				}

			}
			&.slick-next{
				right: 10px;
				&:after{
					content: "\f061";
				}
			}
		}
	}
	.reviews-txt__js{
		.reviews-txt-item{
			padding: 0;
		}
	}
	// Footer
	.main-footer .container > .row > .col-md-4{
		border: none;
		padding-left: 20px;
	}
	.main-footer-middle > .container > .row > div{
		padding-left: 20px;
	}
	.main-footer h5{
		padding-bottom: 5px;
		padding-top: 20px;
	}
	.social-links{
		text-align: center;
	}
	// Buttons
	.button{
		box-sizing: border-box;
		position: relative;
		z-index: 10;
		transition: .2s;
		&.button-border{
			background: transparent;
			line-height: 52px;
			border: 1px solid #e7f0fc;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 15px;
			display: inline-block;
			color: $buttonBorderTextColor;
			padding: 0 40px;
			// border-radius: 50px;
			margin: 10px 0;

			&:hover{
				background: white;
				color: #10abfb !important;
				&:after{
					border-left-color: #10abfb !important;
				}
			}
		}
	}
	.footer-nav {
		ul{
			li{
				a{
					font-size: 13px;
				}
			}
		}
	}


	/* ======================= Inner pages styles ===================== */

	.ul-4-col, .ul-3-col{

		li{
			width: 49%;
		}
	}


	/* ======================= About page ===================== */

	.parallax-img_about{
		margin-top: 0;
		perspective: 0;
		height: auto;
		overflow: inherit;
		position: relative;
		.img_level-2{
			transform: none;
			position: absolute;
			right: 0;
		}
		.img_level-1{
			position: static;
			transform: none;
		}
	}


	/* =================== Cart ================== */
	.cart-controls{
		.button-clear{
			margin-right: 20px;
		}
	}


	/* =================== Classes ================== */
	#sport-center-detail{
		.availability-icon{
			display:none;
		}
	}
	#classes,
	#sport-center-detail{
		margin-top: 0px;
		.no-classes-found{
			position: inherit;
			margin-top: 0px;
			margin-bottom: 80px;
		}
		.class-row{
			display: block;
			height: auto;
			padding: 15px 15px;
			text-align: left;
			.schedule{
				color: gray;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 10px;
				padding: 0 15px;
			}
			.sport-center-name{
				font-size: 15px;
				margin-bottom: 10px;
			}
			.class-text {
				margin-bottom: 15px;
				a{
					color: #11ABFD !important; 
					text-decoration: underline;
				}
			}
			.div-teacher{
				margin-bottom: 15px;
			}
			.text-available{
				display: block;
				margin-bottom: 10px;
			}
			button.cancel{
				display: block;
				font-size: 13px;
				margin-left: 0;
				margin-top: 6px;
			}
			.buy-class-button{
				button{
					padding: 8px 20px;
					font-size: 15px;
				}
				.button-maximum{
					width: auto;
					margin-top: 0px;
				}
			}
			.availability-icon{
				display:none;
			}
			.div-buttons{
				display: block;
			}
		}
		.right-side{
			margin-left: 0px;
		}
		.table-classes{
			margin-left: 0px;	
			margin-bottom: 80px;
		}
	}
	.info-banner{
		.info-banner-desc{
			height: auto;
		}
		.info-banner-img{
			height: auto;
			width: auto;
			img{
				position: relative;
				height: auto;
				width: 100%;
			}
		}
		.nopadding-right{
			padding-right: 15px;
		}
		.nopadding-left{
			padding-left: 15px;
		}
	}
	/* =================== Contacts ================== */
	#contacts-map{
		//display: none;
		position: relative;
		height: 300px;
		width: 100%;
		margin-top: 50px;
	}
	.contacts-page-content{
		padding-left: 0;
	}

	/* ================ Comments ================= */
	.widget-box{
		padding-left: 0;
	}

	/* ================= Catalog ==================== */
	.sorting-item{
		margin: 10px 0;
	}
	#slider-price{
		margin: 40px 0;
	}

	/* ================== Additional styles ===================== */
	.nav-mobile{
		position: static;
		.content{
			position: relative;
			i{
				color: white;
				cursor: pointer;
				display: block;
				position: absolute;
				right: 60px;
				font-size: 35px;
				margin-top: -3px;
			}
		}
	}

	#sport-centers{
		margin-top: 0px;
	}

	#sport-centers .map-section .sport-centers-list{
		width: 100%;
		margin-top: 50px;
	}

	#sport-centers .map-section .sport-centers-map{
		display: none;
	}

	#sport-centers .map-section .sport-centers-list .left-side-container .list-container .list{
		height: auto !important;
		overflow-y: auto;
	}
	#sport-centers .map-section .home-map-sport-center .sport-center-logo a{
		font-size: 14px;
	}

	.home-complementa {
		.first-line {
			span{
				margin-right: 0px;
			}
			.title{
				padding-left: 0;
			}
			.description{
				padding-left: 0;
			}
		}
	}
	#sport-center-detail{
		margin-top: 40px;
		.content-center-detail {
			.center-name{
				font-size: 27px;
				.container-stars{
					display: block;
					margin-top: 10px;
					.rate{
						margin-left: 0;
					}
				}
				
			}
			.speciality{
				font-size: 17px;
				margin-top: 10px;
			}
			.div-left{
				width: 100%;
				.address-left{
					display: block;
					margin-top: 20px;
					.div-address{
						color: white;
						background: #313131;
						padding: 20px 30px;
						border-radius: 5px;
						-webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
						-moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
						box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2); 
						.district-name{
							font-size: 20px;
							font-weight: bold;
							text-transform: uppercase;
							img{
								margin-right: 5px;
							}
						}
						.detail-address{
							margin-top: 10px;
							font-weight: 100;
							span{
								font-weight: 500;
							}
						}
					}
					.div-button-map{
						margin-top: 15px;
						button{
							width: 100%;
							font-size: 18px;
							color: #409EFF;
							border-color: #409EFF;
							background-color: white;
						}
						.button-hide-map{
							margin-bottom: 15px;
						}
					}
					.sport-centers-map{
						border: 1px solid #cacaca;
						border-radius: 5px 5px;
						-webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
						-moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
						box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2); 
						.vue-map{
							border-radius: 0 0 5px 5px;
						}
					}
				}
				.div-available{
					margin-top: 20px;
				}
				.div-links{
					display: block;
					background:white; 
					border-radius:5px; 
					margin-top: 30px;
					padding: 30px 0 20px 0;
					border: 1px solid #cacaca;
					-webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
					-moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
					box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
					.links{
						display: flex;
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flexbox;
						display: -o-flex;
						margin-bottom: 12px;
						padding: 0 30px;
						div{
							width: 17px;
						}
						span{
							margin-left: 10px;
							color: #9a9a9a;
							font-size: 14px;
							font-weight: 600;
							display: block;
							width: calc(100% - 17px);
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						a{
							width: calc(100% - 17px);
							&:hover{
								color: #9a9a9a;
							}
						}
					}
					.description{
						display: none;
					}
					.links-line{
						width: 100%;
						margin: 15px 0;
					}
					.schedules{
						padding: 0 30px;
						p{
							font-size: 18px;
							font-weight: 600;
							color: #52abff;
							margin-bottom: 10px;
						}
						div{
							font-size: 14px;
							color: #9b9a9a;
							margin-bottom: 8px;
							span{
								font-weight: 600;
							}
						}
					}
				}
				.other-sedes{
					.sede{
						display: block;
						width: 100%;
						.info{
							margin-left: 0px;
							margin-top: 5px;
						}
						.sede-logo{
							display: none;
						}
						.sede-media{
							display:block;
							width: 100%;
						}
						.div-logo{
							width: 100%;
    						height: auto;
						}
					}
				}
				
			}
			.div-right{
				width: 100%;
				.div-address{
					display: none;
				}
				.sport-centers-map{
					display: none;
				}
				.div-links{
					display: none;
				}
				.div-centers-same{
					.center-info{
						display: block;
						.info{
							margin-left: 0px;
							margin-top: 5px;
						}
						.sede-logo{
							display: none;
						}
						.sede-media{
							display:block;
							width: 100%;
						}
						.div-logo{
							width: 100%;
    						height: auto;
						}
					}
				}
				.div-centers-near{
					.center-info{
						display: block;
						.info{
							margin-left: 0px;
							margin-top: 5px;
						}
						.sede-logo{
							display: none;
						}
						.sede-media{
							display:block;
							width: 100%;
						}
						.div-logo{
							width: 100%;
    						height: auto;
						}
					}
				}
			}
		}  
	}
}
