/* ---------------------------------------------------------------- */
/* ---------------- Styles for 320px mobile devices --------------- */
/* ---------------------------------------------------------------- */
@media only screen and (max-width : 320px){

	.top-bar{
		.social-links{
			float: none;
			ul{
				li{
					a{
						span{
							display: none;
						}
					}
				}
			}
		}
		.phone-info{
			padding-left: 0px;
			margin-left: 0px;
			margin-top: 10px;
			text-align: center;
			border: none;
			float: none;
			width: 100%;
		}
		.auth-links{
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.button{
		line-height: 120% !important;
		padding: 15px !important;
		&:after{
			display: none;
		}
	}
	.reviews-img__js{
		.slick-arrow{
			display: none;
		}
	}
	.footer-logo{
		text-align: center;
	}
	.main-footer{
		h5{
			text-align: center;
		}
		p{
			text-align: center;
		}
		a{
			display: block;
			text-align: center;
		}
	}
	.prices-box{
		height: auto;
	}
	.home-sport-centers-section{
		.sport-centers-filter{
			.div-district{
				.v-select.searchable .dropdown-menu{
					left: -50px;
				}
			}
			.div-classes{
				.v-select.searchable .dropdown-menu{
					left: -70px;
				}
			}
			.div-centers{
				.v-select.searchable .dropdown-menu{
					left: -10px;
				}
			}
			.v-select.searchable .dropdown-menu{
				width: 250px;
			}
		}
	}

}