/* ====================== Popup styles ====================== */

.popup-window{
  background: $white;
  width: 390px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  h3{
    font-size: 30px;
    font-weight: 500;
  }
  span{
    color: $colorTextLighter;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
    display: block;
  }
  a{
    font-size: 14px;
    font-weight: 300;
    &.block{
      margin-top: 10px;
    }
  }
  label{
    font-weight: 500;
    color: $mainTextColor;
    text-transform: uppercase;
    margin-top: 5px;
  }
  .button{
    margin: 30px 0 15px;
    width: 100%;
    &:disabled {
      background: lightgrey;
    }
  }
  .mfp-close{
    left: 50%;
    margin-left: -22px;
    color: #fff;
    top: -50px
  }
}
.social-signin{
  padding-top: 10px;
  span{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
  }
  .social-sign{
    display: inline-block;
    padding: 7px 10px;
    margin: 10px 5px 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: .2s;
    span{
      display: inline-block;
      color: $white;
      letter-spacing: 2px;
      font-size: 10px;
      vertical-align: middle;
      padding-left: 10px;
    }
    a{
      display: inline-block;
      vertical-align: middle;
    }
    &:hover{
      opacity: .8;
      text-decoration: none;
    }
  }
  .sign-facebook{
    color: $white;
    background: $facebookBg;

  }
  .sign-twitter{
    color: $white;
    background: $twitterBg;
  }

}

.v--modal-overlay{
  background: rgba(0, 0, 0, 0.7) !important;
}