/* ================= Sidebar ==================== */

.widget-box{
  margin: 10px 0 25px;
  padding: 0 0 0 20px;
  .widget-inner{
    margin-top: 15px;
  }
}

 /* ----------------- Widget search --------------*/
.widget-search{
  position: relative;

  .search-btn{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
    background: none;
    border: 0;
    outline: none;
  }
  .search-inp{
    box-sizing: border-box;
    padding-right: 50px;
  }
}

.color-rows{
  li{
    font-size: 14px;
    padding: 10px;
    font-weight: 300;
    &:before{
      content: '·';
      color: $clrLinks;
      margin-right: 10px;
    }
    &:nth-child(odd){
      background: #f3f3f3;
    }
  }
}

/* ----------------- Tags --------------*/
.tag-item{
  color: $colorTextLighter;
  font-size: 13px;
  background: #f2f2f2;
  padding: 10px 10px;
  display: inline-block;
  margin: 4px;
  border-radius: 50px;
  transition: .2s;
  &:hover{
    background: $buttonBg;
    color: #ffffff;
    text-decoration: none;
  }
  .active{
    background: $buttonBg;
    color: #ffffff;
    text-decoration: none;
  }
}

/* ---------- Navigation (menu) on sidebar ------------ */

.sidebar-nav{
  > li{
    padding: 15px 0;
    border-bottom: 1px solid $borderColor;
    > a {
      color: $mainTextColor;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      display: block;
    }
  }
  .has-child{
    padding: 15px 0;
    border-bottom: 1px solid $borderColor;
    > a{
      color: $mainTextColor;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      display: block;
      text-decoration: none;
      &:after{
          content: '\f105';
          font-family: 'FontAwesome';
          font-size: 14px;
          display: inline-block;
          margin: 0 0 0 10px;
          transition: .2s;
      }
    }
    &.show-inner-nav{
      >ul.inner-nav{
        position: relative;
        visibility: visible !important;
        opacity: 1 !important;
        height: auto;
      }
    }
    &.current,
    &.show-inner-nav{
      > a{
        &:after{
          content: '\f107';
          font-family: 'FontAwesome';
        }
      }
    }
    .inner-nav{
      opacity: 0;
      visibility: hidden;
      margin: 10px 0 0;
      transition: .2s;
      height: 0;
      position: absolute;
      .has-child{
        padding: 0 0 0px 0;
        margin: 0;
        border-bottom: none;
      }
      .inner-nav{
        padding: 0;
        margin: 0;
        li{
          padding: 0 0 0 20px;
        }
      }
      li{
        a{
          color: $mainTextColor;
          font-size: 12px;
          display: block;
          padding: 4px 0 4px 18px;
        }
      }
    }
  }
  .current{
    a{
      color: $colorTextLighter !important;
      &:hover{
        color: $colorTextLighter !important;
        text-decoration: none;
      }
    }
  }
  a{
    transition: .2s;
    &:hover{
      color: $clrLinks !important;
      text-decoration: none;
    }
  }
}


/* ----------- Advantages icons ----------- */
.advantages-icons{
  margin: 50px 0;
}
.advantages-icons-item{
  display: flex;
  align-items: center;
  margin: 30px 0;
  .advantages-icon{
    font-size: 40px;
    color: $clrLinks;
    margin-right: 10px;
  }
  .advantages-text{
    span{
      font-size: 12px;
      color: $colorTextLighter;
      font-weight: 300;
    }
  }
}

/* ----------- Top rated on sidebar ----------- */

.top-rated-sidebar{

  .top-rated-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $borderColor;
    padding: 0 0 20px 0;
    margin: 20px 0;
    .top-rated-img{
      width: 70px;
      height: 70px;
      border: 1px solid $borderColor;
      box-sizing: border-box;
      padding: 4px;
      margin-right: 15px;
      img{
        min-width: 100%;
        min-height: 100%;
      }
    }
    .top-rated-title{
      a{
        color: $mainTextColor;
        transition: .2s;
        &:hover{
          color: $clrLinks;
          text-decoration: none;
        }
      }
      .price{
        font-size: 16px;
        font-weight: 300;
        padding: 10px 0;
        .old-price{
          color: $colorTextLighter;
          padding-right: 10px;
        }
        .current-price{
          color: $clrLinks;
        }
      }
    }
  }
}

