/* ---------------------------------------------- */
/* ------------------- Typography --------------- */
/* ---------------------------------------------- */
body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  color: $mainTextColor;
}
h1{
  font-weight: 900;
  font-size: 76px;
  text-transform: uppercase;
  line-height: 110%;
}
h2{
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 130%;
  &.section-title{
    text-align: center;
    position: relative;
    padding: 10px 0;
  }
}
h3{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 150%;
}
h4{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 150%;
}
h5{
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 150%;
}
h6{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 150%;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 160%;
  &.p-18{
    font-size: 18px;
  }
}
a{
  font-family: 'Montserrat', sans-serif;
  color: $clrLinks;
  outline: none !important;
  &:hover{
    color: $mainTextColor;
  }
}
strong, b{
  font-weight: bold;
}
i{
  font-style: italic;
}

 /* ------------ Color variations -------- */

.clr-lighther{
  color: $colorTextLighter;
}
.clr-colorify{
  color: $clrLinks;
}
.clr-white{
  color: #ffffff !important;
}

/* ------------ Font styles -------- */

.txt-uppercase{
  text-transform: uppercase;
}
.txt-lowercase{
  text-transform: lowercase;
}
.txt-crossed{
  text-decoration: line-through;
}

/* ------------ Links -------- */
.link-readmore{
  color: $clrLinks;
  font: 500 15px 'Montserrat', sans-serif;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 5px 20px 5px 0;
  transition: .2s;
  &:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
    border-top: 4px solid transparent;
    border-left: 6px solid $mainTextColor;
    border-bottom: 4px solid transparent;
  }
  &:hover{
    color: $clrLinks;
  }
  &.clr-white{
    &:after{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -5px;
      border-top: 4px solid transparent;
      border-left: 6px solid $clrWhiteLinks;
      border-bottom: 4px solid transparent;
    }
  }
}
.link-15{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}
a{
  h5{
    color: $mainTextColor;
  }
}
