#buyPlanConfirmation{
    margin-top: 81px;
}
.el-step__head.is-process{
    color: #4f9eff !important;
    border-color: #4f9eff !important;
}
.el-step__title.is-success{
    color: #9a9fa6 !important;
    font-weight: 600;
}
.el-step__head.is-success{
    color: white !important;
    border-color: #4f9eff !important;
}
.el-step__head.is-success .el-step__icon-inner{
    font-weight: bold !important;
    font-size: 15px;
}
.el-step__head.is-success .el-step__line{
    background: #4f9eff;
}
.el-step__head.is-success .el-step__icon.is-text{
    background: #4f9eff;
}
.el-step__title.is-process{
    font-weight: 600 !important;
    color: #9a9fa6 !important;
}
.el-step__title.is-finish{
    color: #9a9fa6 !important;
    font-weight: 600 !important;
}
.el-step__title{
    font-size: 13px !important;
    font-size: 12px !important;
    line-height: 16px;
    margin-top: 12px;
}
.button-retro{
    text-align: center;
    border-right: 2px solid #c3c2cc;
}
.button-retro .el-button--info {
    background-color: #313131 !important;
    border-color: #313131 !important;
    padding: 9px 16px !important;
}
.el-button--info i {
    font-size: 30px;
}
.confirm-buy-label{
    color:#474646;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    line-height: 25px;
}
.confirm-buy-label span{
    color:#686767;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}
.message-confirmation{
    box-shadow: 4px 5px 28px 6px  rgba(209,209,209);
    margin-top:40px;
    margin-bottom:80px;
    text-align:center;
    padding: 50px;
}
.div-gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#218df5+0,6e17d8+100 */
    background: #218df5; /* Old browsers */
    background: -moz-linear-gradient(top, #218df5 0%, #6e17d8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #218df5 0%,#6e17d8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #218df5 0%,#6e17d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#218df5', endColorstr='#6e17d8',GradientType=0 ); /* IE6-9 */
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: inline-block;
    color: white;
}
.div-gradient i{
    font-size: 60px;
    margin-top: 60px;
}
.mail-message{
    margin-top: 20px;
    line-height: 23px;
    color: #6c6c6c;
    font-size: 17px;
    font-weight: 400;
}
.mail-message span{
    font-weight: 600;
}
.button-account,
.button-clases{
    width:170px;
    padding: 8px 15px;
    font-size: 12px;
}
.button-account,
.button-account:hover{
    border-color: #11abfd;
    color: #11abfd;
    background: white;
}
.button-clases,
.button-clases:hover{
    border-color: #11abfd;
    color: white;
    background: #11abfd;
    margin-left: 16px;
}
.button-account:active,
.button-clases:active{
    border: 2px solid #11abfd;
}