.header-row{
    background: #161616; 
    display:flex; 
    justify-content:center;
    height:90px;
    /* border-bottom: 2px solid  #333333; */
}
.header-main{
    display: flex;
}
.item-header{
    height: 100%;
    /* padding-top: 30px; */
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    justify-content: center;
    flex-direction: column;
}
.item-header:nth-child(2){
    text-align: center;
    flex: 1;
}
.item-header img{
    width: 193px;
}
.item-header .icon-house{
    width: 22px;
    margin-left: 60px;
}
.item-header:nth-child(3){
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    flex-direction: row;
    align-items: center;
    padding-right: 31px;
    justify-content: flex-end;
    width: 265px;
}
.item-header:nth-child(3) img{
    height: 19px;
}
.item-header .icon-galleta{
    width: 25px;
    cursor: pointer;
}
.item-header .username{
    color: white;
    font-weight: 500;
    font-size: 25px;
    line-height: 21px;
}
.item-header .code{
    font-weight: 300;
    font-size: 14px;
    color: #929292;
}