{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <link rel="stylesheet" href="{% static 'css/header-account.css' %}">
        <title>Rockfit</title>

        {% include 'partials/base_header.html' %}
        
    </head>
    {% block extrahead %}
    {% endblock %}
    <body>
        <div class="main-wrapper" id="my-account-page">
            <!-- Start Main Header -->
            <header class="main-header" id="auth" style="display: none;">
                <div class="header-row">
                    <div class="col-md-12 col-lg-9 col-xl-9 col-sm-12 col-xs-12 header-main">
                        <div class="item-header">
                            <div>
                                <a href="/" class="logo"><img src="{% static 'img/logo.png' %}"></a>
                                <a href="/"><img  class="icon-house" src="{% static 'img/house.png' %}"></div></a>
                            
                        </div>
                        <!-- <div class="col-xs-2 item-header">
                            <img  class="icon-house" src="{% static 'img/house.png' %}">
                        </div> -->
                        <div class="item-header">
                            <p class="username">${username}</p>
                            <p style="display:none;" id="user-code" class="code" v-if="code">Código de cliente: ${code}</p>
                        </div>
                        <div class="item-header" style="text-align:right;">
                            <img  class="icon-galleta" src="{% static 'img/galleta.png' %}">
                        </div>
                    </div>
                </div>
                <div class="container-menu-account" id="menu-account">
                    <div class="content">
                        <div class="div-close">
                            <i class="fas fa-arrow-right close-menu"></i>
                        </div>
                        <div class="block-name">
                            <p class="username">${email}</p>
                        </div>
                        <!-- <div class="extra">
                            <span style="float:left;" class="my-info">MIS DATOS</span><span style="float:right" class="my-plan" v-show="havePlan">MI PLAN</span>
                        </div> -->
                        <div class="item normal" v-if="havePlan && !havePendingPlan" @click="app.reactiveModal = true">
                            REACTIVAR MEMBRESÍA
                        </div>
                        <div class="item normal" v-if="havePlan && havePendingPlan">
                            <a href="{% url 'buy-plan' %}">CAMBIAR DE PLAN</a>
                        </div>
                        <div class="item normal" v-if="!havePlan">
                            <a href="{% url 'buy-plan' %}">SUSCRIBIRME A UN PLAN</a>
                        </div>
                        <div class="item normal" v-if="havePlan && !planIsFreeze && canPlanFreeze" @click="app.freezePlanModal = true">
                            CONGELAR PLAN
                        </div>
                        <div class="item normal" @click="app.referFriendpassModal = true">
                            PLAN DE REFERIDOS
                        </div>
                        <div class="item normal" @click="showModalChangePassword">
                            CAMBIAR CONTRASEÑA
                        </div>
                        <div class="item normal"  v-if="havePlan && havePendingPlan" @click="app.cancelPlanModal = true">
                            CANCELAR MEMBRESÍA
                        </div>
                        <div class="item normal" v-if="havePlan" @click='app.friendpassModal = true'>
                            USAR FRIENDPASS
                        </div>
                        <div class="item normal" @click='app.closeSesionModal = true' style="background: #828080;">
                            CERRAR SESIÓN
                        </div>
                    </div>
                </div>
            </header><!-- /.main-header -->
            <!-- End Main Header -->

            <!-- Start Main Content Part -->
            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
            <!-- End Main Content Part -->
            
        </div><!-- /.main-wrapper -->

        <!-- Start Main Footer -->
        <footer class="main-footer">
                <div class="main-footer-top hidden-xs">
                    <div class="container mobile-container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-sm-12 hidden-xs">
                                <div class="footer-nav">
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <li><a href="#">SUSCRIBIRME A UN PLAN</a></li>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <li><a href="#">COMPRAR PASE INDIVIDUAL</a></li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-3 col-xs-12 hidden-sm">
                                <div class="footer-logo">
                                    <a href="" class="site-title"><img src="{% static 'img/logo.png' %}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.main-footer-top -->
                <div class="main-footer-middle">
                    <div class="container mobile-container-fluid">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <h5>PLAN DE REFERIDOS</h5>
                                        <p>Expandir y simplificar la actividad<br>deportiva de todas esas personas.<br><a>REFERIR AMIGO</a></p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <h5>RECLAMOS</h5>
                                        <p>Expandir y simplificar la actividad<br>deportiva de todas esas personas.</p>
                                    </div>
                                    <!-- <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-5 col-sm-6">
                                                <h5>TELEPHONE:</h5>
                                                <a href="#">123 555 1234</a>
                                            </div>
                                            <div class="col-lg-12 col-md-7 col-sm-6">
                                                <h5>EMAIL:</h5>
                                                <a href="#">info@demosportlife.com</a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4 hidden-sm hidden-xs">
                                <div class="footer-about">
                                    <h5>ACERCA DE</h5>
                                    <p>Aquí ya puede ver debate sobre ¿qué es rock en términos de estilo de vida? Nosotros lo percibimos como personas activas, personas que actúan en lugar de sólo hablar o planfificar, incluso personas atrevidas.</p>
                                </div>
                                <div class="foot-about-bg"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.main-footer-middle -->
                <div class="main-footer-bottom">
                    <div class="container mobile-container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-7 col-xs-12 copyrights-box">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 hidden-xs" style="background: #292929;">
                                        <a href="#" class="arrow-top"><i class="icon-up-arrow"></i></a>
                                    </div>
                                    <div class="col-md-11 col-sm-11 col-xs-12">
                                        <p>Copyright © {% now 'Y' %} RockFit Life. Todos los derechos e izquierdos reservados.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12 social-links-box">
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;<span>facebook</span></a></li>
                                       <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.main-footer-bottom -->
            </footer><!-- /.main-footer -->
        <!-- End Main Footer -->

        <!-- Include JS -->
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
        <script src="{% static 'js/object.entries.polyfill.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-3.2.0.min.js' %}"></script>
        <script src="{% static 'vue/dist/vue.min.js' %}"></script>
        <script src="{% static 'vue-js-modal/dist/index.js' %}"></script>
        <script src="{% static 'lodash/dist/lodash.min.js' %}"></script>
        <script src="{% static 'lodash/dist/lodash.fp.min.js' %}"></script>
        <script src="{% static 'vuelidate/dist/vuelidate.min.js' %}"></script>
        <script src="{% static 'vuelidate/dist/validators.min.js' %}"></script>
        <script src="{% static 'axios/dist/axios.min.js' %}"></script>
        <script src="{% static 'noty/lib/noty.min.js' %}"></script>
        <script src="{% static 'vue-google-maps/dist/vue-google-maps.js' %}"></script>
        <script src="{% static 'vue-select/dist/vue-select.js' %}"></script>
        <script src="{% static 'vue-the-mask/dist/vue-the-mask.js' %}"></script>
        <script src="{% static 'moment/min/moment.min.js' %}"></script>
        <script src="{% static 'js/vue-spinner.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://checkout.culqi.com/v2"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="//unpkg.com/element-ui/lib/umd/locale/es.js"></script>
        
        <script>
            Vue.use(window.VueTheMask.default)
            Vue.use(window["vue-js-modal"].default)
            Vue.use(window.vuelidate.default)
            Vue.use(window.VueGoogleMaps, {
              load: {
                key: 'AIzaSyARnUGPZ_zsoy15B-ZwOz6y_9vWd7Kxc6o',
                v: '3',
              },
              installComponents: false,
            });

            Vue.component('google-map', window.VueGoogleMaps.Map)
            Vue.component('googlemaps-marker', window.VueGoogleMaps.Marker)
            Vue.component('googlemaps-infowindow', window.VueGoogleMaps.InfoWindow)
            Vue.component('v-select', VueSelect.VueSelect);

            var emailValidator = window.validators.email
            var requiredValidator = window.validators.required
            var minLengthValidator = window.validators.minLength
            var numericValidator = window.validators.numeric
            var integerValidator = window.validators.integer
            var alphaValidator = window.validators.helpers.regex('alphaRegex',/^[a-zA-Z\s]+$/)
            var registerUserUrl = "{% url 'register-user' %}"
            var loginUserUrl = "{% url 'login-user' %}"
            var havePlanUrl = "{% url 'have-plan' %}"
            var resetPasswordUrl = "{% url 'password_reset' %}"
            var csrf_token = "{{ csrf_token }}"
            var code = "{{request.user.codes.first.code}}"
            var username = "{{request.user.first_name.upper}}"
            var email = "{{request.user.email}}"
        </script>

        <script src="{% static 'js/auth.js' %}"></script>
        {% block extrajs %}
        {% endblock %}
    </body>
</html>