{% extends 'base_user_account.html' %}
{% load tz %}
{% load static %}
{% block extrahead %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}"> -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
{% endblock %}
{% block content %}
<div id="my-account" style="display:none;">
    <el-row class="first-menu">
        <div>
            <a href="{% url 'classes' %}"><span>BUSCAR CLASES</span></a><a href="{% url 'sport-centers' %}"><span>CENTROS DEPORTIVOS</span></a>
        </div>
    </el-row>
    <el-row :class="{'menu-account': true, 'hide-plan': havePlan == false }">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="tab-menu active"><a href="#my-activity" aria-controls="my-activity" role="tab" data-toggle="tab">MI ACTIVIDAD</a></li>
            <li role="presentation" class="tab-menu plan" v-if="havePlan"><a href="#my-plan" aria-controls="my-plan" role="tab" data-toggle="tab">MI PLAN</a></li>
            <li role="presentation" class="tab-menu"><a href="#my-shopping" aria-controls="my-shopping" role="tab" data-toggle="tab">MIS COMPRAS</a></li>
            <li role="presentation" :class="{'tab-menu': true, 'info': true}"><a href="#my-info" aria-controls="my-info" role="tab" data-toggle="tab">MIS DATOS</a></li>
        </ul>
        <el-select v-model="selectedTab" placeholder="Select" class="tabs-select" @change="setTab">
            <el-option label="MI ACTIVIDAD" value="my-activity"></el-option>
            <el-option label="MI PLAN" value="my-plan" v-if="havePlan"></el-option>
            <el-option label="MIS COMPRAS" value="my-shopping"></el-option>
            <el-option label="MIS DATOS" value="my-info"></el-option>
        </el-select>
    </el-row>
    <div class="container mobile-container-fluid">
        <el-row class="content">
            <el-col :xl="20" :sm="24" :md="20" :xs="24">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="my-activity">
                        <el-row class="section-main">
                            <div class="title-plan">MIS RESERVAS</div>
                            <img src="{% static 'img/line-title.png' %}" class="line special">
                            <el-col :span="24" class="reservations">
                                <el-row class="header" :gutter="20">
                                    <el-col :span="3">Fecha</el-col>
                                    <el-col :span="5">Horario</el-col>
                                    <el-col :span="5">Centro deportivo</el-col>
                                    <el-col :span="5">Clase</el-col>
                                    <el-col :span="2"></el-col>
                                </el-row>
                                <el-row class="item" :id="'reservation-' + reserve.reservation_id" :gutter="20" v-for="reserve in reservations">
                                    <!-- <el-col :span="3" class="format-date">{{activity.day|date:"d/m/Y"}}</el-col> -->
                                    <el-col :span="3" class="format-date">${reserve.day}</el-col>
                                    <el-col :span="5">${reserve.time} - ${reserve.time_finish}</el-col>
                                    <el-col :span="5">
                                        <a :href="'/centros-deportivos/' + reserve.slug">${reserve.sport_center_name}</a>
                                    </el-col>
                                    <el-col :span="5"><span class="label-class">Clase:&nbsp;</span>${reserve.activity_name}</el-col>
                                    <el-col :span="3"><span class="show-class" @click="showClass(reserve)">Ver pase</span></el-col>
                                    <el-col :span="3">
                                        <a @click="showCanceledReserveDialog(reserve.reservation_id, reserve.activity_schedule_id,reserve.day_for_cancel)" v-if="reserve.cancellable">Cancelar</a>
                                        <span class="cancel" v-else>Cancelar</span>
                                    </el-col>
                                </el-row>
                                <p class="empty-coming-activities" v-if="reservations.length == 0">NO HAY RESERVAS</p>
                                
                            </el-col>
                        </el-row>
                        <el-row class="section-main">
                            <div class="title-plan">MIS ULTIMAS VISITAS</div>
                            <img src="{% static 'img/line-title.png' %}" class="line">
                            <el-col :span="24" class="visits" :gutter="20">
                                <el-row class="header" :gutter="20">
                                    <el-col :span="5">Fecha de visita</el-col>
                                    <el-col :span="7">Centro deportivo</el-col>
                                    <el-col :span="6">Clase</el-col>
                                    <el-col :span="6">Compra</el-col>
                                </el-row>
                                <el-row class="item" :gutter="20" v-for="visit in pastVisits">
                                    <el-col :span="5" class="format-date">${visit.day}</el-col>
                                    <el-col :span="7" ><a :href="'/centros-deportivos/' + visit.slug" target="_blank">${visit.sport_center_name}</a></el-col>
                                    <el-col :span="6"><span class="label-class">Clase:&nbsp;</span>${visit.activity_name}</el-col>
                                    <el-col :span="6" :class="{'opacity': visit.buy_type != 'Membresía actual'}">${visit.buy_type}</el-col>
                                </el-row>
                                <el-row class="div-more" v-if="haveMorePastVisits">
                                    <p @click="loadPastVisits">Ver más</p>
                                    <i class="fal fa-angle-down" size="5x"></i>
                                </el-row>
                                <p class="empty-coming-activities" v-if="pastVisits.length == 0">NO HAY VISITAS</p>
                            </el-col>
                        </el-row>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="my-plan">
                        {% if current_plan %}
                            <el-row class="section-main plan">
                                <div class="title-plan first">PLAN {{current_plan.name}} <span class="price">(S/ {{price_plan}})</span></div>
                                <img src="{% static 'img/line-title.png' %}" class="line-image">
                                <p class="label-period">PERIODO DE MEMBRESÍA: <span>{{current_plan.created_at|date:"d/m/Y" }} - {{current_plan.expires_at|date:"d/m/Y" }}</span></p>
                                <el-col :span="24">
                                    <el-row style="display:flex;justify-content:center;">
                                        <div style="display:flex;width:540px;">
                                            <div class="div-details">
                                                {% if current_plan.pass_quantity == 0 %}
                                                    <el-row class="quantity-pass not-limit">ILIMITADAS</el-row>
                                                {% else %}
                                                    <el-row class="quantity-pass">{{current_plan.pass_quantity}}</el-row>
                                                {% endif %}
                                                <el-row class="word-classes">CLASES</el-row>
                                                {% if current_plan.months %}<el-row class="time-period">{{current_plan.months}} {% if current_plan.months > 1 %} MESES {% else %} MES {% endif %}</el-row>{% endif %}
                                                {% if current_plan.days %}<el-row class="time-period">{{current_plan.days}} DÍAS</el-row>{% endif %}
                                            </div>
                                            
                                            <div class="div-details" style="flex:1">
                                                <img src="{% static 'img/line-vertical.png' %}">
                                                <p>
                                                    HASTA {{current_plan.repetitions_quantity}} CLASES EN UN MISMO LUGAR
                                                    {% if current_plan.is_premium %}<br>CENTROS DEPORTIVOS EXCLUSIVOS{% endif %}
                                                    {% if current_plan.friendpass_quantity %}<br><span style="color:white">{{current_plan.friendpass_quantity}} FRIENDPASS</span>{% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </el-row>
                                    <div class="div-details-mobile">
                                        <p class="period">{{current_plan.created_at|date:"d/m/Y" }} - {{current_plan.expires_at|date:"d/m/Y" }}</p>
                                        <p>{{current_plan.pass_quantity}} CLASES</p>
                                        <p>HASTA {{current_plan.repetitions_quantity}} CLASES EN UN MISMO LUGAR</p>
                                        {% if current_plan.friendpass_quantity %}<p>{{current_plan.friendpass_quantity}} FRIENDPASS</p>{% endif %}
                                        <div>
                                            <p v-if="planIsFreeze" class="renew">Tu membresía está congelada desde el {{current_plan.freeze_day|date:"d/m/Y" }}. Se volverá a activar en {{current_plan.days_to_active}} día{% if current_plan.days_to_active > 1 %}s{% endif %} (${reactivePlanDate(dateFreeze)}).</p>
                                            <div v-if="existePendingPlan">
                                              {% if pending_plan.name != current_plan.name %}
                                                <p class="cancel">PRÓXIMO PLAN: PLAN {{pending_plan.name}} (S/{{pending_plan_price}})</p>
                                              {% else %}
                                                <p class="cancel">RENOVACIÓN EN {{pending_plan.days_to_renew}} {% if pending_plan.days_to_renew > 1 %}DÍAS{% else %}DÍA{% endif %}</p>
                                              {% endif %}
                                            </div>
                                            <p v-if="!existePendingPlan" :class="{'cancel': existePendingPlan == false}">CANCELASTE TU MEMBRESÍA. TU PLAN <strong>NO SE RENOVARÁ&nbsp;</strong>&nbsp;AL FINAL DE ESTE PERIODO.</p>
                                        </div>
                                        <p class="description-mobile">Si quieres cambiar de plan, cancelar tu membresía o reactivarla, puedes hacerlo desde el menú de herramientas, arriba a la derecha de esta pantalla.</p>
                                    </div>
                                    <img src="{% static 'img/line-large.png' %}" style="width:100%;" class="line-large">
                                </el-col>
                                <el-col :span="24" class="div-gradient">
                                    <div class="triangle"></div>
                                    <div class="block-gradient">
                                        <p v-if="planIsFreeze">Tu membresía está congelada desde el {{current_plan.freeze_day|date:"d/m/Y" }}. Se volverá a activar en {{current_plan.days_to_active}} día{% if current_plan.days_to_active > 1 %}s{% endif %} (${reactivePlanDate(dateFreeze)}).</p>
                                        <p v-if="existePendingPlan">EN {{pending_plan.days_to_renew}} {% if pending_plan.days_to_renew > 1 %}DÍAS{% else %}DÍA{% endif %} SE VA RENOVAR TU MEMBRESÍA CON EL PLAN {{pending_plan.name}} (S/{{pending_plan_price}}).</p>
                                        <p v-if="!existePendingPlan" :class="{'cancel': existePendingPlan == false}">CANCELASTE TU MEMBRESÍA. TU PLAN <strong>NO SE RENOVARÁ&nbsp;</strong>&nbsp;AL FINAL DE ESTE PERIODO.</p>
                                    </div>
                                </el-col>
                                <el-col :span="24">
                                    <p class="description">Si quieres cambiar de plan, cancelar tu membresía o reactivarla (si la habías cancelado), puedes hacerlo desde el menú de herramientas, arriba a la derecha de esta pantalla.</p>
                                </el-col>
                            </el-row>
                            <el-row class="graphics" :gutter="10">
                                <el-col :xs="24" :sm="24" :md="10">
                                    <div  class="section center">
                                        <div class="title-plan">CLASES UTILIZADAS</div>
                                        <img src="{% static 'img/line-title.png' %}" class="line">
                                        <div id="container-speed" ></div>
                                        <p class="description-class-used">Las clases utilizadas incluyen clases asistidas, reservas activas y clases perdidas*</p>
                                        <p class="lost-class">*Clase perdida: pierdes una clase cuando reservas y no asistes (a menos que canceles la reserva 4 hora antes)</p>
                                    </div>
                                        
                                </el-col>
                                <el-col :xs="24" :sm="24" :md="14">
                                    <div class="section center">
                                        <div class="title-plan">VISITAS POR CENTRO DEPORTIVO</div>
                                        <img src="{% static 'img/line-title.png' %}" class="line">
                                        <div id="container-sport-centers" style="margin-top: 10px;" v-show="totalVisitsCenters > 0"></div>
                                        <div id="container-sport-centers-mobile" v-show="totalVisitsCenters > 0"></div>
                                        <p class="lost-class centers" v-if="totalVisitsCenters > 0">Las visitas a distintas sedes de un centro deportivo <strong>no</strong> se diferencian. Una visita a <strong>Centro Deportivo (Sede A)</strong> y otra visita a <strong>Centro Deportivo (Sede B)</strong> se suman como dos visitas en <strong>Centro Deportivo</strong></p><br>
                                        <p class="lost-class centers" v-if="totalVisitsCenters > 0">Si faltaste a una clase que habías reservado (clase perdida), igual cuenta como una visita en este gráfico.</p>
                                        <div class="empty" v-if="totalVisitsCenters == 0"><p>NO HAY SUFICIENTES DATOS PARA MOSTRAR EL GRAFICO</p></div>
                                    </div>
                                </el-col>
                                
                            </el-row>
                            <el-row class="section-main repetitions">
                                <div class="title-plan">REPETICIONES AGOTADAS</span></div>
                                <img src="{% static 'img/line-title.png' %}" class="line">
                                <el-col :span="24" class="list">
                                    {% for repetition in used_repetitions %}
                                        <div class="item">
                                            <span>Agotaste tus repeticiones para&nbsp;</span>
                                            {% if repetition.centers %}
                                            <el-popover
                                            placement="top"
                                            width="400"
                                            trigger="click"
                                            popper-class="centers-poppover">
                                                {% for center in repetition.centers %}
                                                    <p>Centro deportivo: <a href="{% url 'sport-center-detail' center.slug %}" target="_blank">{{center.name}}</a></p>
                                                {% endfor %}
                                                <span class="group-center" slot="reference">{{repetition.name}}</span>
                                            </el-popover>
                                            {% else %}
                                                <a href="{% url 'sport-center-detail' repetition.slug %}" target="_blank">{{repetition.name}}</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    {% if used_repetitions|length == 0 %}
                                        <p class="empty">NO TIENES REPETICIONES AGOTADAS.</p>
                                        <br>
                                        <p class="empty">AÚN PUEDES IR A CUALQUIER CENTRO DEPORTIVO.</p>
                                    {% endif %}
                                    {% if pending_plan %}
                                        {% if used_repetitions|length > 0 %}
                                            <div class="buy-more">
                                                <span>Puedes volver a visitarlos en <span class="days-renew">{{pending_plan.days_to_renew}} DÍAS</span> si es que renuevas tu plan,</span> o puedes <a href="{% url 'buy-plan' %}" target="_blank">comprar un pase individual ahora mismo.</a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </el-col>
                            </el-row>

                            <el-row class="section-main friendpass">
                                <div class="title-plan">FRIENDPASS UTILIZADAS</span></div>
                                <img src="{% static 'img/line-title.png' %}" class="line">
                                {% if friendpass_available_count > 0 %}
                                <div class="available-friendpass">
                                    <span class="text">TIENES {{friendpass_available_count}} FRIENDPASS DISPONIBLE{% if friendpass_available_count > 1%}S{% endif %}</span>
                                    <el-button @click='friendpassModal = true'>USAR FRIENDPASS</el-button>
                                </div>
                                {% endif %}
                                {% if friendpass_used|length == 0 %}
                                    <p class="empty">NO HAS UTILIZADO FRIENDPASS</p>
                                {% else %}
                                    <el-col :span="24" class="list">
                                        <div class="title">FRIENDPASS UTILIZADOS:</div>
                                    </el-col>
                                    <el-col :span="24" class="list">
                                        <div class="item" v-for="friendpass in friendpassUsed">
                                            <span>${friendpass.quantity} FriendPass</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span>${friendpass.day}</span>&nbsp;&nbsp;-&nbsp;&nbsp;<a :href="'/centros-deportivos/' + friendpass.sportCenterSlug" target="_blank">${friendpass.sportCenterName}</a>
                                        </div>
                                    </el-col>
                                {% endif %}
                            </el-row>
                            <el-row class="section-main friendpass" v-if="!planIsFreeze && canPlanFreeze">
                                <div class="title-plan">¿NECESITAS CONGELAR TU MEMBRESÍA?</span></div>
                                <img src="{% static 'img/line-title.png' %}" class="line">
                                <div class="available-friendpass">
                                    <span class="text">CONGELA TU MEMBRESÍA POR 10 DÍAS:</span>
                                    <el-button @click='freezePlanModal = true'>CONGELAR MI MEMBRESÍA</el-button>
                                </div>
                            </el-row>

                        {% endif %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="my-shopping">
                            <el-row class="section-main">
                                <div class="title-plan">MIS COMPRAS ACTIVAS</div>
                                <img src="{% static 'img/line-title.png' %}" class="line">
                                <el-col :span="24" class="reservations">
                                    <el-row class="header" :gutter="20">
                                        <el-col :span="8">Fecha de compra</el-col>
                                        <el-col :span="8">Detalle</el-col>
                                        <el-col :span="8">Fecha de vencimiento</el-col>
                                    </el-row>
                                    {% for pass in active_passes_total %}
                                        <el-row class="item" :gutter="20">
                                            <el-col :span="8" class="plan-name-mobile">
                                                {% if pass.name %} 
                                                    Plan {{pass.name|title}} (S/. {{pass.transaction__amount|stringformat:'0.2f'}})
                                                {% else %} 
                                                    Pase a <a href="{% url 'sport-center-detail' pass.sport_center__slug %}" target="_blank">{{pass.sport_center__name}}</a> (S/. {{pass.transaction__amount|stringformat:'0.2f'}})
                                                {% endif %}
                                            </el-col>
                                            <el-col :span="8" class="format-date"><span>Fecha de compra:&nbsp;</span>{{pass.created_at|date:"d \d\e F, Y" }}</el-col>
                                            <el-col :span="8" class="plan-name">
                                                {% if pass.name %} 
                                                    Plan {{pass.name|title}} (S/. {{pass.transaction__amount|stringformat:'0.2f'}})
                                                {% else %} 
                                                    Pase a <a href="{% url 'sport-center-detail' pass.sport_center__slug %}" target="_blank">{{pass.sport_center__name}}</a> (S/. {{pass.transaction__amount|stringformat:'0.2f'}})
                                                {% endif %}
                                            </el-col>
                                            <el-col :span="8" class="format-date">
                                                <span>Fecha de vencimiento:&nbsp;</span>{{pass.expires_at|date:"d \d\e F, Y" }} (en {{pass.days_to_expire}} {% if pass.days_to_expire == 1 %}día{% else %}días{% endif %})
                                            </el-col>
                                        </el-row>
                                    {% endfor %}
                                    {% if active_passes_total|length == 0 %}
                                        <p class="empty-coming-activities">NO HAY COMPRAS</p>
                                    {% endif %}
                                    
                                </el-col>
                            </el-row>
                            <el-row class="section-main">
                                <div class="title-plan">HISTORIAL DE COMPRAS</div>
                                <img src="{% static 'img/line-title.png' %}" class="line">
                                <el-col :span="24" class="reservations">
                                    <el-row class="header" :gutter="20">
                                        <el-col :span="8">Fecha de compra</el-col>
                                        <el-col :span="8">Detalle</el-col>
                                        <el-col :span="8">Fecha en la que venció</el-col>
                                    </el-row>
                                    <el-row class="item" :gutter="20" v-for="pass in passesList">
                                        <el-col :span="8"  class="plan-name-mobile"> 
                                            <p v-if="pass.name">Plan ${pass.name} (S/. ${pass.transaction__amount})</p>
                                            <p v-else>Pase a <a :href="'/centros-deportivos/' + pass.sport_center__slug" target="_blank">${pass.sport_center__name}</a> (S/. ${pass.transaction__amount})</p>
                                        </el-col>
                                        <el-col :span="8" class="format-date"><span>Fecha de compra:&nbsp;</span>${pass.created_at}</el-col>
                                        <el-col :span="8" v-if="pass.name" class="plan-name"> 
                                            Plan ${pass.name} (S/. ${pass.transaction__amount})
                                        </el-col>
                                        <el-col :span="8" v-else class="plan-name"> 
                                            Pase a <a :href="'/centros-deportivos/' + pass.sport_center__slug" target="_blank">${pass.sport_center__name}</a> (S/. ${pass.transaction__amount})
                                        </el-col>
                                        <el-col :span="8">
                                            <span class="title-date">Fecha en la que venció:&nbsp;</span><span v-if="!pass.name">Utilizado el&nbsp;</span>${pass.expires_at}
                                        </el-col>
                                    </el-row>
                                    <el-row class="div-more" v-if="haveMoreSalesExpired">
                                        <p @click="loadSalesExpired">Ver más</p>
                                        <i class="fal fa-angle-down" size="5x"></i>
                                    </el-row>
                                    <p class="empty-coming-activities" v-if="passesList.length == 0">NO HAY COMPRAS</p>
                                </el-col>
                            </el-row>
                    </div>
                    <div role="tabpanel" :class="{'tab-pane': true}" id="my-info">
                        <el-row class="section-main">
                            <div class="title-plan">MI PERFIL</div>
                            <img src="{% static 'img/line-title.png' %}" class="line special">
                            <el-col :span="24"  class="form-user">
                                <el-col :xs="24" :sm="12" v-if="editProfile">
                                    <el-form :label-position="top">
                                        <el-form-item label="NOMBRE" :class="{ 'error': $v.userEdit.firstName.$error }">
                                            <el-input v-model="userEdit.firstName" @input="$v.userEdit.firstName.$touch()" type="text"></el-input>
                                        </el-form-item>
                                        <el-form-item label="APELLIDOS" :class="{ 'error': $v.userEdit.lastName.$error }">
                                            <el-input v-model="userEdit.lastName" @input="$v.userEdit.lastName.$touch()"></el-input>
                                        </el-form-item>
                                        <el-form-item label="E-MAIL" :class="{ 'error': $v.userEdit.email.$error }">
                                            <el-input v-model="userEdit.email" @input="$v.userEdit.email.$touch()"></el-input>
                                        </el-form-item>
                                        <el-form-item label="TELÉFONO" :class="{ 'error': $v.userEdit.phone.$error }">
                                            <el-input v-model="userEdit.phone" @input="$v.userEdit.phone.$touch()"></el-input>
                                        </el-form-item>
                                        <el-form-item label="FECHA DE NACIMIENTO" :class="{ 'error': $v.userEdit.birthday.$error }">
                                            <el-date-picker
                                                v-model="userEdit.birthday"
                                                type="date"
                                                placeholder="Fecha"
                                                format="dd/MM/yyyy"
                                                default-value="2000-02-01"
                                                @input="$v.userEdit.birthday.$touch()" :class="{ 'error': $v.userEdit.birthday.$error }">
                                            </el-date-picker>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                                <el-col :span="24" v-else>
                                    <div>
                                        <p class="name">${user.firstName} ${user.lastName}</p>
                                        <p class="extra">e-mail: ${user.email}</p>
                                        <p class="extra" v-if="user.phone">teléfono: ${user.phone}</p>
                                        <p class="extra" v-if="user.birthday">Fecha de nacimiento: ${user.birthday}</p>
                                        <p class="code" v-if="code">código de cliente: ${code}</p>
                                        <p class="change-password" @click="changePasswordModal = true">Cambiar contraseña</p>
                                        <el-button class="button-edit" @click="editProfile = true">EDITAR PERFIL</el-button>
                                    </div>
                                </el-col>
                                
                            </el-col>
                            <el-col :span="24" class="row-buttons" v-if="editProfile">
                                <el-button class="save" @click="updateMyInformation" :loading="loading">GUARDAR</el-button>
                                <el-button class="preview" @click="editProfile = false">REGRESAR</el-button>
                            </el-col>
                            
                        </el-row>
                        <el-row class="section-main" v-if="card.cardBrand != ''">
                            <div class="title-plan">MI TARJETA</div>
                            <img src="{% static 'img/line-title.png' %}" class="line special">
                            <div class="card" v-if="!showCard">
                                <p class="label-card">NÚMERO DE TARJETA</p>
                                <el-col :span="24" class="div-card">
                                    <el-col :xs="16" :sm="8" class="div-digits"><div class="digits-hide"><span>* * * *&nbsp;&nbsp;&nbsp;&nbsp;* * * *&nbsp;&nbsp;&nbsp;&nbsp;* * * *</span></div><div class="last-digits">&nbsp;&nbsp;&nbsp;&nbsp;${card.cardNumberMasked.slice(-4)}</div></el-col>
                                    <el-col :xs="8" :sm="16" class="card-exp">
                                        <div class="div-date">
                                            <p class="card-date">EXP: <span>${card.cardExpireMonth}/${card.cardExpireYear.slice(-2)}</span></p>
                                        </div>
                                        <div class="cards-image">
                                            <img v-if="card.cardBrand == 'Visa'" src="{% static 'img/icons/visa.jpg' %}">
                                            <img v-if="card.cardBrand == 'MasterCard'" src="{% static 'img/icons/mastercard.jpg' %}">
                                            <img v-if="card.cardBrand == 'Amex'" src="{% static 'img/icons/american.jpg' %}">
                                        </div>
                                    </el-col>
                                </el-col>
                                <el-button class="new-card" @click="showCard = true">NUEVA TARJETA</el-button>
                            </div>
                            <div class="div-new-card" v-else>
                                <el-col :span="24">
                                    <p class="label-card">NÚMERO DE TARJETA</p>
                                    <el-row :class="{ 'div-number-card': true ,'error': $v.creditCardNumber.$error }">
                                        <div class="number">
                                            <the-mask mask="#### #### #### ####" v-model="creditCardNumber" type="text" :masked="true" placeholder="0000 0000 0000 0000" id="card-number" @input="$v.creditCardNumber.$touch()" :disabled="loadingCard"></the-mask>
                                        </div>
                                        <div class="three-cards">
                                            <img src="{% static 'img/icons/3tarjetas.png' %}">
                                        </div>
                                    </el-row>
                                    <el-row class="label-error"  v-if="$v.creditCardNumber.$error">Asegúrate de ingresar una tarjeta válida.</el-col>
                                </el-col>
                                <el-col :span="24" class="card-details">
                                    <div class="div-date">
                                        <p class="label-card">FECHA DE EXPIRACIÓN (MM YYYY)</p>
                                        <div>
                                            <the-mask mask="## / ####" v-model="creditCardDate" type="text" :masked="true" placeholder="MM / YYYY" @input="$v.creditCardDate.$touch()" :class="{ 'error': $v.creditCardDate.$error }" :disabled="loadingCard"></the-mask>
                                            <p class="label-error"  v-if="$v.creditCardDate.$error">Asegúrate de ingresar una fecha válida.</el-row>
                                        </div>
                                    </div>
                                    <div class="div-cvv">
                                        <p class="label-card">CVC/CVV</p>
                                        <div>
                                            <the-mask mask="####" v-model="creditCardCVV" type="text" :masked="false" placeholder="3 O 4 digitos" id="cvv-card" @input="$v.creditCardCVV.$touch()" :class="{ 'error': $v.creditCardCVV.$error }" :disabled="loadingCard"></the-mask>
                                            <p class="label-error"  v-if="$v.creditCardCVV.$error">Asegúrate de ingresar un cvc/cvv válido.</p>
                                        </div>
                                    </div>
                                </el-col>
                                <el-col :span="24" class="row-buttons right">
                                    <el-button @click="updateCard" class="save" :loading="loadingCard">GUARDAR</el-button>
                                    <el-button @click="showCard = false" class="preview" :disabled="loadingCard">REGRESAR TARJETA</el-button>
                                </el-col>
                                
                            </div>
                        </el-row>
                    </div>
                </div>
            </el-col>
         

        </el-row>
    </div>
    <div class="account_footer_image">
        {% if current_plan %}
        <span>APROVECHA TU PLAN <strong>{{request.user.first_name}}</strong>, PRUEBA TODO LO QUE PUEDAS Y ALÉJATE DE LA TODOPODEROSA RUTINA REPETITIVA.</span>
        {% endif %}
    </div>

    <form class="card-form" action="" method="POST" id="culqi-card-form" data-vv-scope="culqi" :ref="'culqi-form'">
        <input type="hidden" size="50" data-culqi="card[email]" id="card[email]" :value="user.email">
        <input type="hidden" size="20" data-culqi="card[number]" id="card[number]" :value="cardNumber">
        <input type="hidden" size="4" data-culqi="card[cvv]" id="card[cvv]" :value="creditCardCVV">
        <input type="hidden" size="2" data-culqi="card[exp_month]" id="card[exp_month]" :value="cardMonth">
        <input type="hidden" size="4" data-culqi="card[exp_year]" id="card[exp_year]" :value="cardYear">
    </form>

    <div id="modals">
        <el-dialog width="230px" class="friendpass-modal" :visible.sync="friendpassModal">
            <el-row class="div-title">
                <p>CÓMO USAR<br>TUS FRIENDPASS</p>
                <i class="el-icon-circle-close-outline" @click='friendpassModal = false'></i>
            </el-row>
            <el-row class="div-body">
                <el-col :span="24" class="block">
                    <p class="item">1. ME AVISAS POR EMAIL CUÁNDO QUIERES USAR TU FRIENDPASS *</p>
                    <p class="description-item">Especificas el centro deportivo, la clase, el horario y los datos de la(s) persona(s) a quienes invitarás (nombre, edad, email y DNI).</p>
                    <span class="note">* Me avisas tres (3) días antes</span>
                </el-col>
                <el-col :span="24" class="block">
                    <p class="item">2. YO COORDINO CON EL CENTRO DEPORTIVO Y TE CONFIRMO</p>
                    <p class="description-item">Haré la reserva en la clase indicada y luego te confirmo por email.</p>
                </el-col>
                <el-col :span="24">
                    <hr>
                </el-col>
                <el-col :span="24" class="block">
                    <span class="note"><span>-</span>&nbsp;<span>Antes de hacer la solicitud, revisa que tengas Friendpass disponibles.</span></span>
                    <br>
                    <span class="note"><span>-</span>&nbsp;<span>Una vez realizada la reserva, ya no puedes cancelarla.</span></span>
                </el-co>
            </el-row>
        </el-dialog>
        <el-dialog width="300px" class="friendpass-modal refer" :visible.sync="referFriendpassModal">
            <el-row class="div-title">
                <p>PLAN<br>DE REFERIDOS</p>
                <i class="el-icon-circle-close-outline" @click='referFriendpassModal = false'></i>
            </el-row>
            <el-row class="div-body">
                <el-col :span="24" class="block">
                    <p class="item">RECOMIENDA ROCKFIT Y OBTÉN UN DESCUENTAZO</p>
                    <p class="description-item">1. Envíale tu código de cliente a quien quieras para que lo ingrese en la web al momento de su compra.</p>
                    <br>
                    <p class="description-item">2. Cuando el referido compre uno de mis planes con tu código de cliente, te asignaré un descuento para tu siguiente renovación.&nbsp; 
                        <el-popover
                        width="320"
                        trigger="hover"
                        popper-class="popover-discount">
                            <el-table :data="dataDiscount">
                                <el-table-column width="90" property="prop_1" label="# Referidos"></el-table-column>
                                <el-table-column width="70" property="prop_2" label="1 - 3"></el-table-column>
                                <el-table-column width="70" property="prop_3" label="4 - 7"></el-table-column>
                                <el-table-column width="68" property="prop_4" label="8+"></el-table-column>
                            </el-table>
                            <span slot="reference">Ver descuentos</span>
                        </el-popover>
                    </p>
                    <br>
                    <p class="description-item">3. Te confirmo el descuento por correo.</p>
                </el-col>
                <el-col :span="24">
                    <hr>
                </el-col>
                <el-col :span="24" class="block">
                    <span class="note"><span>-&nbsp;</span><span>Debe ser la primera vez que el referido compre uno de mis planes.</span></span>
                    <br>
                    <span class="note"><span>-&nbsp;</span><span>El plan de referidos solo aplica para los planes de un mes de duración.</span></span>
                </el-co>
            </el-row>
        </el-dialog>
        <el-dialog width="310px" class="friendpass-modal cancel" :visible.sync="cancelPlanModal">
            <el-row class="div-title">
                <p>TU PLAN<br>DE MEMBRESÍA</p>
                <i class="el-icon-circle-close-outline" @click='cancelPlanModal = false'></i>
            </el-row>
            <el-row class="div-body">
                <el-col :span="24" class="block">
                    <p class="plan">Plan {{current_plan.name|title}} <span>(S/ {{price_plan}})</span></p>
                    <p class="time">
                        <span>{% if current_plan.months %}{{current_plan.months}}{% if current_plan.months > 1 %} MESES {% else %} MES {% endif %}{% endif %}
                        {% if current_plan.days %}{{current_plan.days}} DÍAS{% endif %}</span>
                        <span>({{current_plan.created_at|date:"d/m/Y" }} - {{current_plan.expires_at|date:"d/m/Y" }})</span>
                    </p>
                    {% if current_plan.pass_quantity == 0 %}
                        <p class="item">CLASES ILIMITADAS</p>
                    {% else %}
                        <p class="item">{{current_plan.pass_quantity}} CLASES</p>
                    {% endif %}
                    
                    <p class="item">HASTA {{current_plan.repetitions_quantity}} CLASES EN UN MISMO LUGAR
                    {% if current_plan.friendpass_quantity %}<p class="item">{{current_plan.friendpass_quantity}} FRIENDPASS</p>{% endif %}
                </el-col>
                <el-col :span="24">
                    <hr>
                </el-col>
                <el-col :span="24" style="margin:30px 0 40px 0; text-align: center;">
                    <el-button class="button-cancel" @click="cancelPendingPlan"  v-if="!loadingCancel">CANCELAR PLAN</el-button>
                    <beat-loader :loading="loadingCancel" color="#1ca8ed" size="15px"></beat-loader>
                    <p @click="cancelPlanModal = false" class="not-cancel" v-if="!loadingCancel">MEJOR NO CANCELO NADA</p>
                </el-col>
                <el-col :span="24" class="block">
                    <span class="note"><span>-&nbsp;</span><span>Cancelando tu plan de membresía evitas que se renueve al final del periodo actual.</span></span>
                </el-co>
            </el-row>
        </el-dialog>
        <el-dialog width="310px" class="friendpass-modal cancel" :visible.sync="reactiveModal">
            <el-row class="div-title">
                <p>REACTIVAR<br>TU MEMBRESÍA</p>
                <i class="el-icon-circle-close-outline" @click='reactiveModal = false'></i>
            </el-row>
            <el-row class="div-body">
                <el-col :span="24" class="block">
                    <p class="plan">Plan {{current_plan.name|title}} <span>(S/ {{price_plan}})</span></p>
                    <p class="time">
                        <span>{% if current_plan.months %}{{current_plan.months}}{% if current_plan.months > 1 %} MESES {% else %} MES {% endif %}{% endif %}
                        {% if current_plan.days %}{{current_plan.days}} DÍAS{% endif %}</span>
                        <span>({{current_plan.created_at|date:"d/m/Y" }} - {{current_plan.expires_at|date:"d/m/Y" }})</span>
                    </p>
                    {% if current_plan.pass_quantity == 0 %}
                        <p class="item">CLASES ILIMITADAS</p>
                    {% else %}
                        <p class="item">{{current_plan.pass_quantity}} CLASES</p>
                    {% endif %}
                    
                    <p class="item">HASTA {{current_plan.repetitions_quantity}} CLASES EN UN MISMO LUGAR
                    {% if current_plan.friendpass_quantity %}<p class="item">{{current_plan.friendpass_quantity}} FRIENDPASS</p>{% endif %}
                </el-col>
                <el-col :span="24">
                    <hr>
                </el-col>
                <el-col :span="24">
                    <p style="padding: 0 20px; font-size: 9px; text-align: center;">Luego de reactivar tu membresía, puedes cambiar de plan o incluso volver a cancelarla <strong>cuando quieras</strong>.</p>
                </el-col>
                <el-col :span="24" style="margin:30px 0 40px 0; text-align: center;">
                    <el-button class="button-cancel" @click="reactivePlan"  v-if="!loadingCancel">REACTIVAR MEMBRESÍA</el-button>
                    <beat-loader :loading="loadingCancel" color="#1ca8ed" size="15px"></beat-loader>
                </el-col>
                <el-col :span="24" class="block">
                    <span class="note"><span>-&nbsp;</span><span>Al reactivar tu membresía, apruebas que esta se renueve automáticamente al finalizar el periodo de tu plan actual.</span></span>
                    <br>
                    <span class="note"><span>-&nbsp;</span><span>¿Por qué la piensas tanto?</span></span>
                </el-co>
            </el-row>
        </el-dialog>
        <el-dialog width="930px" class="modal-change-password" :visible.sync="changePasswordModal">
            <el-row>
                <a class="home-modal-close-button" @click="changePasswordModal = false"><i class="fal fa-times-circle"></i></a>
                <div class="dialog-center-left">
                    <img src="{% static '/img/logo-center-modal.png' %}" />
                </div>
                <div class="dialog-center-right">
                    <p class="title-modal big">CAMBIAR CONTRASEÑA</p>
                    <el-row class="step">
                        <p class="subtitle">Contraseña actual*</p>
                        <el-input placeholder="Contraseña actual" @input="$v.actualPassword.$touch()" :class="{ 'error': $v.actualPassword.$error }" v-model="actualPassword" type="password"></el-input>
                        <p class="subtitle">Contraseña nueva*</p>
                        <el-input placeholder="Contraseña nueva" @input="$v.newPassword.$touch()" :class="{ 'error': $v.newPassword.$error }" type="password" v-model="newPassword"></el-input>
                        <p class="subtitle">Confirmar contraseña*</p>
                        <el-input placeholder="Confirmar contraseña" @input="$v.confirmPassword.$touch()" :class="{ 'error': $v.confirmPassword.$error }" type="password" v-model="confirmPassword" :disabled="!newPassword"></el-input>
                        <p class="error-password" v-if="errorPassword">Contraseñas diferentes</p>
                    </el-row>
                    <el-button class="button-enterprise" :disabled="!($v.$anyDirty && $v.actualPassword.$invalid == false && $v.newPassword.$invalid== false && $v.confirmPassword.$invalid== false && errorPassword == false)" @click="changePassword" v-if="!loadingPassword">GUARDAR</el-button>
                    <beat-loader :loading="loadingPassword" color="#1ca8ed" size="15px" style="margin-top:20px;"></beat-loader>
                 </div>
            </el-row>
        </el-dialog>
        <el-dialog width="300px" class="close-sesion-modal" :visible.sync="closeSesionModal">
            <p>¿ESTÁS SEGURO?</p>
            <el-button class="cancel" @click='closeSesionModal = false'>CANCELAR</el-button>
            <a href="{% url 'logout-user' %}"><el-button class="close-sesion">CERRAR</el-button></a>
        </el-dialog>
        <el-dialog width="400px" class="close-sesion-modal" :visible.sync="canceledReserveDialog">
            <p>¿ESTÁS SEGURO QUE QUIERES CANCELAR LA RESERVA?</p>
            <div style="display:flex;justify-content:center">
            <el-button class="cancel" @click='canceledReserveDialog = false' :disabled="loadingCancelReserve">NO</el-button>
            <beat-loader :loading="loadingCancelReserve" color="#1ca8ed" size="15px" style="margin: 10px 0 0 30px;"></beat-loader>
            <el-button class="close-sesion" @click="cancelReservation" v-if="!loadingCancelReserve">SI, ESTOY SEGURO</el-button>
            </div>
        </el-dialog>
        <el-dialog width="500px" class="friendpass-modal class" :visible.sync="showDialogClass" v-if="classInfo">
            <el-row class="div-title class">
                <p>RESERVA</p>
                <p class="sport-center">${formatDateReserve(classInfo.day)}</p>
                <i class="el-icon-circle-close-outline" @click='showDialogClass = false'></i>
            </el-row>
            <el-row class="div-body">
                <el-col :span="24" class="block class">
                    <p class="reserve-date">${classInfo.time} - ${classInfo.time_finish}</p>
                    <p class="description-item class black">Clase: ${classInfo.activity_name}</p>
                    <p class="description-item class black">${classInfo.sport_center_name}</p>
                    <p class="description-item class" v-if="classInfo.has_teacher">Profe: ${classInfo.teacher_name}</p>
                    <p class="description-item class">Invitados: ${classInfo.inviteds}</p>
                </el-col>
                <el-col :span="24">
                    <hr>
                </el-col>
                <el-col :span="24" class="block">
                    <p class="item class margin">${user.firstName.toUpperCase()} ${user.lastName.toUpperCase()}</p>
                    <p class="item class"><span>Código de cliente:&nbsp;</span>${code}</p>
                    <p class="item class"><span>Email:&nbsp;</span>${user.email}</p>
                    <p class="item class" v-if="age"><span>Edad:&nbsp;</span>${age} años</p>
                    <p class="item class" v-if="classInfo.weight"><span>Peso:&nbsp;</span>${classInfo.weight} kg</p>
                </el-col>
                <el-col :span="24" class="block-button">
                    <el-button @click="showDialogClass = false">CERRAR</el-button>
                </el-col>
                <el-col :span="24" class="block">
                    <span class="note class">Muestra este pase en la puerta del centro deportivo y entras a tu clase ¡facilito!</span>
                </el-col>
            </el-row>
        </el-dialog>
        <el-dialog width="500px" class="friendpass-modal freeze" :visible.sync="freezePlanModal">
            <el-row class="div-title class">
                <p>TU PLAN</p>
                <p>DE MEMBRESÍA</p>
                <i class="el-icon-circle-close-outline" @click='freezePlanModal = false' :disabled="loadingFreeze"></i>
            </el-row>
            <el-row class="div-body">
                <el-col :span="24" class="block class">
                    <p class="reserve-date">Plan {{current_plan.name|title}} <span>(S/ {{price_plan}})</span></p>
                    <p class="description-item class">{{current_plan.months}} MESES ({{current_plan.created_at|date:"d/m/Y" }} - {{current_plan.expires_at|date:"d/m/Y" }})</p>
                </el-col>
                <el-col :span="24">
                    <hr>
                </el-col>
                <el-col :span="24" class="block freeze">
                    <p class="description-item freeze">La membresía se congela por <strong>10 días</strong> desde el momento que das clic al botón de abajo.</p>
                </el-col>
                <el-col :span="24" class="block-button freeze">
                    <el-button @click="freezePlan" :disabled="loadingFreeze">CONGELAR MI MEMBRESÍA</el-button>
                    <beat-loader :loading="loadingFreeze" color="#1ca8ed" size="15px" style="margin-top:15px;"></beat-loader>
                    <p @click="freezePlanModal = false" class="not-cancel" v-if="!loadingFreeze">MEJOR NO CONGELO NADA</p>
                </el-col>
                <el-col :span="24" class="block">
                    <span class="note freeze">Si congelas tu membresía, se reactivará el ${reactivePlanDate(today)}.</span>
                </el-col>
            </el-row>
        </el-dialog>
    </div>
    
    
</div>
{% endblock %}
{% block extrajs %}
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/es.js"></script>
<script>
    var CULQI_PUBLIC_KEY = "{{CULQI_PUBLIC_KEY}}"
    var firstName = "{{request.user.first_name|title}}"
    var lastName = "{{request.user.last_name|title}}"
    var mobilePhone = "{% if not request.user.profile.mobile_phone %}{% else %}{{request.user.profile.mobile_phone}}{% endif %}"
    var phone = "{% if request.user.profile.phone and request.user.profile.phone != '0' %}{{request.user.profile.phone}}{% endif %}" 
    var birthday = "{% if request.user.profile.birthday%}{{request.user.profile.birthday}}{% endif %}" 
    var email = "{{request.user.email}}"

    var cardBrand = "{{request.user.cards.first.card_brand}}"
    var cardNumberMasked = "{{request.user.cards.first.card_number_masked}}"
    var cardExpireMonth = "{{request.user.cards.first.card_expire_month}}"
    var cardExpireYear = "{{request.user.cards.first.card_expire_year}}"

    var updateMyInformationUrl = "{% url 'update-my-information' %}"
    var updateMyCode = "{% url 'update-my-code' %}"
    var updateCardUrl = "{% url 'update-card' %}"
    var cancelPendingPlan = "{% url 'cancel-pending-plan' %}"
    var reactivePlan = "{% url 'reactive-plan' %}"
    var cancelReservation = "{% url 'cancel-reservation' %}"
    var changePasswordUrl = "{% url 'change-password' %}"
    var planFreezeUrl = "{% url 'plan-freeze' %}"
    var existePendingPlan = {% if pending_plan %}true{% else %}false{% endif %}

    var usedClass = {{used_plan_passes}}
    var totalPasses = {{total_passes}}
    var havePlan = {% if current_plan %}true{% else %}false{% endif %}
    var planIsFreeze = {% if plan_is_freeze %}true{% else %}false{% endif %}
    var canPlanFreeze = {% if can_plan_freeze %}true{% else %}false{% endif %}
    var friendpassUsed = {% autoescape off %}{{friendpass_used}}{% endautoescape %}
    var centersVisit = {% autoescape off %}{{centers_visit}}{% endautoescape %}
    var reservations = {% autoescape off %}{{coming_activities}}{% endautoescape %}
    var code = "{{request.user.codes.first.code}}"
    var today = {% timezone "America/Lima" %}"{% now "Y-m-d H:m:s" %}"{% endtimezone %}
    var dateFreeze = {% if current_plan and current_plan.freeze_day %}"{{current_plan.freeze_day|date:'Y-m-d'}}"{% else %}null{% endif %}
</script>
<script src="{% static 'js/my-account.js' %}">
    
</script>
{% endblock %}