{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/buy-plan-confirmation.css' %}">
{% endblock %}
{% block content %}
<div id="buyPlanConfirmation" style="display:none;">
    <div class="container mobile-container-fluid">
        <el-row style="padding:20px 0 80px 0">
            <el-col :span="24" style="display:flex;justify-content:center">
                <!-- <el-col :span="4" class="button-retro">
                    <el-button type="info"><i class="fas fa-chevron-left"></i></el-button>
                </el-col> -->
                <el-col :span="14">
                    <el-steps :active="2" align-center finish-status="success" :space="200">
                        <el-step title="ELIGE"></el-step>
                        <el-step title="COMPRA"></el-step>
                        <el-step title="¡LISTO!" ></el-step>
                    </el-steps>
                </el-col>
            </el-col>
        </el-row>
        <el-row>
            {% if not user_have_plan  %}
                <p class="confirm-buy-label">¡Listo! Ya tienes tu <strong>Plan {{plan.name}}</strong> Activo.<br><span>Empieza a usarlo ahorita, si quieres.</span></p>
            {% else %}
                <p class="confirm-buy-label">¡Listo! El {{date_renew|date:"d/m/Y"}} que vence tu plan actual, se va renovar tu membresía con el <strong>Plan {{plan.name}}</strong>.<br><span>El cobro por el valor de este plan se hará ese mismo día.</span></p>
            {% endif %}
            <el-col :sm="24" :lg="16"  class="message-confirmation el-col-lg-offset-4">
                <!-- <div class="div-gradient"><i class="fas fa-chevron-left"></i></div> -->
                <img src="{% static 'img/icono_mail.png' %}">
                <p class="mail-message">Te acabo de enviar <span>INFORMACIÓN IMPORTANTE</span><br>a tu correo electrónico. No la ignores ¿Ya?</p>
                <p style="color:#c3c2c2;margin: 20px 0;">Disfruta y ya sabes... Cualquier problema me avisas.</p>
                <el-row>
                    <a href="{% url 'my-account' %}"><el-button class="button-account">CUENTA DE USUARIO</el-button></a>
                    <a href="{% url 'classes' %}"><el-button class="button-clases">VER CLASES</el-button></a>
                </el-row>
            </el-col>
        </el-row>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/buy-plan-confirmation.js' %}"></script>
{% endblock %}