{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/buy-plan-selected.css' %}">
{% endblock %}
{% block content %}
<div id="buyPlan" style="display:none;">
    <div class="container mobile-container-fluid">
        <form class="card-form" action="" method="POST" id="culqi-card-form" data-vv-scope="culqi" :ref="'culqi-form'">
            <input type="hidden" size="50" data-culqi="card[email]" id="card[email]" value="{{request.user.email}}">
            <input type="hidden" size="20" data-culqi="card[number]" id="card[number]" :value="cardNumber">
            <input type="hidden" size="4" data-culqi="card[cvv]" id="card[cvv]" :value="creditCardCVV">
            <input type="hidden" size="2" data-culqi="card[exp_month]" id="card[exp_month]" :value="cardMonth">
            <input type="hidden" size="4" data-culqi="card[exp_year]" id="card[exp_year]" :value="cardYear">
        </form>
        <el-row style="padding:20px 0 60px 0">
            <el-col :span="24" style="display:flex;justify-content:center">
                <el-col :span="4" class="button-retro">
                    <a href="{% url 'buy-plan' %}"><el-button type="info"><i class="fas fa-chevron-left"></i></el-button></a>
                </el-col>
                <el-col :span="14">
                    <el-steps :active="1" align-center finish-status="success" :space="200">
                        <el-step title="ELIGE"></el-step>
                        {% if not user_had_plan %}
                            <el-step title="COMPRA"></el-step>
                        {% else %}
                            <el-step title="CAMBIA"></el-step>
                        {% endif %}
                        <el-step title="¡LISTO!" ></el-step>
                    </el-steps>
                </el-col>
                
            </el-col>
        </el-row>
        <el-row :gutter="30" class="content-buy">
            <el-col :xs="24" :sm="24" :md="17" :lg="17" :xl="17" class="div-left">
                <div class="block-payment">
                    <el-row class="items">
                        <el-col :span="1" class="icon-block"><i class="fas fa-check-circle"></i></el-col>
                        <el-col :span="23" style="padding-left:18px;">
                            <p class="title-step">ELECCIÓN DE PLAN</p>
                            <p class="selected-plan">Plan {{plan.name}}</p>
                            <ul class="details-plan">
                                {% if plan.days %}<li><i class="fas fa-circle"></i><span>{{plan.days}} Días</span></li>{% endif %}
                                {% if plan.months %}<li><i class="fas fa-circle"></i><span>{{plan.months}}{% if plan.months > 1 %} Meses {% else %} Mes {% endif %}</span></li>{% endif %}
                                <li><i class="fas fa-circle"></i><span>{% if plan.pass_quantity != 0 %}{{plan.pass_quantity}} Clases {% else %} Clases Ilimitadas {% endif %}</span></li>
                                <li><i class="fas fa-circle"></i><span>Hasta {{plan.repetitions_quantity}} clases en un mismo lugar</span></li>
                                {% if plan.friendpass_quantity %}<li><i class="fas fa-circle"></i><span>{{plan.friendpass_quantity}} Friendpass</span></li>{% endif %}
                                {% if plan.months >= 2 %}<li><i class="fas fa-circle"></i><span>Congelar 10 días</span></li>{% endif %}
                            </ul>
                            <p class="price-plan"><span style="font-size:19px;margin-left:4px;">S/&nbsp;</span>${showPricePlan}</p>
                            {% if not user_had_plan %}
                                <el-row class="membresia-info">
                                    <p style="margin-bottom:15px;">Acuérdate que <strong>los planes de membresía se renuevan automáticamente</strong> al finalizar el periodo (fecha de renovación: {{next_payment|date:"d/m/Y"}}).</p>
                                    <p>Recuerda que puedes cancelar tu membresía cuando quieras.<br>Así evitas que se renueve tu plan.</p>
                                </el-row>
                            {% else %}
                                <el-row class="membresia-info">
                                    <p>EL COBRO DE ESTE PLAN <strong>NO SE HARÁ AHORA</strong>, SINO AL MOMENTO DE TU RENOVACIÓN, EL {{next_payment|date:"d/m/Y"}}.</p>
                                </el-row>
                                <el-row>
                                    <div class="discount-link">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489" xml:space="preserve"><g><g><path d="M247.298,336.8c-5.9,5.9-5.9,15.6,0,21.5s15.6,5.9,21.5,0s5.9-15.6,0-21.5C262.898,330.8,253.198,330.8,247.298,336.8z"/><path d="M171.998,274.9c-5.9-5.9-15.6-5.9-21.5,0s-5.9,15.6,0,21.5s15.6,5.9,21.5,0S177.898,280.9,171.998,274.9z"/><path d="M414.498,31c-4.7-11.4-19.1-30.6-62.9-31c-0.5,0-0.9,0-1.4,0c-26.9,0-58.9,7.1-90.4,20.1c-5.8,2.4-11.4,4.9-16.8,7.6l-0.3-0.3c-18-17.5-46.7-17.5-64.7,0l-88.2,85.7c-11.7,11.3-18.3,26.9-18.3,43.2v290.3c0,23.4,19,42.4,42.4,42.4h193c23.4,0,42.4-19,42.4-42.4V156.3c0-8.3-1.7-16.5-5-23.9c18.7-10.5,35-22.5,47.5-35.1C422.398,66.2,419.198,42.4,414.498,31z M124.498,285.7c0-20.2,16.5-36.7,36.7-36.7s36.7,16.5,36.7,36.7s-16.5,36.7-36.7,36.7C140.998,322.4,124.598,306,124.498,285.7z M155.698,381.7c-3.8-3.2-4.3-8.8-1.2-12.6l96.4-116.1c3.2-3.8,8.8-4.3,12.6-1.2c3.8,3.2,4.3,8.8,1.2,12.6l-96.4,116.1C165.098,384.3,159.498,384.8,155.698,381.7z M258.098,384.3c-20.2,0-36.7-16.5-36.7-36.7s16.5-36.7,36.7-36.7c20.2,0,36.7,16.5,36.7,36.7C294.798,367.8,278.298,384.3,258.098,384.3z M298.798,114.7c-18.4,7.6-37.3,13-54.5,15.6c0,0.8,0.1,1.5,0.1,2.3c0,19.4-15.7,35.1-35.1,35.1s-35.1-15.7-35.1-35.1s15.7-35.1,35.1-35.1c11.6,0,21.8,5.6,28.2,14.2c16.3-2.8,33.9-7.9,51.2-15c6.1-2.5,11.8-5.1,17.2-7.8l-35.4-34.5c1-0.4,2-0.8,3-1.3c26.9-11.1,54.8-17.4,76.8-17.4c0.3,0,0.7,0,1,0c21.1,0.2,29,5.9,30.2,8.9C385.198,53.8,361.698,88.8,298.798,114.7z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                        <div>¿Tienes código de descuento?</div>
                                    </div>
                                    <el-col :span="24" :class="{'code-block': true, 'border-valid': stateCupon == 1, 'border-invalid': stateCupon == -1}">
                                        <el-col :span="16">
                                            <el-input v-model="coupon" class="input-code" placeholder="Ingresa tu código" :disabled="hasCoupon"></el-input>
                                        </el-col>
                                        <el-col :span="8">
                                            <el-button class="validate-code" @click="onValidateCoupon" :disabled="coupon == null || coupon == ''">${couponButtonTitle}</el-button>
                                        </el-col>
                                    </el-col>
                                    <el-col :span="24" v-if="stateCupon == 1" class="result-cupon" style="color: #3ce0ba;">
                                        <el-col :span="2"><i class="far fa-check-circle"></i></el-col>
                                        <el-col :span="22">
                                            <p>¡Bien! El Código es Válido, ya tienes tu ${discount} de descuento (solo pagas S/${showUltimatePrice}).<br>Continúa (antes que me arrepienta) <strong>:)</strong>
                                            </p>
                                        </el-col>
                                    </el-col>
                                    <el-col :span="24" v-if="stateCupon == -1" class="result-cupon" style="color: #fa4a4a;">
                                        <el-col :span="2"><img src="{% static 'img/icons/exclamation-mark.png' %}" /></el-col>
                                        <el-col :span="22">
                                            <p>Lo siento pero no reconozco el código que acabas de ingresar. Intenta otra vez, o si estás seguro que el error es mío, puedes escribirme a <strong><a href="mailto:hablemos@rockfitlife.com">hablemos@rockfitlife.com</a></strong></p>
                                            </el-col>
                                    </el-col>
                                </el-row>
                                <el-row style="text-align: center;">
                                    <el-button class="change-plan" @click="onClickBuy" v-if="!loading" type="text">CAMBIAR A ESTE PLAN</el-button>
                                    <el-row style="margin:30px 0" v-else>
                                        <beat-loader :loading="true" color="#4f9eff" size="20px"></beat-loader>
                                    </el-row>
                                </el-row>
                                <el-row class="membresia-info">
                                    <p>Acuérdate que <strong>los planes de membresía se renuevan automáticamente</strong> al finalizar el periodo del plan, pero puedes cancelar tu membresía para evitar su renovación.</p>
                                </el-row>
                            {% endif %}
                            
                        </el-col>
                    </el-row>
                    {% if not user_had_plan %}
                        <hr>
                        <el-row class="items">
                            <el-col :span="1" class="icon-block">
                                <div class="el-step__icon is-text" id="icon-number">
                                    <div class="el-step__icon-inner">2</div>
                                </div>
                            </el-col>
                            <el-col :span="23" class="content" v-show="showCard" id="new-card">
                                <p class="title-step-payment">PAGO</p>
                                <p class="selected-plan">Tu Tarjeta y Documento de Identidad</p>
                                <el-row style="margin-top:15px;">
                                    <label>NÚMERO DE TARJETA</label>
                                    <el-col :span="24" :class="{ 'div-number-card': true ,'error': $v.creditCardNumber.$error }">
                                        <el-col class="div-digits-new">
                                            <the-mask mask="#### #### #### ####" v-model="creditCardNumber" type="text" :masked="true" placeholder="0000 0000 0000 0000" id="card-number" @input="$v.creditCardNumber.$touch()" :class="{ 'error': $v.creditCardNumber.$error }"></the-mask>
                                        </el-col>
                                        <el-col class="three-cards">
                                            <img src="{% static 'img/icons/3tarjetas.png' %}">
                                        </el-col>
                                    </el-col>
                                    <el-col :span="24" class="label-error"  v-if="$v.creditCardNumber.$error">Asegúrate de ingresar una tarjeta válida.</el-col>
                                </el-row>
                                <el-row style="margin-top:15px;">
                                    <el-col :span="12" class="expiration-date">
                                        <label>FECHA DE EXPIRACIÓN (MM AAAA)</label>
                                        <the-mask mask="## / ####" v-model="creditCardDate" type="text" :masked="true" placeholder="MM / AAAA" @input="$v.creditCardDate.$touch()" :class="{ 'error': $v.creditCardDate.$error }"></the-mask>
                                        <span class="label-error"  v-if="$v.creditCardDate.$error">Asegúrate de ingresar una fecha válida (MM/AAAA).</span>
                                    </el-col>
                                    <el-col :span="10" :offset="2" class="cvc">
                                        <label>CVC/CVV</label>
                                        <the-mask mask="####" v-model="creditCardCVV" type="text" :masked="false" placeholder="3 O 4 digitos" id="cvv-card" @input="$v.creditCardCVV.$touch()" :class="{ 'error': $v.creditCardCVV.$error }"></the-mask>
                                        <span class="label-error"  v-if="$v.creditCardCVV.$error">Asegúrate de ingresar un cvc/cvv válido.</span>
                                    </el-col>
                                </el-row>
                                <!-- <el-row style="margin-top:15px;">
                                    <label>DOCUMENTO DE IDENTIDAD (DNI)</label>
                                    <el-col :span="24" class="div-document">
                                        <el-col :span="22"><the-mask mask="########" v-model="document" type="text" :masked="false" placeholder="00000000"></the-mask></el-col>
                                        <el-col :span="2" style="text-align:center;"><i class="fas fa-question-circle"></i></el-col>
                                    </el-col>
                                </el-row> -->
                                <el-row style="margin-top:15px;float:right;" v-if="withCard && showCard">
                                    <el-button class="button-card-new" @click="showCard = false">REGRESAR TARJETA</el-button>
                                </el-row>
                            </el-col>
                            <el-col :span="23" class="content" id="old-card" v-if="!showCard">
                                <p class="title-step-payment">PAGO</p>
                                <p class="selected-plan">Tu Tarjeta y Documento de Identidad</p>
                                <el-row style="margin-top:15px;">
                                    <label>NÚMERO DE TARJETA</label>
                                    <el-col :span="24" class="div-card">
                                        <el-col :span="8" class="div-digits" style="border-right: 1px solid #d2d2d2;"><div class="digits-hide"><span>* * * *&nbsp;&nbsp;&nbsp;&nbsp;* * * *&nbsp;&nbsp;&nbsp;&nbsp;* * * *</span></div><div class="last-digits">&nbsp;&nbsp;&nbsp;&nbsp;${card.card_number_masked.slice(-4)}</div></el-col>
                                        <el-col :span="16" class="details-card">
                                            <el-col class="div-date" :span="20" style="padding-left: 11px;">
                                                <p class="card-date">EXP: <span>${card.card_expire_month}/${card.card_expire_year.slice(-2)}</span></p>
                                            </el-col>
                                            <el-col class="image-card" :span="4">
                                                <img v-if="card.card_brand == 'Visa'" src="{% static 'img/icons/visa.jpg' %}">
                                                <img v-if="card.card_brand == 'MasterCard'" src="{% static 'img/icons/mastercard.jpg' %}">
                                                <img v-if="card.card_brand == 'Amex'" src="{% static 'img/icons/american.jpg' %}">
                                            </el-col>
                                        </el-col>
                                    </el-col>
                                </el-row>
                                <el-row style="margin-top:15px;float:right;">
                                    <!-- <el-button class="button-account">CUENTA DE USUARIO</el-button> -->
                                    <el-button class="button-card-new" @click="showCard = true">NUEVA TARJETA</el-button>
                                </el-row>
                            </el-col>
                        </el-row>
                    {% endif %}
                </div>
            </el-col>
            {% if not user_had_plan %}
                <el-col :xs="24" :sm="24" :md="7" :lg="7" :xl="7" class="div-right">
                    <el-row class="block-result-payment">
                        <p class="subtotal">Subtotal<span style="float:right; font-size:19px">S/${showPricePlan}</span></p>
                        <p :class="{'discount': stateCupon == 0, 'discount-invalid': stateCupon == -1, 'discount-valid': stateCupon == 1}">Descuento<span style="float:right;">-${discount}</span></p>
                        <hr>
                        <p class="total-payment">Total a pagar<span style="float:right; font-size:19px">S/${showUltimatePrice}</span></p>
                        <el-button class="confirm-button" style="background:#4f9eff" @click="onClickBuy" v-if="!loading">AHORA SI ¡COMPRAR!</el-button>
                        <el-row style="margin:20px 0" v-else>
                            <beat-loader :loading="true" color="#4f9eff" size="20px"></beat-loader>
                        </el-row>
                        <div class="security"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.4 489.4" style="enable-background:new 0 0 489.4 489.4;" xml:space="preserve"><g><g><path d="M99,147v51.1h-3.4c-21.4,0-38.8,17.4-38.8,38.8v213.7c0,21.4,17.4,38.8,38.8,38.8h298.2c21.4,0,38.8-17.4,38.8-38.8V236.8c0-21.4-17.4-38.8-38.8-38.8h-1v-51.1C392.8,65.9,326.9,0,245.9,0C164.9,0.1,99,66,99,147z M267.7,353.2c-3,2.2-3.8,4.3-3.8,7.8c0.1,15.7,0.1,31.3,0.1,47l0,0c0.3,6.5-3,12.9-8.8,15.8c-13.7,7-27.4-2.8-27.4-15.8v-0.1c0-15.7,0-31.4,0.1-47.1c0-3.2-0.7-5.3-3.5-7.4c-14.2-10.5-18.9-28.4-11.8-44.1c6.9-15.3,23.8-24.3,39.7-21.1c17.7,3.6,30,17.8,30.2,35.5C282.5,336,277.6,346,267.7,353.2z M163.3,147c0-45.6,37.1-82.6,82.6-82.6c45.6,0,82.6,37.1,82.6,82.6v51.1H163.3V147z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>&nbsp;&nbsp;<div>Pago 100% seguro</div></div>
                        <p class="description-security">Este certificado garantiza la seguridad de todas tus conexiones mediante cifrado.</p>
                    </el-row>
                        <el-row>
                            <div class="discount-link">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489" xml:space="preserve"><g><g><path d="M247.298,336.8c-5.9,5.9-5.9,15.6,0,21.5s15.6,5.9,21.5,0s5.9-15.6,0-21.5C262.898,330.8,253.198,330.8,247.298,336.8z"/><path d="M171.998,274.9c-5.9-5.9-15.6-5.9-21.5,0s-5.9,15.6,0,21.5s15.6,5.9,21.5,0S177.898,280.9,171.998,274.9z"/><path d="M414.498,31c-4.7-11.4-19.1-30.6-62.9-31c-0.5,0-0.9,0-1.4,0c-26.9,0-58.9,7.1-90.4,20.1c-5.8,2.4-11.4,4.9-16.8,7.6l-0.3-0.3c-18-17.5-46.7-17.5-64.7,0l-88.2,85.7c-11.7,11.3-18.3,26.9-18.3,43.2v290.3c0,23.4,19,42.4,42.4,42.4h193c23.4,0,42.4-19,42.4-42.4V156.3c0-8.3-1.7-16.5-5-23.9c18.7-10.5,35-22.5,47.5-35.1C422.398,66.2,419.198,42.4,414.498,31z M124.498,285.7c0-20.2,16.5-36.7,36.7-36.7s36.7,16.5,36.7,36.7s-16.5,36.7-36.7,36.7C140.998,322.4,124.598,306,124.498,285.7z M155.698,381.7c-3.8-3.2-4.3-8.8-1.2-12.6l96.4-116.1c3.2-3.8,8.8-4.3,12.6-1.2c3.8,3.2,4.3,8.8,1.2,12.6l-96.4,116.1C165.098,384.3,159.498,384.8,155.698,381.7z M258.098,384.3c-20.2,0-36.7-16.5-36.7-36.7s16.5-36.7,36.7-36.7c20.2,0,36.7,16.5,36.7,36.7C294.798,367.8,278.298,384.3,258.098,384.3z M298.798,114.7c-18.4,7.6-37.3,13-54.5,15.6c0,0.8,0.1,1.5,0.1,2.3c0,19.4-15.7,35.1-35.1,35.1s-35.1-15.7-35.1-35.1s15.7-35.1,35.1-35.1c11.6,0,21.8,5.6,28.2,14.2c16.3-2.8,33.9-7.9,51.2-15c6.1-2.5,11.8-5.1,17.2-7.8l-35.4-34.5c1-0.4,2-0.8,3-1.3c26.9-11.1,54.8-17.4,76.8-17.4c0.3,0,0.7,0,1,0c21.1,0.2,29,5.9,30.2,8.9C385.198,53.8,361.698,88.8,298.798,114.7z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                <div>¿Tienes código de descuento?</div>
                            </div>
                            <el-col :class="{'code-block': true, 'border-valid': stateCupon == 1, 'border-invalid': stateCupon == -1}" >
                                <el-col :span="16"><el-input v-model="coupon" class="input-code" placeholder="Ingresa tu código" :disabled="hasCoupon"></el-input></el-col>
                                <el-col :span="8"><el-button class="validate-code" @click="onValidateCoupon" :disabled="coupon == null || coupon == ''">${couponButtonTitle}</el-button></el-col>
                            </el-col>
                            <el-col v-if="stateCupon == 1" class="result-cupon" style="color: #3ce0ba;">
                                <el-col :span="2"><i class="far fa-check-circle"></i></el-col>
                                <el-col :span="22"><p>¡Bien! El Código es Válido, ya tienes tu ${discount} de descuento (solo pagas S/${showUltimatePrice}).<br>Continúa (antes que me arrepienta) <strong>:)</strong></p></el-col>
                            </el-col>
                            <el-col v-if="stateCupon == -1" class="result-cupon" style="color: #fa4a4a;">
                                <el-col :span="2"><img src="{% static 'img/icons/exclamation-mark.png' %}" /></el-col>
                                <el-col :span="22"><p>Lo siento pero no reconozco el código que acabas de ingresar. Intenta otra vez, o si estás seguro que el error es mío, puedes escribirme a <strong><a href="mailto:hablemos@rockfitlife.com">hablemos@rockfitlife.com</a></strong></p></el-col>
                            </el-col>
                        </el-row>
                </el-col>
            {% endif %}
            
        </el-row>
        <!-- <div class="row">
            {% if plan.accept_coupons and not request.user.current_plan.first %}
            <div class="col-xs-12">
                <div>
                    <input type="text" v-model="coupon" value="" :disabled="hasCoupon">
                </div>
                <div v-if="!hasCoupon">
                    <input @click="onValidateCoupon" name="signin-btn" type="button" :value="couponButtonTitle" class="button button-bg">
                </div>
            </div>
            {% endif %}

            
            <div v-if="card">
                <div class="col-xs-12">
                    <input type="radio" id="card" name="card-radio" value="card" checked>
                    <label for="one">${card.card_brand} ${card.card_number_masked} (${card.card_expire_month}/${card.card_expire_year})</label>
                    <br>
                    <input type="radio" id="new" name="card-radio" value="false">
                    <label for="two">Nueva tarjeta</label>
                    <br>
                </div>
            </div>

            <div v-show="showCard" :class="{'card-form':true}">
                <div class="col-xs-12">
                    <label>NÚMERO DE TARJETA</label>
                    <the-mask mask="#### #### #### ####" v-model="creditCardNumber" type="text" :masked="true" placeholder="0000 0000 0000 0000" id="card-number"></the-mask>
                </div>

                <div class="col-xs-12">
                    <label>Fecha</label>
                    <the-mask mask="##/##" v-model="creditCardDate" type="text" :masked="true" placeholder=""></the-mask>
                </div>

                <div class="col-xs-12">
                    <label>CVV</label>
                    <the-mask mask="####" v-model="creditCardCVV" type="text" :masked="false" placeholder=""></the-mask>
                </div>
            </div>

            <div class="col-xs-12">
                <input @click="onClickBuy" name="signin-btn" type="button" value="Take my money" class="button button-bg">
            </div>

        </div> -->
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    var CULQI_PUBLIC_KEY = "{{CULQI_PUBLIC_KEY}}"
    var planId = {{plan.id}}
    var buyPlanSelectedUrl = "{% url "buy-plan-selected-complete" plan.id %}"
    var selectedPlanId = {{ plan.id }}
    var buyConfirmationUrl = "{% url "buy-plan-selected-confirmation" plan.id %}"
    var validateCouponUrl = "{% url "validate-coupon" %}"
    var card = {% autoescape off %}{{card}}{% endautoescape %}
    var planPrice = "{{plan.current_price}}"
</script>
<script src="{% static 'js/buy-plan.js' %}"></script>
{% endblock %}