{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/buy-plan-selected.css' %}">
{% endblock %}
{% block content %}
<div id="buy-pass" style="display:none;">
    <div class="container mobile-container-fluid">
        <form class="card-form" action="" method="POST" id="culqi-card-form" data-vv-scope="culqi" :ref="'culqi-form'">
            <input type="hidden" size="50" data-culqi="card[email]" id="card[email]" value="{{request.user.email}}">
            <input type="hidden" size="20" data-culqi="card[number]" id="card[number]" :value="cardNumber">
            <input type="hidden" size="4" data-culqi="card[cvv]" id="card[cvv]" :value="creditCardCVV">
            <input type="hidden" size="2" data-culqi="card[exp_month]" id="card[exp_month]" :value="cardMonth">
            <input type="hidden" size="4" data-culqi="card[exp_year]" id="card[exp_year]" :value="cardYear">
        </form>
        <el-row style="padding:20px 0 60px 0">
            <el-col :span="24" style="display:flex;justify-content:center">
                <el-col :span="4" class="button-retro">
                    <a href="{% url 'buy-plan' %}"><el-button type="info"><i class="fas fa-chevron-left"></i></el-button></a>
                </el-col>
                <el-col :span="14">
                    <el-steps :active="1" align-center finish-status="success" :space="200">
                        <el-step title="ELIGE"></el-step>
                        <el-step title="COMPRA"></el-step>
                        <el-step title="¡LISTO!" ></el-step>
                    </el-steps>
                </el-col>
                
            </el-col>
        </el-row>
        <el-row :gutter="30" class="content-buy">
            <el-col :xs="24" :sm="24" :md="17" :lg="17" :xl="17" class="div-left">
                <div class="block-payment">
                    <el-row class="items">
                        <el-col :span="1" class="icon-block"><i class="fas fa-check-circle"></i></el-col>
                        <el-col :span="23" class="content">
                            <p class="title-step">ELECCIÓN DE PASE</p>
                            <p class="selected-plan">Pase individual</p>
                            <ul class="details-plan">
                                <li><i class="fas fa-circle"></i><span>Vigencia de uso: {{now|date:'j/m/Y'}} (hoy) - {{next_payment|date:'j/m/Y'}}</span></li>
                                <li><i class="fas fa-circle"></i><span>Centro deportivo: <strong>{{sport_center.name}}</strong></span></li>
                                {% if sport_center.speciality %}<li><i class="fas fa-circle"></i><span>Especialidad: <strong>{{sport_center.speciality}}</strong></span></li>{% endif %}
                                <li><i class="fas fa-circle"></i><span>Distrito: {{sport_center.ubigeo.name}}</span></li>
                                <li><i class="fas fa-circle"></i><span>Dirección: {{sport_center.address}}</span></li>
                            </ul>
                            <p class="price-plan"><span style="font-size:19px;margin-left:4px;">S/&nbsp;</span>${priceSportCenter}</p>
                            <el-row class="membresia-info">
                                <p style="margin-bottom:15px;">Usa tu pase en cualquier clase de <strong>{{sport_center.name}}</strong> y te recomendamos reservar tu asistencia antes de ir para que asegures tu cupo a la clase.</p>
                            </el-row>
                            
                        </el-col>
                    </el-row>
                    <hr>
                    <el-row class="items">
                        <el-col :span="1" class="icon-block">
                            <div class="el-step__icon is-text" id="icon-number">
                                <div class="el-step__icon-inner">2</div>
                            </div>
                        </el-col>
                        <el-col :span="23" class="content" v-show="showCard" id="new-card">
                            <p class="title-step-payment">PAGO</p>
                            <p class="selected-plan">Tu Tarjeta y Documento de Identidad</p>
                            <el-row style="margin-top:15px;">
                                <label>NÚMERO DE TARJETA</label>
                                <el-col :span="24" :class="{ 'div-number-card': true ,'error': $v.creditCardNumber.$error }">
                                    <el-col class="div-digits-new">
                                        <the-mask mask="#### #### #### ####" v-model="creditCardNumber" type="text" :masked="true" placeholder="0000 0000 0000 0000" id="card-number" @input="$v.creditCardNumber.$touch()" :class="{ 'error': $v.creditCardNumber.$error }"></the-mask>
                                    </el-col>
                                    <el-col style="text-align:center;" class="three-cards">
                                        <img src="{% static 'img/icons/3tarjetas.png' %}">
                                    </el-col>
                                </el-col>
                                <el-col :span="24" class="label-error"  v-if="$v.creditCardNumber.$error">Asegúrate de ingresar una tarjeta válida.</el-col>
                            </el-row>
                            <el-row style="margin-top:15px;">
                                <el-col :span="12" class="expiration-date">
                                    <label>FECHA DE EXPIRACIÓN (MM YYYY)</label>
                                    <the-mask mask="## / ####" v-model="creditCardDate" type="text" :masked="true" placeholder="MM / YYYY" @input="$v.creditCardDate.$touch()" :class="{ 'error': $v.creditCardDate.$error }"></the-mask>
                                    <span style="color:red;font-size:12px;"  v-if="$v.creditCardDate.$error">Asegúrate de ingresar una fecha válida.</span>
                                </el-col>
                                <el-col :span="10" :offset="2" class="cvc">
                                    <label>CVC/CVV</label>
                                    <the-mask mask="####" v-model="creditCardCVV" type="text" :masked="false" placeholder="3 O 4 digitos" id="cvv-card" @input="$v.creditCardCVV.$touch()" :class="{ 'error': $v.creditCardCVV.$error }"></the-mask>
                                    <span style="color:red;font-size:12px;"  v-if="$v.creditCardCVV.$error">Asegúrate de ingresar un cvc/cvv válido.</span>
                                </el-col>
                            </el-row>
                            <!-- <el-row style="margin-top:15px;">
                                <label>DOCUMENTO DE IDENTIDAD (DNI)</label>
                                <el-col :span="24" class="div-document">
                                    <el-col :span="22"><the-mask mask="########" v-model="document" type="text" :masked="false" placeholder="00000000"></the-mask></el-col>
                                    <el-col :span="2" style="text-align:center;"><i class="fas fa-question-circle"></i></el-col>
                                </el-col>
                            </el-row> -->
                            <el-row style="margin-top:15px;float:right;" v-if="withCard && showCard">
                                <el-button class="button-card-new" @click="showCard = false">REGRESAR TARJETA</el-button>
                            </el-row>
                        </el-col>
                        <el-col :span="23" class="content" id="old-card" v-if="!showCard">
                            <p class="title-step-payment">PAGO</p>
                            <p class="selected-plan">Tu Tarjeta y Documento de Identidad</p>
                            <el-row style="margin-top:15px;">
                                <label>NÚMERO DE TARJETA</label>
                                <el-col :span="24" class="div-card">
                                    <el-col :span="8" class="div-digits" style="border-right: 1px solid #d2d2d2;"><div class="digits-hide"><span>* * * *&nbsp;&nbsp;&nbsp;&nbsp;* * * *&nbsp;&nbsp;&nbsp;&nbsp;* * * *</span></div><div class="last-digits">&nbsp;&nbsp;&nbsp;&nbsp;${card.card_number_masked.slice(-4)}</div></el-col>
                                    <el-col :span="16" class="details-card">
                                        <el-col class="div-date" :span="20" style="padding-left: 11px;">
                                            <p class="card-date">EXP: <span>${card.card_expire_month}/${card.card_expire_year.slice(-2)}</span></p>
                                        </el-col>
                                        <el-col class="image-card" :span="4">
                                                <img v-if="card.card_brand == 'Visa'" src="{% static 'img/icons/visa.jpg' %}">
                                                <img v-if="card.card_brand == 'MasterCard'" src="{% static 'img/icons/mastercard.jpg' %}">
                                                <img v-if="card.card_brand == 'Amex'" src="{% static 'img/icons/american.jpg' %}">
                                            </el-col>
                                    </el-col>
                                </el-col>
                            </el-row>
                            <el-row style="margin-top:15px;float:right;">
                                <!-- <el-button class="button-account">CUENTA DE USUARIO</el-button> -->
                                <el-button class="button-card-new" @click="showCard = true">NUEVA TARJETA</el-button>
                            </el-row>
                         </el-col>
                    </el-row>
                </div>
            </el-col>
            <el-col :xs="24" :sm="24" :md="7" :lg="7" :xl="7" class="div-right">
                <el-row class="block-result-payment">
                    <p class="subtotal">Subtotal<span style="float:right; font-size:19px">S/${priceSportCenter}</span></p>
                    <p class="discount">Descuento<span style="float:right;">-</span></p>
                    <hr>
                    <p class="total-payment">Total a pagar<span style="float:right; font-size:19px">S/${priceSportCenter}</span></p>
                    <el-button class="confirm-button" style="background:#4f9eff" @click="onClickBuy" v-if="!loading">AHORA SI ¡COMPRAR!</el-button>
                    <el-row style="margin:20px 0" v-else>
                        <beat-loader :loading="true" color="#4f9eff" size="20px"></beat-loader>
                        </el-row>
                    <div class="security"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.4 489.4" style="enable-background:new 0 0 489.4 489.4;" xml:space="preserve"><g><g><path d="M99,147v51.1h-3.4c-21.4,0-38.8,17.4-38.8,38.8v213.7c0,21.4,17.4,38.8,38.8,38.8h298.2c21.4,0,38.8-17.4,38.8-38.8V236.8c0-21.4-17.4-38.8-38.8-38.8h-1v-51.1C392.8,65.9,326.9,0,245.9,0C164.9,0.1,99,66,99,147z M267.7,353.2c-3,2.2-3.8,4.3-3.8,7.8c0.1,15.7,0.1,31.3,0.1,47l0,0c0.3,6.5-3,12.9-8.8,15.8c-13.7,7-27.4-2.8-27.4-15.8v-0.1c0-15.7,0-31.4,0.1-47.1c0-3.2-0.7-5.3-3.5-7.4c-14.2-10.5-18.9-28.4-11.8-44.1c6.9-15.3,23.8-24.3,39.7-21.1c17.7,3.6,30,17.8,30.2,35.5C282.5,336,277.6,346,267.7,353.2z M163.3,147c0-45.6,37.1-82.6,82.6-82.6c45.6,0,82.6,37.1,82.6,82.6v51.1H163.3V147z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>&nbsp;&nbsp;<div>Pago 100% seguro</div></div>
                    <p class="description-security">Este certificado garantiza la seguridad de todas tus conexiones mediante cifrado.</p>
                </el-row>
            </el-col>
        </el-row>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    var CULQI_PUBLIC_KEY = "{{CULQI_PUBLIC_KEY}}"
    var buyPassSelectedUrl = "{% url "buy-pass-selected-complete" sport_center.id %}"
    var selectedSportCenterId = {{ sport_center.id }}
    var buyConfirmationUrl = "{% url "buy-pass-selected-confirmation" sport_center.id %}"
    var card = {% autoescape off %}{{card}}{% endautoescape %}
    var priceSportCenter = parseFloat({{sport_center.pass_amount}})
</script>
<script src="{% static 'js/buy-pass.js' %}"></script>
{% endblock %}