{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/buy-plan.css' %}">
{% endblock %}

{% block content %}
<style>
    {% for plan in plans %}
        .background-title-plan-{{plan.id}}{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2870dd+0,5a1dbf+100 */
            background: {{plan.left_color}}; /* Old browsers */
            background: -moz-linear-gradient(left, #{{plan.left_color}} 0%, #{{plan.right_color}} 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #{{plan.left_color}} 0%, #{{plan.right_color}} 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #{{plan.left_color}} 0%, #{{plan.right_color}} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{{plan.left_color}}', endColorstr='#{{plan.right_color}}',GradientType=1 ); /* IE6-9 */
        }
        #tag-{{plan.id}} path{
            fill:#{{plan.left_color}}
        }
    {% endfor %}
</style>
<div id="plans" style="display:none;">
    <div class="container mobile-container-fluid">
        <el-row style="padding:20px 0 30px 0">
            <el-col :span="24" style="display:flex;justify-content:center">
                <el-col :xl="13" :lg="13" :md="16" :sm="16" :xs="20">
                    <el-steps :active="0" align-center finish-status="success" :space="200">
                        <el-step title="ELIGE"></el-step>
                        <el-step title="COMPRA"></el-step>
                        <el-step title="¡LISTO!" ></el-step>
                    </el-steps>
                </el-col>
                
            </el-col>
        </el-row>
        <el-row>
            <p class="title-block-plan">Selecciona un plan<br>y comienza a reservar clases</p>
            <el-col :span="24" class="block-radio">
                <el-radio-group v-model="plus">
                    <el-radio-button :label="0">VER TODOS</el-radio-button>
                    <el-radio-button :label="1">VER SOLO PLANES PLUS</el-radio-button>
                </el-radio-group>
            </el-col>
            <el-col :span="24" class="container-plans">
                {% for plan in plans %}
                    {% if not plan.is_related %}
                        <div v-if="plus == 0">
                            <div class="container-plan" id="container-{{plan.id}}">
                                <div class="plan-div" id="plan-{{plan.id}}">
                                        <el-row class="background-title-plan-{{plan.id}} title-plan" >
                                            <p>PLAN</p>
                                            <p><strong>{{plan.name}}</strong></p>
                                        </el-row>
                                        <el-row class="body-plan">
                                            {% if plan.days %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>Por {{plan.days}} Días</span>
                                            </p>
                                            {% endif %}
                                            {% if plan.months %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>Por {{plan.months}} {% if plan.months > 1 %} Meses {% else %} Mes {% endif %}</span>
                                            </p>
                                            {% endif %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>{% if plan.pass_quantity != 0 %} {{plan.pass_quantity}} Clases {% else %} Clases Ilimitadas {% endif %}</span>
                                            </p>
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>Hasta {{plan.repetitions_quantity}} clases en un mismo lugar</span>
                                            </p>
                                            {% if plan.friendpass_quantity %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>{{plan.friendpass_quantity}} Friend Pass</span>
                                            </p>
                                            {% endif %}
                                            {% if plan.is_premium %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>Centros Exclusivos</span>
                                            </p>
                                            {% endif %}
                                            {% if plan.name == 'COMPLEMENTA' or plan.name == 'PRUEBA' %}
                                                <div style="padding:15px 0px 0 12px">
                                                    <span class="not-apply">No aplica para:</span>
                                                    <ul>
                                                        <li>Descuentos referidos</li>
                                                        {% if plan.name == 'PRUEBA' %}<li>Ofertas de verano</li>{% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </el-row>
                                        <el-row class="promo-div">
                                            <span class="price-plan"><span style="font-size:19px">S/&nbsp;</span>${getPriceString({{plan.current_price}})}</span>
                                            <!-- {% if user_plan and user_plan.name == plan.name  %}
                                                <el-button class="buy-button" style="background: #{{plan.left_color}}" :disabled="true">TU PLAN ACTUAL</el-button>
                                                
                                            {% else %}
                                            {% endif %} -->
                                            <a href="{% url 'buy-plan-selected' plan.id %}">
                                                <el-button class="buy-button" style="background: #{{plan.left_color}}">ESTE QUIERO</el-button>
                                            </a>
        
                                            {% if plan.related_plan %}
                                                <el-button class="promo-button" style="color:#{{plan.left_color}}; border-color:#{{plan.left_color}};" @click="showRelatedPlan({{plan.id}})">
                                                        <svg version="1.1" id="tag-{{plan.id}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;width:12px" xml:space="preserve"><g><g><path d="M247.298,336.8c-5.9,5.9-5.9,15.6,0,21.5s15.6,5.9,21.5,0s5.9-15.6,0-21.5C262.898,330.8,253.198,330.8,247.298,336.8z"/><path d="M171.998,274.9c-5.9-5.9-15.6-5.9-21.5,0s-5.9,15.6,0,21.5s15.6,5.9,21.5,0S177.898,280.9,171.998,274.9z"/><path d="M414.498,31c-4.7-11.4-19.1-30.6-62.9-31c-0.5,0-0.9,0-1.4,0c-26.9,0-58.9,7.1-90.4,20.1c-5.8,2.4-11.4,4.9-16.8,7.6l-0.3-0.3c-18-17.5-46.7-17.5-64.7,0l-88.2,85.7c-11.7,11.3-18.3,26.9-18.3,43.2v290.3c0,23.4,19,42.4,42.4,42.4h193c23.4,0,42.4-19,42.4-42.4V156.3c0-8.3-1.7-16.5-5-23.9c18.7-10.5,35-22.5,47.5-35.1C422.398,66.2,419.198,42.4,414.498,31z M124.498,285.7c0-20.2,16.5-36.7,36.7-36.7s36.7,16.5,36.7,36.7s-16.5,36.7-36.7,36.7C140.998,322.4,124.598,306,124.498,285.7z M155.698,381.7c-3.8-3.2-4.3-8.8-1.2-12.6l96.4-116.1c3.2-3.8,8.8-4.3,12.6-1.2c3.8,3.2,4.3,8.8,1.2,12.6l-96.4,116.1C165.098,384.3,159.498,384.8,155.698,381.7z M258.098,384.3c-20.2,0-36.7-16.5-36.7-36.7s16.5-36.7,36.7-36.7c20.2,0,36.7,16.5,36.7,36.7C294.798,367.8,278.298,384.3,258.098,384.3z M298.798,114.7c-18.4,7.6-37.3,13-54.5,15.6c0,0.8,0.1,1.5,0.1,2.3c0,19.4-15.7,35.1-35.1,35.1s-35.1-15.7-35.1-35.1s15.7-35.1,35.1-35.1c11.6,0,21.8,5.6,28.2,14.2c16.3-2.8,33.9-7.9,51.2-15c6.1-2.5,11.8-5.1,17.2-7.8l-35.4-34.5c1-0.4,2-0.8,3-1.3c26.9-11.1,54.8-17.4,76.8-17.4c0.3,0,0.7,0,1,0c21.1,0.2,29,5.9,30.2,8.9C385.198,53.8,361.698,88.8,298.798,114.7z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                        <div>{{plan.related_plan_title}}</div>
                                                </el-button>
                                                <div style="color:#{{plan.left_color}}; font-size: 10px;">{{plan.related_plan_description}}</div>
                                            {% endif %}
                                        </el-row>
                                </div>
                                {% if plan.related_plan %}
                                    <div id="plan-related-{{plan.id}}" style="display:none;">
                                        <p class="icon-related-plan" style="color: #{{plan.left_color}};"><i class="fas fa-caret-down"></i></p>
                                        <div class="related-plan-div" style="border: 1px solid #{{plan.left_color}}">
                                            <el-row class="title-related-plan" style="color: #{{plan.left_color}}">
                                                <p>PLAN</p>
                                                <p><strong>{{plan.related_plan.name}}</strong></p>
                                            </el-row>
                                            <el-row class="body-plan">
                                                <p>
                                                    <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                    <span>Por {{plan.related_plan.months}} {% if plan.related_plan.months > 1 %} Meses {% else %} Mes {% endif %}</span>
                                                </p>
                                                {% if plan.related_plan.is_premium  %}
                                                <p>
                                                    <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                    <span>Centros Exclusivos</span>
                                                </p>
                                                {% endif %}
                                                <p>
                                                    <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                    <span>{% if plan.related_plan.pass_quantity != 0 %} {{plan.related_plan.pass_quantity}} Clases {% else %} Clases Ilimitadas {% endif %}</span>
                                                </p>
                                                <p>
                                                    <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                    <span>Hasta {{plan.related_plan.repetitions_quantity}} clases en un mismo lugar</span>
                                                </p>
                                                <p>
                                                    <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                    <span>{{plan.related_plan.friendpass_quantity}} Friend Pass</span>
                                                </p>
                                                <p>
                                                    <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                    <span>Congelar 10 días</span>
                                                </p>
                                            </el-row>
                                            <el-row class="price-div">
                                                <span class="price-plan"><span style="font-size:19px">S/&nbsp;</span>${getPriceString({{plan.related_plan.current_price}})}</span>
                                                <!-- {% if user_plan and user_plan.name == plan.related_plan.name  %}
                                                    <el-button class="buy-button" style="background: #{{plan.left_color}}" :disabled="true">TU PLAN ACTUAL</el-button>
                                                {% else %}
                                                {% endif %} -->
                                                <a href="{% url 'buy-plan-selected' plan.related_plan.id %}">
                                                    <el-button class="buy-button" style="background: #{{plan.left_color}}">ESTE QUIERO</el-button>
                                                </a>
                                            </el-row>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div v-if="plus == 1">
                            {% if plan.is_premium %}
                                <div class="container-plan" id="container-{{plan.id}}">
                                    <div class="plan-div" id="plan-{{plan.id}}">
                                        <el-row class="background-title-plan-{{plan.id}} title-plan" >
                                            <p>PLAN</p>
                                            <p><strong>{{plan.name}}</strong></p>
                                        </el-row>
                                        <el-row class="body-plan">
                                            {% if plan.days %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>Por {{plan.days}} Días</span>
                                            </p>
                                            {% endif %}
                                            {% if plan.months %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>Por {{plan.months}} {% if plan.months > 1 %} Meses {% else %} Mes {% endif %}</span>
                                            </p>
                                            {% endif %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>{% if plan.pass_quantity != 0 %} {{plan.pass_quantity}} Clases {% else %} Clases Ilimitadas {% endif %}</span>
                                            </p>
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>Hasta {{plan.repetitions_quantity}} clases en un mismo lugar</span>
                                            </p>
                                            {% if plan.friendpass_quantity %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>{{plan.friendpass_quantity}} Friend Pass</span>
                                            </p>
                                            {% endif %}
                                            {% if plan.is_premium %}
                                            <p>
                                                <i class="fas fa-check"></i>
                                                <span>Centros Exclusivos</span>
                                            </p>
                                            {% endif %}
                                            {% if plan.name == 'COMPLEMENTA' or plan.name == 'PRUEBA' %}
                                                <div style="padding:15px 0px 0 12px">
                                                    <span class="not-apply">No aplica para:</span>
                                                    <ul>
                                                        <li>Descuentos referidos</li>
                                                        {% if plan.name == 'PRUEBA' %}<li>Ofertas de verano</li>{% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </el-row>
                                        <el-row class="promo-div">
                                            <span class="price-plan"><span style="font-size:19px">S/&nbsp;</span>${getPriceString({{plan.current_price}})}</span>
                                            <!-- {% if user_plan and user_plan.name == plan.name  %}
                                                <el-button class="buy-button" style="background: #{{plan.left_color}}" :disabled="true">TU PLAN ACTUAL</el-button>
                                                
                                            {% else %}
                                            {% endif %} -->
                                            <a href="{% url 'buy-plan-selected' plan.id %}">
                                                <el-button class="buy-button" style="background: #{{plan.left_color}}">ESTE QUIERO</el-button>
                                            </a>
        
                                            {% if plan.related_plan %}
                                                <el-button class="promo-button" style="color:#{{plan.left_color}}; border-color:#{{plan.left_color}};" @click="showRelatedPlan({{plan.id}})">
                                                        <svg version="1.1" id="tag-{{plan.id}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;width:12px" xml:space="preserve"><g><g><path d="M247.298,336.8c-5.9,5.9-5.9,15.6,0,21.5s15.6,5.9,21.5,0s5.9-15.6,0-21.5C262.898,330.8,253.198,330.8,247.298,336.8z"/><path d="M171.998,274.9c-5.9-5.9-15.6-5.9-21.5,0s-5.9,15.6,0,21.5s15.6,5.9,21.5,0S177.898,280.9,171.998,274.9z"/><path d="M414.498,31c-4.7-11.4-19.1-30.6-62.9-31c-0.5,0-0.9,0-1.4,0c-26.9,0-58.9,7.1-90.4,20.1c-5.8,2.4-11.4,4.9-16.8,7.6l-0.3-0.3c-18-17.5-46.7-17.5-64.7,0l-88.2,85.7c-11.7,11.3-18.3,26.9-18.3,43.2v290.3c0,23.4,19,42.4,42.4,42.4h193c23.4,0,42.4-19,42.4-42.4V156.3c0-8.3-1.7-16.5-5-23.9c18.7-10.5,35-22.5,47.5-35.1C422.398,66.2,419.198,42.4,414.498,31z M124.498,285.7c0-20.2,16.5-36.7,36.7-36.7s36.7,16.5,36.7,36.7s-16.5,36.7-36.7,36.7C140.998,322.4,124.598,306,124.498,285.7z M155.698,381.7c-3.8-3.2-4.3-8.8-1.2-12.6l96.4-116.1c3.2-3.8,8.8-4.3,12.6-1.2c3.8,3.2,4.3,8.8,1.2,12.6l-96.4,116.1C165.098,384.3,159.498,384.8,155.698,381.7z M258.098,384.3c-20.2,0-36.7-16.5-36.7-36.7s16.5-36.7,36.7-36.7c20.2,0,36.7,16.5,36.7,36.7C294.798,367.8,278.298,384.3,258.098,384.3z M298.798,114.7c-18.4,7.6-37.3,13-54.5,15.6c0,0.8,0.1,1.5,0.1,2.3c0,19.4-15.7,35.1-35.1,35.1s-35.1-15.7-35.1-35.1s15.7-35.1,35.1-35.1c11.6,0,21.8,5.6,28.2,14.2c16.3-2.8,33.9-7.9,51.2-15c6.1-2.5,11.8-5.1,17.2-7.8l-35.4-34.5c1-0.4,2-0.8,3-1.3c26.9-11.1,54.8-17.4,76.8-17.4c0.3,0,0.7,0,1,0c21.1,0.2,29,5.9,30.2,8.9C385.198,53.8,361.698,88.8,298.798,114.7z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                        <div>{{plan.related_plan_title}}</div>
                                                </el-button>
                                                <div style="color:#{{plan.left_color}}; font-size: 10px;">{{plan.related_plan_description}}</div>
                                            {% endif %}
                                        </el-row>
                                    </div>
                                    {% if plan.related_plan %}
                                        <div id="plan-related-{{plan.id}}" style="display:none;">
                                            <p class="icon-related-plan" style="color: #{{plan.left_color}};"><i class="fas fa-caret-down"></i></p>
                                            <div class="related-plan-div" style="border: 1px solid #{{plan.left_color}}">
                                                <el-row class="title-related-plan" style="color: #{{plan.left_color}}">
                                                    <p>PLAN</p>
                                                    <p><strong>{{plan.related_plan.name}}</strong></p>
                                                </el-row>
                                                <el-row class="body-plan">
                                                    <p>
                                                        <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                        <span>Por {{plan.related_plan.months}} {% if plan.related_plan.months > 1 %} Meses {% else %} Mes {% endif %}</span>
                                                    </p>
                                                    {% if plan.related_plan.is_premium  %}
                                                    <p>
                                                        <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                        <span>Centros Exclusivos</span>
                                                    </p>
                                                    {% endif %}
                                                    <p>
                                                        <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                        <span>{% if plan.related_plan.pass_quantity != 0 %} {{plan.related_plan.pass_quantity}} Clases {% else %} Clases Ilimitadas {% endif %}</span>
                                                    </p>
                                                    <p>
                                                        <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                        <span>Hasta {{plan.related_plan.repetitions_quantity}} clases en un mismo lugar</span>
                                                    </p>
                                                    <p>
                                                        <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                        <span>{{plan.related_plan.friendpass_quantity}} Friend Pass</span>
                                                    </p>
                                                    <p>
                                                        <i class="fas fa-check" style="color: #{{plan.left_color}}"></i>
                                                        <span>Congelar 10 días</span>
                                                    </p>
                                                </el-row>
                                                <el-row class="price-div">
                                                    <span class="price-plan"><span style="font-size:19px">S/&nbsp;</span>${getPriceString({{plan.related_plan.current_price}})}</span>
                                                    <a href="{% url 'buy-plan-selected' plan.related_plan.id %}">
                                                        <el-button class="buy-button" style="background: #{{plan.left_color}}">ESTE QUIERO</el-button>
                                                    </a>
                                                    <!-- {% if user_plan and user_plan.name == plan.related_plan.name  %}
                                                        <el-button class="buy-button" style="background: #{{plan.left_color}}" :disabled="true">TU PLAN ACTUAL</el-button>
                                                    {% else %}
                                                    {% endif %} -->
                                                    <a href="{% url 'buy-plan-selected' plan.related_plan.id %}">
                                                        <el-button class="buy-button" style="background: #{{plan.left_color}}">ESTE QUIERO</el-button>
                                                    </a>
                                                </el-row>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="container-plan">
                    <div class="plan-div">
                        <el-row class="title-pase">
                            <p>PASE</p>
                            <p><strong>INDIVIDUAL</strong></p>
                        </el-row>
                        <el-row class="body-pase">
                            <p><i class="fas fa-check"></i><span>Vigencia 1 Mes</span></p>
                            <p><i class="fas fa-check"></i><span>Válido para cualquier clase del centro deportivo que selecciones</span></p>
                        </el-row>
                        <hr>
                        <el-row class="select-pase" style="text-align:center;">
                            <el-select v-model="selectedPlanForPass" size="mini" placeholder="Selecciona tu centro" class="select-center" no-data-text="Sin centros">
                                <el-option
                                v-for="item in sportCentersDropdown"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"
                                >
                                </el-option>
                            </el-select>
                            <p class="label-pase" v-if="passPrice">Costo de Pase</p>
                            <span class="price-plan" v-if="passPrice"><span style="font-size:19px">S/&nbsp;</span>${passPrice}</span>
                            <div class="div-button-buy">
                                <a :href="buyPassUrl" :class="{'not-allowed': selectedPlanForPass == null}"><el-button class="buy-button" style="background: #474646" :disabled="selectedPlanForPass == null">ESTE QUIERO</el-button></a>
                                <p class="not-apply-pase">Este pase <strong>NO APLICA</strong> para descuentos referidos</p>
                            </div>
                        </el-row>
                        <!-- <a @click="onClickBuyPass" :disabled="selectedPlanForPass == null" :href="buyPassUrl">Este quiero</a> -->
                    </div>
                </div>
            </el-col>
        </el-row>
        
        <!-- <br>
        <div class="row" v-if="sportCentersDropdown.length > 0">
            <div class="col-xs-12">
                <div>Pase individual</div>
                <div>Vigencia de uso: 30 días</div>
                <div>Válido para cualquier clase o actividad del centro deportivo seleccionado</div>
                <div><v-select v-model="selectedPlanForPass" :options="sportCentersDropdown"></v-select></div>
                <a @click="onClickBuyPass" :disabled="selectedPlanForPass == null" :href="buyPassUrl">Este quiero</a>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    var sportCenters = {% autoescape off %}{{sport_centers}}{% endautoescape %}
    var buyPassUrlFirst = "{% url "buy-pass-selected" 0 %}"
    var plus = {% autoescape off %}{{plus}}{% endautoescape %}
</script>
<script src="{% static 'js/plans.js' %}"></script>
{% endblock %}