{% load static %}
{% load humanize %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- import CSS -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        
        <title>Rockfit</title>

        {% include 'partials/base_header.html' %}
        
    </head>
    {% block extrahead %}
    {% endblock %}
    <body>
        <div class="main-wrapper">
            <!-- Start Main Header -->
            <header class="main-header">
                <div class="header-top-background"></div>

                <div class="top-bar" id="auth">
                    <div class="container" id="header-container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 auth-links">
                                <ul class="list-contact">
                                    <li><a><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;<span>facebook</span></a></li>
                                    <li><a><img src="{% static 'img/imbox.png' %}" />&nbsp;&nbsp;&nbsp;<span>contacto@rockfitlife.com</span></a></li>
                                    <li><a @click="openSportCenterModal" class="have-center">¿Tienes un centro deportivo?</a></li>
                                </ul>
                                {% if not request.user.is_authenticated %}
                                <ul class="list-register">
                                    <li><a @click="showLoginModal(false)" href="#" class="sign-in enter-btn">Iniciar sesión</a></li>
                                    <li class="divider">|</li>
                                    <li><a @click="showRegisterModal(false)" href="#" class="sign-up">Registrarse</a></li>
                                </ul>
                                {% else %}
                                <div class="list-register">
                                    <span class="welcome">{{request.user.first_name}}</span> | 
                                    <span><a class="logout" href="{% url 'my-account' %}">Mi cuenta</a></span> | 
                                    <span><a class="logout" href="{% url 'logout-user' %}">Cerrar sesión</a></span>
                                </div>
                                {% endif %}
                            </div><!-- /.auth-links -->
                        </div>
                    </div><!-- /.container -->

                    <!-- Popups -->
                    <div id="modals" style="display: none;">
                        <modal name="signup" :adaptive="true" :resizable="false" height="auto" width="930px" :scrollable="true" class="modal-register" :click-to-close="false" >
                            <el-row>
                                <a @click="hideModalSignup" class="home-modal-close-button"><i class="fal fa-times-circle"></i></a>
                                <div class="dialog-center-left">
                                    <img src="{% static '/img/logo-center-modal.png' %}" />
                                    <p class="description">Estás a una sola membresía de entrenar lo que quieras en donde quieras ;)</p>
                                </div>
                                <div class="dialog-center-right">
                                    <p class="title-modal">CREA TU CUENTA DE USUARIO</p>
                                    <!-- <p class="description">Ahora solo llena el formulario para contactarte y darte todos los detalles.</p> -->
                                    <el-row>
                                        <el-button class="facebook" @click="registerWithFacebook"><i class="fab fa-facebook-square"></i></i>&nbsp;&nbsp;REGÍSTRATE CON TU FACEBOOK</el-button>
                                    </el-row>
                                    <el-row>
                                        <p class="or">- O REGISTRA TUS DATOS -</p>
                                    </el-row>
                                    <el-row>
                                        <p style="margin-top:14px;">Los campos con asterisco (*) son obligatorios.</p>
                                    </el-row>
                                    <el-row class="step register">
                                        <p class="subtitle">* Email</p>
                                        <el-input placeholder="Email" @input="$v.email.$touch()" :class="{ 'error': $v.email.$error }" v-model="email" type="email"></el-input>
                                        <p class="subtitle">* Nombres</p>
                                        <el-input placeholder="Nombres" @input="$v.name.$touch()" :class="{ 'error': $v.name.$error }" v-model="name"></el-input>
                                        <p class="subtitle">* Apellidos</p>
                                        <el-input placeholder="Apellidos" @input="$v.lastname.$touch()" :class="{ 'error': $v.lastname.$error }" v-model="lastname"></el-input>
                                        <p class="subtitle">* Contraseña</p>
                                        <el-input placeholder="Contraseña" @input="$v.password.$touch()" :class="{ 'error': $v.password.$error }" v-model="password" type="password"></el-input>
                                        <p class="subtitle">Fecha de nacimiento</p>
                                        <el-date-picker
                                            v-model="birthday"
                                            type="date"
                                            placeholder="Fecha"
                                            format="dd/MM/yyyy"
                                            default-value="2000-02-01">
                                        </el-date-picker>
                                        <p class="subtitle">Teléfono</p>
                                        <el-input placeholder="Teléfono" @input="$v.phone.$touch()" :class="{ 'error': $v.phone.$error }" v-model="phone"></el-input>
                                    </el-row>
                                    <el-button class="button-enterprise" :disabled="!($v.$anyDirty && $v.$anyError == false)" @click="registerUser" v-if="!loadingRegister">REGISTRARME</el-button>
                                    <beat-loader :loading="loadingRegister" color="#1ca8ed" size="15px" style="margin-top:20px;"></beat-loader>
                                    <p class="terms">Acepto los <a target="_blank" href="{% static 'terms/terminosycondiciones.pdf' %}">términos del servicio</a> y las <a target="_blank" href="{% static 'terms/terminosycondiciones.pdf' %}">condiciones de privacidad</a></p>
                                </div>
                            </el-row>
                        </modal>

                        <modal name="signin" :adaptive="true" :resizable="false" height="auto" width="930px" :scrollable="true" :click-to-close="false" class="modal-login">
                            <el-row>
                                <a @click="hideModalLogin" class="home-modal-close-button"><i class="fal fa-times-circle"></i></a>
                                <div class="dialog-center-left">
                                    <img src="{% static '/img/logo-center-modal.png' %}" />
                                    <p class="description">Estás a una sola membresía de entrenar lo que quieras en donde quieras ;)</p>
                                </div>
                                <div class="dialog-center-right" v-if="!showForgotModal">
                                    <p class="title-modal big">INGRESA A TU CUENTA<br>DE USUARIO</p>
                                    <p class="title-modal one-line">INGRESA A TU CUENTA DE USUARIO</p>
                                    <!-- <p class="description">Ahora solo llena el formulario para contactarte y darte todos los detalles.</p> -->
                                    <span v-if="errorLogin" class="error-message">¡Uy! Dislexia. Revisa tus datos :)</span>
                                    <el-row class="step">
                                        <p class="subtitle">* Email</p>
                                        <el-input placeholder="Email" @input="$v.email.$touch()" @keyup.native.enter="loginUser" :class="{ 'error': $v.email.$error }" v-model="email" type="email"></el-input>
                                        <p class="subtitle">* Contraseña</p>
                                        <el-input placeholder="Contraseña" @input="$v.password.$touch()" @keyup.native.enter="loginUser" :class="{ 'error': $v.password.$error }" v-model="password" type="password"></el-input>
                                    </el-row>
                                    <p class="terms"><a target="_blank" @click="showForgotModal = true">¿Olvidaste tu contraseña?</a></p>
                                    <el-button class="button-enterprise" :disabled="!($v.$anyDirty && $v.email.$error == false && $v.password.$error == false)" @click="loginUser" v-if="!loadingLogin">INGRESAR</el-button>
                                    <beat-loader :loading="loadingLogin" color="#1ca8ed" size="15px" style="margin-top:20px;"></beat-loader>
                                    
                                    <!-- <el-button class="button-enterprise facebook"><i class="fab fa-facebook-square"></i></i>&nbsp;&nbsp;INGRESA CON TU FACEBOOK</el-button> -->
                                    <p class="extra">¿Todavía no tienes una cuenta?</p>
                                    <p class="link-register" @click="showRegisterModal(false)">REGISTRATE AQUÍ</p>
                                </div>
                                <div class="dialog-center-right" v-else>
                                    <!-- <p class="title-modal">INGRESA A TU CUENTA DE USUARIO</p> -->
                                    <p class="description">Nos pasa a todos. Ingresa tu correo electrónico para enviarte el enlace desde donde podrás cambiar tu contraseña:</p>
                                    <el-row class="step">
                                        <p class="subtitle">Email*</p>
                                        <el-input placeholder="Email" @input="$v.email.$touch()" :class="{ 'error': $v.email.$error }" v-model="email" type="email"></el-input>
                                    </el-row>
                                    <el-button class="button-enterprise" :disabled="!($v.$anyDirty && $v.email.$error == false)" @click="sendPasswordReset"  @click="loginUser">ENVIAR</el-button>
                                    <p @click="showForgotModal = false" class="preview"><i class="far fa-arrow-alt-circle-left"></i> Volver</p>
                                </div>
                            </el-row>
                                <!-- <h3>Iniciar sesión</h3>
                                <span>¿No tienes cuenta? <a @click="showRegisterModal" href="#" class="popup">Crear cuenta</a></span>
                                <form action="#">
                                    <div class="form-group">
                                        <label for="signin-email">Email</label>
                                        <input @input="$v.email.$touch()" :class="{ 'error': $v.email.$error }" v-model="email" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-password">Contraseña</label>
                                        <input @input="$v.password.$touch()" :class="{ 'error': $v.password.$error }" v-model="password" type="password">
                                    </div>
                                    <a @click="showForgotModal" href="#" class="popup clr-lighther block">Olvidé mi contraseña?</a>
                                    <input @click="loginUser" type="button" name="signin-btn" class="button button-bg" value="Ingresar">
                                </form>
                                <div class="social-signin">
                                    <span>o</span>
                                    <a href="#" class="social-sign sign-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <span>Facebook</span>
                                    </a>
                                </div> -->
                        </modal>

                        <modal name="forgot-password" :adaptive="true" :resizable="false" height="auto" width="390px" :scrollable="true" :click-to-close="false">

                            <div class="popup-window">
                                <h3>Olvidé mi contraseña</h3>
                                <span>¿Ya tienes cuenta? <a @click="showLoginModal" href="#" class="popup">Iniciar sesión</a></span>
                                <form action="#">
                                    <div class="form-group">
                                        <label for="forgot-email">Email *</label>
                                        <input @input="$v.email.$touch()" :class="{ 'error': $v.email.$error }" v-model="email" type="text">
                                    </div>

                                    <input :disabled="$v.email.$error" @click="sendPasswordReset" type="button" name="forgot-btn" class="button button-bg" value="Enviar">
                                </form>
                        </modal>
                    </div>

                </div><!-- /.top-bar -->

                <div class="nav-bar nav-bar-black">
                    <div class="nav-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-sm-7 col-xs-7">
                                    <div class="logo">
                                        <a href="/" class="site-title"><img src="{% static '/img/logo.png' %}" /></a>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-5 col-xs-5 nav-mobile">
                                    <div class="content">
                                        {% if request.user.is_authenticated %}
                                        <a href="{% url 'my-account' %}"><i class="fal fa-user-circle"></i></a>
                                        {% endif %}
                                        <a href="#" class="nav-trigger">
                                            <div class="bars">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="nav-box">
                                        <div class="main-nav">
                                            <div class="mobile-menu">
                                                {% if not request.user.is_authenticated %}
                                                <ul class="list-register">
                                                    <li><a @click="showLoginModal(true)" href="#" class="sign-in enter-btn">Iniciar sesión</a></li>
                                                    <li class="divider">|</li>
                                                    <li><a @click="showRegisterModal(true)" href="#" class="sign-up">Registrarse</a></li>
                                                </ul>
                                                {% else %}
                                                <div class="list-register">
                                                    <span class="welcome">{{request.user.first_name}}</span> | 
                                                    <span><a class="logout" href="{% url 'my-account' %}">Mi cuenta</a></span> | 
                                                    <span><a class="logout" href="{% url 'logout-user' %}">Cerrar sesión</a></span>
                                                </div>
                                                {% endif %}
                                                <a @click="openSportCenterModal" class="have-center">¿Tienes un centro deportivo?</a>
                                                <div class="list-contact-mobile">
                                                    <div><a><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;<span>facebook</span></a></div>
                                                    <div><a><img src="{% static 'img/imbox.png' %}" />&nbsp;&nbsp;&nbsp;<span>contacto@rockfitlife.com</span></a></div>
                                                </div>
                                            </div>
                                            <hr>
                                            <ul>
                                                <li :class="{'active': {{active}} == 1}"><a href="/">Inicio</a></li>
                                                <li :class="{'active': {{active}} == 2}"><a href="{% url 'classes' %}">Clases</a></li>
                                                <li :class="{'active': {{active}} == 3}"><a href="{% url 'sport-centers' %}">Centros deportivos</a></li>
                                                <li :class="{'active': {{active}} == 4}"><a href="{% url 'buy-plan' %}">Planes y precios</a></li>
                                                <li><a id="faq">Preguntas frecuentes</a></li>
                                                <li><a href="/blog">Blog</a></li>
                                                <li><a class="inscribete" href="{% url 'buy-plan' %}#inscribete"><div>Inscríbete</div></a></li>
                                            </ul>
                                        </div><!-- /.main-nav -->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.nav-bar-container -->
                    <div class="search-box">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="#">
                                        <input type="text" name="search" class="search-inp" placeholder="Type then hit enter to search..." autofocus>
                                        <a href="#" class="search-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.search-box -->
                </div><!-- /.nav-bar -->
            </header><!-- /.main-header -->
            <!-- End Main Header -->

            <!-- Start Main Content Part -->
            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
            <!-- End Main Content Part -->
            
        </div><!-- /.main-wrapper -->

        <!-- Start Main Footer -->
        <footer class="main-footer">
            <div class="main-footer-top hidden-xs">
                <div class="container mobile-container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12 col-sm-12 hidden-xs">
                            <div class="footer-nav">
                                <ul>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <li><a href="#">SUSCRIBIRME A UN PLAN</a></li>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <li><a href="#">COMPRAR PASE INDIVIDUAL</a></li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-12 hidden-sm">
                            <div class="footer-logo">
                                <a href="" class="site-title"><img src="{% static 'img/logo.png' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.main-footer-top -->
            <div class="main-footer-middle">
                <div class="container mobile-container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h5>PLAN DE REFERIDOS</h5>
                                    <p>Expandir y simplificar la actividad<br>deportiva de todas esas personas.<br><a>REFERIR AMIGO</a></p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5>RECLAMOS</h5>
                                    <p>Expandir y simplificar la actividad<br>deportiva de todas esas personas.</p>
                                </div>
                                <!-- <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-5 col-sm-6">
                                            <h5>TELEPHONE:</h5>
                                            <a href="#">123 555 1234</a>
                                        </div>
                                        <div class="col-lg-12 col-md-7 col-sm-6">
                                            <h5>EMAIL:</h5>
                                            <a href="#">info@demosportlife.com</a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 hidden-sm hidden-xs">
                            <div class="footer-about">
                                <h5>ACERCA DE</h5>
                                <p>Aquí ya puede ver debate sobre ¿qué es rock en términos de estilo de vida? Nosotros lo percibimos como personas activas, personas que actúan en lugar de sólo hablar o planfificar, incluso personas atrevidas.</p>
                            </div>
                            <div class="foot-about-bg"></div>
                        </div>
                    </div>
                </div>
            </div><!-- /.main-footer-middle -->
            <div class="main-footer-bottom">
                <div class="container mobile-container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-7 col-xs-12 copyrights-box">
                            <div class="row">
                                <div class="col-md-1 col-sm-1 hidden-xs" style="background: #292929;">
                                    <a href="#" class="arrow-top"><i class="icon-up-arrow"></i></a>
                                </div>
                                <div class="col-md-11 col-sm-11 col-xs-12">
                                    <p>Copyright © {% now 'Y' %} RockFit Life. Todos los derechos e izquierdos reservados.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12 social-links-box">
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;<span>facebook</span></a></li>
                                   <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.main-footer-bottom -->
        </footer><!-- /.main-footer -->
        <!-- End Main Footer -->

        <!-- Include JS -->
        <!-- import JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
        <script src="{% static 'js/vendor/jquery-3.2.0.min.js' %}"></script>
        <script src="{% static 'vue-js-modal/dist/index.js' %}"></script>
        <script src="{% static 'lodash/dist/lodash.min.js' %}"></script>
        <script src="{% static 'lodash/dist/lodash.fp.min.js' %}"></script>
        <script src="{% static 'vuelidate/dist/vuelidate.min.js' %}"></script>
        <script src="{% static 'vuelidate/dist/validators.min.js' %}"></script>
        <script src="{% static 'axios/dist/axios.min.js' %}"></script>
        <script src="{% static 'noty/lib/noty.min.js' %}"></script>
        <script src="{% static 'js/object.entries.polyfill.js' %}"></script>
        <script src="{% static 'vue-google-maps/dist/vue-google-maps.js' %}"></script>
        <script src="{% static 'vue-select/dist/vue-select.js' %}"></script>
        <script src="{% static 'vue-the-mask/dist/vue-the-mask.js' %}"></script>
        <script src="{% static 'moment/min/moment.min.js' %}"></script>
        <script src="{% static 'moment/locale/es.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/vue-spinner.min.js' %}"></script>
        <script src="{% static 'js/star-rating.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/vue-carousel.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'js/jquery.alphanum.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="//unpkg.com/element-ui/lib/umd/locale/es.js"></script>
        <script src="https://checkout.culqi.com/js/v3"></script>
        <script>
            Vue.use(window.VueTheMask.default)
            Vue.use(window["vue-js-modal"].default)
            Vue.use(window.vuelidate.default)
            Vue.use(window.VueAwesomeSwiper)
            Vue.use(window.VueGoogleMaps, {
              load: {
                key: 'AIzaSyARnUGPZ_zsoy15B-ZwOz6y_9vWd7Kxc6o',
                v: '3'
              },
              installComponents: false,
            });

            Vue.component('google-map', window.VueGoogleMaps.Map)
            Vue.component('googlemaps-marker', window.VueGoogleMaps.Marker)
            Vue.component('googlemaps-infowindow', window.VueGoogleMaps.InfoWindow)
            Vue.component('v-select', VueSelect.VueSelect);
            Vue.component('star-rating', VueStarRating.default);

            var emailValidator = window.validators.email
            var requiredValidator = window.validators.required
            var minLengthValidator = window.validators.minLength
            var numericValidator = window.validators.numeric
            var integerValidator = window.validators.integer
            var decimalValidator = window.validators.decimal
            var alphaValidator = window.validators.helpers.regex('alphaRegex',/^[a-zA-Z\s]+$/)
            var registerUserUrl = "{% url 'register-user' %}"
            var loginUserUrl = "{% url 'login-user' %}"
            var resetPasswordUrl = "{% url 'password_reset' %}"
            var csrf_token = "{{ csrf_token }}"
        </script>

        {% block extrajs %}
        {% endblock %}
        <script src="{% static 'js/auth.js' %}"></script>
    </body>
</html>