¡Bien {{name}}!

YA TIENES TU PASE INDIVIDUAL PARA {{sport_center_name}}

Anda a la clase que quieras en este centro deportivo

Vigencia de uso: {{pass_duration}} días ({{pass_date_start}} – {{pass_date_end}})

S/{{pass_price}}

_____________________________________
Tu código de cliente es {{client_code}}.

Es importante, porque para entrar a una clase te van a pedir este código y tu DNI.

_____________________________________

IMPORTANTE

Si te sientes inspirado, motivado y preparado para comprar un Plan de membresía, anda a <a href="{{site_url}}{% url 'my-account' %}">tu cuenta de usuario</a> y en el menú de herramientas tienes la opción para hacerlo.


Ya sabes que no es obligatorio que reserves tu clase (puedes aparecerte nomás), pero te
recomiendo que si lo hagas, porque la reserva es lo único que te asegura un cupo en la clase.

Para que sepas qué es y cómo usar un FriendPass, cómo obtener un descuentaso con el plan de

referidos y varias otras cosas, revisa las <a href="http://rockfitlife.com/#preguntas-frecuentes">Preguntas Frecuentes</a>.

¡Ahora sí! Cuando quieras…
<a href="{{site_url}}{% url 'classes' %}">VER CLASES</a>

{% include 'mails/_buy_footer.html' %}