{{name}} este es el estado actual de tu Plan

{{plan_name}}
Vence en: Vence en {{plan_date_end_days}} días (el {{plan_date_end}})
{% if not plan_is_ilimitaded %}
Clases disponibles: {{plan_classes}} 
{% endif %}
Reservas activas en este momento: {{plan_active_reservations}} 

Recuerda que no puedes repetir los centros deportivos que ya visitaste en este periodo, no con este Plan.

_____________________________________
Mira el detalle de toda tu actividad (y más) en tu <a href="{{site_url}}{% url 'my-account' %}">tu cuenta de usuario</a>.
_____________________________________

Si te quedaron cortas las clases, recuerda que siempre hay un Plan mejor

<a href="{{site_url}}/#planes">VER PLANES Y PRECIOS</a>

{% include 'mails/_buy_footer.html' %}