¡Listo {{name}}!

ACABO DE RENOVAR TU PLAN DE MEMBRESÍA

TU PLAN
{{plan_name}}

Duración: {{plan_duration}} {{plan_duration_units}} ({{plan_date_start}} – {{plan_date_end}})

Clases: {{plan_classes}} | {% if plan_repetitions > 0 %} Hasta {{plan_repetitions}} clases en un mismo lugar{% else %}Este plan no tiene repeticiones{% endif %} {% if plan_friendpass > 0 %} | FriendPass: {{plan_friendpass}}{% else %}Este plan no tiene friendpass{% endif %}

S/{{plan_price}}

_____________________________________
Tu código de cliente es {{client_code}}.
_____________________________________


IMPORTANTE

Recuerda que la renovación del Plan es ¡automática! Pero puedes cancelar cuando quieras.

También, puedes cambiar de Plan en cualquier momento.
Cualquiera de estas opciones las haces desde <a href="{{site_url}}{% url 'my-account' %}">tu cuenta de usuario</a>.
Ya sea que canceles o cambies tu Plan, tienes que hacerlo antes de la renovación,

sino se va a renovar por este mismo Plan ¡este exactito!

Ya sabes que no es obligatorio que reserves tu clase (puedes aparecerte nomás), pero te
recomiendo que si lo hagas, porque la reserva es lo único que te asegura un cupo en la clase.

Para que sepas qué es y cómo usar un FriendPass, cómo obtener un descuentaso con el plan de

referidos y varias otras cosas, revisa las <a href="{{site_url}}#preguntas-frecuentes">Preguntas Frecuentes</a>.

<a href="{{site_url}}{% url 'classes' %}">VER CLASES</a>

{% include 'mails/_buy_footer.html' %}