Hola {{name}}

SOLO TE QUERÍA RECORDAR QUE TU MEMBRESÍA SE VA A RENOVAR DE MANERA

AUTOMÁTICA ESTE {{plan_date_start}}

____________________________________

SI QUIERES CANCELAR LA RENOVACIÓN DE TU PLAN O QUIERES CAMBIARLO, PUEDES HACERLO DESDE TU <a href="{{site_url}}{% url 'my-account' %}">cuenta de usuario</a> .
_____________________________________

PLAN AL QUE SE VA A RENOVAR
{{plan_name}}

Duración: {{plan_duration}} {{plan_duration_units}} ({{plan_date_start}} – {{plan_date_end}})
Clases: {{plan_classes}} | {% if plan_repetitions > 0 %} Hasta {{plan_repetitions}} clases en un mismo lugar{% else %}Este plan no tiene repeticiones{% endif %} {% if plan_friendpass > 0 %} | FriendPass: {{plan_friendpass}}{% else %}Este plan no tiene friendpass{% endif %}

S/{{plan_price}}

PUEDES CAMBIAR DE PLAN DESDE TU <a href="{{site_url}}{% url 'my-account' %}">cuenta de usuario</a>. AL HACERLO, EL NUEVO PLAN SE ACTIVARÁ EN EL MOMENTO DE LA RENOVACIÓN.

Puedes cambiar la tarjeta a la que se hará el cobro desde tu <a href="{{site_url}}{% url 'my-account' %}">cuenta de usuario</a>.

Eso es todo {{name}} ¡Abrazo!

{% include 'mails/_buy_footer.html' %}