{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="home">
    <div class="welcome-section">
        <div class="welcome-slider">
            <div class="welcome-slider-item data-bg" data-background="{% static 'img/home-slider/banner_2.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
                            <div class="welcome-section-container">
                                <div class="welcome-section-txt">
                                    <div class="decor-corner-lines" data-animation="fadeIn" data-delay="0.5s"></div>
                                    <h1 class="clr-white" data-animation="fadeInRight" data-delay="0s">¡PROBLEMA RESUELTO!</h1>
                                    <p class="clr-white" data-animation="fadeInRight" data-delay="0.3s">ENTRENA EN VARIOS CENTROS DEPORTIVOS<br> CON UNA SOLA MEMBRESÍA.</p>
                                    <a href="{% url 'buy-plan' %}" class="button button-border clr-white button-decor-triangle banner-button" data-animation="fadeInUp" data-delay=".8s">INSCRÍBETE AQUÍ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span data-slick-index="2" class="progressBar"></span>
            </div>
        </div>
        <div @click="goToSecondSection" class="arrow-down-main-container">
            <img src="{% static 'img/scroll-down.png' %}" class="arrow-down-main">
            <img src="{% static 'img/scroll-down.png' %}" class="arrow-down-main-shadow">
        </div>
    </div>
    <div class="home-complementa-first-line">
        CONMIGO, TODOS LOS DÍAS TIENES LA OPCIÓN DE DECIDIR QUÉ DEPORTE PRACTICAR Y EN DONDE. #YAQUÉMÁS
    </div>
    <div id="home-complementa" class="home-complementa">
        <div class="home-fullwidth-container">
            <el-row class="first-line">
                <el-col :span="8" class="div-title">
                    <p class="home-blue-title">COMPLEMENTA TU<br>ENTRENAMIENTO</p>
                    <span>Aprovecha varias disciplinas y centros deportivos con una sola membresía</span>
                </el-col>
                <el-col :span="16" class="div-body">
                    <el-col :span="8">
                        <div>
                            <img src="{% static 'img/correr.svg' %}">
                            <p class="title">Libertad</p>
                            <p class="description">Complementa tus ejercicios haciendo lo que quieras ¡oh si!</p>
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div >
                            <img src="{% static 'img/reloj.svg' %}">
                            <p class="title">Cercanía</p>
                            <p class="description">Por tu casa, tu trabajo o donde estés, siempre habrá uno cerca</p>
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div>
                            <img src="{% static 'img/pesas.svg' %}">
                            <p class="title">Experiencias</p>
                            <p class="description">Prueba centros deportivos, profesores y clases diferentes</p>
                        </div>
                    </el-col>
                </el-col>
            </el-row>
            <!-- <el-row class="second-line">
                <el-col :span="7">
                    <p class="how-works">¿Cómo funciona?</p>
                    <span>Igual a estar inscrito en<br>un centro deportivo, pero<br>más libre.</span>
                </el-col>
                <el-col :span="17" class="image-how-works">

                </el-col>
            </el-row> -->
            <!-- <div class="icons-line">
                <div class="icon-with-text">
                    <div class="icon">
                        <img src="{% static 'img/home-complementa-icon-1.png' %}">
                    </div>
                    <div class="text">
                        <div>LIBERTAD</div>
                        <div>Complementa tus ejercicios haciendo lo que quieras ¡oh si! </div>
                    </div>
                </div>
                <div class="icon-with-text">
                    <div class="icon">
                        <img src="{% static 'img/home-complementa-icon-2.png' %}">
                    </div>
                    <div class="text">
                        <div>CERCANÍA</div>
                        <div>Por tu casa, tu trabajo o donde estés, encuentra un centro deportivo cerca.</div>
                    </div>
                </div>
                <div class="icon-with-text">
                    <div class="icon">
                        <img src="{% static 'img/home-complementa-icon-3.png' %}">
                    </div>
                    <div class="text">
                        <div>EXPERIENCIAS</div>
                        <div>Prueba centros deportivos, profesores y clases diferentes.</div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="how-it-works-line">
                <div class="home-black-button">¿CÓMO FUNCIONA? <img src="{% static 'img/home-how-it-works-arrow.png' %}"></div>
            </div>
            <div class="anytime-line">
                <div class="home-blue-title">EN EL DÍA Y MOMENTO QUE QUIERAS:</div>
                <div class="content">
                    <div class="squared-item">
                        <div class="item">
                            <div class="title">ELIGES<br> TU ACTIVIDAD</div>
                            <div class="text">Aquí en la web, encuentra clases y centros deportivos por ubicación y horario</div>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="squared-item">
                        <div class="item">
                            <div class="title">RESERVAS<br> TU ASISTENCIA</div>
                            <div class="text">No es obligatorio, pero si te lo recomiendo para que asegures tu cupo</div>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="squared-item">
                        <div class="item">
                            <div class="title">¡ENTRENAS!</div>
                            <div class="text">Vas al centro deportivo que elegiste, muestras tu pase y entrenas</div>
                        </div>
                        <div class="arrow"></div>
                    </div>
                </div>
            </div>
            <div class="see-sport-centers-line">
                <div class="home-black-button">VER CENTROS DEPORTIVOS <img src="{% static 'img/home-how-it-works-arrow.png' %}"></div>
            </div> -->
        </div>
        <el-row class="second-line">
            <el-col :span="24" class="how-works-container">
                <el-col :span="7" class="div-how-works">
                    <p class="how-works">¿Cómo funciona?</p>
                    <span class="description">Lo primero es comprar un<br>plan de membresía.<br>A partir de allí es al toque…</span>
                    <div class="show-steps"><p>En tres pasitos</p><div><img src="{% static 'img/right-arrow.png' %}" /></div></div>
                </el-col>
                <el-col :span="17" class="image-how-works">
                    <div v-if="step == 1" class="description-step">
                        <h5>1. ELIGES TU ACTIVIDAD</h5>
                        <p>Aquí en la web, encuentra clases y centros deportivos por ubicación y horario</p>
                    </div>
                    <div v-if="step == 2" class="description-step">
                        <h5>2. RESERVAS TU ASISTENCIA</h5>
                        <p>No es obligatorio, pero si te lo recomiendo para que asegures tu cupo</p>
                    </div>
                    <div v-if="step == 3" class="description-step">
                        <h5>3. ¡ENTRENAS!</h5>
                        <p>Vas al centro deportivo que elegiste, muestras tus datos y entrenas</p>
                    </div>
                </el-col>
            </el-col>
            <div class="div-steps">
                <el-row>
                    <el-col :span="20" class="steps">
                        <el-col :span="8">
                            <div @click="setStep(1)" :class="{'step-selected': step == 1, 'first-step': true}">
                                <span class="name-step"><span>1.</span> <span>ELIGES TU ACTIVIDAD</span></span> 
                                <img src="{% static 'img/arrow-selected.png' %}" v-if="step == 1" />
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div @click="setStep(2)" :class="{'step-selected': step == 2, 'second-step': true}">
                                <span class="name-step"><span>2.</span> <span>RESERVAS TU ASISTENCIA</span></span> 
                                <img src="{% static 'img/arrow-selected.png' %}" v-if="step == 2"/>
                            </div>
                        </el-col>
                        <el-col :span="8" >
                            <div @click="setStep(3)" :class="{'step-selected': step == 3, 'third-step': true}">
                                <span class="name-step"><span>3.</span> <span>¡ENTRENAS!</span></span> 
                                <img src="{% static 'img/arrow-selected.png' %}" v-if="step == 3"/>
                            </div>
                        </el-col>
                    </el-col>
                </el-row>
            </div>
        </el-row>
        <el-row class="how-works-carousel" style="display: none">
            <p>¿Cómo funciona?</p>
        </el-row>
        <el-row style="display: none" class="carousel-line">
            <div v-if="stepCarousel == 0" class="description-step">
                <h5>1. ELIGES TU ACTIVIDAD</h5>
                <p>Aquí en la web, encuentra clases y centros deportivos por ubicación y horario</p>
            </div>
            <div v-if="stepCarousel == 1" class="description-step">
                <h5>2. RESERVAS TU ASISTENCIA</h5>
                <p>No es obligatorio, pero si te lo recomiendo para que asegures tu cupo</p>
            </div>
            <div v-if="stepCarousel == 2" class="description-step">
                <h5>3. ¡ENTRENAS!</h5>
                <p>Vas al centro deportivo que elegiste, muestras tus datos y entrenas</p>
            </div>

            <carousel :navigation-enabled="true" :per-page="1" class="carousel" v-model="stepCarousel" navigation-next-label="<i class='fas fa-caret-right'></i>"  navigation-prev-label="<i class='fas fa-caret-left'></i>">
                <slide>
                    <div class="step-carousel">
                        <span class="name-step"><span>1.</span> <span>ELIGES TU ACTIVIDAD</span></span> 
                        <!-- <img src="{% static 'img/arrow-selected.png' %}" v-if="step == 1" /> -->
                    </div>
                </slide>
                <slide>
                    <div class="step-carousel">
                        <span class="name-step"><span>2.</span> <span>RESERVAS TU ASISTENCIA</span></span> 
                        <!-- <img src="{% static 'img/arrow-selected.png' %}" v-if="step == 1" /> -->
                    </div>
                </slide>
                <slide>
                    <div class="step-carousel">
                        <span class="name-step"><span>3.</span> <span>¡ENTRENAS!</span></span> 
                        <!-- <img src="{% static 'img/arrow-selected.png' %}" v-if="step == 1" /> -->
                    </div>
                </slide>
            </carousel>
        </el-row>
        <el-row class="benefits-bottom-button">
            <div @click="gotoSportCenters" class="home-black-button">VER CENTROS DEPORTIVOS<div></div></div>
        </el-row>
    </div>
    <div class="home-image-1"></div>
    <div id="home-sport-centers-section" class="home-sport-centers-section">
        <div class="sport-centers-filter">
            <div class="title">
                CENTROS DEPORTIVOS
            </div>
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 district-container">
                <div v-for="district in districtsForDropdown" 
                    @click="onClickDistrict(district)" 
                    :class="{'district': true, 'selected': sportCenterDistrictFilter && district.value == sportCenterDistrictFilter.value}">
                    ${district.label}
                </div>
            </div> -->
            <el-row style="display:none;" class="div-filters">
                <!-- <p>FILTROS <i class="fas fa-sort-down"></i></p> -->
                <span @click="showFilter = !showFilter">FILTROS <i class="fas fa-sort-down" v-if="!showFilter"></i><i class="fas fa-sort-up" v-else></i></span>
            </el-row>
            <el-row v-if="showFilter" class="options-responsive">
                <el-col class="div-district">
                    <!-- <div>DISTRITOS</div> -->
                    <v-select v-model="sportCenterDistrictFilter" :options="districtsForDropdown" placeholder="DISTRITOS"></v-select>
                </el-col>
                <el-col  class="div-classes">
                    <!-- <div>CLASES</div> -->
                    <v-select v-model="sportCenterActivityFilter" :options="activitiesForDropdown" placeholder="CLASES"></v-select>
                </el-col>
                <el-col class="div-centers">
                    <!-- <div>CENTROS DEPORTIVOS</div> -->
                    <v-select v-model="sportCenterNameFilter" :options="sportCentersForDropdown" placeholder="CENTROS DEPORTIVOS"></v-select>
                </el-col>
                {% if config.show_premium_filter %}
                <el-col class="div-premium">
                    <el-button @click="sportCenterExclusiveFilter = !sportCenterExclusiveFilter" :style="{'color': sportCenterExclusiveFilter == true ? '#51abfb' : '', 'padding': '15px 0'}">CENTROS DEPORTIVOS PREMIUM</el-button>
                </el-col>
                {% endif %}
                <el-col class="div-opened">
                    <el-button @click="sportCenterOpenStatusFilter = !sportCenterOpenStatusFilter" :style="{'color': sportCenterOpenStatusFilter == true ? '#51abfb' : '', 'padding': '15px 0'}">ABIERTO AHORA</el-button>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center" :gutter="20"  class="div-options">
                <el-col class="div-district">
                    <!-- <div>DISTRITOS</div> -->
                    <v-select v-model="sportCenterDistrictFilter" :options="districtsForDropdown" placeholder="DISTRITOS"></v-select>
                </el-col>
                <el-col  class="div-classes">
                    <!-- <div>CLASES</div> -->
                    <v-select v-model="sportCenterActivityFilter" :options="activitiesForDropdown" placeholder="CLASES" v-on:change="setPlaceholder"></v-select>
                </el-col>
                <el-col class="div-centers">
                    <!-- <div>CENTROS DEPORTIVOS</div> -->
                    <v-select v-model="sportCenterNameFilter" :options="sportCentersForDropdown" placeholder="CENTROS DEPORTIVOS"></v-select>
                </el-col>
                {% if config.show_premium_filter %}
                <el-col class="div-premium">
                    <el-button @click="sportCenterExclusiveFilter = !sportCenterExclusiveFilter" :style="{'color': sportCenterExclusiveFilter == true ? '#51abfb' : '', 'padding': '15px 0'}">CENTROS DEPORTIVOS PREMIUM</el-button>
                    <!-- <v-select v-model="sportCenterOpenStatusFilter" :options="[{'label':'Abierto ahora', 'value': 'opened'}, {'label': 'Cerrado ahora', 'value': 'closed'}]"></v-select> -->
                </el-col>
                {% endif %}
                <el-col class="div-opened">
                    <el-button @click="sportCenterOpenStatusFilter = !sportCenterOpenStatusFilter" :style="{'color': sportCenterOpenStatusFilter == true ? '#51abfb' : '', 'padding': '15px 0'}">ABIERTO AHORA</el-button>
                    <!-- <v-select v-model="sportCenterOpenStatusFilter" :options="[{'label':'Abierto ahora', 'value': 'opened'}, {'label': 'Cerrado ahora', 'value': 'closed'}]"></v-select> -->
                </el-col>
            </el-row>
        </div>
        <div class="sport-centers-map">
            <google-map :center="{lat: -12.104422, lng: -77.023920}" :zoom="12" style="width: 100%; height: 500px" :options="{scrollwheel:false, styles: mapStyle, mapTypeControl: false, streetViewControl: false}">
                <googlemaps-marker
                    v-for="sportCenter in sportCentersForMap"
                    :key="sportCenter.id"
                    :label="{
                      color: '#6e1dd2',
                      background: '#6e1dd2',
                      fontFamily: 'Material Icons',
                      fontSize: '20px',
                      text: ' ',
                    }"
                    :position="getMarkerPosition(sportCenter)"
                    @click="selectSportCenter(sportCenter)"
                    @mouseover="mouseOverMarker(sportCenter)"
                    @mouseout="mouseOutMarker(sportCenter)"
                    icon="{% static '/img/marker.png' %}"
                  />
                <googlemaps-infowindow 
                    :opened="false"
                    :ref="'sportCenterInfoWindow' + sportCenter.id"
                    :options="{
                        'content': sportCenter.name
                    }"
                    :position="getMarkerPosition(sportCenter)" />
            </google-map>
        </div>
        
    </div>
    <div class="home-section-black">
        <p>ARTES MARCIALES - GIMNASIO - BAILE - YOGA - CROSSFIT - ESCALADA EN PALESTRA - KRAV MAGA - TAE BO  - Y MUCHO MÁS...</p>
        <p class="second-line">PARA BUSCAR CENTROS DEPORTIVOS UTILIZANDO MÁS FILTROS Y VER INFORMACIÓN DE ELLOS, <a href="{% url 'sport-centers' %}">ENTRA AQUÍ.</a></p>
    </div>
    <div class="home-convince">
        <div class="home-fullwidth-container">
            <div class="home-blue-title title">PARA QUE TE CONVENZAS</div>
            <div class="content">
                <div class="container-item">
                    <div class="item">
                        <div class="title">
                            GARANTÍA<br> 7 DÍAS
                        </div>
                        <div class="line"></div>
                        <div class="text">
                            Si en la primera semana no te convences, te devuelvo lo que pagaste. El único requisito es que hayas asistido al menos a una clase.
                        </div>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item">
                        <div class="title">
                            CANCELAS<br> CUANDO QUIERES
                        </div>
                        <div class="line"></div>
                        <div class="text">
                            Puedes cancelar tu membresía en el momento que quieras con solo un par de clics. Rapidito, fácil y sin "pedirme permiso".
                        </div>
                    </div>
                </div>  
                <div class="container-item">
                    <div class="item">
                        <div class="title">
                            SIN MATRÍCULAS NI PENALIDADES
                        </div>
                        <div class="line"></div>
                        <div class="text">
                            No hay pagos adicionales por matricularte ni penalidades por cancelar tu membresía.<br>#NuncaMásCostosEscondidos
                        </div>
                    </div>
                </div>
            </div>
            <div class="see-plans-row">
                <div @click="goToPlans" class="home-black-button">VER PLANES Y PRECIOS <div></div></div>
            </div>
        </div>
    </div>
    <div class="prices-section" id="prices-section" style="background-color: #{{plans.last.home_color}}">
        <div class="container mobile-container-fluid">
            <div class="discount-box">
                <!-- <div class="discount-img data-bg" data-background="img/banners/discount-img.png" style="background: url(&quot;img/banners/discount-img.png&quot;);"></div> -->
                <div class="title">MIRA MIS PLANES<br> DE MEMBRESÍA</div>
                <div class="second-line">UNO PARA TI ¡VA A HABER!</div>
                <div class="text">TAMBIÉN, PUEDES COMPRAR UN <a href="{% url 'buy-plan' %}">PASE INDIVIDUAL</a> PARA USARLO EN CUALQUIER CLASE DEL CENTRO DEPORTIVO QUE ELIJAS.</div>
            </div>
            <div class="prices-block">
                {% for plan in plans %}
                    {% if not plan.is_related %}
                        <div class="prices-box" style="background-color:#{{plan.home_color}}; width:calc(100% / {{quantity_plans}})">
                            {% if plan.last_price > 0 %}
                                <div class="offer">
                                    <img src="{% static '/img/offer.png' %}">
                                </div>
                            {% endif %}
                            <div class="name">PLAN<br>{{plan.name}}</div>
                            {% if plan.last_price > 0 %}
                                <div class="last_price">S/{{plan.last_price|stringformat:'0.0f'}}</div>
                            {% else %}
                                <div class="last_price"></div>
                            {% endif %}
                            <div class="price">S/{{plan.current_price|stringformat:'0.0f'}}</div>
                            {% if plan.days %}
                                <div class="time">{{plan.days}} DÍAS</div>
                            {% endif %}
                            {% if plan.months %}
                                <div class="time">{{plan.months}} {% if plan.months > 1 %} MESES {% else %} MES {% endif %}</div>
                            {% endif %}
                            
                            <div class="classes">{% if plan.pass_quantity != 0 %} {{plan.pass_quantity}} CLASES {% else %} CLASES ILIMITADAS {% endif %}</div>
                            <div class="repetitions">HASTA {{plan.repetitions_quantity}} CLASES <br>EN UN MISMO LUGAR</div>
                            {% if plan.friendpass_quantity and plan.friendpass_quantity > 0 %}
                                <div class="friendpass">{{plan.friendpass_quantity}} FRIENDPASS</div>
                            {% endif %}
                            {% if plan.is_premium %}
                                <div class="exclusive-text">CENTROS EXCLUSIVOS</div>
                            {% endif %}
                            <div class="block-generated"></div>
                            <div class="button">
                                {% if user_plan and user_plan.name == plan.name  %}
                                    <el-button class="buy-button" :disabled="true">TU PLAN ACTUAL</el-button>
                                {% else %}
                                    <a onMouseOver="this.style.color='#{{plan.home_color}}'" onMouseOut="this.style.color='white'"
                                    href="{% url 'buy-plan' %}"><div>ESTE QUIERO <i class="fa fa-caret-right" aria-hidden="true"></i></div></a>
                                {% endif %}
                                
                            </div>
                            <div class="background" style="background-color:#{{plan.home_color}};"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div><!-- /.prices -->
        </div><!-- /.wrapper -->
    </div>
    <!-- <div class="home-plans">
        <div class="container mobile-container-fluid">
            <div class="left-side">
                <div class="title">MIRA MIS PLANES<br> DE MEMBRESÍA</div>
                <div class="second-line">UNO PARA TI ¡VA A HABER!</div>
                <div class="text">TAMBIÉN, PUEDES COMPRAR UN <a href="#">PASE INDIVIDUAL</a> PARA USARLO EN CUALQUIER CLASE DEL CENTRO DEPORTIVO QUE ELIJAS.</div>
            </div>
            <div class="right-side">
                 {% for plan in plans %}
                    {% if not plan.is_related %}
                        <div class="plan" style="background-color:#{{plan.home_color}}; width:calc(100% / {{quantity_plans}})">
                            <div class="name">{{plan.name}}</div>
                            <div class="price">S/{{plan.price_as_string}}</div>
                            {% if plan.days %}
                                <div class="time">{{plan.days}} DÍAS</div>
                            {% endif %}
                            {% if plan.months %}
                                <div class="time">{{plan.months}} {% if plan.months > 1 %} MESES {% else %} MES {% endif %}</div>
                            {% endif %}
                            
                            <div class="classes">{% if plan.pass_quantity != 0 %} {{plan.pass_quantity}} CLASES {% else %} CLASES ILIMITADAS {% endif %}</div>
                            <div class="repetitions">HASTA {{plan.repetitions_quantity}} CLASES <br>EN UN MISMO LUGAR</div>
                            {% if plan.is_premium %}
                                <div class="exclusive">CENTROS EXCLUSIVOS</div>
                            {% else %}
                                <div class="exclusive">-</div>
                            {% endif %}
                            {% if plan.friendpass_quantity and plan.friendpass_quantity > 0 %}
                                <div class="friendpass">{{plan.friendpass_quantity}} FRIENDPASS</div>
                            {% else %}
                                <div class="friendpass">-</div>
                            {% endif %}
                            <div class="button">
                                <div>ESTE QUIERO <i class="fa fa-caret-right" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> -->
    <div id="home-faq" class="home-faq">
        <div class="home-fullwidth-container">
            <div class="content">
                <div class="home-blue-title">PREGUNTAS FRECUENTES</div>
                <div class="faq-list">
                    <div class="faq-item">
                        <div class="title">¿Los pases de mi Plan sólo pueden ser utilizados para ir a clases?</div>
                        <div class="text">No necesariamente. Puedes aprovechar las instalaciones y entrenar por tu cuenta; por ejemplo, utilizando las máquinas de un gimnasio o la piscina de un centro deportivo ¡¿Qué tal esa?!</div>
                    </div>
                    <div class="faq-item">
                        <div class="title">¿Los pases de mi Plan sólo pueden ser utilizados para ir a clases?</div>
                        <div class="text">No necesariamente. Puedes aprovechar las instalaciones y entrenar por tu cuenta; por ejemplo, utilizando las máquinas de un gimnasio o la piscina de un centro deportivo ¡¿Qué tal esa?!</div>
                    </div>
                    <div class="faq-item">
                        <div class="title">¿Los pases de mi Plan sólo pueden ser utilizados para ir a clases?</div>
                        <div class="text">No necesariamente. Puedes aprovechar las instalaciones y entrenar por tu cuenta; por ejemplo, utilizando las máquinas de un gimnasio o la piscina de un centro deportivo ¡¿Qué tal esa?!</div>
                    </div>
                    <div class="faq-item">
                        <div class="title">¿Los pases de mi Plan sólo pueden ser utilizados para ir a clases?</div>
                        <div class="text">No necesariamente. Puedes aprovechar las instalaciones y entrenar por tu cuenta; por ejemplo, utilizando las máquinas de un gimnasio o la piscina de un centro deportivo ¡¿Qué tal esa?!</div>
                    </div>
                    <div class="faq-item">
                        <div class="title">¿Los pases de mi Plan sólo pueden ser utilizados para ir a clases?</div>
                        <div class="text">No necesariamente. Puedes aprovechar las instalaciones y entrenar por tu cuenta; por ejemplo, utilizando las máquinas de un gimnasio o la piscina de un centro deportivo ¡¿Qué tal esa?!</div>
                    </div>
                    <div class="faq-item">
                        <div class="title">¿Los pases de mi Plan sólo pueden ser utilizados para ir a clases?</div>
                        <div class="text">No necesariamente. Puedes aprovechar las instalaciones y entrenar por tu cuenta; por ejemplo, utilizando las máquinas de un gimnasio o la piscina de un centro deportivo ¡¿Qué tal esa?!</div>
                    </div>
                </div>
                <div class="faq-button-row">
                    <div class="home-grey-button" @click="showMoreQuestions = !showMoreQuestions">MÁS PREGUNTAS Y RESPUESTAS <br> <i class="fal fa-angle-down" v-if="!showMoreQuestions"></i><i class="fal fa-angle-up" v-else></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-more-questions" :style="{'display': showMoreQuestions == true ? 'block' : 'none'}">
        <div class="home-fullwidth-container">
            <div class="content">
                <el-row>
                    <p class="title-question">¿QUÉ HACE ROCKFIT LIFE?¿QUIÉN ERES REALMENTE?</p>
                    <hr>
                    <p class="body-question">Soy una red de centros deportivos, y por centros deportivos me refiero a gimnasios, estudios, escuelas y academias especializadas en distintos deportes.<br>Con un plan de membresía puedes entrar a cualquiera de los centros deportivos de mi red. En el momento que quieras, tú decides qué actividad hacer y en que lugar<br>¿Chévere no? ;)</p>
                </el-row>
                <el-row>
                    <p class="title-question">¿CÓMO USAR EL PLAN DE REFERIDOS Y QUÉ DESCUENTO OBTENGO?</p>
                    <hr>
                    <p class="body-question">Para obtener un descuento por referir a alguien, le envías tu código de cliente a la persona. Cuándo el o ella compre su Plan de membresía, tiene que introdducir ese código en el campo "Código de descuento", que está en el proceso de compra. Nada más<br>Haciendo eso, <span>tu referido va a tener un descuento del 20%</span> en su compra y a ti te descuento en tu siguiente renovación, no importa si cambias de plan, siempre que sea un plan de un(1) mes y que sea uno de estos tres planes: COMPLEMENTA, ROCKFIT e ILIMITADOS</p>
                </el-row>
                <el-row>
                    <p class="title-question">¿CUÁNTAS VECES PUEDO ASISTIR A UN MISMO CENTRO DEPORTIVO?</p>
                    <hr>
                    <p class="body-question">Depende del Plan de membresía; por ejemplo, en el plan ROCKFIT puedes ir hasta 4 veces a un mismo centro deportivo, pero varía según el Plan. Puedes ver mis Planes <a href="{% url 'buy-plan' %}" target="_blank">aquí</a>.</p>
                </el-row>
                <el-row>
                    <p class="title-question">¿SI UN CENTRO DEPORTIVO TIENE VARIAS SEDES, ASISTIR A DOS DE ELLAS CUENTA COMO REPETICIÓN?</p>
                    <hr>
                    <p class="body-question">No Cada sede. - <i>sin importar que sean de una misma empresa</i> - representa un centro deportivo único. Asistir a dos sedes diferentes consume pases en tu plan, pero no repeticiones.</p>
                </el-row>
                <el-row>
                    <p class="title-question">¿SOLO OFRECES PLANES DE MEMBRESÍA POR UN MES?</p>
                    <hr>
                    <p class="body-question">No. Los planes COMPLEMENTA, ROCKFIT e ILIMITADO los puedes comprar por tres(3) meses (esta opción está dentro del <a href="{% url 'buy-plan' %}">proceso de compra</a>). Además puedes comprar Pases individuales, que son pases para un centro deportivo en particular - el que quieras - y valen para una visita a cualquier clase.</p>
                </el-row>
            </div>
        </div>
    </div>
    <div class="home-image-2"></div>
    <div class="home-enterprise-plans">
        <div class="home-fullwidth-container">
            <div class="home-blue-title">PLANES EMPRESARIALES</div>
            <div class="subtitle">¿QUÉ EMPLEADO NO ESTARÍA FELIZ DE QUE LA EMPRESA DONDE TRABAJA LE FACILITE EL HACER DEPORTE?</div>
            <div class="blue-line-row">
                <div></div>
            </div>
            <div class="after-blue-line-1">NO IMPORTA SI TU EMPRESA ES GRANDE, MEDIANA O PEQUEÑA, ALGÚN BUEN PLAN TE PUEDO ARMAR DE TODAS MANERAS.</div>
            <div class="after-blue-line-2">¡HAY ALGO PARA TODOS! ;)</div>
            <div class="home-grey-button" @click="dialogEnterpriseVisible = true">HABLEMOS</div>
        </div>
    </div>
    <div class="home-sport-center-join">
        <div class="home-fullwidth-container">
            <div class="home-blue-title">SI TIENES UN CENTRO DEPORTIVO, ESTA SECCIÓN ES PARA TI</div>
            <div class="reasons">
                <div class="reason">
                    <div class="left">
                        <div>EXPANDE TU PRESENCIA ONLINE</div>
                        <div class="arrow"></div>
                    </div>
                    <div class="right">
                        <div>Puedo ayudarte posicionar tu negocio en buscadores y redes sociales, además de poner todos tus datos en mi web.</div>
                    </div>
                </div>
                <div class="reason">
                    <div class="left">
                        <div>CONSIGUE CLIENTES NUEVOS</div>
                        <div class="arrow"></div>
                    </div>
                    <div class="right">
                        <div>Voy a llevar nuevas personas a tu local para que puedas fidelizarlas, convirtiéndolas en tus propios clientes.</div>
                    </div>
                </div>
                <div class="reason">
                    <div class="left">
                        <div>AUMENTA TUS INGRESOS DESDE EL PRIMER MES</div>
                        <div class="arrow"></div>
                    </div>
                    <div class="right">
                        <div>Te doy un beneficio económico todos los meses más un monto adicional por cada visita que recibas ¡lo justo!</div>
                    </div>
                </div>
            </div>
            <div class="reasons-responsive" style="display: none;">
                <div class="reason">
                    <div class="title">EXPANDE TU PRESENCIA ONLINE</div>
                    <div class="line"></div>
                    <div class="text">
                        Puedo ayudarte posicionar tu negocio en buscadores y redes sociales, además de poner todos tus datos en mi web.
                    </div>
                </div>
                <div class="reason">
                    <div class="title">CONSIGUE CLIENTES NUEVOS</div>
                    <div class="line"></div>
                    <div class="text">
                        Voy a llevar nuevas personas a tu local para que puedas fidelizarlas, convirtiéndolas en tus propios clientes.
                    </div>
                </div>
                <div class="reason">
                    <div class="title">AUMENTA TUS INGRESOS DESDE EL PRIMER MES</div>
                    <div class="line"></div>
                    <div class="text">
                            Te doy un beneficio económico todos los meses más un monto adicional por cada visita que recibas ¡lo justo!
                    </div>
                </div>
            </div>
            <div class="after-reasons-line-1">Y NO PIENSES MAL DE MI PERO… ¡SOY GRATIS!</div>
            <div class="after-reasons-line-2">SIN NINGÚN COSTO, ÚNETE A LA RED COMO LO ESTÁN HACIENDO OTROS GIMNASIOS, ESTUDIOS Y ACADEMIAS DEPORTIVAS.</div>
            <div class="interested-button" @click="openSportCenterModal">ME INTERESA</div>
        </div>
    </div>

    <el-dialog
        :visible.sync="dialogEnterpriseVisible"
        width="930px">
        <a @click="dialogEnterpriseVisible = false" class="home-modal-close-button"><i class="fal fa-times-circle"></i></a>
        <el-row>
            <div class="dialog-enterprise-left">
            </div>
            <div class="dialog-enterprise-right">
                <p class="title">¡Une tu empresa a Rockfit!</p>
                <p class="description">Déjame tus datos para enviarte información y juntos ver el mejor plan para tu empresa.</p>
                <el-row class="step">
                    <p>1. Datos de la empresa</p>
                    <el-input placeholder="Nombre de la empresa" v-model="company.name" @input="$v.company.name.$touch()" :class="{ 'error': $v.company.name.$error }"></el-input>
                    <v-select placeholder="Distrito" v-model="company.district"   :class="{ 'error': $v.company.district.$error }" :options="districtsTotal">
                        <span slot="no-options">No hay coincidencias.</span>
                    </v-select>
                    <v-select placeholder="Número de empleados" v-model="company.numEmployees" :class="{ 'error': $v.company.numEmployees.$error }" :options="employeesTotal">
                        <span slot="no-options">No hay coincidencias.</span>
                    </v-select>
                    <!-- <el-input placeholder="Número de empleados" v-model="company.numEmployees" @input="$v.company.numEmployees.$touch()" :class="{ 'error': $v.company.numEmployees.$error }"></el-input> -->
                </el-row>
                <el-row class="step">
                    <p>2. Datos de persona de contacto</p>
                    <el-input placeholder="Nombre y Apellido" v-model="company.contactPerson" @input="$v.company.contactPerson.$touch()" :class="{ 'error': $v.company.contactPerson.$error }"></el-input>
                    <el-input placeholder="Correo electrónico" type="email" v-model="company.email" @input="$v.company.email.$touch()" :class="{ 'error': $v.company.email.$error }"></el-input>
                    <el-input placeholder="Teléfono" v-model="company.phone" @input="$v.company.phone.$touch()" :class="{ 'error': $v.company.phone.$error }"></el-input>
                </el-row>
                <el-button class="button-enterprise" @click="registerCompany" v-if="!loading">ENVIAR</el-button>
                <beat-loader :loading="loading" color="#1ca8ed" size="15px" style="margin-top:20px;"></beat-loader>
                <p class="terms">Al registrarme <a target="_blank" href="{% static 'terms/terminosycondiciones.pdf' %}">Acepto los términos y condiciones de privacidad</a></p>
            </div>
        </el-row>
    </el-dialog>
    <el-dialog
        :visible.sync="dialogConfirmEnterpriseVisible"
        width="930px">
        <a @click="dialogConfirmEnterpriseVisible = false" class="home-modal-close-button"><i class="fal fa-times-circle"></i></a>
        <el-row>
            <div class="dialog-enterprise-left">
            </div>
            <div class="dialog-enterprise-right confirm">
                <img src="{% static '/img/check-company.png' %}">
                <p class="check">¡Listo!</p>
                <p class="info">Te voy a llamar para confirmar algunos datos y te envío toda la información a tu correo.</p>
            </div>
        </el-row>
    </el-dialog>
    <el-dialog
        :visible.sync="dialogCenterVisible"
        width="930px">
        <a @click="dialogCenterVisible = false" class="home-modal-close-button"><i class="fal fa-times-circle"></i></a>
        <el-row>
            <div class="dialog-center-left">
                <img src="{% static '/img/logo-center-modal.png' %}" />
                <p>Sin ningún costo ¡Únete hoy!</p>
            </div>
            <div class="dialog-center-right">
                <p class="title">¡Bien!</p>
                <p class="description">Ahora solo llena el formulario para contactarte y darte todos los detalles.</p>
                <el-row class="step">
                    <p>1. Datos de la empresa</p>
                    <el-input placeholder="Nombre de la empresa" v-model="center.name" @input="$v.center.name.$touch()" :class="{ 'error': $v.center.name.$error }"></el-input>
                    <v-select placeholder="Distrito" v-model="center.district"   :class="{ 'error': $v.center.district.$error }" :options="districtsTotal">
                        <!-- <el-option v-for="item in districtsTotal" :value="item.id" :label="item.name" :key="item.id"></el-option> -->
                        <span slot="no-options">No hay coincidencias.</span>
                    </v-select>
                </el-row>
                <el-row class="step">
                    <p>2. Datos de persona de contacto</p>
                    <el-input placeholder="Nombre y Apellido" v-model="center.contactPerson" @input="$v.center.contactPerson.$touch()" :class="{ 'error': $v.center.contactPerson.$error }"></el-input>
                    <el-input placeholder="Correo electrónico" type="email" v-model="center.email" @input="$v.center.email.$touch()" :class="{ 'error': $v.center.email.$error }"></el-input>
                    <el-input placeholder="Teléfono" v-model="center.phone" @input="$v.center.phone.$touch()" :class="{ 'error': $v.center.phone.$error }"></el-input>
                </el-row>
                <el-button class="button-enterprise" @click="registerCenter" v-if="!loading">ENVIAR</el-button>
                <beat-loader :loading="loading" color="#1ca8ed" size="15px" style="margin-top:20px;"></beat-loader>
                <p class="terms">Al registrarme <a target="_blank" href="{% static 'terms/terminosycondiciones.pdf' %}">Acepto los términos y condiciones de privacidad</a></p>
            </div>
        </el-row>
    </el-dialog>
    <el-dialog
    :visible.sync="dialogConfirmCenterVisible"
    width="930px">
    <a @click="dialogConfirmCenterVisible = false" class="home-modal-close-button"><i class="fal fa-times-circle"></i></a>
    <el-row>
        <div class="dialog-center-left">
            <img src="{% static '/img/logo-center-modal.png' %}" />
            <p>Sin ningún costo ¡Únete hoy!</p>
        </div>
        <div class="dialog-center-right confirm">
            <img src="{% static '/img/check-company.png' %}">
            <p class="check">¡Listo!</p>
            <p class="info">Te voy a llamar para confirmar algunos datos y te envío toda la información a tu correo.</p>
        </div>
    </el-row>
</el-dialog>
</div>
{% endblock %}
{% block extrajs %}
<script>
    var sportCenterListUrl = "{% url 'sport-centers-list' %}"
    var sportCenterFilterUrl = "{% url 'sport-centers-filter' %}"
    var categoryActivitiesUrl = "{% url 'category-activities' %}"
    var sportCentersDistrictsUrl = "{% url 'sport-centers-districts' %}"
    var districts = {% autoescape off %}{{districts}}{% endautoescape %}
    var registerCompanyUrl = "{% url 'register-company' %}"
    var registerCenterUrl = "{% url 'register-center' %}"
</script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}