$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$orange_1: rgba(255,113,1,1);
$tundora: rgba(71,71,71,1);



$bodyBg: rgba(255,255,255,1);
$topbarSmallBg: #000;
$topbarBg: #313131;
$topbarColor: rgb(112,112,112);
$clrLinks: rgb(255,113,1);
$clrDecorLines: rgb(255,113,1);
$clrWhiteLinks: rgb(255,255,255);
$smallCartCounterBg: rgb(255,113,1);
$clrLogoDark: rgb(71,71,71);
$mainTextColor: #474747;
$mainFooterBg: rgb(30,30,30);
$mainFooterBorderBg: rgb(41,41,41);
$mainFooterColorP: rgb(154,154,154);
$mainFooterColorH3: rgb(233,233,233);
$mainFooterCopyrightsBg: rgb(14,14,14);
$mainFooterSocialBg: rgb(255,113,1);
$inputBorder: rgba(210,210,210,1);
$inputBorderFocused: #4eabfb;
$inputBorderError: red;
$buttonBg: #fc880b;
$buttonHover: #ff6e00;
$counterLineBg: #ff7101;
$buttonBgTextColor: #fff;
$buttonBorder: #ff7101;
$buttonBorderTextColor: #474747;
$colorTextLighter: rgba(120,120,120,1);
$clrSelectBorderHover: #ff7101;
$discTitleClr: #ffffff;
$discBoxBg: #000000;
$bgColorLevel1: #d35d00;
$bgColorLevel2: #e56806;
$bgColorLevel3: #ff7101;
$bgNewsHover: #ff7101;
$bannerClr-1: #ff7101;
$greyBgText: #5f5f5f;
$curPrice: #ff7101;
$oldPrice: #959595;
$bgProductsSection: #ebebeb;
$bgSubscribe: #ff7101;

$borderColor: #e7e7e7;
$bgGrayColor: #f2f2f2;


// Labels
$labelSale: #ff7101;
$labelNew: #1db504;

$rangeSliderBg: #ff7101;


// Social colors
$facebookBg: #225b99;
$twitterBg: #00adf2;