/* ------------------------------------------------------ */
/* ----------- Fontello iconpack including --------------- */
/* ------------------------------------------------------ */

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello/fontello.eot?29286431');
	src: url('../fonts/fontello/fontello.eot?29286431#iefix') format('embedded-opentype'),
	url('../fonts/fontello/fontello.woff2?29286431') format('woff2'),
	url('../fonts/fontello/fontello.woff?29286431') format('woff'),
	url('../fonts/fontello/fontello.ttf?29286431') format('truetype'),
	url('../fonts/fontello/fontello.svg?29286431#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?29286431#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* all fontello icons */

.icon-calendar:before { content: '\e800'; } /* '' */
.icon-call:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-google-plus:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-searcher:before { content: '\e806'; } /* '' */
.icon-shopping-cart:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-up-arrow:before { content: '\e809'; } /* '' */
.icon-address:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-telephone:before { content: '\e80c'; } /* '' */
.icon-dumbbells:before { content: '\e80d'; } /* '' */
.icon-fitness-app:before { content: '\e80e'; } /* '' */
.icon-fitness-gloves:before { content: '\e80f'; } /* '' */
.icon-push-up-grips:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e811'; } /* '' */
.icon-clock:before { content: '\e812'; } /* '' */
.icon-tag:before { content: '\e813'; } /* '' */
.icon-money:before { content: '\e814'; } /* '' */
.icon-shipping:before { content: '\e815'; } /* '' */
.icon-support:before { content: '\e816'; } /* '' */
.icon-del:before { content: '\e817'; } /* '' */
.icon-ok-circled2:before { content: '\e818'; } /* '' */
.icon-ok:before { content: '\e819'; } /* '' */
.icon-check:before { content: '\e81a'; } /* '' */