<p>El centro deportivo {{sport_center.name}} ha enviado el siguiente mensaje a través del formulario en su sesión del Admin:</p>


<p>Nombres y apellidos del cliente: {{user_name}}</p>
<p>Código de usuario: {{user_code}}</p>
<p>Número de documento de identidad del cliente: {{user_document}}</p>
<p>Fecha en que se registró la visita: {{registration_date}}</p>
<p>Horario de visita: {{registration_hour}}</p>
<p>Clase de la visita: {{registration_class}}</p>
<p>Motivo de la solicitud de cancelación: {{request_reason}}</p>

<p>Datos de contacto del centro deportivo {{sport_center.name}}:</p>

<ul>
    <li>Correo electrónico: {{sport_center.email|default_if_none:""}}</li>
    <li>Teléfonos: {{sport_center.phones|default_if_none:""}}</li>
    <li>Persona de contacto: {{sport_center.contact_person|default_if_none:""}}</li>
</ul>