<p>El centro deportivo {{sport_center.name}} ha enviado el siguiente mensaje a través del formulario en su sesión del Admin:</p>

<p>{{message}}</p>

<p>Datos de contacto del centro deportivo {{sport_center.name}}:</p>

<ul>
    <li>Correo electrónico: {{sport_center.email|default_if_none:""}}</li>
    <li>Teléfonos: {{sport_center.phones|default_if_none:""}}</li>
    <li>Persona de contacto: {{sport_center.contact_person|default_if_none:""}}</li>
</ul>