
{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/extra.css" %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
{% endblock %}

{% block extrahead %}
<script src="{% static 'vue/dist/vue.min.js' %}"></script>
<script src="{% static 'vue-js-modal/dist/index.js' %}"></script>
<script src="{% static 'lodash/dist/lodash.min.js' %}"></script>
<script src="{% static 'lodash/dist/lodash.fp.min.js' %}"></script>
<script src="{% static 'vuelidate/dist/vuelidate.min.js' %}"></script>
<script src="{% static 'vuelidate/dist/validators.min.js' %}"></script>
<script src="{% static 'axios/dist/axios.min.js' %}"></script>
<script src="{% static 'noty/lib/noty.min.js' %}"></script>
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script>
  Vue.use(window["vue-js-modal"].default)
  Vue.use(window.vuelidate.default)
</script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block extramenu %}
<div id="top-menu">
    <modal @closed="onModalClosed" name="contact-rockfit-modal" :adaptive="true" :resizable="false" height="auto" width="600px" :scrollable="true">
        <div v-if="!contactSent">
              <div class="contact-text-title">¿EN QUÉ TE AYUDO?</div>
              <input type="button" class="close-modal-button" @click="closeModal" value="x">
              <div class="form-row contact-text-field">
                  <textarea @input="$v.contactInfo.$touch()" v-model="contactInfo"></textarea>
                  <div v-if="$v.contactInfo.$error" class="form-error">El campo es obligatorio</div>
              </div>
              <div class="col-xs-12 contact-button-row">
                  <input type="button" @click="sendContact" value="Enviar">
              </div>
        </div>
        <div v-else class="confirmation-message">
            <p>TU MENSAJE SE ENVIÓ CORRECTAMENTE.</p>
            <p>TE RESPONDO LO ANTES POSIBLE (MENOS DE 48 HORAS DE TODAS MANERAS)</p>
              <div class="col-xs-12 contact-button-row">
                  <input type="button" @click="closeModal" value="Listo">
              </div>
        </div>
    </modal>

    <modal @closed="onModalClosed" name="anulation-rockfit-modal" :adaptive="true" :resizable="false" height="auto" width="600px" :scrollable="true">
        <div v-if="!cancellationSent">
              <div class="contact-text-title">ENVÍA LA SIGUIENTE INFORMCIÓN PARA PODER REVISAR EL CASO Y CANCELAR LA VISITA REGISTRADA</div>
              <input type="button" class="close-modal-button" @click="closeModal" value="x">
              <form class="anulation-form">
                  <div class="form-row">
                    <label>Nombres y apellidos del cliente</label><br>
                    <input @input="$v.userName.$touch()" v-model="userName" type="text"><br>
                    <div v-if="$v.userName.$error" class="form-error">El campo Nombres y apellidos es obligatorio</div>
                  </div>
                  <div class="form-row">
                    <label>Código de usuario </label><br>
                    <input @input="$v.userCode.$touch()" type="text" v-model="userCode"><br>
                    <div v-if="$v.userCode.$error" class="form-error">El campo Código de usuario es obligatorio</div>
                  </div>
                  <div class="form-row">
                    <label>Número de documento de identidad del cliente</label><br>
                    <input @input="$v.userDocument.$touch()" v-model="userDocument" type="text"><br>
                    <div v-if="$v.userDocument.$error" class="form-error">El campo Número de documento de identidad es obligatorio</div>
                  </div>
                  <div class="form-row">
                    <label>Fecha en que se registró la visita</label><br>
                    <input @input="$v.registrationDate.$touch()" v-model="registrationDate" type="text"><br
                    >
                    <div v-if="$v.registrationDate.$error" class="form-error">El campo Fecha en que se registró la visita es obligatorio</div>
                  </div>
                  <div class="form-row">
                    <label>Horario de visita</label><br>
                    <input @input="$v.registrationHour.$touch()" v-model="registrationHour" type="text"><br>
                    <div v-if="$v.registrationHour.$error" class="form-error">El campo Horario de visita es obligatorio</div>
                  </div>
                  <div class="form-row">
                    <label>Clase de la visita</label><br>
                    <input @input="$v.registrationClass.$touch()" v-model="registrationClass" type="text"><br>
                    <div v-if="$v.registrationClass.$error" class="form-error">El campo Clase de la visita es obligatorio</div>
                  </div>
                  <div class="form-row">
                    <label>Motivo de la solicitud de cancelación</label><br>
                    <textarea @input="$v.requestReason.$touch()" v-model="requestReason"></textarea>
                    <div v-if="$v.requestReason.$error" class="form-error">El campo Motivo de la solicitud de cancelación es obligatorio</div>
                  </div>
                  
                </form>
              <div class="col-xs-12 contact-button-row">
                  <input type="button" @click="sendCancelation" value="Enviar">
              </div>
        </div>
        <div v-else class="confirmation-message">
            <p>LA SOLICITUD DE ENVIÓ CORRECTAMENTE.<br>REVISAREMOS EL CASO Y NOS CONTACTAREMOS CON USTEDES.</p>
            <p>¡GRACIAS!</p>
              <div class="col-xs-12 contact-button-row">
                  <input type="button" @click="closeModal" value="Listo">
              </div>
        </div>
    </modal>

    <ul class="top-menu">
        <li>
            <a @click="contactRockfit">CONTACTAR A ROCKFIT</a>
        </li>
        <li>
            <a @click="requestVisitCancel">SOLICITAR CANCELACIÓN DE VISITA DE CLIENTE</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div>
        Ingresa los datos del usuario que deseas validar
    </div>
    </br>
    <div id="assistance-validation">
        <modal name="user-not-recognized" :adaptive="true" :resizable="false" height="auto" width="600px" :scrollable="true">
          <div class="validation-modal-user-not-recognized">
            <div class="validation-modal-no-access">LOS DATOS DE LA PERSONA NO COINCIDEN CON NINGÚN CLIENTE.</div>
            <div class="col-xs-12 contact-button-row">
              <input type="button" @click="closeModal('user-not-recognized')" value="Regresar">
            </div>
          </div>
        </modal>
        <modal name="session-timeout" :adaptive="true" :resizable="false" height="auto" width="600px" :scrollable="true">
          <div class="validation-modal-user-not-recognized">
            <div class="validation-modal-no-access">EXCEDISTE EL TIEMPO MÁXIMO EN ESTA PANTALLA.<br>POR FAVOR, VUELVE A VERIFICAR LOS DATOS DE LA PERSONA PARA REGISTRAR SU VISITA..</div>
            <div class="col-xs-12 contact-button-row">
              <input type="button" @click="closeModal('session-timeout')" value="Regresar">
            </div>
          </div>
        </modal>
        <modal name="registration-error" :adaptive="true" :resizable="false" height="auto" width="600px" :scrollable="true">
          <input type="button" class="close-modal-button" @click="closeModal('registration-error')" value="x">
          <div class="validation-modal-regitration-error">
            <div class="validation-modal-no-access">
              ¡HUBO UN PROBLEMA!<br>NO SE PUDO REGISTRAR LA VISITA DEL CLIENTE
            </div>
            <div class="col-xs-12 contact-button-row">
              <input type="button" @click="retryRegistration" value="Intentar otra vez">
            </div>
            <hr class="validation-modal-divider">
            <div >
              <H3>SI EL PROBLEMA PERSISTE, POR FAVOR DEJA PASAR AL CLIENTE A SU CLASE Y REPORTA LO OCURRIDO PARA REVISAR EL CASO Y PODER CONSIDERAR LA VISITA RECIBIDA EN TU CENTRO DEPORTIVO.</H3>
            </div>
            <div class="col-xs-12 contact-button-row">
              <input type="button" @click="reportError" value="Reportar">
            </div>
          </div>
        </modal>
        <modal name="registration-confirm" :adaptive="true" :resizable="false" height="auto" width="600px" :scrollable="true">
          <div class="validation-modal-registration-confirm">
            <div v-if="information.user" class="validation-modal-registration-title">EL REGISTRO DE LA VISITA PARA EL CLIENTE ${information.user.name} SE REALIZÓ DE MANERA EXITOSA</div>
            <div class="col-xs-12 contact-button-row">
              <input type="button" @click="closeModal('registration-confirm')" value="Listo">
            </div>
          </div>
        </modal>
        <modal @closed="onModalClosed" name="information" :adaptive="true" :resizable="false" height="auto" width="600px" :scrollable="true">
            <input type="button" class="close-modal-button" @click="closeModal('information')" value="x">
            <div v-if="userNotRecognized == false">

                <div v-if="information.user" class="validation-modal-user-header">
                  <div><strong>Cliente:</strong> ${information.user.name}</div>
                  <div><strong>Código de cliente:</strong> ${information.user.client_code}</div>
                  <div><strong>Documento de identidad:</strong> ${information.user.dni}</div>
                </div>

                <div v-if="haveClasses" class="validation-modal-have-classes">
                  TIENE CLASES DISPONIBLES ¡ACCESO PERMITIDO!
                </div>

                <div v-if="haveClasses == false && planWithoutClasses" class="validation-modal-no-access">
                  NO TIENE CLASES DISPONIBLES. ACCESO NEGADO.<br>
                  ${information.user ? information.user.name : ''} YA AGOTÓ SUS PASES PARA ESTE PERIODO
                </div>

                <div v-if="noPlanAndNoPasses" class="validation-modal-no-access">
                  NO TIENE CLASES DISPONIBLES. ACCESO NEGADO.<br>
                  ${information.user ? information.user.name : ''} NO ESTÁ SUSCRITO A UN PLAN DE MEMBRESÍA Y NO TIENE PASES INDIVIDUALES

                </div>

                <div v-if="information.reservation"  class="validation-modal-have-reservation">
                  <h3>¡TIENE RESERVA!</h3>
                  <div class="validation-modal-class-information"><strong>CLASE:</strong> ${information.reservation.reservation}   |   <strong>HORARIO:</strong> ${information.reservation.start} – ${information.reservation.end}</div>
                  <h3 v-if="information.reservation.friendpass_count > 0">EL CLIENTE VENDRÁ CON ${information.reservation.friendpass_count} PERSONAS HACIENDO USO DE ${information.reservation.friendpass_count} FRIENDPASS</h3>
                </div>

                <h4 class="validation-modal-extra-info">Las reservas sólo se visualizan desde 30 minutos antes del inicio de la clase hasta 30 minutos después </h4>
                <div class="validation-modal-extra-info" v-if="information.reservation && information.reservation.origin == 'PLAN_PASS'">
                  <h3>¿EL CLIENTE ESTÁ LLEVANDO INVITADOS?<br>
                  VERIFICAR FRIENDPASS DISPONIBLES</h3>
                  <hr class="validation-modal-divider">
                </div>

                <div v-if="information.reservation == null" class="validation-modal-no-reservation">
                  <div v-if="information.plan && information.plan.available_passes_on_sport_center > 0">
                    NO TIENE RESERVA
                  </div>
                  <div v-if="information.plan == null && noPlanAndNoPasses == false">
                    NO TIENE RESERVA
                  </div>
                </div>

                <div v-if="information.plan" class="validation-modal-plan-information">
                  <strong>${information.user.name}</strong> CUENTA CON EL <strong>${information.plan.name}</strong><br>
                  PERIODO DE MEMBRESÍA: <strong>${information.plan.start} – ${information.plan.end}</strong><br>
                  <div class="validation-modal-plan-detail">
                    <ul>

                      <li v-if="information.plan.available_passes_on_sport_center > 0">
                        Clases disponibles en este centro deportivo: ${information.plan.available_passes_on_sport_center}
                      </li>
                      <li v-if="information.plan.available_passes_on_sport_center <= 0">
                        No tiene clases disponibles en este centro deportivo
                      </li>

                      <li v-if="information.plan.available_passes > 0">Clases disponibles totales: ${information.plan.available_passes}</li>
                      <li v-if="information.plan.available_passes <= 0">No tiene clases disponibles</li>

                      

                      <li v-if="information.plan.available_friendpass > 0">Friendpass disponibles: ${information.plan.available_friendpass}</li>
                      <li v-if="information.plan.available_friendpass <= 0">No tiene friendpass disponibles</li>

                    </ul>
                    <!-- <ul v-else>
                      <li>No tiene clases disponibles</li>
                    <ul> -->
                  </div>
                </div>

                <div v-if="information.reservation && information.reservation.origin == 'PASS'" class="validation-modal-pass-information">
                  ${information.user.name} TIENE ${information.passes_not_from_plan.length} PASES INDIVIDUALES PARA ESTE CENTRO DEPORTIVO
                  <div class="validation-modal-pass-list">
                    <div v-for="pass, index in information.passes_not_from_plan">
                      <div>Pase ${index + 1}: Vence el ${pass}</div>
                    </div>
                  </div>
                </div>
                <div v-if="information.reservation == null" class="validation-modal-pass-information">
                  <div v-if="information.passes_not_from_plan && information.passes_not_from_plan.length > 0">
                    ${information.user ? information.user.name : ''} TIENE ${information.passes_not_from_plan ? information.passes_not_from_plan.length : 0} PASES INDIVIDUALES PARA ESTE CENTRO DEPORTIVO
                    <div class="validation-modal-pass-list">
                      <div v-for="pass, index in information.passes_not_from_plan">
                        <div>Pase ${index + 1}: Vence el ${pass}</div>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
            <div v-else>
              LOS DATOS DE LA PERSONA NO COINCIDEN CON NINGÚN CLIENTE.
            </div>
            <div class="col-xs-12 contact-button-row">
                <!-- <input v-if="haveClasses" type="button" @click="confirmReservation" value="Registrar visita"> -->
                <input v-if="haveClasses == false" type="button" @click="closeModal('information')" value="Regresar">
            </div>
        </modal>
        <form>
          <label>DNI </label><br>
          <input v-model="dni" type="text" name="dni"><br>
          <label>Código de usuario </label><br>
          <input type="text" v-model="code" name="code"><br>
          <input type="button" value="Validar" @click="validateUser">
        </form>
    </div>
</div>

<script>
  var emailValidator = window.validators.email
  var requiredValidator = window.validators.required
  var minLengthValidator = window.validators.minLength
  var numericValidator = window.validators.numeric
  var integerValidator = window.validators.integer

  var validateAssistanceUrl = "{% url 'validate-assistance' %}"
  var confirmAssistanceUrl = "{% url 'confirm-assistance' %}"
  var contactRockfitAdminUrl = "{% url 'contact-rockfit-admin' %}"
  var cancelRequestRockfitAdminUrl = "{% url 'cancel-request-rockfit-admin' %}"
</script>
<script src="{% static 'admin/js/assistance_validation.js' %}"></script>
<script src="{% static 'admin/js/top_menu.js' %}"></script>
{% endblock %}
