/* ---------------------------------------------- */
/* ---------------- 404 page styles ------------- */
/* ---------------------------------------------- */
.page-404{
  text-align: center;
  padding: 50px 0;
  h3{
    font-size: 30px;
    margin: 30px 0;
  }
  .button{
    margin: 0 0 50px 0;
  }
}