/* ---------------------------------------------- */
/* ------------ About page styles --------------- */
/* ---------------------------------------------- */
.banner_about{
	height: 500px;
	background-position: center right;
	width: 100%;
	background-size: cover;
	margin: 100px 0;
	.container{
		height: 100%;
		.row{
			height: 100%;
		}
	}
	p{
		margin: 20px 0 20px 100px;
	}
}
@media only screen and (max-width : 1500px) {
	.banner_about{
		background-position: center;
		.flex-row_container{
			margin-left: 50px;
		}
	}
}