#my-account-page {
    .content-wrapper{
        margin-top: 90px;
        background: #161616; 
    }
    .container-menu-account{
        height: 0;
        opacity: 0;
        position: absolute;
        z-index: 9999;
        pointer-events: none;
        display: flex;
        display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
        justify-content: flex-end; 
        right: 12.5%;
        padding: 0;
        top: 0;
        -webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
        transition: height 0.3s;
        .content{
            background: #494949;
            height: 100%;
            z-index: 9999;
            width: 300px;
            padding: 20px 0;
            border-radius: 5px;
            .div-close{
                padding: 0 20px;
                .close-menu{
                    cursor: pointer;
                    color: white;
                }
            }
            .block-name{
                text-align: center;
                margin-bottom: 15px;
                margin-top: 10px;
                .username{
                    color: white;
                    font-weight: 100;
                    font-size: 16px;
                    line-height: 25px;
                    padding: 0 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .code{
                    font-weight: 300;
                    font-size: 14px;
                    color: #929292;
                }
            }
            .extra{
                padding: 0 20px;
                color: #51abfb;
                font-size: 12px;
                height: 20px;
                span{
                    cursor: pointer;
                }
                span:hover{
                    text-decoration: underline;
                }
                border-bottom: 1px solid #444444;
            }
            .item{
                border-bottom: 1px solid #626262;
                padding: 15px 10px;
                text-align: center;
                font-size: 14px;
                color: white;
                a{
                    color: white;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                        color: #51abfb;
                    }
                }
                
            }
            .item.normal{
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                    color: #51abfb;
                }
            }
        }
    }
}
.noty_body{
    text-align: center;
}
.el-select-dropdown__item:not(.selected):hover{
    background: #44a3f8;
    color: white;
}
.el-popover.el-popper{
    z-index: 10002 !important;
}
.el-picker-panel{
    z-index: 10005 !important;
}
.centers-poppover{
    p{
        font-weight: 400;
    }
    a{
        color: #73b7f4;
    }
}
.popover-discount{
    padding: 10px;
    .el-table{
        thead{
            font-size: 12px;
        }
        tbody{
            color: #909399;
            font-weight: 500;
            font-size: 12px;
        }
    }
}
#my-account{
    margin-top: 45px;
    .el-dialog{
        border-radius: 5px;
    }
    .modal-change-password{
        .dialog-center-left{
            border-radius: 5px 0 0 5px;
        }
    }
    .content{
        display:flex; 
        justify-content:center;
        padding: 30px;
    }
    .first-menu{
        background: #161616; 
        display:flex; 
        justify-content:center;
        height:70px;
        border-bottom: 1px solid  #333333; 
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: 2;
        top: 65px;
        right: 0;
        left: 0;
        span{
            padding: 0 15px;
            cursor: pointer;
            font-size: 12px;
            color: #51abfb;
        }
        a:first-child{
            border-right: 1px solid  #333333; 
        }
        a:focus,
        a:active,
        a:hover{
            text-decoration: initial;
        }
    }
    .menu-account{
        background: #161616; 
        display:flex; 
        justify-content:center;
        height:70px;
        border-bottom: 1px solid  #333333;
        .tabs-select{
            display: none;
            width: 185px;
            input{
                background: none;
                border: none;
                border-bottom: 1px solid #409EFF;
                border-radius: 0;
                color: #409EFF;
                font-size: 18px;
                text-align: center;
            }
            i{
                font-size: 20px;
                color: #409EFF;
                font-weight: bold;
            }
        }
    }
    .menu-account ul,
    .menu-account ul>li,
    .menu-account ul>li>a{
        height: 100%;
    }
    .menu-account.hide-plan ul{
        width: 525px;
    }
    .menu-account ul{
        border:none;
        width: 700px;
    }
    .menu-account ul>li{
        width: 175px;
        display: flex;
        display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
        background: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu-account ul>li>a{
        width: fit-content;
        background: none;
        color: white;
        font-weight: 200;
        padding: 0 !important;
        display: flex;
        display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu-account ul>li.active>a,
    .menu-account ul>li.active>a:hover,
    .menu-account ul>li.active>a:focus{
        background: none;
        border: none;
        color: #51abfb;
        border-bottom: 4px solid #51abfb;
    }
    .menu-account ul>li>a:hover{
        background: none;
        border: none;
        color: #51abfb;
    }
    .title-plan{
        color: white;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 3px;
    }
    .title-plan span:not(.name){
        font-size: 21px;
        font-weight: 200;
    }
    .label-period{
        color: white;
        margin: 20px 0;
        font-size: 16px;
    }
    .label-period span{
        color: #b5b5b5;
    }
    .quantity-pass{
        color: white;
        font-size: 45px;
        font-weight: 600;
        &.not-limit{
            font-size: 20px;
            margin-top: 20px;
        }
    }
    .word-classes{
        color: #b5b5b5;
        font-weight: 200;
        font-size: 18px;
    }
    .time-period{
        color: #b5b5b5;
        font-weight: 200;
        font-size: 13px;
        line-height: 19px;
    }
    .div-details{
        height:82px;
    }
    .div-details-mobile{
        display: none;
    }
    .div-details img{
        display:inline-block;
        height:82px;
        padding: 0 14px 0 40px;
    }
    .div-details p{
        height: 100%;
        float: right;
        font-size: 18px;
        font-weight: 200;
        color: #8e8e8e;
        text-align: left;
        line-height: 22px;
        display: flex;
        display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
        flex-direction: column;
        justify-content: center;
    }
    .div-gradient{
        text-align: center;
        margin-top: 20px;
    }
    .triangle{
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #333cc2;
        display: inline-block;
    }
    .block-gradient{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a23b5+0,3755cf+100 */
        background: #4a23b5; /* Old browsers */
        background: -moz-linear-gradient(left, #4a23b5 0%, #3755cf 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #4a23b5 0%,#3755cf 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #4a23b5 0%,#3755cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a23b5', endColorstr='#3755cf',GradientType=1 ); /* IE6-9 */
        height: 75px;
        width: 100%;
        border-radius: 5px;
        margin-top:-3px;
        //display: inline-block;
        display: flex;
        display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .block-gradient {
        p{
            color: white;
            font-weight: 300;
            font-size: 15px;
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -o-flex;
            justify-content: center;
            flex-direction: column;
            &.cancel{
                display: block;
                margin-top: 5px;
            }
        }
    }
    .description{
        font-size: 13px;
        margin-top: 30px;
        font-style: oblique;
        font-weight: 400;
        text-align: left;
        line-height: 19px;
        padding-left: 10px;
        color: #8e8e8e;
    }
    #container-speed{
        margin-top:30px;
    }
    #container-speed .highcharts-background{
        fill: #282828;
    }
    #container-sport-centers .highcharts-background,
    #container-sport-centers-mobile .highcharts-background{
        fill: #282828;
    }
    #container-sport-centers-mobile{
        display: none;
    }
    #container-speed .highcharts-data-label{
        top:70px !important;
    }
    .description-class-used{
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        line-height: 19px;
        color: #7c7b7b;
    }
    .lost-class{
        margin-top: 25px;
        font-size: 10px;
        font-weight: 500;
        text-align: left;
        color: #7c7b7b;
        line-height: 13px;
        &.centers{
            margin-top: 0;
        }
    }
    .section-main{
        padding: 40px;
        text-align:center;
        background:#282828;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .section{
        padding: 40px 25px;
        text-align:center;
        background:#282828;
        border-radius: 4px;
        &.center{
            height: 475px;
            img{
                width: auto;
            }
        }
    }
    .section img{
        width: 100%;
        
    }

    .repetitions{
        font-size: 16px;
        font-weight: 200;
        color: white;
        a{
            // color: #51abfb;
            color: #73b7f4;
        }
        .group-center{
            color: #73b7f4;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        .list{
            text-align: left;
            margin-top: 30px;
            .item{
                padding: 20px 30px;
                font-size: 15px;
                &:first-child{
                    border-top: 1px solid #444444;    
                }
                border-bottom: 1px solid #444444;
            }
        }
        .buy-more{
            margin-top: 20px;
            padding: 20px 30px;
            color: #8e8e8e;
            font-size: 15px;
            .days-renew{
                font-weight: 400;
            }
        }
        .empty{
            text-align: center;
            color: #6e6d6d;
            font-size:15px;
            font-weight: 400;
        }
    }

    .friendpass{
        font-size: 16px;
        font-weight: 200;
        color: white;
        a{
            color: #51abfb;
        }
        .available-friendpass{
            padding: 20px 30px;
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -o-flex;
            align-items: center;
            justify-content: space-between;
            span{
            }
            button{
                background: #51abfb;
                color: white;
                border: none;
                font-size: 12px;
            }
        }
        .list{
            text-align: left;
            margin-top: 30px;
            .title{
                font-size: 18px;
                font-weight: 200;
                color: #8e8e8e;
                padding: 0 30px;
            }
            .item{
                padding: 20px 30px;
                color: #8e8e8e;
                &:first-child{
                    border-top: 1px solid #444444;    
                }
                border-bottom: 1px solid #444444;
            }
        }
        .buy-more{
            margin-top: 20px;
        }
        .empty{
            text-align: center;
            color: #6e6d6d;
            font-size: 15px;
            font-weight: 400;
            color: gray;
            margin-top: 30px;
        }
    }

    .graphics{
        margin-bottom: 10px;
        .empty{
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -o-flex;
            justify-content: center;
            margin-top: 100px;
            p{
                max-width:200px;
                color: #6e6d6d;
                font-size:15px;
                font-weight: 400;
            }
        }
    }

    .account_footer_image{
        background: url(/static/img/account_footer_image.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 300px;
        display: flex;
        display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-transform: uppercase;
        font-size: 25px;
        padding: 0 240px;
        text-align: center;
        line-height: 1.4em;
    }
    .reservations,
    .visits{
        margin-top: 40px;
        .header{
            color: #a1a5a0;
            padding: 20px 15px;
            font-weight: 300;
            border-bottom: 1px solid #444444;
        }
        .item{
            padding: 20px 25px;
            color: white;
            font-weight: 300;
            font-size: 13px;
            border-bottom: 1px solid #444444;
            .el-col{
                line-height: 15px;
            }
            .plan-name-mobile{
                display: none;
            }
            .clase{
                color: #3e9fc0;
            }
            p{
                font-size: 13px;
            }
            .title-date{
                display: none;
            }
            a{
                color: #44a8ca;
                font-weight: 400;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
            .format-date{
                text-transform: lowercase;
                span{
                    display: none;
                    text-transform: none;
                }
            }
            .opacity{
                opacity: 0.4;
            }
            .label-class{
                display: none;
            }
            .show-class{
                border: 1px solid #44a8ca;
                padding: 6px 0;
                display: block;
                border-radius: 3px;
                line-height: 10px;
                cursor: pointer;
                margin-top: -4px;
            }
            .cancel{
                color: #444444;
            }
        }
        .empty-coming-activities{
            margin-top: 40px;
            font-size: 20px;
            font-weight: 400;
            color: gray;
            text-align: center;
        }
        .div-more{
            margin-top: 40px;
            text-align: center;
            p{
                color:#3e9fc0;
                font-weight: 100;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
            i{
                font-size: 40px;
                color: #979393;
                opacity: 0.5;
                font-weight: 100;
                margin-top: -10px;
            }
        }
    }
    .friendpass-modal{
        &.class{
            .el-dialog{
                width: 290px !important;
            }
        }
        &.freeze{
            .el-dialog{
                width: 276px !important;
                .div-body{
                    padding: 30px 0 60px 0;
                    .not-cancel{
                        margin-top: 10px;
                        font-size: 11px;
                        color: #12abfb;
                        cursor: pointer;
                        font-weight: 400;
                        text-decoration: underline;
                    }
                }
            }
        }
        &.cancel{
            .el-dialog{
                width: 260px !important;
                .div-body{
                    padding: 30px 0 20px 0;
                    .block:first-child{
                        margin-bottom: 0;
                    }
                    .plan{
                        color: black;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 17px;
                        span{
                            font-weight: 200;
                            font-size: 13px;
                        }
                    }
                    .time{
                        margin-bottom: 15px;
                        line-height: 16px;
                        span{
                            font-size: 10px;
                            font-weight: 400;
                        }
                    }
                    .button-cancel{
                        padding: 8px 20px;
                        color: white;
                        background: #12abfb;
                        border: 1px solid #12abfb;
                        font-weight: 600;
                    }
                    .not-cancel{
                        margin-top: 10px;
                        font-size: 12px;
                        color: #12abfb;
                        cursor: pointer;
                        font-weight: 400;
                        text-decoration: underline;
                    }
                }
            }
        }
        &.refer{
            .el-dialog{
                width: 240px !important;
                .div-body{
                    padding: 30px 0 20px 0;
                    .block:first-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .el-dialog{
            width: 230px !important;
        } 
        .div-title{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03affd+0,5b21b8+100 */
            background: #03affd; /* Old browsers */
            background: -moz-linear-gradient(left, #03affd 0%, #5b21b8 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #03affd 0%,#5b21b8 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #03affd 0%,#5b21b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03affd', endColorstr='#5b21b8',GradientType=1 ); /* IE6-9 */
            height: 90px;
            padding: 25px 20px 10px 20px;
            position: relative;
            border-radius: 5px 5px 0 0;
            &.class{
                background: #317cfb;
                height: auto;
                p{
                    font-size: 23px;
                    &.sport-center{
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                }
            }
            p{
                color: white;
                font-size: 17px;
                text-align: center;
                font-weight: 500;
            }
            .el-icon-circle-close-outline{
                color: white;
                font-size: 20px;
                position: absolute;
                right: 5px;
                top: 5px;
                cursor: pointer;
            }
        }
        .div-body{
            padding: 30px 0 20px 0;
            .block:first-child{
                margin-bottom: 30px;
            }
            .block{
                &.class{
                    margin-bottom: 0;
                }
                &.freeze{
                    padding: 0 25px;
                }
                padding: 0 15px;
                .reserve-date{
                    color: black;
                    font-size: 17px;
                    font-weight: 500;
                    span{
                        font-size: 13px;
                        font-weight: 300;
                    }
                }
                .item{
                    font-size: 11px;
                    color: #d3d3d3;
                    font-weight: 500;
                    &.class{
                        font-size: 10px;
                    }
                    &.margin{
                        margin-bottom: 5px;
                    }
                    span{
                        font-weight: 600;
                        color: #cac9c9;
                    }
                }
                .description-item{
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 17px;
                    color: #706c6c;
                    margin: 5px 0 2px 0;
                    &.class{
                        margin: 0;
                    }
                    &.black{
                        color: black;
                        font-weight: 500;
                    }
                    &.freeze{
                        font-size: 10px;
                        text-align: center;
                    }
                    span{
                        color: #03affd;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .note{
                    font-size: 10px;
                    color: #03affd;
                    font-style: italic;
                    line-height: 13px;
                    display: flex;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: -o-flex;
                    &.class{
                        text-align: center;
                        font-style: normal;
                    }
                    &.freeze{
                        display: block;
                        font-style: normal;
                        text-align: center;
                        font-size: 9px;
                    }
                }
                
            }
            .block-button{
                text-align: center;
                padding: 20px 40px;
                button{
                    padding: 8px 0;
                    background: #12abfb;
                    color: white;
                    width: 100%;
                    font-weight: 200;
                }
                &.freeze{
                    padding: 30px 45px 40px 45px;
                    button{
                        font-size: 11px;
                    }
                }
            }
            hr{
                margin-top: 15px;
                margin-bottom: 15px;
                border-top: 1px solid #f2efef;
            }
        }
    }
    .close-sesion-modal{
        .el-dialog{
            padding: 40px 20px;
            text-align: center;
            background: white;
            border-radius: 5px;
            p{
                color: #949494;
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 30px;
                // text-align: center;
            }
            .cancel{
                background-color: #414141;
                border-color: #414141;
                color: white;
                &:hover{
                    background: white;
                    color: #414141;
                }
            }
            .close-sesion{
                background: #51abfb;
                border-color: #51abfb;
                color: white;
                margin-left: 10px;
                &:hover{
                    background: none;
                    border-color: #51abfb;
                    color: #51abfb;
                }
            }
        }
        
    }
    .form-user{
        margin-top: 40px;
        display:flex; 
        justify-content:center;
        .el-form-item{
            margin-bottom: 10px;
            .el-date-editor.el-input{
                width: 100%;
                input{
                    padding: 9px 20px 0 35px;
                }
            }
            input{
                color: white;
                background: none;
                border: none;
                border-bottom: 1px solid #494949;
                border-radius: 0;
                margin-top: 0;
                padding: 0 20px 0 0;
            }
            .label-error{
                text-align: left;
                color: #c64040;
                font-size: 13px;
            }
            &.error{
                input{
                    border-bottom: 1px solid #f45353 !important;
                }
                .el-form-item__label{
                    color: #f45353;
                }
            }
        }
        .el-form-item__label{
            color: #949494;
            line-height: 22px;
            font-weight: 400;
            font-size: 15px;
        }
        .name{
            color: white;
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .extra{
            font-size: 16px;
            color: #818181;
            font-weight: 300;
            margin-bottom: 15px;
        }
        .code{
            color: white;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 15px;
        }
        .change-password{
            color: #51abfb;
            margin: 40px 0 10px 0;
            font-weight: 400;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        .button-edit{
            background: #51abfb;
            border-color: #51abfb;
            color: white;
            padding: 15px 35px;
            font-size: 15px;
            &:hover{
                background: none;
                border-color: #51abfb;
                color: #51abfb;
            }
        }
    }
    .row-buttons{
        text-align: center;
        margin-top: 40px;
        &.right{
            text-align: right;
            .preview{
                width: 270px;
            }
        }
        button{
            color: white;
            padding: 15px 55px;
            font-size: 15px;
            width: 195px;
        }
        .save{
            background: #51abfb;
            border-color: #51abfb;
            &:hover{
                background: none;
                border-color: #51abfb;
                color: #51abfb;
            }
        }
        .preview{
            background-color: #414141;
            border-color: #414141;
            &:hover{
                background: none;
                border-color: white;
                color: white;
            }
        }
    }
    .card{
        margin-top: 40px;
        .label-card{
            color: #949494;
            font-weight: 400;
            font-size: 15px;
            text-align: left;
            margin-bottom: 15px;
        }
        .div-card{
            height:50px; 
            padding:10px 10px;
            color: #d2d2d2;
            font-weight: 400;
            border: 1px solid #5d6065 ;
            border-radius: 5px;
            .div-digits{
                border-right: 1px solid #5d6065;
                color: white;
                // font-size: 12px;
                .digits-hide{
                    font-weight: 300;
                    float:left;
                    height:100%;
                    padding-top: 10px;
                }
                .last-digits{
                    font-weight: 300;
                    float:left;
                    height:100%;
                    padding-top: 7px;
                }
            }
            .card-exp{
                display: flex;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: -o-flex;
                .div-date{
                    flex: 1;
                    padding-left: 11px;
                    .card-date{
                        font-size: 17px;
                        // font-size: 11px;
                        font-weight: 100;
                        text-align: left;
                        color: #949494;
                        span{
                            font-weight: 300;
                            color: white;
                        }
                    }
                }
            }
            .cards-image{
                text-align: center;
                img{
                    width: 35px;
                    margin-top: 1px;
                    // width: 18px;
                    // margin-top: 8px;
                }
            }
            
        }
        .new-card{
            float: right;
            margin-top: 15px;
            background: #51abfb;
            border-color: #51abfb;
            color: white;
            padding: 15px 35px;
            font-size: 15px;
            &:hover{
                background: none;
                border-color: #51abfb;
                color: #51abfb;
            }
        }
    }
    .div-new-card{
        margin-top: 40px;
        .label-card{
            color: #949494;
            font-weight: 400;
            font-size: 15px;
            text-align: left;
            margin-bottom: 15px;
        }
        .label-error{
            text-align: left;
            color: #c64040;
            font-size: 13px;
            margin-top: 5px;
        }
        .div-number-card{
            border: 1px solid #5d6065;
            border-radius: 5px;
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -o-flex;
            padding-right: 10px;
            .number{
                flex: 1;
                input{
                    border: none;
                    border-bottom: none;
                }
            }
            .three-cards{
                img{
                    margin-top: 10px;
                }
            }
            
            &.error{
                border: 1px solid #f45353 !important;
            }
        }
        .card-details{
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -o-flex;
            margin-top:15px;
            .div-date{
                div{
                    width: 265px;
                }
            }
            .div-cvv{
                margin-left: 20px;
                div{
                    width: 175px;
                }
            }
        }
        input{
            border: 1px solid #5d6065;
            border-radius: 5px;
            background: none;
            margin: 0;
            color: white;
            &::placeholder{
                color: white !important;
                font-size: 18px !important;
                font-weight: 400 !important;
                opacity: 1 !important; /* Firefox */
            }
            &:-ms-input-placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: white !important;
                font-size: 30px !important;
                font-weight: 400 !important;
                opacity: 1 !important; /* Firefox */
            }
            &.error{
                border: 1px solid #f45353 !important;
            }
        }
    }
}

