/* ---------------------------------------------- */
/* ---------------- Cart styles --------------- */
/* ---------------------------------------------- */

/* ---------------- Cart table --------------- */
.cart-table{
	font-size: 13px;
	font-weight: 400;
	opacity: 1;
	min-width: 940px;
	margin-bottom: 5px;
	th{
		text-transform: uppercase;
	}
	td, th{
		border: 1px solid #e7e7e7;
		padding: 20px 25px;
		&.cart-remove,
		&.cart-price,
		&.cart-total,
		&.cart-quantity{
			text-align: center;
		}
		&.cart-quantity{
			.input-styled{
				width: 70%;
				margin: 0 auto;
			}
		}
	}
	.cart-desc{
		width: 55%;
		padding: 20px 25px;
		.cart-desc_img{
			width: 70px;
			height: 70px;
			padding: 5px;
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #e7e7e7;
			text-align: center;
			overflow: hidden;
			img{
				min-width: 100%;
				height: 100%;
			}
		}
		.cart-desc_title{
			width: 80%;
			display: inline-block;
			box-sizing: border-box;
			color: $mainTextColor;
			text-transform: uppercase;
		}
	}
	.cart-price{
		width: 10%;

	}
	.cart-quantity{
		width: 20%;
	}
	.cart-total{
		width: 10%;
	}
	.cart-remove{
		width: 5%;

		a{
			transition: .2s;
			color: $clrLinks;
			&:hover{
				color: $mainTextColor;
				text-decoration: none;
			}
		}
	}
}
.cart-coupon{
	display: inline-block;
	float: left;
	.cart-coupon_input{
		display: inline-block;
		margin-right: 20px;
	}
	.cart-coupon_btn{
		display: inline-block;
	}
}
.cart-controls{
	display: inline-block;
	float: right;
	input{
		display: inline-block;
	}
	.button-clear{
		margin-right: 20px;
	}
}
.cart-order{
	margin: 30px 0;
	h3{
		margin-bottom: 20px;
	}
}


.cart-totals{
	.cart-totals_table{
		padding: 0px 30px;
		box-sizing: border-box;
		table{
			width: 100%;
		}
		tr{
			padding: 0 20px;
			line-height: 66px;
			td{
				width: 50%;
				font-weight: 200;
				color: $colorTextLighter;
			}
		}
		border: 1px solid #e7e7e7;
	}

}
.cart-order{
	margin-top: 60px;
}
.cart-totals_control{
	input.button{
		padding: 0 30px;
		margin: 20px 0;
		width: 100%;
		box-sizing: border-box;
	}
	.cart-totals_update{
		display: inline-block;
		width: 45%;
		float: left;
	}
	.cart-totals_order{
		display: inline-block;
		float: right;
		width: 45%;
	}
	&:after{
		content: '';
		width: 100%;
		display: block;
		clear: both;
	}
}
.table-responsive{
	overflow-x: auto;
	border: none;
}

/* =================== Checkout page ================= */
.order-summary{
	width: 100%;
	font-size: 12px;
	tr{
		td{
			&:nth-child(1){
				width: 70%;
				text-transform: uppercase;
			}
			&:nth-child(2){
				width: 30%;
				text-align: right;
				padding-right: 20px;
				color: darken($colorTextLighter, 10%);
			}

		}
	}
	td{
		border-bottom: 1px solid darken($borderColor, 10%);
		padding: 20px 0;
		vertical-align: top;
	}
	thead{
		th{
			text-transform: uppercase;
			text-align: left;
			border-bottom: 1px solid darken($borderColor, 10%);
			padding: 20px 0;
			&:nth-child(2){
				width: 30%;
				text-align: right;
				padding-right: 20px;
			}
		}
	}
	.order-summary-products{
		width: 100%;
		td{
			padding: 5px 0;
			border: 0;
			color: darken($colorTextLighter, 10%);
		}
	}
}
