/* ---------------------------------------------- */
/* ---------------- Catalog styles -------------- */
/* ---------------------------------------------- */
.product-page{
  margin-top: 5px;
  .product-img{
    margin-top: 20px;
  }
  p{
    color: $colorTextLighter;
  }
}
.product-img-slider{
  border: 1px solid $borderColor;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  img{
    width: 100%;
    display: inline-block;
  }
  a{
    display: block;
    position: relative;
    &:after{
      font-family: 'FontAwesome';
      z-index: 10;
      content: '\f002';
      position: absolute;
      background: rgba(0,0,0,.6);
      color: #fff;
      opacity: 0;
      visibility: hidden;
      font-size: 30px;
      line-height: 90px;
      text-align: center;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px;
      transition: .2s;
      cursor: pointer;
    }
    &:hover{
      &:after{
        opacity: .8;
        visibility: visible;
      }
    }
  }
  .slick-slide{
    outline: none;
  }
}

.product-img-carousel{
  img{
    width: 100%;
    display: inline-block;
  }
  .slick-slide{
    outline: none;
    border: 1px solid $borderColor;
    margin: 10px;
    padding: 5px;
  }
  .slick-current{
    border-color: $clrLinks;
  }
}

.product-desc{
  margin-top: 20px;
  .price-box{
    margin-bottom: 20px;
    .price{
      color: $clrLinks;
      font-weight: 500;
      font-size: 30px;
      padding-right: 30px;
    }
    .old-price{
      color: $colorTextLighter;
      font-weight: 200;
      font-size: 30px;
    }
  }
}
.price-crossed{
  display: inline-block;
  position: relative;
  &:before{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    background: $colorTextLighter;
  }
}
.form-buying{
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  .buy-counter{
    width: 100px;
    line-height: 44px;
    input{
      width: 100%;
      padding: 0 15px;
    }
  }
  .byu-btn{
    padding-left: 20px;
    width: 190px;
  }
  .button-buying{
    width: 100%;
    display: inline-block;
    position: relative;
    line-height: 44px;
    padding: 0 10px 0 10px;
  }
}
.product-meta{
  margin-top: 20px;
  span{
    font-size: 14px;
    color: $colorTextLighter;
    display: block;
    padding: 5px 0;
    font-weight: 300;
  }
}

/* -------------- Tabs -------------- */
.tabs-box{
  margin: 40px 0;
  .nav-tabs{
    li{
      a{
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
        border-top: 1px solid $borderColor;
        padding: 15px 25px;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: $mainTextColor;
        border-radius: 0;
        margin: 0 0 0 -1px;

      }
      &:first-child{
        a{
          margin: 0;
        }

      }
    }
  }
  .tabs-content{
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    padding: 25px;
  }
}
.related-box{
  margin: 60px 0;
}
.sorting{
  .sorting-item{
    display: inline-block;
    margin-right: 30px;
    span{
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
    }
    a{
      font-size: 12px;
      text-transform: uppercase;
      color: $mainTextColor;
      font-weight: 300;
      transform: .2s;
      &.active{
        color: $clrLinks;
      }
      &:hover{
        text-decoration: none;
        color: $clrLinks;
      }
    }
  }
}
.catalog-page{
  &.products-list{
    margin-top: 20px;
  }
  .product-item{
    margin: 20px 0;
  }
}
.sorting{
  padding-top: 17px;
}

/* ---------  Range slider ------------- */

#slider-price{
  .ui-slider-range{
    background: $rangeSliderBg;
  }
  &.ui-widget.ui-widget-content{
    background: #d2d2d2;
    border: 0;
  }
  .ui-slider-handle{
    border-radius: 50%;
    top: -.4em;
    background: $rangeSliderBg;
    border: 0;
    outline: none;
  }
  &.ui-slider-horizontal{
    height: .5em;
  }
}
#amount{
  background: #ebebeb;
  width: 120px;
  color: $mainTextColor !important;
  text-align: center;
  margin-top: 20px;
  font-weight: 300 !important;
  font-size: 13px;
}