/* ---------------------------------------------------- */
/* ---------------- Classes styles --------------- */
/* ---------------------------------------------------- */


/* ============= Classes page styles ================== */
hr{
	border-top: 1px solid #ddd !important;
	margin-top: 30px;
    margin-bottom: 30px;
}
.el-collapse{
	border-top: none;
}
.classes-item{
	margin-bottom: 40px;
	.classes_img{
		margin-bottom: 20px;
		img{
			width: 100%;
		}
	}
	.classes_desc{
		margin: 20px 0;
		p{
			margin-top: 10px;
			line-height: 190%;
		}
	}

	.link-readmore{
		margin: 20px 0 0 0;
	}
}
.classes_footer{
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	padding: 10px 0;
	margin: 20px 0;
	.classes_footer-item{
		display: inline-block;
		text-transform: uppercase;
		font-size: 12px;
		margin-right: 20px;
		padding: 5px 0;
	}
}
/* ================= Classes card styles ================== */
.info-banner{
	margin-bottom: 50px;
	.info-banner-desc{
		border: 1px solid $borderColor;
		box-sizing: border-box;
		padding: 30px;
		height: 465px;
		p{
			padding: 20px 0;
		}
	}
	.info-banner-img{
		padding-right: 0;
		height: 465px;
		overflow: hidden;
		text-align: center;
		position: relative;
		img{
			position: absolute;
			min-width: 100%;
			height: 465px;
			right: 0;
			left: 0;
		}
	}
}
.text-box{
	p{
		color: $colorTextLighter;
		padding: 10px 0;
	}
}
.trainers-img{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
}



/* ================= New styles ================== */

#classes{
	background: #E5E5E5;
	margin-top: 80px;
	.show-hide-filters{
		text-align: center;
		height: 30px;
		font-weight: 500;
		cursor: pointer;
		margin-bottom: 20px;
		font-size: 20px;
		margin-top: 40px;
	}

	.swiper-slide{
		padding: 10px;
	}

	.classes-container{
		margin-top: 40px;
	}
	.selected-time-start-label, .selected-time-end-label{
		width: 60px;
		float:left;
		font-size: 10px;
    	color: gray;
		margin-top: 13px;
	}
	.el-checkbox__inner{
		border: 1px solid #11abfd;
	}   
	.selected-time-end-label{
		text-align: right;
	}
	.filter-checkbox{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		margin-left: 0px !important;
		.el-checkbox__input{
			margin-top: 2px;
		}
		.el-checkbox__label{
			white-space: normal;
		}
	}
	.selected-time-slider{
		width: calc(100% - 120px);
		float:left;
		.el-slider__button-wrapper{
			z-index: 98 !important;
		}
	}
	.checkbox-centers{
		overflow-y: scroll;
		height: 100px;
		overflow-x: hidden;
	}
	// .day-selector{
	// 	margin-bottom: 40px;
	// 	.button-container{
	// 		margin-top: 23px;
    // 		font-size: 30px;
	// 		button{
	// 			background: none;
	// 	    	border: none;
	// 	    }
	// 	    float:left;
	// 	}
	// 	.swiper-button-prev{
	// 		background-image: none;
	// 		font-size: 45px;
	// 	}
	// 	.swiper-button-next{
	// 		background-image: none;
	// 		font-size: 45px;
	// 	}
		
	// }
	.current-date{
		margin: 30px 0 40px 10px;
    	font-weight: 500;
	}
	// .day{
	// 	background: white;
	// 	// display: inline-block;
	// 	// float:left;
	// 	width: 70px;
	// 	padding: 10px 15px;
	// 	color: gray;
	// 	cursor: pointer;
	// 	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.44);
	// 	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.44);
	// 	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.44);
	// 	margin: 0 auto;
	// 	text-align: center;
	// 	border-radius: 5px;
	// 	&.selected{
	// 		background: #11ABFD;
	// 		color: white;
	// 	}
	// 	.month-day{
	// 		font-size: 12px;
	// 		margin-bottom: 3px;
	// 		font-weight: 200;
	// 	}
	// 	.day-day{
	// 		font-size: 31px;
	// 		margin-bottom: 3px;
	// 		font-weight: 600;
	// 	}
	// 	.name-day{
	// 		font-weight: 300;
	// 		font-size: 15px;
	// 	}
	// }
	.activity-button{
		cursor: pointer;
	}

	// .no-classes-found{
	//     margin-top: 200px;
	//     left: 40px;
	//     right: 15px;
	//     text-align: center;
	//     position: absolute;
	//     .title{
	//     	text-transform: uppercase;
	//     	font-weight: 600;
	//     	margin: 30px 0 10px 0;
	//     }
	//     .text{
	//     	width: 350px;
	// 	    margin-left: calc(50% - 175px);
	// 	    font-size: 13px;
	//     }
	// }

	.filters-column{
		background: white;
		color: #474646;
		margin-bottom: 40px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
		.filter-header{
			height: 57px;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			color: white;
	    	font-size: 21px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#11abfd+0,346aec+34,6e17d8+100 */
			background: #11abfd; /* Old browsers */
			background: -moz-linear-gradient(top, #11abfd 0%, #346aec 34%, #6e17d8 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #11abfd 0%,#346aec 34%,#6e17d8 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #11abfd 0%,#346aec 34%,#6e17d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11abfd', endColorstr='#6e17d8',GradientType=0 ); /* IE6-9 */

			> div {
				margin-top: 11px;
				>  img {
					margin-left: 10px;
				}
			}
			
		}
		.schedule-title{
			font-size: 14px;
		    text-transform: uppercase;
		    font-weight: 600;
		    display: block;
		    margin-top: 30px;
		    margin-bottom: 20px;
		}
		.el-collapse-item{
			.el-collapse-item__wrap{
				background: #f7f7f7;
				padding: 0 15px;
				border-bottom: none;
    			margin-bottom: 5px;
			}
		}
		.el-collapse-item__header{
			padding: 0 15px; 
			font-size: 18px;
			font-weight: 500;
			background: #f7f7f7;
			color: #474646;
			white-space: nowrap; 
		    overflow: hidden;
			text-overflow: ellipsis;
			border-bottom: none;
			margin-top: 5px;
			.el-collapse-item__arrow{
				font-weight: bold;
			}
		}
		.el-checkbox__input+ .el-checkbox__label{
			font-weight: 200;
		}
		.el-checkbox__input.is-checked+.el-checkbox__label{
			color: #474646;
			font-weight: 500;
		}
		.search-sport-center-box{
			margin-bottom: 10px;
			input {
				height: 29px;
			    border-top-left-radius: 5px;
			    margin: 0;
			    border-bottom-left-radius: 5px;
				border-right: none;
				line-height: 18px;
			    &:focus{
			    	border-color: #d2d2d2;
				}
				&::-webkit-input-placeholder{
					color: gray !important;
					opacity: 1;
					text-transform: capitalize;
					font-style: italic;
					font-weight: 300;
				}
			}
			.el-input-group__append{
				height: 20px;
			    padding: 0 10px;
			    background: #4eabfc;
			    border-radius: 7px;
			    color: white;
				border-color: #d2d2d2;
				i{
					font-size: 18px;
					font-weight: bold;
				}
			}
		}
		.sport-center-box{
			max-height: 160px;
		}
	}

	

	// #results-header{
	// 	height: 50px;
	// 	padding: 15px;
	// 	border-bottom: 1px solid #ddd;
	// 	font-weight: 600;
	// 	font-size: 15px;
	// 	color: #787E88;
	// 	text-align: center;
	// 	>div{
	// 		margin-top: 5px;
	// 	}
	// }
	.right-side{
		margin-left: 20px;
	}
	// .table-classes{
	// 	display: flex;
	// 	-webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.20);
	// 	-moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.20);
	// 	box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.20);
	// 	background: white;
	// 	margin-left: 15px;
	// 	width: 100%;
	// 	border-radius: 10px;
	// }
}
.show-class{
	.el-dialog{
		border-radius: 5px;
	}
	.div-title{
		padding: 25px 20px 10px 20px;
		position: relative;
		border-radius: 5px 5px 0 0;
		background: #317cfb;
		height: auto;
		p{
			color: white;
			font-size: 23px;
			text-align: center;
			font-weight: 500;
			&.sport-center{
				font-size: 18px;
				text-transform: uppercase;
			}
		}
		.el-icon-circle-close-outline{
			color: white;
			font-size: 20px;
			position: absolute;
			right: 5px;
			top: 5px;
			cursor: pointer;
		}
	}
	.div-body{
		padding: 30px 0 20px 0;
		.block{
			padding: 0 15px;
			.description-item{
				font-size: 11px;
				font-weight: 400;
				color: #706c6c;
				margin: 0;
				&.time{
					font-size: 17px;
					font-weight: 500;
					color: black;
				}
				&.sport-center{
					color: black;
					font-weight: 500;
				}
				&.class{
					color: black;
					font-weight: 500;
				}
				span{
					color: #03affd;
					cursor: pointer;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			.item{
				font-size: 11px;
				color: #d3d3d3;
				font-weight: 400;
				span{
					font-weight: 600;
					color: #cac9c9;
				}
				&.margin{
					margin-bottom: 5px;
				}
			}
			.note{
				font-size: 10px;
				color: #03affd;
				font-style: italic;
				line-height: 13px;
				display: flex;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: -o-flex;
				&.class{
					text-align: center;
					font-style: normal;
				}
				&.freeze{
					display: block;
					font-style: normal;
					text-align: center;
					font-size: 9px;
				}
			}
		}
		.block-button{
			text-align: center;
			padding: 20px 40px;
			button{
				padding: 8px 0;
				background: #12abfb;
				color: white;
				width: 100%;
				font-weight: 200;
			}
		}
		hr{
			margin-top: 15px;
			margin-bottom: 15px;
			border-top: 1px solid #f2efef;
		}
	}
}
.class-reservation{
	.el-icon-circle-close-outline{
		color: white;
		font-size: 25px;
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;
	}
	.el-dialog{
		border-radius: 5px;
	}
	.header{
		border-radius: 5px 5px 0 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3284ef+0,2989d8+64,2989d8+64,6f74ff+100 */
		background: #3284ef; /* Old browsers */
		background: -moz-linear-gradient(left, #3284ef 0%, #2989d8 64%, #2989d8 64%, #6f74ff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #3284ef 0%,#2989d8 64%,#2989d8 64%,#6f74ff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #3284ef 0%,#2989d8 64%,#2989d8 64%,#6f74ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3284ef', endColorstr='#6f74ff',GradientType=1 ); /* IE6-9 */
		h4{
			padding: 30px 20px 20px 20px;
			color: white;
		}
	}
	.sport-center-logo{
		height: 40px;
		margin: 20px 0 5px 0;
	}
	.sport-center-name{
		font-weight: 400;
		margin: 10px 0 0 0;
		font-size: 20px;
	}
	.activity-name{
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 500;
		margin-top: 7px;
	}
	.teacher-name{
		font-size: 11px;
		font-weight: 400;
		color: #706c6c;
		margin-top: 9px;
	}
	.line{
		width: 100%;
		height: 1px;
		background-color: #EFEFEF;
		float: left;
		margin: 10px 0 20px 0;
	}
	.info-title{
		color: #787E88;
		font-size: 12px;
		opacity: 0.36;
	}
	.info{
		color: #787E88;
		font-size: 13px;
		margin-bottom: 20px;
    	margin-top: 5px;
	}
	.disclaimer{
		color: #4E7DF6;
		font-size: 9px;
	}
	.reserve-row{
		text-align: center;
    	padding: 40px 0;
    	button{
			padding: 5px 11px;
		    border: none;
		    font-size: 12px;
		    background: #11ABFD;
		    color: white;
		    &:hover{
		    	background: white;
				color: #11ABFD;
				border: 1px solid #11ABFD;
		    }
		}
	}
	.error{
		input{
			border: 1px solid red;
		}
	}
	
}
.v--modal{
	border-radius: 5px !important;
}
.class-info{
	.image-class{
		height: 190px;
		background-size: cover !important;
		border-radius: 5px 5px 0 0;
	}
	.el-icon-circle-close-outline{
		color: white;
		font-size: 25px;
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;
	}
	.info{
		ul{
			list-style-image: url('/static/images/class-description-list-icon.jpg');
		}
		ul > li{
			font-size: 12px;
			color: #C2C4C5;
			margin-bottom: 15px;
			line-height: 20px;
		}
	}
	// .class-info-modal-list{
	// 	list-style-image: url('/static/images/class-description-list-icon.jpg');
	// 	li{
	// 		font-size: 12px;
	// 		color: #C2C4C5;
	// 		margin-bottom: 15px;
	// 		line-height: 20px;
	// 	}
	// }
	.class-info-content{
		padding:15px;
		background: white;
		border-radius: 0 0 5px 5px;
	}	

	h4{
		font-weight: 600;
		color: #474747;
	}
	h5{
		line-height: 15px;
		color: #474747;
	}
	hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.el-dialog{
		border-radius: 5px;
	}
}

.reservation-confirmation{

	.el-icon-circle-close-outline{
		color: white;
		font-size: 25px;
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;
		color: #787E88;
	}
	.content{
		text-align: center;	
		padding: 60px 10px;
	}
	.message-error{
		margin-top: 20px;
		p{	
			font-style: italic;
			font-weight: 400;
			color: #898585;
			text-align: left;
			padding: 0 31px;
			margin-bottom: 10px;
		}
		span{
			font-size: 11px;
			font-style: italic;
			font-weight: 400;
			color: #898585;
			text-align: left;
			padding: 0 31px;
			display: block;
		}
	}
	h4{
		margin-top: 20px;
		text-transform: capitalize;
	}

	.phrase{
		color: #787E88;
		font-size: 13px;
	}
	
}