/* ---------------------------------------------- */
/* -------------- Contacts styles --------------- */
/* ---------------------------------------------- */
.bg-white{
	background: #fff;
}
.contacts-page-content{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 90px;
}
.contacts-page{
	position: relative;
	min-height: 1000px;
	margin-top: -30px;
}
#contacts-map{
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.contacts-info-item{
	margin: 40px 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	.contacts-icon{
	}
	.contacts-desc{
		span{
			color: $colorTextLighter;
			font-size: 14px;
		}
		a{
			color: $colorTextLighter;
			font-size: 14px;
		}
	}
}
.contacts-icon{
	font-size: 40px;
	margin-right: 10px;
	margin-top: 3px;
	i:before{
		color: $buttonBg;
		vertical-align: middle;
	}
}