/* -------------------------------------------------- */
/* ---------------- Home page styles ---------------- */
/* -------------------------------------------------- */

/* =================== Welcome Section ================*/
.close-modal{
    position: absolute;
    z-index: 9999;
    right: 10px;
    top: 10px;
   	cursor: pointer;
}