/* -------------------------------------------------- */
/* ---------------- Home page styles ---------------- */
/* -------------------------------------------------- */
.noty_theme__mint.noty_type__success{
	background-color: #6c13d8 !important;
	border-bottom: 1px solid rgba(108,19,216, 0.2);
	.noty_progressbar{
		background-color: white;
	}
  }
.arrow-down-main-container{
	cursor: pointer;
	.arrow-down-main{
		position: absolute;
	    bottom: 30px;
	    left: calc((100% / 2) - 21px);
	}
	.arrow-down-main-shadow{
		position: absolute;
	    bottom: 15px;
	    left: calc((100% / 2) - 21px);
	    opacity: 0.5;
	    display: none;
	}
	&:hover{
		.arrow-down-main-shadow{
			display: block;
		}
	}
}

.nav-mobile{
	position: static;
	.content{
		position: relative;
		i{
			display: none;
		}
	}
}
/* =================== Welcome Section ================*/
.welcome-section{
	height: 100vh;
	width: 100%;
	top: -119px;
	margin-bottom: -119px;
	position: relative;
	span.progressBar {
		width: 100%;
		height: 4px;
		background-color: rgba(255, 255, 255, 0.4);
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	span.progressBar .inProgress {
		background-color: white;
		width: 0%;
		height: 4px;
	}

	.welcome-slider{
		width: 100%;
		height: 100%;
		.slick-arrow{
			position: absolute;
			top: 50%;
			z-index: 100;
			font-size: 0;
			line-height: 0;
			display: block;
			width: 20px;
			height: 20px;
			margin-top: -10px;
			padding: 0;
			cursor: pointer;
			color: transparent;
			border: none;
			outline: none;
			background: transparent;
			&.slick-next{
				right: 30px;

				&:before{
					font-family: "FontAwesome";
					content: "\f054";
					font-size: 20px;
					line-height: 1;
					opacity: .75;
					color: #fff;
					padding: 10px 13px;
					text-align: center;
					transition: .5s;
				}
				&:hover{
					&:before{
						opacity: 1;
						color: $orange_1;
					}
				}
			}
			&.slick-prev{
				left: 30px;
				&:before{
					font-family: "FontAwesome";
					content: "\f053";
					font-size: 20px;
					line-height: 1;
					opacity: .75;
					color: #fff;
					transition: .5s;
				}
				&:hover{
					&:before{
						opacity: 1;
						color: $orange_1;
					}
				}
			}
		}
	}
	.welcome-slider-item{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		padding: 140px 0 0 0;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		height: 100vh;
		width: 100vw;
		box-sizing: border-box;
	}
	.welcome-section-txt{
		position: relative;
		z-index: 1;
	}
	h1{
		padding: 0 0 20px 0;
	}
	p{
		padding: 20px 0;
		line-height: 200%;
		font-weight: 400;
	}
	.banner-button{
		border-color: white;
    	border-radius: 5px;
    	line-height: 45px;
    	padding: 0 40px 0 20px;
    	font-size: 14px;
    	font-weight: 500 !important;
    	&:hover{
    		background: white;
    		color: #10abfb !important;
    		&:after{
    			border-left-color: #10abfb !important;
    		}
    	}

	}
}

.home-modal-close-button{
	position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    color: #D9D9D9;
    cursor: pointer;
    z-index: 999;
}

/* ========================= Prices Section ========================*/
.prices-section{
	// background: $discBoxBg;
	background: url(/static/img/home-plans-left-image.jpg) no-repeat center center; 
	background-size: 75%;
    background-position: left;
	overflow: hidden;
}
.discount-box{
	// background: $discBoxBg;
	height: 500px;
	width: 356px;
	float: left;
	position: relative;
	padding: 50px 20px 50px 0;
	color: white;
	.title{
		font-weight: 800;
		font-size: 34px;
		margin-bottom: 30px;
	}
	.second-line{
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 40px;
	}
	.text{
		font-size: 13px;
		line-height: 17px;
		font-weight: 300;
		width: 230px;
		a{
			color: #10abfb;
			text-decoration: underline;
		}
	}
	.button{
		position: absolute;
		bottom: 30px;
	}
	.discount-percent{
		font-size: 155px;
		font-weight: bolder;
		padding-top: 80px;
		position: relative;
		z-index: 1;
	}
	.discount-img{
		height: 100%;
		width: 699px;
		position: absolute;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		right: -300px;
		z-index: 10;
	}
	.discount-title{
		position: relative;
		font-size: 48px;
		font-weight: bold;
		color: $discTitleClr;
		z-index: 20;
	}
}
.prices-block{
	// width: 690px;
	width: calc(100% - 356px);
	float: right;
}
.prices-box{
	height: 500px;
	position: relative;
	padding: 40px 20px;
	box-sizing: border-box;
	transition: .2s;
	width: 33%;
	float: left;
	left: 0;
	z-index: 9;
	color: white;
	.offer{
		position: absolute;
	    right: 20px;
		top: 20px;
		img{
			width: 80px;
		}
	}
	.background{
		background-color: rgb(16, 171, 251);
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    z-index: -1;
	    // -webkit-transition: right .1s; Safari
    	// transition: right .1s;
		right: -10px;
	}
	&:hover{
			transform: translateX(-10px);
		    -moz-transform : translateX(-10px);
		    -webkit-transform : translateX(-10px);
		    -o-transform : translateX(-10px);
		    -ms-transform : translateX(-10px);		
			
		// 	transform: scaleX(1.11);
		//     -moz-transform : scaleX(1.11);
		//     -webkit-transform : scaleX(1.11);
		//     -o-transform : scaleX(1.11);
		//     -ms-transform : scaleX(1.11);	
		// }
		
	}
	.name{
		font-size: 16px;
		font-weight: 500;
	}
	.price{
		font-size: 48px;
		font-weight: 800;
		padding-top: 10px;
		margin-bottom: 20px;
	}
	.last_price{
		font-size: 18px;
		text-decoration: line-through;
		margin-top: 10px;
		height: 18px;
	}
	.time, .classes, .repetitions, .friendpass, .exclusive{
		font-size: 14px;
		padding: 10px 0;	
	}
	.exclusive-text{
		font-size: 14px;
		// padding-bottom: 26px;
		min-height: 54px;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
    	align-items: center;
	}
	.block-generated{
		display:none;
	}
	.button{
		// padding: 90px 20px 0 0;
		position: absolute;
		bottom: 35px;
		.buy-button{
			background: none;
			color: white;
			width: 147px;
			height: 48px;
			border: 2px solid white;
			padding: 14px 10px;
			span{
				font-weight: 400;
				font-size: 13px;
			}
		}
		& > a {
			color: white;
			text-decoration: none;
			& > div{
				border: 2px solid white;
				padding: 13px 10px;
				position: relative;
				text-align: left;
				font-weight: 400;
				font-size: 13px;
				border-radius: 5px;
				width: 147px;
				height: 48px;
				line-height: 16px;
				& > i{
					position: absolute;
					top: 11px;
					right: 10px;
					font-size: 20px;
				}
				&:hover{
					background:white;
				}
			}
		}
	}
	span{
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 200;
		color: $white;
		display: block;
		margin-bottom: 20px;
	}
	&:nth-child(1){
		background: $bgColorLevel1;
		z-index: 10;
		&:after{
			content: '';
			position: absolute;
			width: 1000px;
			height: 100%;
			top: 0;
			left: 100%;
			z-index: 10;
			// background: $bgColorLevel1;
		}
	}
	&:nth-child(2){
		background: $bgColorLevel2;
		z-index: 20;
		&:after{
			content: '';
			position: absolute;
			width: 1000px;
			height: 100%;
			top: 0;
			left: 100%;
			z-index: 10;
			// background: $bgColorLevel2;
		}
	}
	&:nth-child(3){
		background: $bgColorLevel3;
		z-index: 30;
		&:after{
			content: '';
			position: absolute;
			width: 1000px;
			height: 100%;
			top: 0;
			left: 100%;
			z-index: 10;
			// background: $bgColorLevel3;
		}
	}
	&:nth-child(4){
		background: $bgColorLevel3;
		z-index: 30;
		&:after{
			content: '';
			position: absolute;
			width: 1000px;
			height: 100%;
			top: 0;
			left: 100%;
			z-index: 10;
			// background: $bgColorLevel3;
		}
	}
	p{
		font-size: 13px;
		max-height: 270px;
		overflow: hidden;
	}
	.prices-box-price{
		font-size: 55px;
		font-weight: bold;
		padding: 20px 0;
	}
	.link-readmore{
		position: absolute;
		bottom: 30px;
	}
}

/* ========================= Text Section ========================*/
.text-section{
	margin: 80px 0;
	p{
		color: $colorTextLighter;
		padding: 20px 0;
	}
}


/* ========================= Our Team Section ========================*/
.our-team{
	height: 1200px;
	width: 100%;
	position: relative;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	h2{
		text-align: center;
	}
	h5{
		margin: 10px 0 5px 0;
	}
	.our-team__item{
		position: relative;

	}
	.our-team__hover{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		align-content: center;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		top: 0;
		left: 0;
		transition: .2s;
		ul{
			li{
				display: inline-block;
				vertical-align: middle;
				font-size: 22px;
				margin: 10px;
				a{
					font-size: 22px;
					display: inline-block;
					width: 55px;
					height: 55px;
					border-radius: 50%;
					line-height: 55px;
					text-align: center;
					&.hover-zoomIn:before{
						background: $mainFooterSocialBg;
					}
					&.hover-zoomIn{
						background: transparent;
					}
				}
			}
		}
		i{
			color: #ffffff;
		}
	}
	.our-team__image{
		position: relative;
		&:hover{
			.our-team__hover{
				@include background-opacity($mainFooterSocialBg, 0.42);
				opacity: 1;
			}
		}
		img{
			width: 100%;
			display: block;
		}
	}
	.our-team__content{
		margin-top: 400px;
	}
	.our-team-bg{
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: 0;
		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 300px;
			background: #fff;
			clip-path: polygon(0 100%, 0 0, 100% 0);
		}
		&:after{
			content: '';
			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 300px;
			background: #fff;
			clip-path: polygon(0 100%, 100% 100%, 100% 0);
		}
		.our-team-bg-img{
			height: 100%;
			width: 100%;
		}
	}
	.link-15{
		color: $mainTextColor;
		text-align: center;
		margin-top: 80px;
		display: block;
		position: relative;
	}
}
/* ========================= Banners on Main Page ========================*/
/* --- Banner 1 --- */
.main-banner-1{
	height: 490px;
	width: 100%;
	position: relative;
	margin-bottom: -300px;
	z-index: 10;
	.banner-1-img{
		position: absolute;
		text-align: center;
		width: 250px;
		height: 410px;
		top: 0;
		left: 50%;
		//margin-left: -125px;
		z-index: 0;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.banner-row-top{
		&:after{
			content: '';
			display: block;
			width: 100%;
			clear: both;
		}
	}
	.banner-1-col-left{
		width: 500px;
		float: left;
		box-sizing: border-box;
		padding-left: 30px;
		margin-left: 30px;
		margin-top: 150px;
		p{
			font-weight: 100;
			font-size: 70px;
			line-height: 100%;
			color: $bannerClr-1;
			span{
				color: $mainTextColor;
			}
		}
	}
	.banner-1-col-right{
		width: 325px;
		float: right;
		margin-top: 50px;
		p{
			font-weight: 100;
			font-size: 42px;
			color: $bannerClr-1;
			line-height: 100%;
			span{
				color: $mainTextColor;
			}
		}
	}
	.banner-title{
		position: relative;
		text-align: center;
		margin-top: 10px;
		p{
			font-size: 190px;
			font-weight: 900;
			line-height: 100%;
		}
		span{
			color: $bannerClr-1;
		}
	}
	.banner-row-bottom{
		text-align: center;
		p {
			font-weight: 100;
			font-size: 50px;
			line-height: 100%;
		}
	}
}

/*--- Banner "Are you a personal trainer" ---*/
.banner-trainer{
	height: 480px;
	position: relative;

	h3{
		font-size: 50px;
		line-height: 100%;
		font-weight: 800;
		margin-top: 100px;
		span{
			color: $bannerClr-1;
		}
	}
	p{
		font-size: 27px;
		font-weight: 100;
		line-height: 120%;
	}
	.row{
		height: 480px;
		position: relative;
	}
	.main-banner-2-img{
		position: relative;
		height: 100%;
		img{
			margin-left: -130px;
			height: 100%;
		}
	}
	.banner-2-cols{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		margin-top: 30px;
	}
	&.negative-margin-top{
		margin-top: -200px;
	}
}

/* ------- Video box on home page ------- */
.video-box{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	align-content: center;
	align-items: center;
	.video-box-container{
		text-align: center;
		h3{
			color: #ffffff;
			font-size: 42px;
			line-height: 250%;
		}
		a.button{
			display: inline-block;
		}
		a.video-play{
			transition: .3s;
			i{
				transition: .3s;
				color: #fff;
				font-size: 80px;
			}
			&:hover{
				border-color: $buttonBg;
				i{
					color: $buttonBg;
				}
			}
		}
	}
}
/* --------- Main page news ---------- */
.main-news-box{
	margin: 30px 0;
}
.main-news-list{
	margin: 30px 0;
	p{
		line-height: 150%;
		padding: 20px 0;
	}
}
.news-item{
	display: inline-block;
	width: 50%;
	height: 300px;
	box-sizing: border-box;
	margin-left: -.36em;
	margin-bottom: 0;
	margin-top: 0;
	.news-item__img{
		width: 50%;
		height: 100%;
		overflow: hidden;
		float: left;

		img{
			transition: all .5s ease-in-out;
			min-width: 100%;
			height: 100%;
		}

	}
	.news-item__content{
		display: block;
		float: right;
		width: 50%;
		height: 100%;
		padding: 50px 40px 50px 50px;
		background: #ebebeb;
		color: $greyBgText;
		transition: .3s;
		position: relative;
		text-decoration: none;
		p{
			font-size: 14px;
		}
		&:hover{
			background: $bgNewsHover;
			color: #fff;
			& p{
				text-decoration: underline;
			}
			&:after{
				border-right: 14px solid $bgNewsHover;
			}
			.link-readmore{
				color: #ffffff;
			}
			.date{
				text-decoration: none;
			}

		}
		.date{
			font-size: 10px;
			font-weight: 300;
			padding: 20px 0;
			text-transform: uppercase;
			text-decoration: none;
			i{
				padding-right: 10px;
			}
		}
		&:after{
			transition: .3s;
			content: '';
			display: block;
			position: absolute;
			left: -13px;
			bottom: 30px;
			width: 0;
			height: 0;
			border-top: 14px solid transparent;
			border-right: 14px solid #ebebeb;
			border-left: none;
			border-bottom: 14px solid transparent;
		}
		.news-item-text{

		}
		.link-readmore{
			&:after{
				display: none;
			}
		}
	}
	&:nth-child(3),
	&:nth-child(4){
		.news-item__img{
			float: right;
		}
		.news-item__content{
			float: left;
			&:hover{
				&:before{
					border-left: 14px solid $bgNewsHover;
				}
			}
			&:after{
				display: none;
			}
			&:before{
				transition: .3s;
				content: '';
				display: block;
				position: absolute;
				left: 100%;
				bottom: 30px;
				width: 0;
				height: 0;
				border-top: 14px solid transparent;
				border-left: 14px solid #ebebeb;
				border-bottom: 14px solid transparent;
			}
		}
	}
}
/* ====== Counters on Home Page ====== */
.counters-section{
	margin: 100px 0;
}
.counters-line{
	height: 1px;
	width: 100%;
	background: $counterLineBg;
	margin-bottom: -50px;
}
.counter-item{
	background: $bodyBg;
	padding-top: 20px;
	text-align: center;
	.counter{
		font-weight: 100;
		font-size: 54px;
	}
	.counter-title{
		font-size: 24px;
		font-weight: 200;
		color: $counterLineBg;
		margin-top: 10px;
		display: block;
		text-align: center;
	}
}


/* ======= Products list on home page ====== */
.section-products{
	position: relative;
	padding-top: 105px;
	.products-list{
		.product-item__img{
			border: none !important;
		}
	}
}
.section-products__bg{
	background: $bgProductsSection;
	height: 553px;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	overflow: hidden;
	&:before{
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-top: 30px solid $bodyBg;
		left: 50%;
		margin-left: -40px;
	}
	&:after{
		content: '';
		width: 100%;
		height: 400px;
		background: #000;
		position: absolute;
		bottom: -40%;
		opacity: .3;
		filter: blur(100px);
		border-radius: 100%;
	}
}
.products-list{
	margin-top: 50px;
}

/* ============== Subscribe section =============== */

.subscribe-section{
	position: relative;
	background: rgba($bgSubscribe, 0.80);
	padding: 50px 0;
	margin: 30px 0 50px 0;
	overflow: hidden;
	input{
		width: 370px;
		margin:  10px;
	}
	button{
		margin:  10px;
	}
	form{
		text-align: center;
		padding: 30px 0 0;
	}
}
.subscribe-section{
	&__bg{
		position: absolute;
		min-height: 100%;
		min-width: 100%;
		z-index: -1;
		top: 0;
		img{
			min-width: 100%;
			position: absolute;
		}
	}
	input[type="text"]{
		width: 32%;
	}
	button{
		width: 23%;
	}
}


/* ========= Reviews slider on home page ========= */

.clients-reviews{
	margin: 100px 0 50px;
}
.reviews-img__js{
	text-align: center;
	height: 200px;
	position: relative;
	margin-top: 50px;
	&:before{
		content: '';
		background: rgba(255,255,255,1);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
		width: 250px;
		height: 200px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}
	&:after{
		content: '';
		background: rgba(255,255,255,1);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );		width: 250px;
		height: 200px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
	}
	.slick-slide {
		text-align: center;
		margin: 0 2px;
	}
	.reviews-img-item{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		width: 155px;
		height: 155px;
		border-radius: 100px;
		transition: .3s;
		outline: none;
		cursor: pointer;
		img{
			transition: .3s;
			width: 155px;
			height: 155px;
			margin: 0 auto;
		}
		.reviews-icon{
			visibility: hidden;
			opacity: 0;
			transition: .2s;
		}
		&.slick-current{
			width: 185px;
			height: 200px;
			position: relative;
			.reviews-icon{
				visibility: visible;
				opacity: 1;
				display: inline-block;
				background: $buttonBg;
				color: $white;
				width: 36px;
				height: 36px;
				line-height: 36px;
				text-align: center;
				border-radius: 50%;
				position: absolute;
				z-index: 10;
				bottom: 0px;
				left: 50%;
				margin-left: -18px;
				outline: none;
				&:hover{
					background: $buttonHover;
				}
			}
			img{
				width: 185px;
				height: 185px;
			}
		}
	}
}
.reviews-txt__js{
	.reviews-txt-item{
		outline: none;
		text-align: center;
		padding: 30px 150px;
		box-sizing: border-box;
		p{
			color: $colorTextLighter;
			padding: 20px 0;
			line-height: 200%;
		}
	}
}

.home-complementa-first-line{
	color: white;
	font-weight: 600;
	font-size: 17px;
	background: #262626;
	padding: 30px;
	text-align: center;
}
.home-complementa{
	// background: url(/static/img/complementa_home_background.jpg) no-repeat center center; 
	background: white;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // height: 1163px;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	align-items: center;
	flex-direction: column;
    .first-line{
    	// text-align: center;
		margin-top: 80px;
		padding: 0 80px;
    	span{
			display: block;
			color: #5e5c5c;
			font-weight: 300;
			font-size: 17px;
			line-height: 23px;
			margin-right: 40px;
		}
		img{
			width: 90px;
		}
		.title{
			padding-left:17px; 
			font-weight:bold;
			margin-top: -10px;
		}
		.description{
			padding-left:17px; 
			font-size:12px;
			color: #545454;
			line-height: 16px;
			width:165px;
		}
   //  	span:first-child{
   //  		color: #10abfb;
			// font-weight: 800;
			// font-size: 28px;
   //  	}
    	// span:last-child{
    	// 	font-size: 15px;
		//     color: white;
		//     margin-top: 3px;
		//     display: block;
    	// }
    }
    .benefits-bottom-button{
    	margin-top: 150px;
    	.home-black-button{
			padding: 10px;
			width: 267px;
    		background: #777E87;
    		border: 1px solid transparent;
    		&:hover{
    			color: #777E87;
    			background: white;
    			border: 1px solid #777E87;
    			& > div{
    				background-image: url(/static/img/home-how-it-works-arrow-hover.png);
    			}
    		}
    	}
    }
	.second-line{
		margin-top: 100px;
		width: 100%;
		position: relative;
		.description{
			display: block;
			color: #5e5c5c;
			font-weight: 300;
			font-size: 17px;
			line-height: 23px;
		}
		.div-steps{
			// width: 200px; 
			position: absolute;
			bottom: -37px;
			left: 35%;
			
			.steps{
				background: white;
				-webkit-box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.32);
				-moz-box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.32);
				box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.32);
				font-size: 13px;
				cursor: pointer;

				.name-step{
					display: flex;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flexbox;
					display: -o-flex;
				}
				.el-col{
					position: relative;
					height: 75px;
					div{
						padding: 25px 40px;
						height: 100%;
					}
				}
				div.step-selected{
					padding: 25px 40px;
					background: #10abfb;
    				color: white;
				}
				img{
					position: absolute;
					width: 22px;
				}
				.first-step img{
					top: 27px;
					right: 35px;
				}
				.second-step img{
					top: 27px;
					right: 10px;
				}
				.third-step img{
					top: 24px;
					right: 20px;
				}
			}
		}
		.how-works-container{
			margin-left: calc((100% - 1170px) / 2);
		}
		.div-how-works{
			padding-left: 80px;
			.show-steps{
				margin-top: 40px;
				p{
					float: left;
					color: #10abfb;
					font-size: 16px;
					font-weight: 600;
					margin-right: 10px;
				}
				div{
					padding-top: 5px;
    				float: left;
				}
				img{
					width: 22px;
				}
			}
		}
		.how-works{
			font-weight: bold;
			font-weight: 800;
    		font-size: 22px;
			margin: 80px 0 15px 0;
		}
		.image-how-works{
			background: url(/static/img/how-work-image.jpg) no-repeat center center; 
			height: 250px;
			background-size: cover;
			position: relative;
			.description-step{
				position: absolute;
				color: white;
				left: 70px;
				top: 50px;
				h5::after{
					content: '';
					display: block;
					width: 100px;
					height: 4px;
					background: #10abfb;
				}
				p{
					width: 200px;
					margin-top: 10px;
					line-height: 19px;
					font-weight: 400;
					color: white;
					// text-align: center;
				}
			}
		}
		
	}
    .icons-line{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
    	flex-wrap: wrap;
    	margin-top: 70px;
    	justify-content: center;
    	.icon-with-text{
    		width: 250px;
    		color: white;
    		margin: 0 60px 60px;
    		text-align: center;
    		.icon{
    		}
    		.text{
    			div:first-child{
    				margin-top: 30px;
    				font-weight: 800;
    				font-size: 30px;
    			}
    			div:last-child{
    				margin-top: 10px;
    				font-size: 13px;
    			}
    		}
    	}
    }

    .how-it-works-line, .see-sport-centers-line{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
    	justify-content: center;
    	
    }

    .anytime-line{
    	text-align: center;
    	margin-top: 90px;
    	// .title{
    	// 	font-weight: 800;
    	// 	font-size: 28px;
    	// 	color: #10abfb;
    	// }
    	.content{
    		text-align: left;
    		margin-top: 40px;
    		margin-bottom: 40px;
    		display: flex;
    		justify-content: center;
    		.squared-item{
    			width: 300px;
    			height: 300px;
				display: flex;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: -o-flex;
				margin: 0 20px;
    			.item{
    				background: white;
					display: flex;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flexbox;
					display: -o-flex;
				    flex-direction: column;
				    justify-content: center;
				    padding: 20px;
    				.title{
	    				font-weight: 800;
	    				color: black;
	    				height: 70px;
	    			}
	    			.text{
	    				font-size: 13px;
	    				line-height: 19px;
	    			}
    			}
    			.arrow{
    				width: 0; 
					height: 0; 
					border-top: 18px solid transparent;
					border-bottom: 18px solid transparent;
					border-left: 18px solid white;
					margin-top: 115px;
    			}
    			
    			
    		}
    	}
    }
		// width: 100%;
		// height: 85px;
		// text-align: center;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		// color: white;
		// font-weight: 600;
		// font-size: 19px;
  //   }
}

.home-black-button{
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	color: white;
	background-color: rgba(0,0,0,0.3);
	padding: 20px;
    border: 1px solid transparent;
	div{
		background-image: url(/static/img/home-how-it-works-arrow.png);
	    background-repeat: no-repeat;
	    width: 15px;
	    height: 15px;
	    float: right;
	    margin-left: 10px;
	}
}
.home-image-1{
	background: url(/static/img/home-image-1.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 574px;
	margin-top: 100px;
}
.home-convince{
	padding: 60px 0;
	.title{
		// font-weight: 800;
		// font-size: 28px;
		// color: #10abfb;
		text-align: center;
		margin-bottom: 80px;
	}
	.content{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		justify-content: center;
		.container-item{
			width: 250px;
			height: 250px;
			margin: 0 70px;
		}
		.item{
			text-align: left;
			width: 250px;
    		height: 250px;
			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
    		flex-direction: column;
			& > .title{
				text-align: left;
				font-weight: 800;
				color: black;
				height: 70px;
				font-size: 23px;
				color: #6d6d6d;
				margin-bottom: 0px;
			}
			& > .line{
				height: 10px;
			    background: #10abfb;
			    margin-bottom: 15px;
			}
			& > .text{
				font-size: 13px;
				line-height: 25px;
			}
		}
	}
	.see-plans-row{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
    	justify-content: center;
    	.home-black-button{
    		&:hover{
    			background: white;
    			color: #6A6A6A;
    			border: 1px solid #6A6A6A;
    			div{
    				background-image: url(/static/img/home-how-it-works-arrow-hover.png);
    			}
    		}
    	}
	}
}
.home-sport-centers-section{
	// height: 700px;
	.sport-centers-filter{
		display: block;
		// min-height: 200px;
		background: #272727;
		padding: 40px 0 5px 0;
		.title{
			font-weight: 800;
			font-size: 30px;
			color: #10abfb !important;
			text-align: center;
			line-height: 30px;
			margin-bottom: 40px;
		}
		input::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: #a2aaa8 !important;
			font-weight: bold;
			font-size: 15px;
			opacity: 1;
		}
		
		input:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #c8c8c6 !important;
			font-weight: bold;
			font-size: 15px;
			opacity: 1;
		}
		.dropdown-toggle{
			border: none;
			height: 44px;
		}
		.el-button{
			background: none;
			border: none;
			font-size: 15px;
			font-weight: bold;
			color: #aaaaa8;
			padding: 15px 20px;
		}
		.dropdown-toggle{
			i::before{
				border-color: rgb(162,170,168);
			}
			.selected-tag{
				color: #a2aaa8;
    			font-weight: 600;
			}
			.clear{
				color: #a2aaa8;
			}
			.vs__selected-options{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.vs__actions{
				height: 40px;
			}
			.selected-tag{
				margin: 10px 2px 0 !important;
			}
		}
		.div-filters{
			display: none;
			span{
				cursor: pointer;
			}
		}
		.div-district{
			width: 145px;
		}
		.div-classes{
			width: 125px;
		}
		.div-centers{
			width: 245px;
		}
		.div-premium{
			width: 285px;
		}
		.div-opened{
			width: 155px;
		}
		.v-select.searchable.open{
			input{
				background: white;
			}
		}
		.v-select.searchable .dropdown-menu{
			width: 500px;
		}
	}
	.sport-centers-map{
		width: 100%;
	}
	.home-map-sport-center{
		padding: 10px;
		height: 100px;
		cursor: pointer;
		.sport-center-logo {
			float:left;
			width: 80px;
			height: 80px;
			img{
				width: 100%;
			}
		}
		.sport-center-info{
			float: left;
			margin-left: 10px;
			.name{
				display: block;
				margin-bottom: 10px;
				font-size: 25px;
			}
			.address{
				display: block;
			}
		}
	}
}
.home-section-black{
	background:black; 
	text-align:center;
	padding: 20px;
	color:white;
	p{
		font-size: 13px;
		font-weight: 300;
		a{
			color: #489dc6;
			text-decoration: underline;
		}

		&:first-child{
			margin-bottom: 5px;
			font-weight: 500;
		}
	}
}
.home-plans{
	background: url(/static/img/home-plans-background.jpg) no-repeat center center; 
    overflow: hidden;
    .home-fullwidth-container{
    	height: 100%;
    }
	// .content{
    // 	height: 100%;
	// 	display: flex;
	.left-side{
		height: 500px;
		width: 356px;
		float: left;
		// width: 370px;
		color: white;
		padding: 50px 30px 50px 0;
		.title{
			font-weight: 800;
			font-size: 30px;
			margin-bottom: 30px;
		}
		.second-line{
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 40px;
		}
		.text{
			font-size: 13px;
			line-height: 17px;
			font-weight: 300;
			a{
				color: #10abfb;
			}
		}
	}
	.right-side{
		width: calc(100% - 356px);
		// display: flex;
		// width: 690px;
    	float: right;
		.plans-backgrund-color{
			position: absolute;
			width: 100%;
			height: 510px;
			background: white;
			z-index: 0;	
		}
		

		.plan{
			// color: white;
			// width: calc(100% / 4);
			// z-index: 1;
			height: 500px;
			position: relative;
			padding: 10px;
			box-sizing: border-box;
			transition: .2s;
			// width: 20%;
			float: left;
			left: 0;
			.name{
				font-size: 16px;
				font-weight: 500;
				padding: 60px 20px 20px 20px;
			}
			.price{
				font-size: 38px;
				font-weight: 800;
				padding: 0 20px 20px 20px;
			}
			.time, .classes, .repetitions, .friendpass{
				font-size: 14px;
				padding: 0 20px 20px 20px;	
			}
			.exclusive{
				height: 30px;
				font-size: 14px;
				padding: 0 20px 0 20px;	
				display: flex;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: -o-flex;
				align-items: center;
			}
			.friendpass{
				margin-top: 20px;
			}
			.button{
				padding: 20px;
				& > div{
					border: 1px solid white;
					padding: 15px 10px;
					text-align: left;
					font-size: 13px;
					border-radius: 5px;
					& > i{
						float: right;
					}
				}
			}
		}
	}
	
	
}

.home-faq{
	padding: 60px 0;
	background: #e4e5e4;
	.content{
    	.faq-list{

			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
    		justify-content: space-between;
    		flex-wrap: wrap;
    		margin-top: 40px;
    		padding: 0 60px;
	    	.faq-item{
	    		width: 320px;
	    		background: white;
				margin-bottom: 40px;
				padding: 40px 20px;
	    		.title{
	    			font-weight: 800;
	    			font-size: 13px;
	    			text-transform: uppercase;
	    			color: #6d6d6d;
					text-align: left;
					line-height: 20px;
					margin-bottom: 15px;
	    		}
	    		.text{
					font-size: 13px;
					color: #545454;
					line-height: 20px;
					font-weight: 200;
	    		}
	    	}
    	}
    	.faq-button-row{
			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
    		text-transform: uppercase;
    		justify-content: center;
    		color: #aeb0ac;
    		.more-faq-button{
    			cursor: pointer;
    			border: 2px solid #aeb0ac;
    			padding: 13px;
    			border-radius: 4px;
    			font-size: 13px;
    		}
    	}
	}
	.home-blue-title{
		text-align: center;
	}
}
.home-blue-title{
    font-weight: 800;
    font-size: 30px;
    color: #10abfb !important;
	text-align: left;
	line-height: 30px;
	margin-bottom: 15px;
}
.home-enterprise-plans{
	.home-fullwidth-container{
		padding: 60px 0;
		flex-direction: column;
	    text-align: center;
	    align-items: center;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
	    line-height: 1.3em;
	}
	.subtitle{
		margin-top: 40px;
		font-size: 17px;
		width: 600px;
		color: #787a75;
		font-weight: 600;
	}
	.blue-line-row{
		margin-top: 40px;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		justify-content: center;
		& > div{
			width: 200px;
			height: 7px;
			background: #10abfb;
		}
	}
	.after-blue-line-1{
		margin-top: 40px;
		color: #9a9a9a;
		width: 450px;
		font-weight: 300;
		font-size: 13px;
	}
	.after-blue-line-2{
		margin-top: 40px;
		color: #10abfb;
		width: 400px;
		font-weight: 300;
		margin-bottom: 60px;
		font-size: 14px;
	}
}
.home-sport-center-join{
	background: url(/static/img/home-sport-center-join.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 788px;
    .home-fullwidth-container{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
	    flex-direction: column;
	    align-items: center;
    	padding: 60px 0;
    	.reasons{
    		padding: 0 180px;
    		margin-top: 60px;
    		.reason{
				display: flex;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: -o-flex;
    			height: 70px;
    			margin: 20px 0;
    			.left{	
    				width: 55%;
    				background: white;
					display: flex;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flexbox;
					display: -o-flex;
    				align-items: center;
    				font-size: 14px;
    				color: #474747;
    				font-weight: 800;
    				padding-left: 20px;
    				justify-content: space-between;
    				.arrow{
    					width: 0;
					    height: 0;
					    border-top: 13px solid transparent;
					    border-bottom: 13px solid transparent;
					    border-left: 13px solid white;
					    margin-top: 2px;
    					margin-right: -13px;
    				}
    			}
    			.right{
					width: 45%;	
					line-height: 20px;
    				font-size: 11px;
    				margin-left: 60px;
					display: flex;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flexbox;
					display: -o-flex;
    				align-items: center;
    				color: white;
    			}
    		}
    	}
    	.after-reasons-line-1{
    		color: white;
    		font-size: 25px;
    		font-weight: 800;
    		margin-top: 60px;
    		text-align: center;
    	}
    	.after-reasons-line-2{
    		color: white;
		    font-size: 12px;
		    width: 600px;
		    margin-top: 20px;
		    line-height: 1.5em;
    		text-align: center;
    	}
    	.interested-button{
    		padding: 12px 20px;
		    background: #4dabfa;
		    font-size: 13px;
		    font-weight: 600;
		    color: white;
			margin-top: 70px;
			border-radius: 4px;
			border: 1px solid #4dabfa;
			cursor: pointer;
			&:hover{
				background: transparent;
				border: 1px solid white;
			}
    	}
    }
}
.home-faq{
	.home-grey-button{
		padding: 13px 20px 0 20px !important;
	}
}
.home-grey-button{
	font-weight: 500;
	text-align: center;
    cursor: pointer;
    border: 2px solid #aeb0ac;
    padding: 13px 20px;
    border-radius: 4px;
    font-size: 15px;
    color: #aeb0ac;
	line-height: 1em;
	i{
		font-size: 50px;
    	line-height: 35px;
	}
}
.section-more-questions{
	padding-bottom: 60px;
	.el-row{
		padding: 0 60px;
		margin-top: 60px;
		.title-question{
			font-weight: bold;
		}
		hr{
			border: 2px solid #10abfb;
		}
		.body-question{
			color:#545454;
			font-weight: 200;
			font-size: 14px;
			span{
				font-weight: 400;
			}
			a{
				text-decoration: underline;
    			color: #4cc3f4 !important;
    			font-weight: 300;
			}
		}
	}
}
.home-image-2{
	background: url(/static/img/home-image-2.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 580px;
}
.district-container{
	min-height: 50px;
	margin-top: 10px;
	.district{
		margin-right: 5px;
		display: inline-block;
		cursor: pointer;
		&.selected{
			font-weight: 500;
		}
	}
}
.el-dialog__header{
	display:none;
}
.el-dialog__body{
	padding: 0 !important;
}
.el-dialog__wrapper{
	z-index: 10001 !important;
	background: rgba(0, 0, 0, 0.8);
}
.dialog-enterprise-left{
	background-size: cover !important;
	height: 905px !important;
    background-repeat: no-repeat !important;
	background: url(../img/image-enterprise-modal.png) center center;
	width: 400px;
	float: left;
}
.dialog-enterprise-right,
.dialog-center-right{
	width: 530px;
	height: 905px !important;
	float: right;
	padding: 50px 75px 50px 45px;
	.error-message{
		font-size: 14px;
		color: #f97d7d;
		text-align: center;
		display: block;
		margin-top: 20px;
	}
	.title{
		color: #1ca8ed;
		font-size: 29px;
		font-weight: 600;
	}
	.title-modal{
		color: #1ca8ed;
		font-size: 23px;
		font-weight: 600;
		&.one-line{
			display: none;
		}
	}
	.description{
		margin-top: 10px;
		color: gray;
		font-weight: 300;
		font-size:	17px;
	}
	.register-fb{
		margin-top: 20px;
		text-align: center;
		color: #1ca8ed;
		font-weight: 400;
		text-decoration: underline;
	}
	.or{
		text-align: center;
		font-size: 15px;
		margin-top: 20px;
		color: #707070;
		font-weight: 500;
	}
	.step{
		margin-top: 40px;
		&.register{
			margin-top: 20px;
		}
		p{
			font-weight: 600;
			font-size: 17px;
		}
		.subtitle{
			font-size: 15px;
			margin-top: 20px;
			color: #707070;
			&:first-child{
				margin-top: 0;
			}
		}
		.el-date-editor{
			width: 100% !important;
		}
		input{
			border-radius: 0px;
			border: none;
			border-bottom: 1px solid #e5e5e5;
			margin: 4px 0 !important;
		}
		.el-input.error{
			input{
				border-bottom: 1px solid red;
			}
		}
		.v-select.searchable .dropdown-toggle{
			border:	none;	
			border-bottom: 1px solid #e5e5e5;
			border-radius: 0px;
			span{
				font-weight: 300;
				color: #707070;
				padding: 0 15px;
			}
			input{
				border: none;
				padding: 0 20px;
				&:hover{
					border: none;
				}
			}
			&:hover{
				border-bottom: 1px solid #81b7cb;
			}
		}
		.v-select.searchable.error{
			.dropdown-toggle{
				border-bottom: 1px solid red;
			}
		}
		input:focus,
		input:hover{
			border-bottom: 1px solid #81b7cb;
		}
		input::placeholder{
			text-transform: initial;
			color: gray;
		}
		.el-select{
			width: 100%;
		}
		.error-password{
			font-size: 13px;
			color: #ed3d3d;
			margin-top: 5px;
		}
	}
	.preview{
		cursor: pointer;
		margin-top: 20px;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		i{
			font-size: 20px;
    		margin-right: 5px;
		}
	}
	.facebook{
		width: 100%;
		color: white;
		font-weight: 400;
		font-size: 14px;
		margin-top: 20px;
		border-radius: 6px;
		background: #375496;
		margin-left: 0 !important;
		padding: 10px;
		i{
			font-size: 16px;
		}
	}
	.button-enterprise{
		width: 100%;
		background: #10abfd;
		color: white;
		font-weight: 400;
		font-size: 16px;
		margin-top: 30px;
		border-radius: 6px;
		&.facebook{
			background: #375496;
			margin-left: 0 !important;
			i{
				font-size: 20px;
			}
		}
	}
	.terms{
		font-size: 11px;
		text-align: center;
		margin-top: 10px;
		a{
			text-decoration: underline;
			color: #529bff;
			cursor: pointer;
			font-weight: 300;
		}
	}
	.extra{
		text-align: center;
		margin-top: 20px;
		font-weight: 400;
	}
	.link-register{
		text-align: center;
		color: #52bef7;
		font-weight: 400;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	&.confirm{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -o-flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		img{
			width: 117px;
		}
		.check{
			margin: 20px 0 10px 0;
			font-size: 30px;
			font-weight: 500;
		}
		.info{
			text-align: center;
			color: #acacac;
			font-size: 16px;
		}
	}
}
.dialog-center-left{
	background-size: cover !important;
	height: 905px !important;
    background-repeat: no-repeat !important;
	background: url(../img/image-center-modal.png) center center;
	width: 400px;
	float: left;
	text-align: center;
	padding: 300px 20px 0 20px;
	img{
		width: 250px;
	}
	p{
		color: white;
		font-size: 20px;
		font-weight: 100;
		&.description{
			font-size: 16px;
		}
	}
	
}
.modal-login{
	.dialog-center-left{
		p{
			&.description{
				font-size: 18px;
			}
		}
	}
}
