/* ---------------------------------------------- */
/* ------------------ News styles --------------- */
/* ---------------------------------------------- */

/* ================== News list ================== */
.news-list-item{
  margin: 20px 0 40px 0;
}
.news-list-title-box{
  margin: 20px 0;
}
.news-list-img{
  img{
    width: 100%;
  }
}
.news-list-date{
  padding: 0 30px 0 0;
  margin: 0 30px 0 0;
  border-right: 1px solid #cccccc;
  display: inline-block;
  vertical-align: top;
  .date-day{
    font-size: 41px;
    text-transform: uppercase;
    color: #7f7f7f;
    font-weight: 500;
    display: block;
  }
  .date-month{
    font-size: 23px;
    text-transform: uppercase;
    color: #7f7f7f;
    font-weight: 200;
    display: block;
  }
}
.news-list-title{
  display: inline-block;
  vertical-align: top;
  .posted-by{
    font-size: 14px;
    color: $colorTextLighter;
    font-weight: 300;
    padding-top: 5px;
    display: block;
  }
}
.news-list-text-box{
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  color: $colorTextLighter;
}
.news-list-footer{
  border-bottom: 1px solid #cccccc;
  padding: 15px 0 10px;
  .link-readmore{
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 7px 0;
  }
  .page-meta{
    display: inline-block;
    border: none;
    vertical-align: middle;
    float: right;
    margin: 0;
    padding: 0;
  }
}