/* ---------------------------------------------- */
/* ---------------- Shop styles ----------------- */
/* ---------------------------------------------- */

/* ============== Product Item Styles =========== */
.product-item{
	.product-item__img{
		border:1px solid $borderColor;
		width: 100%;
		overflow: hidden;
		display: block;
		img{
			min-width: 100%;
			height: 100%;
			display: block;
			transition: all .5s ease-in-out;
			&:hover{
				transform: scale(1.1);
			}
		}

	}
	.product-item__desc{
		h5{
			display: block;
			padding: 20px 0 10px;
		}
		.price{
			span{
				font-weight: 300;
				font-size: 16px;
				display: inline-block;
				padding: 10px 0;
			}
			.cur-price{
				color: $curPrice;

			}
			.old-price{
				text-decoration: line-through;
				color: $oldPrice;
				padding-right: 20px;
			}
		}
	}
	.add-cart{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
/* ---------- Product labels ----------- */
.product-label{
	position: absolute;
	top: 20px;
	left: 0px;
	width: 73px;
	height: 73px;
	z-index: 10;
	span{
		display: block;
		color: #ffffff;
		width: 73px;
		height: 73px;
		border-radius: 50%;
		line-height: 73px;
		text-align: center;
		&.label-sale{
			background: $labelSale;
		}
		&.label-new{
			background: $labelNew;
		}
	}
}