#sport-centers{
    .v-select .dropdown-menu{
        z-index: 10001;
    }
    background: white;
    margin-top: 90px;
    .sport-centers-filter{
        display: block;
        min-height: 100px;
    }
    .map-section{
        // height: 750px;
        .sport-centers-list{
            width: 610px;
            float: left;
            margin-bottom: 20px;
            padding: 10px;
            .left-side-container{

                -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
                box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);

                .filters{
                    padding-top: 10px;
                    background: #f7f7f7;
                    border-bottom: 1px solid #ccc;
                    .filter-title{
                        font-size: 11px;
                        margin-top: 8px;
                    }
                    .first-row{
                        display: flex;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flexbox;
                        display: -o-flex;
                        min-height: 30px;
                        padding: 0 10px 10px 10px;
                        border-bottom: 1px solid #ccc;
                        
                        .dropdown-toggle{
                            .selected-tag{
                                color: gray !important;
                                font-weight: 500;
                                font-size: 11px !important;
                            }
                            &+ ul{
                                font-size: 11px;
                            }
                        }
                        input::placeholder{
                            color: gray !important;
                            font-size: 11px !important;
                            opacity: 1;
                        }
                        &>div{
                            margin-right: 5px;    
                            float: left;
                            font-weight: 600;
                            color: gray;
                            font-size: 11px;
                        }
                        .district-filter{
                            width: 75px;
                            .v-select.searchable.open{
                                .dropdown-toggle{
                                    background: white;
                                }
                            }
                            .v-select.searchable .dropdown-menu{
                                width: 150px;
                            }
                        }
                        .category-filter{
                            width: 90px; 
                            .v-select.searchable.open{
                                .dropdown-toggle{
                                    background: white;
                                }
                            }
                            .v-select.searchable .dropdown-menu{
                                width: 250px;
                            }
                        }    
                        .vs__selected-options{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .second-row{
                        display: flex;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flexbox;
                        display: -o-flex;
                        padding: 5px 15px 5px 10px;
                        background: #f7f7f7;
                        .sport-center-filter{
                            width: 140px; 
                            display: flex;
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flexbox;
                            display: -o-flex;
                            flex-direction: column;
                            justify-content: center;
                            .v-select.searchable.open{
                                .dropdown-toggle{
                                    background: white;
                                }
                            }
                            .v-select.searchable .dropdown-menu{
                                width: 400px;
                            }
                        } 
                        .km{
                            display: flex;
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flexbox;
                            display: -o-flex;
                            flex: 1;
                            margin-left: 10px;
                        }
                        .filter-title{
                            min-width: 160px;
                            margin-top: 13px;
                            color: gray;
                            font-weight: 500;
                            font-size: 12px;
                        }
                        .filter-km{
                            width: calc(100% - 160px);
                            .el-slider__button-wrapper{
                                z-index: 98 !important;
                            }
                        }
                        .vs__selected-options{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        input::placeholder{
                            color: gray !important;
                            font-size: 11px !important;
                            opacity: 1;
                        }
                    }
                    
                }
                .list-container{
                    .list{
                        // height: 600px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
                }    


                .el-button--mini{
                    height: 25px;
                    font-size: 11px;
                    border: none;
                    background: #ECECEC;
                    color: gray;
                    padding-left: 5px;
                    padding-right: 5px;

                    &.active{
                        background: #68a8ff;
                        color: white;
                    }
                }        
            }
            
        }
        .sport-centers-map{
            width: calc(100% - 610px);
            float: left;
            padding: 10px;
            margin-bottom: 20px;
            .map-container{
                -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
                box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
            }
        }
        .home-map-sport-center{
            padding: 10px;
            height: 195px;
            // margin-bottom: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
            // display:flex;
            .block{
                display:flex;
                .sport-center-logo {
                    // float:left;
                    width:145px;
                    a{
                        font-size: 12px;
                        color: #26c4fe;    
                        text-decoration: underline;
                    }
                    
                    img{
                        // width: 145px;
                        height: 135px;
                        max-width: 145px;
                        text-align: center;
                        border-radius: 5px;
                    }
                    &>div{
                        text-align: center;
                    }
                }
                .sport-center-info{
                    flex:1;
                    // float: left;
                    margin-left: 10px;
                    font-size: 12px;
                    color: #505050;
                    position: relative;
                    .name{
                        display: block;
                        margin-bottom: 10px;
                        font-size: 16px;
                        font-weight: 500;
                        flex:1;
                        a{
                            color: #474747;
                        }
                    }
                    .speciality{
                        margin-bottom: 5px;
                        color: gray;
                        font-size: 12px;
                        font-weight: 200;
                        line-height: 13px;
                        span{
                            font-weight: 500;
                        }
                    }
                    .address{
                        font-weight: 200;
                        display: block;
                        color: gray;
                        font-size: 12px;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        line-height: 13px;
                    }
                    .div-show-info{
                        padding-bottom: 11px;
                    }
                    .show-info{
                        font-size: 12px;
                        color: #26c4fe;    
                        text-decoration: underline;
                    }
                    .exclusive{
                        padding: 5px;
                        width: 172px;
                        background: #4529bc;
                        background: -moz-linear-gradient(left, #4529bc 0%, #2a6adc 100%);
                        background: -webkit-linear-gradient(left, #4529bc 0%,#2a6adc 100%);
                        background: linear-gradient(to right, #4529bc 0%,#2a6adc 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4529bc', endColorstr='#2a6adc',GradientType=1 );
                        color: white;
                        margin-bottom: 10px;
                    }
                    .name-rate-row{
                        display: flex;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flexbox;
                        display: -o-flex;
                    }
                    .sport-center-rating{
                        text-align: left;
                        .rate{
                            display: flex;
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flexbox;
                            display: -o-flex;
                            .opinions{
                                display: flex;
                                display: -webkit-flex;
                                display: -moz-flex;
                                display: -ms-flexbox;
                                display: -o-flex;
                                font-size: 10px;
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }
            .buttons{
                // position: absolute;
                // top: 105px;
                height: 30px;
                &>div{
                    float: left;
                    border: 1px solid #52abff;
                    border-radius: 5px;
                    height: 30px;
                    padding: 8px 15px;
                    margin-right: 5px;
                    font-weight: 500;
                    font-size: 12px;
                }
                .buy-plan{
                    width: 145px;
                    text-align: center;
                    background: #52abff;
                    a{
                        color: white;    
                        text-decoration: none;   
                    }
                    &:hover{
                        background: white;
                        border-color: #52abff;
                        a{
                            color: #52abff;
                        }
                    }
                    &.plus{
                        width: auto;
                    }
                }
                .buy-pass{
                    width: 145px;
                    text-align: center;
                    background: white;
                    a{
                        color: #52abff; 
                        text-decoration: none;  
                        
                    }
                    &:hover{
                        border-color: #52abff;
                        background: #52abff;
                        a{
                            color: white;
                        }
                        
                    }
                    &.not-allowed{
                        &:hover{
                            background: white;
                            border: 1px solid #52abff;
                            cursor: not-allowed;
                        }
                        a{
                            pointer-events: none;
                            cursor: not-allowed !important;
                            color: #52abff;
                        }
                    } 
                }
            }
            
            
        }
        .home-map-sport-center:last-child{
            border-bottom: none;
        }
    }

    .vue-star-rating{
        width: 75px;
    }
    .vue-star-rating-rating-text{
        display: none;
    }

    .v-select input[type=search], .v-select input[type=search]::placeholder {
        font-size: 11px !important;
        text-transform: capitalize !important;
        color: #000 !important;
        font-weight: 500;
        font-family: "Montserrat" !important;
        opacity: 1 !important;
        // line-height: 1.2857143;
    }
    .v-select input[type=search], .v-select input[type=search]:focus{
        height: 18px;
        padding: 0px;
    }
    .v-select.single .selected-tag{
        font-size: 11px;
    }
    .v-select .open-indicator{
        bottom: -6px;
        right: 5px;
    }
    .v-select .open-indicator:before{
        border-color: black; 
        border-style: none;
        border-width: 0;
        margin-top: 5px;
        content: "";
        height: 10px;
        vertical-align: top;
        transform: none;
        box-sizing: inherit;
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
    }

    .v-select .vs__selected-options{
        height: 25px !important;
    }

    .v-select .dropdown-toggle{
        border: none;
        background: #ECECEC;
        height: 25px;
    }
}
#sport-center-detail{
    background-image: url(/static/img/sport-centers/background-center-detail.png);
    margin-top: 82px;
    background-position: center;
    background-repeat: no-repeat;
    .content-center-detail{
        padding: 50px 0;
        .center-name{
            font-weight: bold;
            color: #6d6d6d;
            font-size: 22px;
            text-transform: uppercase;
            .vue-star-rating-rating-text{
                display: none;
            }
            .container-stars{
                display: inline-block;
                .rate{
                    display: inline-block;
                    margin-left: 15px;
                }
                .opinions{
                    display: inline-block;
                    font-weight: 300;
                    font-size: 14px;
                    text-transform: lowercase;
                    margin-left: 5px;
                }
            }
            
        }
        .speciality{
            font-weight: 300;
            margin-top: 8px;
            margin-bottom: 20px;
            color: gray;
        }
        .div-left{
            .el-carousel{
                width: 100%;
                .el-carousel__item{
                    img{
                        width: 100%;
                        // height: 320px;
                    }
                    iframe{
                        width: 100%;
                    }
                }
                .el-carousel__indicators{
                    top: 0px;
                    display: flex;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: -o-flex;
                    justify-content: center;
                    flex-direction: column;
                    left: calc(100% - 30px);
                }
                .el-carousel__button{
                    background: url('/static/img/sport-centers/icon-hide-image.png');
                    height: 17px;
                    width: 17px;
                }
                .el-carousel__indicator.is-active{
                    .el-carousel__button{
                        background: url('/static/img/sport-centers/icon-show-image.png');
                    }
                }
                
            }
            .address-left{
                display: none;
            }
            .div-available{
                margin-top: 10px;
                border-radius: 5px;
                border: 1px solid #e9dada;
                background: white;
                
                .div-plan{
                    padding: 20px 25px 5px 25px;
                    .buy-plan{
                        display: flex;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flexbox;
                        display: -o-flex;
                        color: #52abff;
                        font-size: 17px;
                        font-weight: 600;
                        img{
                            margin-left: 20px;
                            width: 20px;
                        }
                    }
                }
                .div-plan.padding-div{
                    padding: 15px 25px ;
                }
                .div-pass{
                    padding: 10px 25px 20px 25px;
                    .buy-pass{
                        color: #6d6d6d;
                        display: flex;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flexbox;
                        display: -o-flex;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 32px;
                    }
                }
                img{
                    width: 100%;
                }
                
                
                .button-buy-plan,
                .button-buy-pass{
                    float: right;
                    color: white;
                    background: #52abff;
                    font-size: 13px;
                    border-radius: 5px;
                    padding: 9px 20px;
                    width: 190px;
                    &:hover{
                        border: 1px solid #52abff;
                        color: #52abff;
                        background: white;
                    }
                }
                .button-buy-pass.is-disabled,
                .button-buy-pass.is-disabled:hover{
                    background: #bfdaf4;
                    border: none;
                    color: white;
                }
            }
            .el-radio-group{
                margin-top: 25px;
                .el-radio-button__inner{
                    color: #a1a3a3;
                    padding: 15px 40px;
                    font-size: 13px;
                }
                .el-radio-button__orig-radio:checked+.el-radio-button__inner{
                    color: white;
                }
                .el-radio-button:focus{
                    box-shadow: none;
                }
            }
            .div-info{
                .title-info{
                    background: url('/static/img/sport-centers/background-info-center.png');
                    padding: 12px 40px;
                    border-radius: 5px 5px 0 0;
                    color: white;
                    display: flex;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: -o-flex;
                    align-items: center;
                    span{
                        margin-left: 10px;
                        font-size: 15px;
                    }
                }
                .body-info{
                    background: white;
                    padding: 0 40px 20px 40px;
                    border-radius:  0 0 5px 5px;
                    .el-step__line{
                        width: 1px !important;
                        bottom: -30px;
                    }
                    .el-step__icon{
                        background: #4f9eff;
                        border: none;
                        width: 10px;
                        height: 10px;
                        margin: 20px 0 0 7px;
                        .el-step__icon-inner{
                            display: none;
                        }
                    }
                    .el-step__main{
                        margin-top: 13px;
                        .el-step__title{
                            font-size: 15px;
                            font-weight: 600;
                            color: #52abff;
                        }
                        .el-step__description{
                            color: #9a9a9a;
                            margin-left: 20px;
                            p{
                                font-weight: 400;
                            }
                        }
                    }
                    
                }
                .container-component{
                    background: white;
                    border-radius: 5px;
                    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                }
                .container-info{
                    background: white;
                    border-radius: 5px;
                    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                }
            }
            .div-links{
                display: none;
            }
            .other-sedes{
                background: white;
                border-radius: 5px;
                padding: 20px 25px 10px 25px;
                margin-top: 30px;
                -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                .title{
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    color: #52abff;
                }
                .sede{
                    display: flex;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: -o-flex;
                    margin-bottom: 20px;
                    .sede-logo{
                        height: 85px;
                        // border: 1px solid #cacaca;
                    }
                    .sede-media{
                        display:none;
                    }
                    .div-logo{
                        width: 125px;
                        height: 85px;
                        text-align: center;
                    }
                    .info{
                        margin-left: 10px;
                        font-size: 14px;
                        flex: 1;
                        a:hover{
                            color: #52abff;
                        }
                        .vue-star-rating-rating-text{
                            display: none;
                        }
                        .name{
                            font-weight: 700;
                            color: #52abff;
                        }
                        .district{
                            color: #6c6a6a;
                            font-weight: 400;
                            margin-top: 2px;
                        }
                        .address{
                            font-weight: 100;
                        }
                    }
                }
                // .sede:nth-child(1){
                //     padding-right: 5px;
                // }
                // .sede:nth-child(2){
                //     padding-left: 5px;
                // }
            }
        }
        .div-right{
            .div-address{
                color: white;
                background: #313131;
                padding: 20px 30px;
                border-radius: 5px 5px 0 0;
                -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2); 
                .district-name{
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                    img{
                        margin-right: 5px;
                    }
                }
                .detail-address{
                    margin-top: 10px;
                    font-weight: 100;
                    span{
                        font-weight: 500;
                    }
                }
            }
            .sport-centers-map{
                border: 1px solid #cacaca;
                border-radius: 0 0 5px 5px;
                -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2); 
                .vue-map{
                    border-radius: 0 0 5px 5px;
                }
            }
            .div-links{
                background:white; 
                border-radius:5px; 
                margin-top: 30px;
                padding: 30px 0 20px 0;
                border: 1px solid #cacaca;
                -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                .links{
                    display: flex;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: -o-flex;
                    margin-bottom: 12px;
                    padding: 0 30px;
                    div{
                        width: 17px;
                    }
                    a{
                        &:hover{
                            color: #9a9a9a;
                        }
                        width: calc(100% - 17px);
                    }
                    span{
                        margin-left: 10px;
                        color: #9a9a9a;
                        font-size: 14px;
                        font-weight: 600;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        width: calc(100% - 17px);
                    }
                }
                .description{
                    color: #9b9a9a;
                    margin-top: 10px;
                    font-weight: 300;
                    padding: 0 30px;
                    line-height: 20px;
                }
                .links-line{
                    width: 100%;
                    margin: 25px 0 15px 0;
                }
                .schedules{
                    padding: 0 30px;
                    p{
                        font-size: 18px;
                        font-weight: 600;
                        color: #52abff;
                        margin-bottom: 10px;
                    }
                    div{
                        font-size: 13px;
                        color: #9b9a9a;
                        margin-bottom: 8px;
                        span{
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }
                }
            }
            .div-centers-same{
                background:white; 
                border-radius:5px; 
                margin-top: 30px;
                padding: 20px 30px 0 30px;
                border: 1px solid #cacaca;
                -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                .title{
                    font-size: 18px;
                    font-weight: 600;
                    color: #52abff;
                    margin-bottom: 20px;
                }
                .center-info{
                    display: flex;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: -o-flex;
                    margin-bottom: 20px;
                    .sede-logo{
                        height: 85px;
                        // border: 1px solid #cacaca;
                    }
                    .sede-media{
                        display:none;
                    }
                    .div-logo{
                        width: 125px;
                        height: 85px;
                        text-align: center;
                    }
                    .info{
                        flex: 1;
                        margin-left: 15px;
                        font-size: 14px;
                        width: 100%;
                        a:hover{
                            color: #52abff;
                        }
                        .vue-star-rating-rating-text{
                            display: none;
                        }
                        .name{
                            font-weight: 700;
                            color: #52abff;
                        }
                        .district{
                            color: #6c6a6a;
                            font-weight: 400;
                            margin-top: 2px;
                        }
                        .address{
                            font-weight: 100;
                        }
                    }
                }
            }
            .div-centers-near{
                background:white; 
                border: 1px solid #cacaca;
                border-radius:5px; 
                margin-top: 30px;
                padding: 20px 30px 0 30px;
                -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);
                box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.2);    
                .title{
                    font-size: 18px;
                    font-weight: 600;
                    color: #52abff;
                    margin-bottom: 20px;
                }
                .center-info{
                    display: flex;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: -o-flex;
                    margin-bottom: 20px;
                    .sede-logo{
                        height: 85px;
                        // border: 1px solid #cacaca;
                    }
                    .sede-media{
                        display:none;
                    }
                    .div-logo{
                        width: 125px;
                        height: 85px;
                        text-align: center;
                    }
                    .info{
                        flex: 1;
                        margin-left: 15px;
                        font-size: 14px;
                        width: 100%;
                        a:hover{
                            color: #52abff;
                        }
                        .vue-star-rating-rating-text{
                            display: none;
                        }
                        .name{
                            font-weight: 700;
                            color: #52abff;
                        }
                        .district{
                            color: #6c6a6a;
                            font-weight: 400;
                            margin-top: 2px;
                        }
                        .address{
                            font-weight: 100;
                        }
                    }
                }
            }
        }
        
    }
}