/* ---------------------------------------------- */
/* ---------------- Trainers styles ------------- */
/* ---------------------------------------------- */

.trainer-item{
  padding: 20px 0;
  .trainer-img{
    img{
      width: 100%;
    }
  }
  .trainer-desc{
    h4{
      font-size: 18px;
      margin-top: 10px;
    }
    span{
      margin: 10px 0;
      display: block;
      font-weight: 300;
    }

  }
}
.trainers-social{
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  padding: 10px 0;
  a{
    color: $colorTextLighter;
    display: inline-block;
    padding: 10px;
    transition: .2s;
    &:hover{
      color: $clrLinks;
      text-decoration: none;
    }
  }
}
.trainer-page{
  margin-bottom: 30px;
  .text-box{
    margin: 30px 0;
  }
  .trainers-social{
    margin-top: 20px;
  }
}
.trainer-page-img{
  img{
    width: 100%;
  }
}
.photostream-img{
  margin: 10px 0;
  img{
    width: 100%;
  }
}
.photostream-section{
  margin: 50px 0;
}