.top-menu {
    display: inline-block;
    width: calc(100% - 80px);
}
.top-menu li{
    float: right;
    list-style: none;
    margin-left: 10px;
}
.top-menu li a{
    text-decoration: underline;
    cursor: pointer;
}

.contact-text-title{
    padding: 0 40px;
    text-align: center;
    height: 40px;
    margin-top: 10px;
}

.contact-text-field{
    width: 90%;
    height: 200px;
    margin-left: calc(10% / 2);
}

.contact-text-field textarea{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.close-modal-button{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px !important;
}

.contact-button-row{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.anulation-form{
    width: 90%;
    margin-left: calc(10% / 2);
}
.anulation-form{
    margin-top: 10px;
}
.anulation-form input, .anulation-form textarea{
    width: 100%;
    box-sizing: border-box;
}
.form-row{
    margin-bottom: 5px;
}
.form-error{
    color: #ba2121;
}
.confirmation-message{
    padding: 20px;
    text-align: center;
}
.validation-modal-user-header{
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    color: #666;
}
.validation-modal-have-classes{
    font-size: 18px;
    text-align: center;
    color: limegreen;
    font-weight: 700;
}

.validation-modal-have-reservation{

    text-align: center;
    padding: 10px;
}

.validation-modal-class-information, .validation-modal-extra-info{
    text-align: center;
    color: #666;
}
.validation-modal-divider{
    background-color: #666;   
    width: 200px;
    text-align: center;
    margin-left: 194px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.validation-modal-plan-information{

    color: #666;

    text-align: center;
    padding: 10px;
}
.validation-modal-plan-detail {
    margin-top: 10px;
    margin-bottom: 20px;
}
.validation-modal-plan-detail ul{
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}
.validation-modal-no-reservation{
    color: #666;
    text-align: center;
}
.validation-modal-pass-information{
    color: #666;
    text-align: center;   
}
.validation-modal-pass-list{
    margin: 10px 0;
}

.validation-modal-no-access{
    color: red;
    text-align: center;
}
.validation-modal-user-not-recognized{
    padding: 10px;
}
.validation-modal-registration-confirm{
    padding: 10px;   
}
.validation-modal-registration-title{
    color: #666;
    text-align: center;   
    padding: 20px;
}
.validation-modal-regitration-error{
    padding: 20px;      
    text-align: center;
}