{% extends 'base.html' %} {% load tz %} {% load static %} {% block content %}
<div id="classes" style="display: none;">
  <div class="container mobile-container-fluid">
    <div class="classes-container">


      <!-- <modal class="class-info" name="class-info" :adaptive="true" :resizable="false" height="auto" width="280px" :scrollable="true">

                <div>
                    <i @click="$modal.hide('class-info')" class="el-icon-circle-close-outline"></i>
                    <div>
                        <img :src="{{MEDIA_URL}} + classInfo.image">
                    </div>
                    <div class="class-info-content col-xs-12">
                        <h4>${classInfo.activity_name}</h4>
                        <h5>${classInfo.openAt} - ${classInfo.closeAt}</h5>
                        <hr>
                        <div class="col-xs-12" v-html="classInfo.description">
                        </div>
                    </div>
                    
                </div>
            </modal> -->

      <!-- <modal class="class-reservation" name="reservation" :adaptive="true" :resizable="false" height="auto" width="280px" :scrollable="true">

                <div>
                    <i @click="$modal.hide('reservation')" class="el-icon-circle-close-outline"></i>
                    <div class="header"><h4>¡RESERVA TU CLASE, NO LA PIENSES MÁS!</h4></div>
                    <div class="col-xs-12">
                        <img class="sport-center-logo" :src="'{{ MEDIA_URL }}' + reservation.sportCenterLogo">
                    </div>
                    <div class="col-xs-12 sport-center-name">${reservation.sportCenterName}</div>
                    <div class="col-xs-12 activity-name">${reservation.activityName} - <span class="teacher-name">${reservation.teacherName ? reservation.teacherName : 'SIN INSTRUCTOR'}</span></div>
                    <div class="line"></div>
                    <div class="col-xs-12 info-title">Fecha</div>
                    <div class="col-xs-12 info">${reservation.day}</div>
                    <div class="col-xs-12 info-title">Hora</div>
                    <div class="col-xs-12 info">${reservation.time}</div>
                    <div class="col-xs-12 info-title">Lugar</div>
                    <div class="col-xs-12 info">${reservation.sportCenterAddress}</div>

                    <div class="col-xs-12 disclaimer">* Las reservas pueden cancelarse hasta 4 horas antes de la clase.</div>
                    <div class="col-xs-12 reserve-row"><button class="btn btn-default" @click="confirmReservation" type="button">GUÁRDAME EL SITIO</button></div>
                </div>
            </modal> -->

      <!-- <modal class="reservation-confirmation" name="reservation-confirmation" :adaptive="true" :resizable="false" height="auto" width="280px" :scrollable="true">

                <div class="content col-xs-12">
                    <i @click="$modal.hide('reservation-confirmation')" class="el-icon-circle-close-outline"></i>
                    <img src="{% static "images/reservation-confirmation-icon.png" %}">
                    <h4>¡Todo listo {{request.user.first_name}}¡</h4>
                    <div class="phrase">Ya te guardé sitio. ¡Dale con todo!</div>
                </div>
            </modal> -->

      <div>

        <div class="col-xs-12 visible-sm-block visible-xs-block show-hide-filters" @click="showHideFilters" id="showHideFilters">
          ${showHideFiltersText}
          <i class="fas fa-caret-down" v-if="!showFilters"></i>
          <i class="fas fa-caret-up" v-else></i>
        </div>
        <div class="col-xs-12 col-md-3 filters-column" v-if="showFilters">
          <div class="row">
            <div class="col-xs-12 filter-header">
              <div>Filtros
                <img src="{% static 'images/filter-logo.png' %}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="schedule-title">Horarios</span>
            </div>
            <div class="col-xs-12">
              <div class="selected-time-start-label">
                ${selectedTimeStart}
              </div>
              <div class="selected-time-slider">
                <el-slider v-model="selectedTime" range show-tooltip :min="6" :max="23">
                </el-slider>
              </div>
              <div class="selected-time-end-label">
                ${selectedTimeEnd}
              </div>
            </div>
          </div>
          <div class="row">
            <hr>
            <div class="col-xs-12">
              <el-checkbox-group v-model="selectedInstructor" class="checkbox-instructor">
                <el-checkbox class="filter-checkbox" label="Con instructor"></el-checkbox>
                <el-checkbox class="filter-checkbox" label="Sin instructor"></el-checkbox>
              </el-checkbox-group>
            </div>
          </div>
          <div class="row" style=";margin-top: 30px;">
            <el-collapse v-model="expandedFilters">
              <el-collapse-item title="Distritos" name="1">
                <div class="row">
                  <div class="col-xs-12">
                    <div>
                      <el-input placeholder="Buscar clases..." v-model="searchDistrictText" class="search-sport-center-box">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                      </el-input>
                    </div>
                    <el-checkbox-group v-model="selectedDistricts">
                      <el-checkbox class="filter-checkbox" v-for="district in districtsFiltered" :label="district.id" :key="district.id">${district.name}</el-checkbox>
                    </el-checkbox-group>
                  </div>
                </div>
              </el-collapse-item>
              <el-collapse-item title="Clases" name="2">
                <div class="row">
                  <div class="col-xs-12">
                    <div>
                      <el-input placeholder="Buscar clases..." v-model="searchTagText" class="search-sport-center-box">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                      </el-input>
                    </div>
                    <el-checkbox-group v-model="selectedActivities">
                      <el-checkbox class="filter-checkbox" v-for="tag in tagsFiltered" :label="tag.name" :key="tag.id">${tag.name}</el-checkbox>
                    </el-checkbox-group>
                  </div>
                </div>
              </el-collapse-item>
              <el-collapse-item title="Centros deportivos" name="3">
                <div class="row">
                  <div class="col-xs-12 sport-center-box">
                    <div>
                      <el-input placeholder="Buscar centros..." v-model="searchSportCenterText" class="search-sport-center-box">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                      </el-input>
                    </div>
                    <el-checkbox-group v-model="selectedSportCenters" class="checkbox-centers">
                      <el-checkbox class="filter-checkbox" v-for="sportCenter in sportCentersFiltered" :label="sportCenter.id" :key="sportCenter.id">${sportCenter.name}</el-checkbox>
                    </el-checkbox-group>
                  </div>
                </div>
              </el-collapse-item>
            </el-collapse>
          </div>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="row">
            <div :class="{'right-side': detectShowHideFilters()}">
              <schedule-component :slidesmain="'5'" :slidesecond="'4'" :start="selectedTimeStart" :end="selectedTimeEnd" :withinstructor="withInstructor"
                :selecteddistricts="selectedDistricts" :selectedactivities="selectedActivities" :selectedsportCenters="selectedSportCenters"
                :type="'2'"></schedule-component>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
{% include 'partials/schedule.html' %} {% endblock %} {% block extrajs %}
<!-- <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script> -->
<script src="{% static 'js/jquery.alphanum.js' %}"></script>
<script>
  var sportCenterListUrl = "{% url 'sport-centers-list' %}"
  var categoryActivitiesUrl = "{% url 'category-activities' %}"
  var sportCentersDistrictsUrl = "{% url 'sport-centers-districts' %}"
  var confirmReservationUrl = "{% url 'confirm-reservation' %}"
  var tagClassesUrl = "{% url 'tag-classes' %}"
  var activitiesUrl = "{% url "activities" %}"
  var sportCenter = {% autoescape off %}{{ sport_center }} {% endautoescape off %}
    // var today = {% timezone "America/Lima" %}"{% now "Y-m-d H:m:s" %}"{% endtimezone %}
</script>
<script src="{% static 'js/classes.js' %}"></script> {% endblock %}