{% extends 'base.html' %} {% load static %} {% load tz %} {% block content %}
<div id="sport-center-detail" style="display:none;">
  <div class="container mobile-container-fluid">
    <div class="row content-center-detail">
      <!-- <div class="col-xs-12">
                <ul class="social">
                    <li><a id="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://rockfitlife.com/{% url 'sport-center-detail' sport_center.id %}&t={{sport_center.name}}" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>

                    <li><a id="twitter" href="http://twitter.com/home/?status=http://rockfitlife.com/{% url 'sport-center-detail' sport_center.id %}" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' target="_blank"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                </ul>
            </div> -->
      <div class="col-xs-12">
        <div class="center-name">
          {{sport_center.name}} {% if sport_center.rate %}
          <div class="container-stars">

            <div class="rate">
              <star-rating :read-only="true" :star-size="20" :rating="rate" :active-color="'#50abfa'" :increment="0.5">
              </star-rating>
            </div>
            <div class="opinions">({{sport_center.total_califications}} opiniones)</div>
          </div>
          {% endif %}
        </div>
        <div class="speciality">
          {{sport_center.speciality|default:""}}
        </div>
        <el-row :gutter="40">
          <el-col :span="14" class="div-left">
            <div>
              <el-carousel arrow="never">
                {% for media in sport_center.sorted_media %}
                <el-carousel-item>
                  {% if media.media_type == 'video' %}
                  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/RdbAKlgGnhQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                  <iframe height="300" src="https://www.youtube.com/embed/{{media.url}}" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen class="frame-video"></iframe>
                  {% else %}
                  <img :src="/media/+ '{{media.url}}'"> {% endif %}
                </el-carousel-item>
                {% endfor %}
              </el-carousel>
              <div class="address-left">
                <el-row class="div-address">
                  <p class="district-name">
                    <img src="{% static 'img/sport-centers/icon-direction.png' %}">{{sport_center.ubigeo.name}}</p>
                  <p class="detail-address">
                    <span>Dirección</span>
                    <br>{{sport_center.address}}</p>
                  <p class="detail-address">
                    <span>Referencia</span>
                    <br>{{sport_center.address_reference}}</p>
                </el-row>
                <el-row class="div-button-map">
                  <el-button v-if="!showMap" @click="showMap = !showMap">VER MAPA</el-button>
                  <el-button v-else @click="showMap = !showMap" class="button-hide-map">OCULTAR MAPA</el-button>
                </el-row>
                <el-row class="sport-centers-map" v-if="showMap">
                  <google-map :center="sportCenterCoords" :zoom="13" style="width: 100%; height: 255px" :options="{mapTypeControl: false, streetViewControl: false}">
                    <googlemaps-marker key="{{sport_center.id}}" :label="{
                                            color: '#6e15dc',
                                            fontFamily: 'Material Icons',
                                            fontSize: '20px',
                                            text: ' ',
                                            }" :position="sportCenterCoords" icon="{% static '/img/marker.png' %}" />
                  </google-map>
                </el-row>
              </div>
              <el-row class="div-available">
                <el-col :span="24" :class="{'div-plan': true, 'padding-div': '{{sport_center.sell_pass}}' == 'False' }">
                  <el-col :span="16" class="col-text-plan">
                    {% if sport_center.is_premium %}
                    <p class="buy-plan">
                      <span>Disponible en planes plus</span>
                      <img src="{% static 'img/sport-centers/icon-security.png' %}">
                    </p>
                    {% else %}
                    <p class="buy-plan">
                      <span>Disponible en todos los planes</span>
                      <img src="{% static 'img/sport-centers/icon-security.png' %}">
                    </p>
                    {% endif %}
                  </el-col>
                  <el-col :span="8" v-if="havePlan">
                    <div v-if="havePlanPremium">
                      <a :href="'/clases?sport_center=' + {{sport_center.id}}" target="_blank">
                        <el-button class="button-buy-plan">RESERVAR CLASE</el-button>
                      </a>
                    </div>
                    <div v-else>
                      {% if sport_center.is_premium %}
                      <!-- CON PARAMETRO GET PARA FILTRAR LOS PLANES PREMIUM -->
                      <a href="/planes/comprar?plus=1" target="_blank">
                        <el-button class="button-buy-plan">COMPRAR PLAN PLUS</el-button>
                      </a>
                      {% else %}
                      <a :href="'/clases?sport_center=' + {{sport_center.id}}" target="_blank">
                        <el-button class="button-buy-plan">RESERVAR CLASE</el-button>
                      </a>
                      {% endif %}
                    </div>
                  </el-col>
                  <el-col :span="8" v-else>
                    {% if sport_center.is_premium %}
                    <!-- CON PARAMETRO GET PARA FILTRAR LOS PLANES PREMIUM -->
                    <a href="/planes/comprar?plus=1" target="_blank">
                      <el-button class="button-buy-plan">COMPRAR PLAN PLUS</el-button>
                    </a>
                    {% else %}
                    <a href="/planes/comprar?plus=0" target="_blank">
                      <el-button class="button-buy-plan">COMPRAR PLAN</el-button>
                    </a>
                    {% endif %}
                  </el-col>
                </el-col>
                {% if sport_center.sell_pass %}
                <img src="{% static 'img/sport-centers/image-line.png' %}">
                <el-col :span="24" class="div-pass">
                  <el-col :span="16" class="col-text-pass">
                    <p class="buy-pass">
                      <span>Pase individual a cualquier clase
                        <strong>S/ {{sport_center.pass_amount|stringformat:'0.0f'}}</strong>
                      </span>
                    </p>
                  </el-col>
                  <el-col :span="8">
                    {% if can_buy_pase %}
                    <a :href="'/planes/comprar/pase/' + {{sport_center.id}}">
                      <el-button class="button-buy-pass">COMPRAR PASE</el-button>
                    </a>
                    {% else %}
                    <el-button class="button-buy-pass" :disabled="true">COMPRAR PASE</el-button>
                    {% endif %}
                  </el-col>
                </el-col>
                {% endif %}
              </el-row>
              <el-row>
                <el-radio-group v-model="showData">
                  <el-radio-button label="1">INFORMACIÓN</el-radio-button>
                  <el-radio-button label="2">HORARIOS</el-radio-button>
                </el-radio-group>
              </el-row>
              <el-row class="div-info">
                <el-col :span="24" v-show="showData == 1" class="container-info">
                  <el-row class="title-info">
                    <img src="{% static '/img/sport-centers/icon-check.png' %}">
                    <span>SERVICIOS</span>
                  </el-row>
                  <el-row class="body-info">
                    <el-steps direction="vertical" :active="1">
                      <!-- <el-step title="CLASES">
                                                <div slot="description">
                                                    <ul>
                                                        <li v-for="clas in classes">
                                                            <p>${clas}</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </el-step> -->
                      <el-step :title="key" v-for="(services, key) in servicesFormated">
                        <div slot="description">
                          <ul>
                            <li v-for="service in services">
                              <p>${service.description}</p>
                            </li>
                          </ul>
                        </div>
                      </el-step>
                      <!-- <el-step title="INFRAESTRUCTURA">
                                                <div slot="description">
                                                    <ul>
                                                        <li v-for="area in areas">
                                                            <p>${area}</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </el-step> -->
                    </el-steps>
                  </el-row>
                </el-col>
                <el-col :span="24" v-show="showData == 2" class="container-component">

                  <schedule-component :slidesmain="'4'" :slidesecond="'3'" :start="'06:00'" :end="'23:00'" :withinstructor="null" :selecteddistricts="[]"
                    :selectedactivities="[]" :selectedsportCenters="[{{sport_center.id}}]" :type="'1'"></schedule-component>
                </el-col>
              </el-row>
              <el-row class="div-links">
                {% if sport_center.phones %}
                <el-col :span="24" class="links">
                  <div>
                    <img style="margin-left: 2px;" src="{% static '/img/sport-centers/icon-phone.png' %}">
                  </div>
                  <span>{{sport_center.phones}}</span>
                </el-col>
                {% endif %}
                <el-col :span="24" v-for="link in links" class="links">
                  <div>
                    <img src="{% static '/img/sport-centers/icon-web.png' %}" v-if="link.name == 'web'">
                    <img src="{% static '/img/sport-centers/icon-mail.png' %}" v-if="link.name == 'correo'">
                    <img src="{% static '/img/sport-centers/icon-fb.png' %}" v-if="link.name == 'facebook'">
                    <img src="{% static '/img/sport-centers/icon-ig.png' %}" v-if="link.name == 'instagram'">
                    <img src="{% static '/img/sport-centers/icon-youtube.png' %}" v-if="link.name == 'youtube'">
                    <i class="fab fa-twitter" v-if="link.name == 'twitter'" style="color: #76b9fd;"></i>
                  </div>
                  <a v-if="link.name == 'correo'" :href="'mailto:' + link.redirect_url">
                    <span>${link.url}</span>
                  </a>
                  <!-- <a v-else :href="link.redirect_url">
                    <span>${link.url}</span>
                  </a> -->
                  <a v-else href="fb://profile/AttitudeFightClub.Peru">
                    <span>${link.url}</span>
                  </a>
                </el-col>
                <el-col :span="24">
                  <p class="description">{{sport_center.description}}</p>
                </el-col>
                <el-col :span="24">
                  <img src="{% static '/img/sport-centers/line-links.png' %}" class="links-line">
                </el-col>
                <el-col :span="24" class="schedules">
                  <p>Horarios de atención</p>
                  <div v-for="schedule in schedulesFormated">
                    <span>${schedule.days}:</span> ${schedule.hours}
                  </div>
                </el-col>
              </el-row>
              <el-row class="other-sedes" v-if="otherSedes.length > 0">
                <p class="title">Otras sedes de {{sport_center.name}}</p>
                <span v-for="pair,index in _.chunk(otherSedes, 2)">
                  <el-row :gutter="10">
                    <el-col :span="12" v-for="sede in pair" class="sede">
                      <div class="div-logo">
                        <img :src="sede.logo" class="sede-logo">
                        <img :src="{{MEDIA_URL}} + sede.image_responsive" class="sede-media">
                      </div>
                      <div class="info">
                        <a :href="'/centros-deportivos/' + sede.slug">
                          <p class="name">${sede.name}</p>
                        </a>
                        <star-rating :read-only="true" :star-size="20" :rating="sede.rate" :active-color="'#50abfa'">
                        </star-rating>
                        <p class="district">${sede.ubigeo}</p>
                      </div>
                    </el-col>
                  </el-row>
                </span>
              </el-row>
            </div>
          </el-col>
          <el-col :span="10" class="div-right">
            <div>
              <el-row class="div-address">
                <p class="district-name">
                  <img src="{% static 'img/sport-centers/icon-direction.png' %}">{{sport_center.ubigeo.name}}</p>
                <p class="detail-address">
                  <span>Dirección</span>
                  <br>{{sport_center.address}}</p>
                <p class="detail-address">
                  <span>Referencia</span>
                  <br>{{sport_center.address_reference}}</p>
              </el-row>
              <el-row class="sport-centers-map">
                <google-map :center="sportCenterCoords" :zoom="13" style="width: 100%; height: 255px" :options="{mapTypeControl: false, streetViewControl: false}">
                  <googlemaps-marker key="{{sport_center.id}}" :label="{
                                        color: '#6e15dc',
                                        fontFamily: 'Material Icons',
                                        fontSize: '20px',
                                        text: ' ',
                                        }" :position="sportCenterCoords" icon="{% static '/img/marker.png' %}" />
                </google-map>
              </el-row>
              <el-row class="div-links">
                {% if sport_center.phones %}
                <el-col :span="24" class="links">
                  <div>
                    <img style="margin-left: 2px;" src="{% static '/img/sport-centers/icon-phone.png' %}">
                  </div>
                  <span>{{sport_center.phones}}</span>
                </el-col>
                {% endif %}
                <el-col :span="24" v-for="link in links" class="links">
                  <div>
                    <img src="{% static '/img/sport-centers/icon-web.png' %}" v-if="link.name == 'web'">
                    <img src="{% static '/img/sport-centers/icon-mail.png' %}" v-if="link.name == 'correo'">
                    <img src="{% static '/img/sport-centers/icon-fb.png' %}" v-if="link.name == 'facebook'">
                    <img src="{% static '/img/sport-centers/icon-ig.png' %}" v-if="link.name == 'instagram'">
                    <img src="{% static '/img/sport-centers/icon-youtube.png' %}" v-if="link.name == 'youtube'">
                    <i class="fab fa-twitter" v-if="link.name == 'twitter'" style="color: #76b9fd;"></i>
                  </div>
                  <a v-if="link.name == 'correo'" :href="'mailto:' + link.redirect_url" target="_blank">
                    <span>${link.url}</span>
                  </a>
                  <!-- <a v-else :href="link.redirect_url" target="_blank">
                    <span>${link.url}</span>
                  </a> -->
                  <a v-else href="fb://page/AttitudeFightClub.Peru">
                    <span>${link.url}</span>
                  </a>
                </el-col>
                <el-col :span="24">
                  <p class="description">{{sport_center.description}}</p>
                </el-col>
                <el-col :span="24">
                  <img src="{% static '/img/sport-centers/line-links.png' %}" class="links-line">
                </el-col>
                <el-col :span="24" class="schedules">
                  <p>Horarios de atención</p>
                  <div v-for="schedule in schedulesFormated">
                    <span>${schedule.days}:</span> ${schedule.hours}
                  </div>
                </el-col>
              </el-row>
              {% if sport_centers_same|length > 0 %}
              <el-row class="div-centers-same">
                <p class="title">Centros deportivos similares a {{sport_center.name}}</p>
                {% for center in sport_centers_same %}
                <el-col :span="24" class="center-info">
                  <div class="div-logo">
                    <img src="{{MEDIA_URL}}{{center.logo}}" class="sede-logo">
                    <img src="{{MEDIA_URL}}{{center.sorted_media.first.url}}" class="sede-media">
                  </div>
                  <div class="info">
                    <a href="/centros-deportivos/{{center.slug}}">
                      <p class="name">{{center.name}}</p>
                    </a>
                    <star-rating :read-only="true" :star-size="20" :rating="parseInt({{center.rate}})" :active-color="'#50abfa'">
                    </star-rating>
                    <p class="district">{{center.ubigeo.name}}</p>
                  </div>
                </el-col>
                {% endfor %}
              </el-row>
              {% endif %} 
              {% if near_sport_centers|length > 0 %}
                <el-row class="div-centers-near">
                  <p class="title">Otros centros cercanos a {{sport_center.name}}</p>
                  {% for center in near_sport_centers %}
                  <el-col :span="24" class="center-info">
                    <div class="div-logo">
                      <img src="{{MEDIA_URL}}{{center.logo}}" class="sede-logo">
                      <img src="{{MEDIA_URL}}{{center.sorted_media.first.url}}" class="sede-media">
                    </div>
                    <div class="info">
                      <a href="/centros-deportivos/{{center.slug}}">
                        <p class="name">{{center.name}}</p>
                      </a>
                      <star-rating :read-only="true" :star-size="20" :rating="parseInt({{center.rate}})" :active-color="'#50abfa'">
                      </star-rating>
                      <p class="district">{{center.ubigeo.name}}</p>
                    </div>
                  </el-col>
                  {% endfor %}
                </el-row>
              {% endif %}
            </div>
          </el-col>
        </el-row>
        <!-- <div class="col-xs-12">
                    Planes
                    <br>
                    {% for plan in plans_list %}
                    <div>
                        <div>{{plan.name}}</div>
                        <div>+{{plan.sport_centers_count}} centros deportivos</div>
                        <div>{{plan.pass_quantity}} pases/ {{plan.repetitions_quantity}} pases</div>
                        <div><a href="{% url 'buy-plan' %}">Comprar</a></div>
                    </div>
                    <br>
                    {% endfor %}
                </div> -->
        <!-- <div class="col-xs-12">
                    Servicios
                    <br>
                    {% regroup sport_center.service.all by category as services %}
                    {% for service in services %}
                    <div>Categoría {{ service.grouper.name }}</div>
                    <div>
                        {% for service_info in service.list %}
                        <div>Servicio: {{service_info.service.name}}</div>
                        <div>Descripción: {{service_info.description}}</div>
                        {% endfor %}
                    </div>
                    <br>
                    {% endfor %}
                </div> -->

        <!-- {% if near_sport_centers %}
                <div class="col-xs-12">
                    Centros deportivos cercanos
                    {% for sport_center in near_sport_centers %}
                        <div>{{ sport_center.0 }}</div>
                    {% endfor %}
                </div>
                {% endif %} -->

        <!-- {% if sport_centers_with_same_activities %}
                <div class="col-xs-12">
                    Centros deportivos con las mismas actividades
                    {% for sport_center in sport_centers_with_same_activities %}
                        <div>{{ sport_center.0 }}</div>
                    {% endfor %}
                </div>
                {% endif %} -->

        <!-- {% if sport_centers_related %}
                <div class="col-xs-12">
                    Centros deportivos de la misma cadena
                    {% for sport_center in sport_centers_related %}
                        <div>{{ sport_center.0 }}</div>
                    {% endfor %}
                </div>
                {% endif %} -->
      </div>

    </div>
  </div>


</div>
{% include 'partials/schedule.html' %} {% endblock %} {% block extrajs %}
<script>
  var havePlanUrl = "{% url 'have-plan' %}"
  var sportCenterLatitude = parseFloat("{{sport_center.latitude}}".replace(",", "."))
  var sportCenterLongitude = parseFloat("{{sport_center.longitude}}".replace(",", "."))
  var links = {% autoescape off %}{{ links }} {% endautoescape off %}
  var schedules = {% autoescape off %}{{ schedules }} {% endautoescape off %}
  var others_sedes = {% autoescape off %}{{ others_sedes }} {% endautoescape off %}
  // var classes = {% autoescape off %}{{classes}}{% endautoescape off %}
  var servicesList = {% autoescape off %}{{ services_list }} {% endautoescape off %}
  var rate = parseFloat("{{sport_center.rate}}".replace(',', '.'))
</script>
<script src="{% static 'js/sport-center-detail.js' %}"></script> {% endblock %}