{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="sport-centers" style="display:none;">
    <div class="map-section">
        <div class="sport-centers-list">
            <div class="left-side-container">
                <div class="filters">
                    <div class="first-row">
                        <div class="filter-title">Filtros: </div>
                        <div class="category-filter">
                            <v-select placeholder="Categorías" v-model="sportCenterCategoryFilter" :options="categoriesForDropdown"></v-select>
                        </div>
                        <div class="district-filter">
                            <v-select placeholder="Distritos" v-model="sportCenterDistrictFilter" :options="districtsForDropdown"></v-select>
                        </div>
                        <div class="assitance-filter">
                            <el-button :class="{'active': visited}" size="mini" @click="visited = !visited">Los que visité</el-button>
                        </div>
                        <div class="status-filter">
                            <el-button :class="{'active': openedNow}" size="mini" @click="openedNow = !openedNow">Abierto ahora</el-button>
                        </div>
                        <div class="exclusive-filter">
                            <el-button :class="{'active': premium}" size="mini" @click="premium = !premium">Disponibles en Planes Plus</el-button>
                        </div>
                    </div>
                    <div class="second-row">
                        <div class="sport-center-filter">
                            <v-select placeholder="Centros deportivos" v-model="sportCenterNameFilter" :options="sportCentersForDropdown"></v-select>
                        </div>
                        <div class="km">
                            <div class="filter-title">Kilómetros a la redonda</div>
                            <div class="filter-km">
                                <el-slider v-model="roundKm" :format-tooltip="formatTooltipKm"></el-slider>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-container">
                    <div class="list" :style="{'height': windowHeight}">
                        <div v-for="sportCenter in sportCenters" 
                            class="home-map-sport-center"
                            @mouseover="mouseOverMarker(sportCenter)"
                            @mouseout="mouseOutMarker(sportCenter)">
                            <div class="block">
                                <div class="sport-center-logo">
                                    <div style="width:145px; height: 135px;margin-bottom:10px;">
                                        <img :src="{{MEDIA_URL}} + sportCenter.logo">
                                    </div>
                                    <!-- <div><a :href="sportCenter.slug">Ver info completa</a></div> -->
                                </div>
                                <div class="sport-center-info">
                                    <div class="exclusive" v-if="sportCenter.is_premium">Disponibles en Planes Plus</div>
                                    <div class="name-rate-row">
                                        <div class="name"><a :href="sportCenter.slug">${sportCenter.name}</a></div>
                                        <div class="sport-center-rating">
                                            <div class="rate">
                                                <star-rating 
                                                    :read-only="true" 
                                                    :star-size="15"
                                                    :rating="parseFloat(sportCenter.rate)"
                                                    :active-color="'#50abfa'"
                                                    :increment="0.5">
                                                            
                                                </star-rating>
                                                <div class="opinions">(${sportCenter.total_califications} opiniones)</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="sportCenter.speciality" class="speciality">${sportCenter.speciality}</div>
                                    <div class="address">${sportCenter.ubigeo__name}</div>
                                    <div class="div-show-info"><a :href="sportCenter.slug" class="show-info">Ver info completa</a></div>
                                    <!-- <div v-if="sportCenter.activities.length > 0" class="activities">Actividades: ${getSportCenterActivities(sportCenter.activities)}</div> -->
                                    <!-- <div :class="{'buttons': true, 'margin': sportCenter.is_premium == true}">
                                        <div :class="{'buy-plan': true, 'plus': !havePlanPremium && sportCenter.is_premium}" v-if="havePlan">
                                            <a href="{% url 'buy-plan' %}" v-if="havePlanPremium">RESERVAR CLASE</a>
                                            <a href="{% url 'buy-plan' %}" v-if="!havePlanPremium && sportCenter.is_premium">COMPRAR PLAN PLUS</a>
                                            <a href="{% url 'classes' %}" v-if="!havePlanPremium && !sportCenter.is_premium">RESERVAR CLASE</a>
                                        </div>
                                        <div class="buy-plan" v-else>
                                            <a href="{% url 'buy-plan' %}" v-if="sportCenter.is_premium">COMPRAR PLAN PLUS</a>
                                            <a href="{% url 'buy-plan' %}" v-else>COMPRAR PLAN</a>
                                        </div>
                                        <div class="buy-pass" v-if="sportCenter.sell_pass"><a :href="'/planes/comprar/pase/' + sportCenter.id" target="_blank">COMPRAR PASE</a></div>
                                    </div> -->
                                </div>  
                            </div>
                            <div class="buttons">
                                <div :class="{'buy-plan': true, 'plus': !havePlanPremium && sportCenter.is_premium}" v-if="havePlan">
                                        <a :href="'/clases?sport_center=' + sportCenter.id" v-if="havePlanPremium" target="_blank">RESERVAR CLASE</a>
                                        <!-- CON PARAMETRO GET PARA FILTRAR LOS PLANES PREMIUM -->
                                        <a href="/planes/comprar?plus=1" v-if="!havePlanPremium && sportCenter.is_premium" target="_blank">COMPRAR PLAN PLUS</a>
                                        <a :href="'/clases?sport_center=' + sportCenter.id" v-if="!havePlanPremium && !sportCenter.is_premium" target="_blank">RESERVAR CLASE</a>
                                </div>
                                <div :class="{'buy-plan': true, 'plus': sportCenter.is_premium == true}" v-else>
                                    <!-- CON PARAMETRO GET PARA FILTRAR LOS PLANES PREMIUM -->
                                    <a href="/planes/comprar?plus=1" v-if="sportCenter.is_premium" target="_blank">COMPRAR PLAN PLUS</a>
                                    <a href="/planes/comprar?plus=0" v-else target="_blank">COMPRAR PLAN</a>
                                </div>
                                <div :class="{'buy-pass': true, 'not-allowed': sportCenter.can_buy_pase == false}" v-if="sportCenter.sell_pass">
                                    <a :href="'/planes/comprar/pase/' + sportCenter.id" target="_blank">COMPRAR PASE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-centers-map">
            <div class="map-container">
                <google-map :center="{lat: -12.104422, lng: -77.023920}" :zoom="13" :style="{'height': windowHeightMap, 'width': '100%'}" :options="mapOptions">
                    <googlemaps-marker
                        v-for="sportCenter in sportCenters"
                        :key="sportCenter.id"
                        :label="{
                          color: '#6e15dc',
                          fontFamily: 'Material Icons',
                          fontSize: '20px',
                          text: ' ',
                        }"
                        :position="getMarkerPosition(sportCenter)"
                        @click="selectSportCenter(sportCenter)"
                        @mouseover="mouseOverMarker(sportCenter)"
                        @mouseout="mouseOutMarker(sportCenter)"
                        icon="{% static '/img/marker.png' %}"/>
                    <googlemaps-infowindow 
                        :opened="false"
                        :ref="'sportCenterInfoWindow' + sportCenter.id"
                        :options="{
                            'content': sportCenter.name
                        }"
                        :position="getMarkerPosition(sportCenter)" />
                </google-map>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    var sportCenterListUrl = "{% url 'sport-centers-list' %}"
    var sportCenterFilterUrl = "{% url 'sport-centers-filter' %}"
    var sportCentersCategoryUrl = "{% url 'sport-centers-categories' %}"
    var categoryActivitiesUrl = "{% url 'category-activities' %}"
    var sportCentersDistrictsUrl = "{% url 'sport-centers-districts' %}"
    var havePlanUrl = "{% url 'have-plan' %}"
</script>
<script src="{% static 'js/sport-centers.js' %}"></script>
{% endblock %}