
/* ==========================================

  ---- Styles for SportLife HTML Template ---

  -------------------------------------------

  [ ---------- Partials ---------- ]

  * Reset
  * Fontello iconpack including
  * Typography
    - Body
    - h1-h6, p
    - Color variations
    - Font styles
    - Links
  * Main styles
    - Preloader / .preloader
    - Decor lines
    - Width & positions
    - Tables
  * Hover styles
  * Form elements styles
    - Custom styled inputs
  * Footer styles / .main-footer
    -Footer navigation / .footer-nav
    -Social links / .social-links-box
  * Header styles
    - Navigation / .nav-bar
    - Colors for black-bg nav-bar (on home page) / .nav-bar-black
    - Search /  .search-box
  * Buttons styles
    - Add to cart button / .add-cart
  * Styles for all common inner pages elements
    - Breadcrumbs / .breadcrumbs
    - Text block / .text-block
    - Text section width background styles
    - UL styles / .ul-styled
    - Pagination styles / .pagination
    - Meta information on page
    - Comments
  * Sidebar
    - Widget search / .widget-search
    - Tags / .tag-item
    - Navigation (menu) on sidebar / .sidebar-nav
    - Advantages icons / .advantages-icons
    - Top rated on sidebar / .top-rated-sidebar
  * Popup styles / .popup-window

  [ ------- Page styles -------- ]

  * Home page styles
    - Welcome Section / .welcome-section
    - Prices Section / .prices-section
    - Text Section / .text-section
    - Our Team Section / .our-team
    - Banners on Main Page
    - Video box on home page
    - Main page news
    - Counters on Home Page
    - Products list on home page
    - Subscribe section
    - Reviews slider on home page
  * About page styles
  * Shop styles
    - Product Item Styles
    - Product labels
  * Cart styles
    - Cart table
    - Checkout page
  * Classes styles
    - Classes page styles
    - Classes card styles
  * Contacts styles
  * News styles
    - News list
  * Catalog styles
    - Tabs / .tabs-box
    - Range slider /#slider-price
  * Trainers styles
  * 404 page styles

  [ -------- Responsive styles -------- ]

  * Styles for 1200px desktops
  * Styles for 992px tablets
  * Styles for 768px tablets
  * Styles for 480 mobile devices
  * Styles for 320px mobile devices


==========================================*/

//Include modules

@import "modules/reset";
@import "modules/colors";
@import "modules/mixins";
@import "modules/fontello";

//Include vendors

//Include partials
@import "partials/typography";
@import "partials/layouts";
@import "partials/hover";
@import "partials/form-elements";
@import "partials/foot";
@import "partials/header";
@import "partials/button";
@import "partials/inner-pages";
@import "partials/sidebar";
@import "partials/popup";



//Include pages
@import "partials/pages/general";
@import "partials/pages/home";
@import "partials/pages/sport-centers";
@import "partials/pages/buy-plan";
@import "partials/pages/plans";
@import "partials/pages/about";
@import "partials/pages/shop";
@import "partials/pages/cart";
@import "partials/pages/classes";
@import "partials/pages/contacts";
@import "partials/pages/news";
@import "partials/pages/catalog";
@import "partials/pages/trainers";
@import "partials/pages/404";
@import "partials/pages/account";

//Include responsive
@import "partials/media-1200";
@import "partials/media-992";
@import "partials/media-768";
@import "partials/media-480";
@import "partials/media-320";