{% extends 'base.html' %}

{% block content %}
<div class="popup-window">
    <h3>Contraseña actualizada</h3>
    <br>
  <p>
    Tu contraseña ha sido restablecida con éxito, ya puedes ingresar con tu nueva contraseña.
  </p>
</div>
{% endblock %}