{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
  <div class="popup-window">
    <h3>Restablecer contraseña</h3>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" name="signin-btn" class="button button-bg" value="Cambiar contraseña">
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
    </div>
{% endblock %}